Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix: build error
  packages/code-du-travail-frontend/src/information/information.service.ts
Due: frontend

fix: types
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/information-reinit.test.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/TypeRupture.tsx
Due: frontend

fix: lint issues
  packages/code-du-travail-modeles/src/__test__/787-comptables/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/787-comptables/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/843-boulangerie-patisserie-entreprise-artisanales/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/843-boulangerie-patisserie-entreprise-artisanales/indemnite-licenciement/indemnite.spec.ts
Due: none

fix(simulator): heure recherche emploi qui réinitialise le `criteria` (#4674)
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/information-reinit.test.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/TypeRupture.tsx
Due: frontend

fix: page info fail
  packages/code-du-travail-frontend/src/content/content.service.ts
  packages/code-du-travail-frontend/src/information/information.service.ts
Due: frontend

feat: synchro des tuiles outils (#4647)
  packages/code-du-travail-api/src/index.js
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/routes/items/index.ts
  packages/code-du-travail-api/src/routes/items/search.es.ts
  packages/code-du-travail-api/src/routes/items/searchByUrl.es.ts
  packages/code-du-travail-api/src/routes/tools/index.ts
  packages/code-du-travail-api/src/routes/tools/service.ts
  packages/code-du-travail-data/src/dismissal-process/questionnaire.data.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/index.test.js
  packages/code-du-travail-frontend/__tests__/information.test.tsx
  packages/code-du-travail-frontend/pages/contribution/[slug].jsx
  packages/code-du-travail-frontend/pages/index.jsx
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/index.tsx
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
  packages/code-du-travail-frontend/src/content/Components/ContentItem.tsx
  packages/code-du-travail-frontend/src/content/Components/ContentList.tsx
  packages/code-du-travail-frontend/src/content/Components/index.ts
  packages/code-du-travail-frontend/src/content/content.service.ts
  packages/code-du-travail-frontend/src/content/index.ts
  packages/code-du-travail-frontend/src/information/Components/BlockGraphic.tsx
  packages/code-du-travail-frontend/src/information/Components/BlockList.tsx
  packages/code-du-travail-frontend/src/information/Components/BlockMarkdown.tsx
  packages/code-du-travail-frontend/src/information/Components/ContentBlocks.tsx
  packages/code-du-travail-frontend/src/information/Components/Contents.tsx
  packages/code-du-travail-frontend/src/information/Components/Link.tsx
  packages/code-du-travail-frontend/src/information/Components/index.ts
  packages/code-du-travail-frontend/src/information/htmlProcess.service.ts
  packages/code-du-travail-frontend/src/information/index.ts
  packages/code-du-travail-frontend/src/information/information.service.ts
  packages/code-du-travail-frontend/src/outils/index.ts
  packages/code-du-travail-frontend/src/outils/service.ts
  packages/code-du-travail-frontend/src/questionnaire/Components/Questionnaire.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/Summary.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/SummaryItem.tsx
  packages/code-du-travail-frontend/src/search/SearchResults/Results.tsx
Due: api, frontend

chore: snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ContactModal.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-ui/src/Accordion/index.js
Due: frontend, react-ui, react-fiche-service-public

Updates
  iframe.html
  main.d82168a0.iframe.bundle.js
  main.feb014ab.iframe.bundle.js
Due: none

chore(release): version 4.86.0
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: token
  .github/workflows/release.yml
Due: none

fix(npm): local token instead of orga token (#4676)
  .github/workflows/release.yml
Due: none

chore(release): version 4.86.1
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(lerna): npm token (#4677)
  .github/workflows/release.yml
Due: none

chore(release): version 4.86.2
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(lerna): token no verify access (#4678)
  .github/workflows/release.yml
Due: none

fix: bug
  package.json
  yarn.lock
Due: none

fix(ci): upgrade lerna to v6 (#4679)
  package.json
  yarn.lock
Due: none

fix: bug
  .github/workflows/release.yml
Due: none

fix(lerna): `--no-verify-access` is set by default (#4680)
  .github/workflows/release.yml
Due: none

chore(release): version 4.86.3
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: le layout des simulateurs (#4668)
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/outils/Components/SimulatorDecorator/Components/Title/index.tsx
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/Result.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
Due: frontend

fix: always
  .github/workflows/release.yml
Due: none

fix(lerna): add rebase from master to dev for versionning if action of publish failed (#4681)
  .github/workflows/release.yml
Due: none

chore(release): version 4.86.4
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: add quality and build
  .github/workflows/quality.yml
  nx.json
Due: none

fix: version
  nx.json
  package.json
  yarn.lock
Due: none

fix(lerna): downgrade to v5 (#4682)
  .github/workflows/quality.yml
  package.json
  yarn.lock
Due: none

chore(release): version 4.86.5
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: workflow
  .github/workflows/release.yml
Due: none

feat(workflow): publish (#4683)
  .github/workflows/release.yml
Due: none

chore(release): version 4.86.6
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: set registry
  .github/workflows/release.yml
Due: none

fix(npm): set registry to `.com` (#4684)
  .github/workflows/release.yml
Due: none

chore(release): version 4.86.7
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(lerna): command with npx
  .github/workflows/release.yml
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
