Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, ui-old, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      ui-old:
        target: 80%
        flags: ui-old
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  ui-old:
    paths:
      - packages/code-du-travail-ui-old
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix(search): prevent exception
  packages/code-du-travail-api/src/server/routes/search/getEsReferences.js
Due: api

rm flatMap2
  packages/code-du-travail-api/src/server/routes/search/getEsReferences.js
Due: api

rm flatMap
  packages/code-du-travail-api/src/server/routes/search/getEsReferences.js
Due: api

fix(data): fix Dockerfile copy fiches
  packages/code-du-travail-data/Dockerfile
Due: none

review
  packages/code-du-travail-api/src/server/routes/themes/index.js
Due: api

review
  packages/code-du-travail-api/src/server/routes/search/getEsReferences.js
Due: api

remove unused getBySlug
  packages/code-du-travail-api/src/server/routes/themes/search.elastic.js
Due: api

lint
  packages/code-du-travail-api/src/server/routes/search/search.getSavedResult.js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/common/__tests__/ThemeBreadcrumbs.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ThemeBreadcrumbs.test.js.snap
Due: api, frontend

fix merge
  packages/code-du-travail-frontend/pages/themes/[slug].js
Due: frontend

fix(search): when browsing themes, dont pass them query to results
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/search/SearchResults.js
Due: frontend

fix snapshots
  packages/code-du-travail-frontend/src/common/__tests__/Answer.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: frontend

fix snapshots
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/conventions.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/idcc.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/themes.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/themes.spec.js
Due: api

add missing test
  packages/code-du-travail-api/src/server/routes/__tests__/search.skipSavedResult.spec.js
Due: api

review
  packages/code-du-travail-data/dataset/datafiller/__test__/utils.test.js
  packages/code-du-travail-data/dataset/datafiller/fetch-requetes.js
  packages/code-du-travail-data/dataset/datafiller/fetch-themes.js
  packages/code-du-travail-data/dataset/datafiller/utils.js
Due: none

fix(data): wording
  packages/code-du-travail-data/dataset/outils.json
  packages/code-du-travail-frontend/src/home/Outils.js
Due: frontend

test(frontend): update snapshot
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix sort and tests
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-data/dataset/datafiller/__test__/__snapshots__/fetch-requetes.test.js.snap
  packages/code-du-travail-data/dataset/datafiller/__test__/__snapshots__/fetch-themes.test.js.snap
  packages/code-du-travail-data/dataset/datafiller/__test__/__snapshots__/utils.test.js.snap
  packages/code-du-travail-data/dataset/datafiller/utils.js
Due: api

feat(data): add description to outils (#1286)
  packages/code-du-travail-data/dataset/outils.json
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/home/Outils.js
Due: frontend

fix sort and tests
  packages/code-du-travail-data/dataset/datafiller/__test__/__snapshots__/fetch-requetes.test.js.snap
  packages/code-du-travail-data/dataset/datafiller/__test__/__snapshots__/fetch-themes.test.js.snap
  packages/code-du-travail-data/dataset/datafiller/__test__/__snapshots__/utils.test.js.snap
  packages/code-du-travail-data/dataset/datafiller/utils.js
Due: none

tests: add datafiller tsts in gitlab-ci
  .gitlab-ci/stages/quality.yml
Due: none

fix tests
  packages/code-du-travail-data/dataset/datafiller/__test__/__snapshots__/fetch-requetes.test.js.snap
  packages/code-du-travail-data/dataset/datafiller/__test__/__snapshots__/fetch-themes.test.js.snap
  packages/code-du-travail-data/dataset/datafiller/utils.js
Due: none

fix: remove unecessary test from travis
  .travis.yml
Due: none

fix(themes): fix themes card size
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/home/Themes.js
Due: frontend

chore(glossary): udpate data
  packages/code-du-travail-data/dataset/datafiller/glossary.data.json
  packages/code-du-travail-data/dataset/datafiller/glossary.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
Due: frontend

fiiiiiiix
  packages/code-du-travail-frontend/package.json
Due: frontend

feat(glossaire): add glossary page and tooltip(#1269)
  .k8s/elasticsearch/statefulset.dev.yml
  Dockerfile
  packages/code-du-travail-data/dataset/datafiller/README.md
  packages/code-du-travail-data/dataset/datafiller/glossary.data.json
  packages/code-du-travail-data/dataset/datafiller/glossary.js
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/glossaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/glossaire/README.md
  packages/code-du-travail-data/dataset/glossaire/glossary.json
  packages/code-du-travail-data/dataset/glossaire/index.js
  packages/code-du-travail-data/dataset/glossaire/package.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/glossaire-[slug].test.js
  packages/code-du-travail-frontend/__tests__/glossaire.test.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/glossaire/[slug].js
  packages/code-du-travail-frontend/pages/glossaire/index.js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/Article.js
  packages/code-du-travail-frontend/src/common/__tests__/Answer.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Article.test.js.snap
  yarn.lock
Due: frontend

fix(frontend): typo in modal SDR (#1285)
  packages/code-du-travail-frontend/src/common/ServiceRenseignement.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
Due: frontend

fix(api): return direct results for getSavedResult
  packages/code-du-travail-api/src/server/routes/search/search.getSavedResult.js
Due: api

fix(api): return direct results for getSavedResult (#1288)
  packages/code-du-travail-api/src/server/routes/search/search.getSavedResult.js
Due: api

fix snaps
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
Due: api

hotfix : fix snapshot (#1290)
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
Due: api

fix(deps): update dependency libxmljs to ^0.19.7
  packages/code-du-travail-data/dataset/annuaire/package.json
  yarn.lock
Due: none

chore(release): version 3.2.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/preavis-demission/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-demission/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-ui-old/CHANGELOG.md
  packages/code-du-travail-ui-old/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, ui-old, react-fiche-service-public

fix(deps): update dependency ora to v4
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  yarn.lock
Due: none

chore(deps): update dependency react-hot-loader to ^4.12.14
  packages/code-du-travail-ui-old/package.json
  yarn.lock
Due: ui-old

fix(deps): update dependency @socialgouv/legi-data to ^1.1.1
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/yarn.lock
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

test(frontend): add tests
  packages/code-du-travail-frontend/src/home/Outils.js
  packages/code-du-travail-frontend/src/home/__tests__/Outils.test.js
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Outils.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchResults/LinkContent.js
  packages/code-du-travail-frontend/src/search/SearchResults/Matches.js
  packages/code-du-travail-frontend/src/search/SearchResults/index.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/utils.test.js
  packages/code-du-travail-frontend/src/search/utils.js
Due: frontend

feat(frontend): demo time
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/search/search.elastic.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/DownloadFile.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchResults.js
  packages/code-du-travail-frontend/src/search/SearchResults/Law.js
  packages/code-du-travail-frontend/src/search/SearchResults/LinkContent.js
  packages/code-du-travail-frontend/src/search/SearchResults/Matches.js
  packages/code-du-travail-frontend/src/search/SearchResults/Themes.js
  packages/code-du-travail-frontend/src/search/SearchResults/index.js
  packages/code-du-travail-frontend/src/search/SourceIcon.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/code-du-travail-frontend/src/search/utils.js
  packages/code-du-travail-ui-old/src/LargeLink/index.js
  packages/code-du-travail-ui-old/src/keyframes.js
Due: api, frontend, ui-old
