Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

text(api): fix file download name
  packages/code-du-travail-api/src/server/routes/__tests__/docs.test.js
Due: api

Update courriers.json
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
Due: none

feat(courrier): rename files
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_ personnel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_economique_de_moins_de_10_salaries_pendant_30_jours.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_periode_d-essai_employeur.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_periode_d-essai_salarie.docx
  packages/code-du-travail-data/dump.data.json
Due: none

fix(CookieConsent): fix mentions legales link
  packages/code-du-travail-frontend/src/common/CookieConsent.js
Due: frontend

tests: update snaps
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/CookieConsent.test.js.snap
Due: frontend

ci: notify PR with feature deployement url
  .gitlab-ci/stages/notify.yml
Due: none

fix(data): update courrier filename
  packages/code-du-travail-data/dataset/courrier-type/docx/affichage_lutte_contre_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/certificat_de_travail.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/demande_paiement_salaire.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/recu_pour_solde_de_tout_compte.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/signalement_harcelement.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/signalement_harcelement_sexuel.docx
Due: none

feat(courrier): add rt1 review documents
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture-amiable-du-contrat-d-apprentissage_revu_RT1.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture-commun-accord-du-cdd_revu_RT1.docx
Due: none

fix(api): update filename in test
  packages/code-du-travail-api/src/server/routes/__tests__/docs.test.js
Due: api

ci: update k8S namespace for prod
  .gitlab-ci/env.sh
Due: none

ci(gitlab): set K8S_NAMESPACE prod namespace
  .gitlab-ci/env.sh
Due: none

ci(gitlab): set release job to do prereleases
  .gitlab-ci/stages/manual.yml
Due: none

ci: update k8S namespace for prod (#2063)
  .gitlab-ci/env.sh
Due: none

fix(CookieConsent): fix mentions legales link (#2060)
  packages/code-du-travail-frontend/src/common/CookieConsent.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/CookieConsent.test.js.snap
Due: frontend

chore(release): version 3.10.1-alpha.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/preavis-demission/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-demission/package.json
  packages/code-du-travail-data/dataset/preavis-licenciement/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-licenciement/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

ci(gitlab): notify PR with feature deployement url (#2062)
  .gitlab-ci/stages/notify.yml
Due: none

fix: update contributions data
  packages/code-du-travail-data/dataset/contributions/contributions.data.json
Due: none

fix(contributions): prevent exception when no sections
  packages/code-du-travail-frontend/src/contributions/rehypeToReact.js
Due: frontend

fix(contributions): fix content url detection
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/src/contributions/extractMdxContentUrl.js
Due: frontend

fix(outils): add externalTools.action
  packages/code-du-travail-data/dataset/tools/externals.json
Due: none

tests: snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
Due: frontend

fix: update contributions data (#2068)
  packages/code-du-travail-data/dataset/contributions/contributions.data.json
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/src/contributions/extractMdxContentUrl.js
  packages/code-du-travail-frontend/src/contributions/rehypeToReact.js
Due: frontend

fix(cc): fix intro CC for #2035
  packages/code-du-travail-frontend/src/conventions/Convention/Explainer.js
  packages/code-du-travail-frontend/src/conventions/Convention/Info.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/index.js
Due: frontend

fix(cc): group questions by theme in accordions for #2035
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix(cc): fix questions frequentes for #2035
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix(cc): remove cc meta
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
Due: frontend

fix(cc): rename blocs, use accordions for #2035
  packages/code-du-travail-frontend/src/conventions/Convention/Articles.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/blocs.data.js
Due: frontend

fix(cc): search cosmetics for #2035
  packages/code-du-travail-frontend/src/conventions/Convention/TextSearch.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix(cc): reorder sections for #2035
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/index.js
Due: frontend

fix: fix CPF action (#2071)
  packages/code-du-travail-data/dataset/tools/externals.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
Due: frontend

Update .gitlab-ci/stages/manual.yml
  .gitlab-ci/stages/manual.yml
Due: none

ci(gitlab): update release/production job condition
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/manual.yml
  .gitlab-ci/stages/quality.yml
  .gitlab-ci/stages/register.yml
Due: none

chore(release): version 4.0.0-alpha.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/preavis-demission/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-demission/package.json
  packages/code-du-travail-data/dataset/preavis-licenciement/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-licenciement/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: lint
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
Due: frontend

tests: add a MDX test for unclosed content tags
  packages/code-du-travail-frontend/src/contributions/__tests__/extractMdxContentUrl.test.js
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
