Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

Updates
  project.json
Due: none

feat: separateur entier millier resultat simu
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/Result.tsx
Due: frontend

refactor: use regex
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/Result.tsx
Due: frontend

feat: add indemnite preca
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
Due: frontend

fix(e2e): ajout des tests dans les sous dossiers
  .github/workflows/e2e.yaml
  packages/code-du-travail-frontend/cypress.config.js
Due: frontend

fix(e2e): ajout des tests dans les sous dossiers (#5879)
  .github/workflows/e2e.yaml
  packages/code-du-travail-frontend/cypress.config.js
Due: frontend

feat: linked
  README.md
Due: none

fix(indemnité de licenciement): calcul du salaire de référence conventionnel correct
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1486.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1527.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2098.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/introduction.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/salary.ts
Due: frontend

fix: code
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/api/modules/agreements/service.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/service.ts
  packages/code-du-travail-frontend/src/api/modules/dossiers/service.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/populateAgreements.ts
  packages/code-du-travail-frontend/src/api/modules/glossary/service.ts
  packages/code-du-travail-frontend/src/api/modules/highlights/service.ts
  packages/code-du-travail-frontend/src/api/modules/idcc/service.ts
  packages/code-du-travail-frontend/src/api/modules/informations/service.ts
  packages/code-du-travail-frontend/src/api/modules/items/service.ts
  packages/code-du-travail-frontend/src/api/modules/modeles/service.ts
  packages/code-du-travail-frontend/src/api/modules/search/service/prequalified.ts
  packages/code-du-travail-frontend/src/api/modules/search/service/search.ts
  packages/code-du-travail-frontend/src/api/modules/sheets-mt/service.ts
  packages/code-du-travail-frontend/src/api/modules/suggest/service.ts
  packages/code-du-travail-frontend/src/api/modules/themes/service.ts
  packages/code-du-travail-frontend/src/api/modules/tools/service.ts
  yarn.lock
Due: frontend

refactor: use NumberFormat
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/DecryptResult.tsx
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/FormulaInterpreter.tsx
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/Result.tsx
Due: frontend

refactor: use NumberFormat
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/DecryptResult.tsx
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/Result.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
Due: frontend

feat: implement widget rupture co
  packages/code-du-travail-frontend/pages/widgets/[slug].tsx
  packages/code-du-travail-frontend/public/static/assets/img/indemnite-rupture-conventionnelle.png
  packages/code-du-travail-frontend/src/integration/data/integration.json
Due: frontend

chore: fix build
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/FormulaInterpreter.tsx
Due: frontend

feat: update TU result
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1486.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1516.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1527.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc16.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1672.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1702.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2120.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2148.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2596.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc29.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc3127.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc3239.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc3248.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc44.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc573.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc675.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc1043.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc1404.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc1486.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc1501.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc1518.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc16.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc1702.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc2098.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc2120.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc2216.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc2511.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc29.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc2941.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc413.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc44.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc573.test.tsx
Due: frontend

chore: update test
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/__tests__/Result.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/legal.test.tsx
Due: frontend

refacto
  packages/code-du-travail-frontend/src/common/TestHelper.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1486.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1527.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2098.test.tsx
Due: frontend

fix(indemnité de licenciement): calcul du salaire de référence conventionnel correct (#5885)
  packages/code-du-travail-frontend/src/common/TestHelper.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1486.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1527.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2098.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/introduction.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/salary.ts
Due: frontend

fix: linked branch
  README.md
Due: none

fix(e2e): correction de la version du plugin pour notifier sur mattermost
  .github/workflows/e2e.yaml
Due: none

fix(e2e): correction de la notif mattermost sur le check des SDR urls
  .github/workflows/check-sdr-url.yml
Due: none

fix(e2e): correction de la notif mattermost sur la verif prod
  .github/workflows/verification-production.yml
Due: none

fix: bug
  packages/code-du-travail-frontend/src/api/modules/agreements/service.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/fetch.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/service.ts
  packages/code-du-travail-frontend/src/api/modules/dossiers/service.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/queries.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/fetchAgreements.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/populateAgreements.ts
  packages/code-du-travail-frontend/src/api/modules/glossary/service.ts
  packages/code-du-travail-frontend/src/api/modules/highlights/service.ts
  packages/code-du-travail-frontend/src/api/modules/idcc/service.ts
  packages/code-du-travail-frontend/src/api/modules/informations/service.ts
  packages/code-du-travail-frontend/src/api/modules/items/service.ts
  packages/code-du-travail-frontend/src/api/modules/items/utils.ts
  packages/code-du-travail-frontend/src/api/modules/modeles/service.ts
  packages/code-du-travail-frontend/src/api/modules/search/service/prequalified.ts
  packages/code-du-travail-frontend/src/api/modules/search/service/search.ts
  packages/code-du-travail-frontend/src/api/modules/sheets-mt/service.ts
  packages/code-du-travail-frontend/src/api/modules/stats/service.ts
  packages/code-du-travail-frontend/src/api/modules/suggest/service.ts
  packages/code-du-travail-frontend/src/api/modules/themes/service.ts
  packages/code-du-travail-frontend/src/api/modules/tools/service.ts
  packages/code-du-travail-frontend/src/api/types.ts
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

refactor: modification champ date input html5
  packages/code-du-travail-frontend/public/static/assets/img/calendar.svg
  packages/react-ui/src/field/InputDate.js
  packages/react-ui/src/field/InputDate.tsx
Due: frontend, react-ui

fix(e2e): correction de la version du plugin pour notifier sur mattermost (#5897)
  .github/workflows/check-sdr-url.yml
  .github/workflows/e2e.yaml
  .github/workflows/verification-production.yml
Due: none

fix: bug
  packages/code-du-travail-frontend/src/api/modules/items/utils.ts
Due: frontend

fix: test
  packages/code-du-travail-frontend/cypress.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/api/__tests__/agreements.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/contributions.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/dossiers.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/enterprise.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/glossary.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/idcc.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/items.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/modeles.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/plan-du-site.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/search.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/sheets-mt.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/stats.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/suggest.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/themes.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/tools.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/utils.test.ts
  packages/code-du-travail-frontend/src/api/modules/agreements/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/dossiers/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/glossary/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/highlights/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/idcc/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/items/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/modeles/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/search/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/sheets-mt/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/sitemap/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/suggest/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/themes/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/tools/__tests__/service.test.ts
  packages/code-du-travail-frontend/test/jest.setup.js
Due: frontend

fix: test
  packages/code-du-travail-frontend/cypress.config.js
Due: frontend

fix: test
  docker/elasticsearch/Dockerfile
  docker/elasticsearch/elasticsearch.yml
Due: none

fix: credentials
  .kontinuous/env/dev/templates/www.sealed-secret.yaml
  .kontinuous/env/preprod/templates/www.sealed-secret.yaml
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

fix: credentials
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

fix: test
  packages/code-du-travail-frontend/src/api/__tests__/__snapshots__/idcc.test.ts.snap
  packages/code-du-travail-frontend/src/api/__tests__/__snapshots__/items.test.ts.snap
  packages/code-du-travail-frontend/src/api/__tests__/__snapshots__/search.test.ts.snap
  packages/code-du-travail-frontend/src/api/__tests__/__snapshots__/sheets-mt.test.ts.snap
  packages/code-du-travail-frontend/src/api/__tests__/__snapshots__/suggest.test.ts.snap
  packages/code-du-travail-frontend/src/api/__tests__/__snapshots__/tools.test.ts.snap
  packages/code-du-travail-frontend/src/api/__tests__/suggest.test.ts
  packages/code-du-travail-frontend/src/api/modules/idcc/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/items/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/search/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/sheets-mt/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/sitemap/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/suggest/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/tools/__tests__/__snapshots__/service.test.ts.snap
Due: frontend

fix: test
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

fix: test
  .kontinuous/env/dev/values.yaml
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

fix: test
  .kontinuous/env/dev/values.yaml
  Dockerfile
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

feat: implement widget rupture co (#5887)
  packages/code-du-travail-frontend/pages/widgets/[slug].tsx
  packages/code-du-travail-frontend/public/static/assets/img/indemnite-rupture-conventionnelle.png
  packages/code-du-travail-frontend/src/integration/data/integration.json
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
