Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: notif
  packages/code-du-travail-modeles/src/__test__/3239-particuliers-employeurs-domicile/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/indemnite-licenciement.yaml
Due: none

fix: wording
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Informations/index.tsx
  packages/code-du-travail-modeles/src/__test__/3239-particuliers-employeurs-domicile/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/indemnite-licenciement.yaml
Due: frontend

fix: wording
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-modeles/src/__test__/1090-automobile/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/1516-organismes-formation/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/1518-education-loisirs/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/1527-immobilier/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/2511-sport/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/3127-ent-services-personne/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/3239-particuliers-employeurs-domicile/indemnite-licenciement/références.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/utils/element.ts
  packages/code-du-travail-modeles/src/utils/notifications.ts
Due: frontend

feat: info page tools display change
  packages/cdtn-types/index.ts
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/information/Components/ContentBlocks.tsx
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.js
Due: frontend, react-ui, react-fiche-service-public

feat: add tracking
  packages/code-du-travail-data/src/dismissal-process/questionnaire.data.json
  packages/code-du-travail-data/src/dismissal-process/types.ts
  packages/code-du-travail-frontend/src/lib/matomo/types.ts
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Response.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/ShowInfo.tsx
  packages/code-du-travail-frontend/src/questionnaire/__tests__/mocks.ts
  packages/code-du-travail-frontend/src/questionnaire/store.ts
  packages/code-du-travail-frontend/src/questionnaire/tracking.ts
Due: frontend

feat: add tracking for dismissal process
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/ShowInfo.tsx
  packages/code-du-travail-frontend/src/questionnaire/index.ts
  packages/code-du-travail-frontend/src/questionnaire/tracking.ts
Due: frontend

refactor: review
  packages/code-du-travail-data/src/dismissal-process/questionnaire.data.json
  packages/code-du-travail-data/src/dismissal-process/types.ts
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/src/lib/matomo/types.ts
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Response.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/ShowInfo.tsx
  packages/code-du-travail-frontend/src/questionnaire/__tests__/mocks.ts
  packages/code-du-travail-frontend/src/questionnaire/store.ts
  packages/code-du-travail-frontend/src/questionnaire/tracking.ts
Due: frontend

chore: snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
Due: frontend, react-fiche-service-public

fix: code
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/2216_commerces_detail_alimentation.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/motifs.ts
  packages/code-du-travail-modeles/src/plugins/formule/2216_commerces_detail_alimentation.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/formule/types.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

fix: add tu
  packages/code-du-travail-modeles/src/__test__/1486-bureaux-etudes/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/1597-employes-ouvriers-bis/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/1979-hotels-cafes-restaurants/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/3043-entreprise-proprete/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/413-handicap/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/indemnite-licenciement.yaml
Due: none

refactor: review
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/index.jsx
  packages/code-du-travail-frontend/pages/outils/index.jsx
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/information/Components/ContentBlocks.tsx
  packages/code-du-travail-frontend/src/search/SearchResults/Results.tsx
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.js
Due: frontend, react-ui, react-fiche-service-public

fix: formules
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/références.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/plugins/formule/2216_commerces_detail_alimentation.ts
Due: none

fix: formules
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/plugins/formule/2216_commerces_detail_alimentation.ts
Due: none

fix: rules
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/indemnite-licenciement.yaml
Due: none

fix: rules
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/indemnite-licenciement.yaml
Due: none

fix: cc
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/références.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/indemnite-licenciement.yaml
Due: none

feat: use meta_title
  packages/code-du-travail-api/src/routes/items/searchBySourceSlug.es.ts
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].jsx
Due: api, frontend

fix: cc
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/1597.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/2216.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/index.ts
  packages/code-du-travail-frontend/src/outils/common/MathFormula.js
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/plugins/formule/2216_commerces_detail_alimentation.ts
Due: frontend

fix: without majoration
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/MathFormula.test.js.snap
Due: frontend

refactor: code -> trackingName
  packages/code-du-travail-data/src/dismissal-process/questionnaire.data.json
  packages/code-du-travail-data/src/dismissal-process/types.ts
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Response.tsx
  packages/code-du-travail-frontend/src/questionnaire/__tests__/mocks.ts
  packages/code-du-travail-frontend/src/questionnaire/store.ts
  packages/code-du-travail-frontend/src/questionnaire/tracking.ts
  packages/react-ui/src/Tile/index.js
Due: frontend, react-ui

Feat/dimissal process tracking (#4542)
  packages/code-du-travail-data/src/dismissal-process/questionnaire.data.json
  packages/code-du-travail-data/src/dismissal-process/types.ts
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/src/lib/matomo/types.ts
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Response.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/ShowInfo.tsx
  packages/code-du-travail-frontend/src/questionnaire/__tests__/mocks.ts
  packages/code-du-travail-frontend/src/questionnaire/index.ts
  packages/code-du-travail-frontend/src/questionnaire/store.ts
  packages/code-du-travail-frontend/src/questionnaire/tracking.ts
  packages/react-ui/src/Tile/index.js
Due: frontend, react-ui

fix: licenciement
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/indemnite-licenciement.yaml
Due: frontend

fix: licenciement
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/indemnite.spec.ts
Due: none

feat(indemnite-licenciement): ajout de tests unitaire sur les références (#4548)
  packages/code-du-travail-modeles/src/__test__/1486-bureaux-etudes/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/1597-employes-ouvriers-bis/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/1979-hotels-cafes-restaurants/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/3043-entreprise-proprete/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/413-handicap/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/indemnite-licenciement.yaml
Due: none

fix: licenciement
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/indemnite-licenciement.yaml
Due: none

feat: implement responsive on page info
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/src/common/WindowDimension.ts
  packages/code-du-travail-frontend/src/information/Components/ContentBlocks.tsx
Due: frontend

refactor: use title if no meta_title in data
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].jsx
Due: frontend

feat: use meta_title (#4551)
  packages/code-du-travail-api/src/routes/items/searchBySourceSlug.es.ts
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].jsx
Due: api, frontend

fix: periode
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
Due: frontend

fix: retour
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2216_commerces_detail_alimentation.ts
Due: none

feat: update category of meta_title
  packages/code-du-travail-api/src/routes/items/searchBySourceSlug.es.ts
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].jsx
Due: api, frontend

fix: retour
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/indemnite-licenciement.yaml
Due: none

refactor: questionnaire responsive
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Response.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/QuestionnaireWrapper.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/SummaryItem.tsx
Due: frontend

fix: retour
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/computeSalaryPeriods.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/computeSalaryPeriods.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/types.ts
Due: frontend

fix: retour
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
Due: frontend

refactor: review
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].jsx
Due: frontend

feat: responsive summary
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/SummaryItem.tsx
  packages/react-ui/src/icons/components/monochrome/ArrowTurn.js
  packages/react-ui/src/icons/components/monochrome/index.js
  packages/react-ui/src/icons/index.js
  packages/react-ui/src/icons/src/monochrome/arrow-turn.svg
Due: frontend, react-ui

fix: svg bottom margin
  packages/react-ui/src/icons/components/monochrome/ArrowTurn.js
Due: react-ui
