Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: information step
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/Informations.tsx
Due: frontend

feat: ajout du plafond dans les formules
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/indemnite-licenciement.yaml
Due: none

feat: ajout de la CC 1043 à l'indemnité licenciement
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/indemnite-licenciement.yaml
Due: none

fix: ancienneté requise
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/indemnite-licenciement.yaml
Due: none

remove wrong file
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/indemnite-licenciement.yaml
Due: none

feat(indemnite-licenciement): ajout de la prise en compte d'absence (cc 1702)
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: none

fix salary ref
  packages/code-du-travail-modeles/src/modeles/common/utils/common.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/global.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/salary.ts
Due: none

revert
  packages/code-du-travail-modeles/src/modeles/common/utils/global.ts
Due: none

fix(Indemnité de licenciement) : wording - Wording point d'aide 3239 #5052 - Coquille wording #5024 - Reformuler la question sur l'inaptitude pro #4985
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/indemnite-licenciement.yaml
Due: frontend

fix tests
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1516.test.tsx
Due: frontend

fix(error): "undefined is not an object (evaluating 't.input.focus')" seen on sentry
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
Due: frontend

Updates
  main.32644962.iframe.bundle.js
  project.json
Due: none

feat: indemnite licenciement 1043 (#5129)
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/indemnite-licenciement.yaml
Due: none

feat: indemnite licenciement 275 fix métier (#5112)
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/indemnite-licenciement.yaml
Due: none

feat: implement indemnite licenciement CC1404
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/PubliQuestion.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1404.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/hasNoLegalIndemnity.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
  packages/react-ui/src/field/Input.js
  packages/react-ui/src/field/__snapshots__/test.js.snap
Due: frontend, react-ui

fix: affichage input mobile
  packages/react-ui/src/field/Input.js
Due: react-ui

fix: unit test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2148.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
Due: frontend

feat(indemnite-licenciement): ajout des salaires pendant le préavis (cc 1702)
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1702.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1702-ouvriers-travaux-public/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1702-ouvriers-travaux-public/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1702-ouvriers-travaux-public/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1702-ouvriers-travaux-public/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1702-ouvriers-travaux-public/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1702-ouvriers-travaux-public/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1702-ouvriers-travaux-public/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1702.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/ui-customizations/messages.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/publicodes/utils/indemnite-licenciement.ts
  packages/code-du-travail-modeles/src/modeles/base/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/common/factory/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/salary.ts
  packages/code-du-travail-modeles/src/publicodes/PublicodesBase.ts
Due: frontend

chore: fix tests
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/indemnite-licenciement.yaml
Due: none

feat(indemnite-licenciement): ajout d'une notifications pour le légal
  .husky/pre-commit
  packages/code-du-travail-frontend/src/lib/array.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1702.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/types.ts
  packages/code-du-travail-frontend/src/outils/common/utils/math.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/notifications.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/publicodes/PublicodesBase.ts
  packages/code-du-travail-modeles/src/publicodes/types.ts
Due: frontend

fix(preavis-demission): maj de la 1486
  packages/code-du-travail-modeles/src/simulators/preavis-demission/preavis-demission.data.json
Due: none

fix(preavis-licenciement): maj de la 1486
  packages/code-du-travail-modeles/src/simulators/preavis-licenciement/preavis-licenciement.data.json
Due: none

fix(heure-recherche-emploi): maj de la 1486
  packages/code-du-travail-modeles/src/simulators/heure-recherche-emploi/heures-recherche-emploi.data.json
Due: none

fix(preavis-retraite): maj de la 1486
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/__tests__/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/__tests__/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/preavis-retraite.yaml
Due: none

fix(heure-recherche-emploi): réinitialiser les critères lors du changement de type de rupture
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/TypeRupture.tsx
Due: frontend

fix: unit test
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/__tests__/preavis-retraite/references.spec.ts
Due: none

fix(indemnite-licenciement): ajout de la notification si le legal et le conventionnel sont égaux (#5123)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/notification.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/types.ts
Due: frontend

feat(event): ajout d'un event pour tracker le `header` et les voir plus de la page `home` (#5124)
  packages/code-du-travail-frontend/pages/index.tsx
  packages/code-du-travail-frontend/src/home/HomeButtonTrigger.tsx
  packages/code-du-travail-frontend/src/home/HomeSlice.tsx
  packages/code-du-travail-frontend/src/home/Themes.tsx
  packages/code-du-travail-frontend/src/home/Tools.tsx
  packages/code-du-travail-frontend/src/layout/Header/BurgerNav.tsx
  packages/code-du-travail-frontend/src/lib/matomo/types.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/__tests__/indemnite-licenciement/references.spec.ts
Due: frontend

Updates
  project.json
Due: none

fix: lien vers les références
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/preavis-retraite.yaml
Due: none

fix: remove useless expect
  packages/code-du-travail-modeles/src/modeles/conventions/1672_societes_assurances/__tests__/preavis-retraite/depart-mise.spec.ts
Due: none

fix: eslint import issue
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
Due: none

fix: unit test
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/__tests__/indemnite-licenciement/notifications.spec.ts
Due: none

feat: ajout d'une notification pour le résultat du légal en licenciement économique
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1702.test.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/indemnite-licenciement.yaml
Due: frontend

fix: remove pre-commit modification
  .husky/pre-commit
Due: none

feat(indemnite de licenciement): add cc 2148 (#5034)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2148.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/2148.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/validator.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: frontend

fix 1702
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/__tests__/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/__tests__/indemnite-licenciement/missing-args.spec.ts
Due: none
