Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix: reset questionnaire slug on question rollback
  packages/code-du-travail-frontend/src/questionnaire/store.ts
Due: frontend

chore(release): version 4.82.0
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: prob
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
Due: none

fix: cc
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/650.ts
Due: frontend

fix: cc
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
Due: none

fix(dateInput): permet de taper slash quand on entre une date (#4561)
  packages/react-ui/package.json
  packages/react-ui/src/field/InputDate.js
  packages/react-ui/src/field/__snapshots__/test.js.snap
  packages/react-ui/src/field/test.js
  yarn.lock
Due: react-ui

Updates
  iframe.html
  main.98b0430b.iframe.bundle.js
  main.b5705f8b.iframe.bundle.js
Due: none

fix tests
  packages/code-du-travail-data/src/simulateurs/types.ts
  packages/code-du-travail-frontend/src/outils/common/StepInformations.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/StepInformations.test.tsx
  packages/code-du-travail-frontend/src/outils/common/situations.utils.tsx
Due: frontend

fix(simulateur IL): wording
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction/components/Intro.tsx
Due: frontend

chore: clean
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/Summary.tsx
Due: frontend

show alert message
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/common/ErrorField.tsx
Due: frontend

feat(indemnite-licenciement): amélioration des champs d'absences
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/__tests__/decryptedDescription.test.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/state/__tests__/dummies.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriod.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriods.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/validator.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/AbsenceTable.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FilledElements.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/AgreementSearch.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/EnterpriseSearch.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/__tests__/pushAgreementEvents.test.tsx
Due: frontend

fix: unit test & feedbacks
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriod.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriods.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator.ts
Due: frontend

fix(indemnite-licenciement): delete old unit test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/computeSalaryPeriods.test.ts
Due: frontend

feat(indemnite-licenciement): amélioration des champs d'absences (#4557)
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/__tests__/decryptedDescription.test.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/state/__tests__/dummies.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/computeSalaryPeriods.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriods.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/validator.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/AbsenceTable.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FilledElements.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/AgreementSearch.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/EnterpriseSearch.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/__tests__/pushAgreementEvents.test.tsx
Due: frontend

fix: unit test
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/références.spec.ts
Due: none

refactor: make slug mandatory in questionnaire component
  packages/code-du-travail-frontend/src/outils/DismissalProcess/index.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Questionnaire.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/QuestionnaireWrapper.tsx
  packages/code-du-travail-frontend/src/questionnaire/store.ts
Due: frontend

feat(indemnite-licenciement): ajout de la possibilité d'envoyer plusieurs données dans le calcul de l'ancienneté
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/types.ts
  packages/code-du-travail-frontend/src/outils/publicodes/utils/indemnite-licenciement.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/1090_automobiles.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/1486_bureaux_etudes_techniques.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/1527-immobilier.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2941_aide_accompagnement_soins_services_domicile.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/legal.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/types.ts
Due: frontend

feat(indemnite-licenciement): ajout de la possibilité d'envoyer plusieurs données dans le calcul de l'ancienneté
  packages/code-du-travail-modeles/src/__test__/1090-automobile/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1351-prevention-secu-ent/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1486-bureaux-etudes/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1518-education-loisirs/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1527-immobilier/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/2511-sport/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/3043-entreprise-proprete/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/3127-ent-services-personne/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/common/legal/indemnite-licenciement/anciennete.spec.ts
Due: none

fix: unit test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/2216.ts
  packages/code-du-travail-modeles/src/__test__/16-transports-routiers/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/16-transports-routiers/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2216_commerces_detail_alimentation.ts
Due: frontend

fix(simulateur): filtre des questions sur le type de rupture (#4569)
  packages/code-du-travail-data/src/simulateurs/types.ts
  packages/code-du-travail-frontend/src/outils/common/StepInformations.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/StepInformations.test.tsx
  packages/code-du-travail-frontend/src/outils/common/situations.utils.tsx
Due: frontend

fix: tu
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeContrat.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeRemuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CDD.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CTT.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/Question.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/TextQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/YesNoQuestion.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchBar/__tests__/__snapshots__/DocumentSuggester.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchBar.test.js.snap
Due: frontend

fix: personnalised mode not setting correctly
  packages/code-du-travail-frontend/src/questionnaire/Components/Questionnaire.tsx
  packages/code-du-travail-frontend/src/questionnaire/store.ts
Due: frontend

fix: bug
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/650.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/650.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
  packages/code-du-travail-modeles/src/__test__/413-handicap/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/650-metallurgie-ingenieurs-cadres/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/650-metallurgie-ingenieurs-cadres/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/650-metallurgie-ingenieurs-cadres/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/plugins/formule/413_handicap.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/650_metallurgie_ingenieurs_cadres.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/types.ts
Due: frontend

fix: bug
  packages/code-du-travail-modeles/src/__test__/650-metallurgie-ingenieurs-cadres/indemnite-licenciement/anciennete.spec.ts
Due: none

fix: bug
  packages/code-du-travail-modeles/src/__test__/2216-commerces-detail-alimentation/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/650-metallurgie-ingenieurs-cadres/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/plugins/formule/2216_commerces_detail_alimentation.ts
  packages/code-du-travail-modeles/src/plugins/formule/650_metallurgie_ingenieurs_cadres.ts
Due: none

feat: update summary display
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Questionnaire.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/QuestionnaireWrapper.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/Summary.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/SummaryItem.tsx
  packages/react-ui/src/Button/index.js
  packages/react-ui/src/icons/components/bicolor/Gear.js
  packages/react-ui/src/icons/src/bicolor/gear.svg
Due: frontend, react-ui

feat: plugin
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/44_industries_chimiques.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/motifs.ts
  packages/code-du-travail-modeles/src/plugins/formule/44_industries_chimiques.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/formule/types.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/44_industries_chimiques.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/index.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/types.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

fix: modele
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/plugins/formule/44_industries_chimiques.ts
Due: none

fix: modele
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/44_industries_chimiques.ts
  packages/code-du-travail-modeles/src/plugins/formule/44_industries_chimiques.ts
Due: none

fix: modele
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/indemnite-licenciement.yaml
Due: none

fix: cc
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/44_industries_chimiques.ts
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
