Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

add algo to convention collective reco
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
Due: frontend

bugfix(reco): do not recommend same content #2988 (#3001)
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/items.test.js
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
Due: api, frontend

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feat(data): add new courriers
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/docx/lettre_de_licenciement_pour_motif_disciplinaire.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/lettre_de_licenciement_pour_motif_non_disciplinaire.docx
Due: none

feat(data): remove obsolete content
  packages/code-du-travail-data/dataset/editorial_content/contents.json
  packages/code-du-travail-data/dataset/tools/externals.json
Due: none

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feat(data): remove obsolete content (#3007)
  packages/code-du-travail-data/dataset/editorial_content/contents.json
  packages/code-du-travail-data/dataset/tools/externals.json
Due: none

feat(data): add new courriers (#3005)
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/docx/lettre_de_licenciement_pour_motif_disciplinaire.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/lettre_de_licenciement_pour_motif_non_disciplinaire.docx
Due: none

fix(front): stats
  packages/code-du-travail-api/src/server/routes/stats/index.js
Due: api

fix(front): stats (#3011)
  packages/code-du-travail-api/src/server/routes/stats/index.js
Due: api

chore(release): version 4.31.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/CHANGELOG.md
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(deps): update all dependencies
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

fix slug
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/layout/Header/index.js
Due: frontend

fix query
  packages/code-du-travail-frontend/src/layout/Header/index.js
Due: frontend

fix: add noindex on /recherche
  packages/code-du-travail-frontend/pages/recherche.js
Due: frontend

fix lint
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].js
Due: frontend

fix: seo
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/ReferenceList.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferenceList.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/RelatedItems.test.js.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix test
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

fix: seo (#3009)
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].js
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/ReferenceList.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferenceList.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/RelatedItems.test.js.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/layout/Header/index.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

fix(ci): yet another missing env name
  .gitlab-ci/stages/deploy.yml
Due: none

chore(release): version 4.31.1-alpha.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/CHANGELOG.md
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(release): version 4.31.1-alpha.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/CHANGELOG.md
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(ci): yet another missing env name (#3016)
  .gitlab-ci/stages/deploy.yml
Due: none

chore(release): version 4.31.1-alpha.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/CHANGELOG.md
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(release): version 4.31.1-alpha.3
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/CHANGELOG.md
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(release): version 4.31.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/CHANGELOG.md
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(deps): update all non-major dependencies
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  packages/slugify/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

fix: linter
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
  packages/code-du-travail-frontend/src/lib/__tests__/useLocalStorage.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/Step.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/Wizard.test.js
  packages/react-ui/src/ArrowLink/test.js
Due: frontend, react-ui

test: update snaps AGAIN
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Step.test.js.snap
  packages/react-ui/src/ArrowLink/__snapshots__/test.js.snap
Due: frontend, react-ui

chore(deps): update dependency @testing-library/react to v11
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

chore(deps): update dependency rehype-raw to v5
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feat: new temes ui
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/themes.test.js
  packages/code-du-travail-api/src/server/routes/search/getEsReferences.js
  packages/code-du-travail-api/src/server/routes/themes/index.js
  packages/code-du-travail-api/src/server/routes/themes/search.elastic.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/common/Breadcrumbs.js
Due: api, frontend

feat: polishing
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-api/src/server/routes/themes/index.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/themes/[slug].js
Due: api, frontend

feat: feebacks
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/convention-collective.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/common/Breadcrumbs.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Breadcrumbs.test.js.snap
Due: frontend

chore(deps): update all dependencies docker tags to v7.9.2
  docker-compose.override.dev.yml
  docker/elasticsearch/Dockerfile
Due: none

chore(deps): update dependency supertest to v5
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: api, frontend

wip
  packages/code-du-travail-frontend/pages/themes/[slug].js
Due: frontend
