Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

feat(logs) log addional events (#2385)
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/RelatedItems.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/RelatedItems.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
Due: frontend

doc(e2e): add how to section
  optional/e2e/README.md
  optional/e2e/features/apropos.feature
Due: none

chore(release): version 4.4.0-alpha.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(release): version 4.4.0-alpha.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(release): version 4.4.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(frontend): fix middleware chain on prod
  packages/code-du-travail-frontend/server/server.js
Due: frontend

add await
  packages/code-du-travail-frontend/server/server.js
Due: frontend

test(e2e): fix a propos test (#2403)
  optional/e2e/README.md
  optional/e2e/features/apropos.feature
Due: none

add version
  packages/code-du-travail-frontend/server/server.js
Due: frontend

fix(frontend): fix middleware chain on prod (#2406)
  packages/code-du-travail-frontend/server/server.js
Due: frontend

chore(release): version 4.4.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
Due: frontend

test(frontend): update tests
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/index.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/__snapshots__/convention.service.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/__snapshots__/entreprise.service.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/convention.service.test.js
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/conventions.mock.js
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/entreprise.service.test.js
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/entretrise.mock.js
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/getQueryType.test.js
  packages/code-du-travail-frontend/src/conventions/__tests__/SearchModal.test.js
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/InfosCCn.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/InfoCCn.test.js.snap
Due: frontend

fix(tools): removed unused prop due to refactoring
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/conventions/Search/ConventionLink.js
  packages/code-du-travail-frontend/src/conventions/Search/ResultList.js
  packages/code-du-travail-frontend/src/conventions/Search/api/index.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/stepReducer.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Informations.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/stepReducer.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Informations.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/stepReducer.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Informations.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/InfosCCn.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/InfosGenerales.js
Due: frontend

feat(frontend): new layout and refactor
  packages/code-du-travail-frontend/pages/convention-collective/index.js
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/conventions/Convention/index.js
  packages/code-du-travail-frontend/src/conventions/Search/CompanyTile.js
  packages/code-du-travail-frontend/src/conventions/Search/ConventionLink.js
  packages/code-du-travail-frontend/src/conventions/Search/Form.js
  packages/code-du-travail-frontend/src/conventions/Search/ResultList.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Modal.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/getQueryType.test.js
  packages/code-du-travail-frontend/src/conventions/Search/api.js
  packages/code-du-travail-frontend/src/conventions/Search/api/convention.service.js
  packages/code-du-travail-frontend/src/conventions/Search/api/entreprise.service.js
  packages/code-du-travail-frontend/src/conventions/Search/api/getQueryType.js
  packages/code-du-travail-frontend/src/conventions/Search/api/index.js
  packages/code-du-travail-frontend/src/conventions/Search/index.js
  packages/code-du-travail-frontend/src/conventions/Search/searchHook.js
  packages/code-du-travail-frontend/src/conventions/SearchModal.js
  packages/code-du-travail-frontend/src/conventions/__tests__/api.conventions.mock.js
  packages/code-du-travail-frontend/src/conventions/__tests__/api.entretrise.mock.js
  packages/code-du-travail-frontend/src/conventions/__tests__/convention.service.test.js
  packages/code-du-travail-frontend/src/conventions/__tests__/entreprise.service.test.js
  packages/code-du-travail-frontend/src/conventions/utils.js
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
Due: frontend

feat(api): reduce fuziness
  packages/code-du-travail-api/src/server/routes/idcc/idcc.elastic.js
Due: api

test(frontend): update snaps
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/Indemnite.test.js
Due: frontend

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

feat(data): reduce number of max results returned by idcc api
  packages/code-du-travail-api/src/server/routes/idcc/idcc.elastic.js
Due: api

feat(frontend): add non breakable space
  packages/code-du-travail-frontend/src/conventions/Search/ResultList.js
Due: frontend

test(frontend): update snaps
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
Due: frontend

fix(deps): update all non-major dependencies
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

feat(frontend): update reactmathjax
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/FormulaDetails.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  yarn.lock
Due: frontend

ci(frontend): increase memory limit
  .k8s/frontend.values.yml
Due: none

update limit for dev
  .gitlab-ci/stages/deploy.yml
Due: none

chore(deps): update all non-major dependencies to ^7.8.6
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

ci(frontend): improve cpu/memory requesti/limit in dev / prod (#2415)
  .gitlab-ci/stages/deploy.yml
  .k8s/frontend.values.yml
Due: none

fix(front):Remove tarteaucitron banner on print
  packages/code-du-travail-frontend/public/static/tarteaucitron/css/tarteaucitron.css
Due: frontend

fix(data): use a boolean flag to hide content
  packages/code-du-travail-api/src/server/routes/items/relatedItems.elastic.js
  packages/code-du-travail-api/src/server/routes/search/search.elastic.js
  packages/code-du-travail-api/src/server/routes/search/search.sem.js
  packages/code-du-travail-data/dataset/fiches_service_public/filter.js
  packages/code-du-travail-data/dataset/fiches_service_public/index.js
  packages/code-du-travail-data/indexing/document.mapping.js
Due: api

fix(frontend): better uuid generator
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
  packages/code-du-travail-frontend/src/conventions/Search/ResultList.js
  packages/react-fiche-service-public/src/components/ElementBuilder.js
Due: frontend, react-fiche-service-public

fix(frontend): ie issues
  .eslintignore
  .prettierignore
  packages/code-du-travail-data/dataset/tools/index.js
  packages/code-du-travail-data/dataset/tools/internals.json
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].js
  packages/code-du-travail-frontend/pages/outils/index.js
  packages/code-du-travail-frontend/public/static/polyfill.min.js
  yarn.lock
Due: frontend

refactor(frontend): remove useless plugin
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feat(api): handle excludeFromSearch flag
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/docs-count.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/idcc.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/demission.vector.json
  packages/code-du-travail-api/src/server/routes/__tests__/items.test.js
  packages/code-du-travail-api/src/server/routes/__tests__/r1225-18.vector.json
  packages/code-du-travail-api/src/server/routes/__tests__/search.test.js
  packages/code-du-travail-api/src/server/routes/__tests__/stats.test.js
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/src/server/routes/items/relatedItems.elastic.js
  packages/code-du-travail-api/src/server/routes/search/search.sem.js
  packages/code-du-travail-api/tests/cdtn_document.data.json
  packages/code-du-travail-api/tests/cdtn_theme.data.json
  packages/code-du-travail-api/tests/fetch_mock_data.js
  packages/code-du-travail-data/dataset/courrier-type/index.js
  packages/code-du-travail-data/indexing/populate.js
Due: api

chore(nlp): indent dump
  packages/code-du-travail-nlp/scripts/dump.py
Due: none

fix(deps): update all non-major dependencies
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: react-ui, react-fiche-service-public

fix(data): use a boolean flag to hide content (#2419)
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/docs-count.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/idcc.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/demission.vector.json
  packages/code-du-travail-api/src/server/routes/__tests__/items.test.js
  packages/code-du-travail-api/src/server/routes/__tests__/r1225-18.vector.json
  packages/code-du-travail-api/src/server/routes/__tests__/search.test.js
  packages/code-du-travail-api/src/server/routes/__tests__/stats.test.js
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/src/server/routes/items/relatedItems.elastic.js
  packages/code-du-travail-api/src/server/routes/search/search.elastic.js
  packages/code-du-travail-api/src/server/routes/search/search.sem.js
  packages/code-du-travail-api/tests/cdtn_document.data.json
  packages/code-du-travail-api/tests/cdtn_theme.data.json
  packages/code-du-travail-api/tests/fetch_mock_data.js
  packages/code-du-travail-data/dataset/courrier-type/index.js
  packages/code-du-travail-data/dataset/fiches_service_public/filter.js
  packages/code-du-travail-data/dataset/fiches_service_public/index.js
  packages/code-du-travail-data/indexing/document.mapping.js
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-nlp/scripts/dump.py
Due: api

fix(front): Remove tarteaucitron banner on print (#2418)
  packages/code-du-travail-frontend/public/static/tarteaucitron/css/tarteaucitron.css
Due: frontend

fix(frontend): better uuid generator (#2420)
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
  packages/code-du-travail-frontend/src/conventions/Search/ResultList.js
  packages/react-fiche-service-public/src/components/ElementBuilder.js
Due: frontend, react-fiche-service-public

fix(frontend): ie issues (#2421)
  .eslintignore
  .prettierignore
  packages/code-du-travail-data/dataset/tools/index.js
  packages/code-du-travail-data/dataset/tools/internals.json
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].js
  packages/code-du-travail-frontend/pages/outils/index.js
  packages/code-du-travail-frontend/public/static/polyfill.min.js
Due: frontend

chore(release): version 4.5.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui, react-fiche-service-public
