Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, ui-old, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      ui-old:
        target: 80%
        flags: ui-old
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  ui-old:
    paths:
      - packages/code-du-travail-ui-old
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix(nlp): rename add_search
  packages/code-du-travail-nlp/api/ready.py
Due: none

ci(nlp): update readyness probe
  .k8s/nlp/deployment.dev.yml
  .k8s/nlp/deployment.prod.yml
Due: none

fix code
  packages/code-du-travail-nlp/api/__init__.py
Due: none

fix(nlp): import logging
  packages/code-du-travail-nlp/api/sem_search.py
Due: none

add initContainer in frontend pod to wait for nlp
  .k8s/frontend/deployment.prod.yml
Due: none

chore(k8s): update nlp deploiment
  .k8s/frontend/deployment.prod.yml
  .k8s/nlp/deployment.dev.yml
  .k8s/nlp/deployment.prod.yml
  packages/code-du-travail-nlp/scripts/entrypoint.sh
Due: none

fix ready probe url
  .k8s/nlp/deployment.dev.yml
  .k8s/nlp/deployment.prod.yml
Due: none

fixed ready issue
  packages/code-du-travail-nlp/api/search.py
  packages/code-du-travail-nlp/api/suggest.py
Due: none

fixed ready issue
  packages/code-du-travail-nlp/api/loader.py
Due: none

refactor(data):Removed FAQ datas source
  packages/code-du-travail-data/Dockerfile
  packages/code-du-travail-data/dataset/FAQgtprovi.json
  packages/code-du-travail-data/dataset/datafiller/utils.js
  packages/code-du-travail-data/dataset/faq-contributions.json
  packages/code-du-travail-data/dataset/faq-conventions-collectives.json
  packages/code-du-travail-data/dataset/faq.json
  packages/code-du-travail-data/dataset/tag_extractor/.gitignore
  packages/code-du-travail-data/dataset/tag_extractor/CHANGELOG.md
  packages/code-du-travail-data/dataset/tag_extractor/LICENSE
  packages/code-du-travail-data/dataset/tag_extractor/__snapshots__/index.test.js.snap
  packages/code-du-travail-data/dataset/tag_extractor/file.mock.json
  packages/code-du-travail-data/dataset/tag_extractor/file2.mock.json
  packages/code-du-travail-data/dataset/tag_extractor/index.js
  packages/code-du-travail-data/dataset/tag_extractor/index.test.js
  packages/code-du-travail-data/dataset/tag_extractor/package.json
  packages/code-du-travail-data/indexing/populate.js
  packages/sources/index.js
Due: none

fix(data):Fixed striptags import
  packages/code-du-travail-data/indexing/populate.js
Due: none

fix(test):Updated snapshots
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: frontend

fix(data):Removed striptags package frome package.json
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

Removed “question” pages & Removed withClipboard HOC & Updated snapshots
  packages/code-du-travail-frontend/__tests__/question.test.js
  packages/code-du-travail-frontend/pages/question/[slug].js
  packages/code-du-travail-frontend/src/common/__tests__/withClipboard.hoc.test.js
  packages/code-du-travail-frontend/src/common/withClipboard.hoc.js
  packages/code-du-travail-frontend/src/search/Search.js
  packages/code-du-travail-frontend/src/search/utils.js
Due: frontend

guitt cay null
  .gitignore
  node
  packages/code-du-travail-css/bundle.css
  packages/code-du-travail-nlp/api/__init__.py
  packages/code-du-travail-nlp/api/loader.py
  packages/code-du-travail-nlp/scripts/entrypoint.sh
  packages/code-du-travail-ui/lib/index.esm.js
  packages/code-du-travail-ui/lib/index.js
Due: none

removed yarn-error.log
  yarn-error.log
Due: none

fix(tooltip): update pattern matching code (#1334)
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/convention-collective.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/question.test.js.snap
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/__tests__/Answer.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
Due: frontend

fix(tooltip): fix matchRegexp for startwith pattern
  packages/code-du-travail-frontend/src/common/Answer.js
Due: frontend

style(nlp): make codecov happyier
  packages/code-du-travail-nlp/api/__init__.py
  packages/code-du-travail-nlp/api/loader.py
  packages/code-du-travail-nlp/api/ready.py
  packages/code-du-travail-nlp/api/search.py
  packages/code-du-travail-nlp/api/suggest.py
Due: none

feat(nlp): load api sync (#1330)
  .gitignore
  .k8s/frontend/deployment.prod.yml
  .k8s/nlp/deployment.dev.yml
  .k8s/nlp/deployment.prod.yml
  packages/code-du-travail-nlp/api/__init__.py
  packages/code-du-travail-nlp/api/loader.py
  packages/code-du-travail-nlp/api/ready.py
  packages/code-du-travail-nlp/api/search.py
  packages/code-du-travail-nlp/api/sem_search.py
  packages/code-du-travail-nlp/api/suggest.py
  packages/code-du-travail-nlp/scripts/entrypoint.sh
Due: none

ci(register): update base image
  .gitlab-ci/stages/register.yml
Due: none

feat(api): use es semantic search
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/search/search.sem.js
Due: api

wip(data): fecth vectors
  packages/code-du-travail-data/indexing/document.mapping.js
  packages/code-du-travail-data/indexing/index.js
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

chore(deps): update dependency @testing-library/react to ^9.2.0
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-ui-old/package.json
  packages/react-fiche-service-public/package.json
  yarn.lock
Due: frontend, ui-old, react-fiche-service-public

fix(tooltip): fix matchRegexp for startwith pattern (#1340)
  packages/code-du-travail-frontend/src/common/Answer.js
Due: frontend

fix(frontend): backlink
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/search/SearchResults/Law.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/SearchResults/Themes.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  yarn.lock
Due: frontend

fix(frontend): apply feedbacks
  packages/code-du-travail-frontend/src/search/SearchResults/Law.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/SearchResults/Themes.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: frontend

refactor(frontend): remove useless param
  packages/code-du-travail-frontend/pages/themes/[slug].js
Due: frontend

fix(frontend): header link
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/annuaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/question.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/Header.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
Due: frontend

fix(frontend): backlink (#1339)
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/annuaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/question.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/layout/Header.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchResults/Law.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/SearchResults/Themes.js
  yarn.lock
Due: frontend

modify semsearch
  packages/code-du-travail-nlp/api/sem_search.py
Due: none

feat(nlp) add new endpoint /index to build tensor index
  packages/code-du-travail-nlp/api/index.py
  packages/code-du-travail-nlp/api/loader.py
  packages/code-du-travail-nlp/api/search.py
Due: none

refactor(data):Removed FAQ datas sources (#1326)
  packages/code-du-travail-data/Dockerfile
  packages/code-du-travail-data/dataset/FAQgtprovi.json
  packages/code-du-travail-data/dataset/datafiller/utils.js
  packages/code-du-travail-data/dataset/faq-contributions.json
  packages/code-du-travail-data/dataset/faq-conventions-collectives.json
  packages/code-du-travail-data/dataset/faq.json
  packages/code-du-travail-data/dataset/tag_extractor/.gitignore
  packages/code-du-travail-data/dataset/tag_extractor/CHANGELOG.md
  packages/code-du-travail-data/dataset/tag_extractor/LICENSE
  packages/code-du-travail-data/dataset/tag_extractor/__snapshots__/index.test.js.snap
  packages/code-du-travail-data/dataset/tag_extractor/file.mock.json
  packages/code-du-travail-data/dataset/tag_extractor/file2.mock.json
  packages/code-du-travail-data/dataset/tag_extractor/index.js
  packages/code-du-travail-data/dataset/tag_extractor/index.test.js
  packages/code-du-travail-data/dataset/tag_extractor/package.json
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/question.test.js.snap
  packages/code-du-travail-frontend/__tests__/question.test.js
  packages/code-du-travail-frontend/pages/question/[slug].js
  packages/code-du-travail-frontend/src/common/__tests__/withClipboard.hoc.test.js
  packages/code-du-travail-frontend/src/common/withClipboard.hoc.js
  packages/code-du-travail-frontend/src/search/Search.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/code-du-travail-frontend/src/search/utils.js
  packages/sources/index.js
  yarn.lock
Due: frontend

test(frontend): update snapshots
  packages/code-du-travail-frontend/src/common/__tests__/Outils.test.js
  packages/code-du-travail-frontend/src/common/__tests__/Themes.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Outils.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/Layout.test.js
  packages/code-du-travail-frontend/src/layout/__tests__/PageLayout.test.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchBar/__tests__/DocumentSuggester.test.js
  packages/code-du-travail-frontend/src/search/SearchBar/__tests__/__snapshots__/DocumentSuggester.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/SearchBar.test.js
  packages/code-du-travail-frontend/src/search/__tests__/SearchLanding.test.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchBar.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchLanding.test.js.snap
Due: frontend
