Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: error
  packages/code-du-travail-frontend/pages/index.tsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.tsx
  packages/code-du-travail-frontend/pages/stats.tsx
Due: frontend

fix: cors
  packages/code-du-travail-frontend/src/api/middleware.ts
Due: frontend

fix(pages): remove last `getInitialProps` and transform some files in `tsx` (#5091)Co-authored-by: Caroline <4971715+carolineBda@users.noreply.github.com>
  packages/code-du-travail-frontend/pages/droit-du-travail.jsx
  packages/code-du-travail-frontend/pages/droit-du-travail.tsx
  packages/code-du-travail-frontend/pages/index.tsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.tsx
  packages/code-du-travail-frontend/pages/recherche.jsx
  packages/code-du-travail-frontend/pages/recherche.tsx
  packages/code-du-travail-frontend/pages/stats.tsx
  packages/code-du-travail-frontend/src/api/middleware.ts
  packages/code-du-travail-frontend/src/conventions/SearchModal.tsx
Due: frontend

Updates
  main.32644962.iframe.bundle.js
  project.json
Due: none

fix test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1516.test.tsx
Due: frontend

fix: build
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: prod
  packages/code-du-travail-frontend/next.config.js
Due: frontend

feat(indemnite-licenciement): ajout de la cc 86 (#5073)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc44.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc86.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/salary.ts
Due: frontend

fix: cc
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/indemnite-licenciement.yaml
Due: none

fix(indemnite-licenciement): correction de l'ancienneté
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/accumulate-absence-by-year.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1527_immobilier/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1672_societes_assurances/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/16_transports_routiers/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1996_pharmacie/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/anciennete.spec.ts
Due: none

report caro fixes
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/Informations.tsx
Due: frontend

feat(indemnite-licenciement): ajout des salaires durant le préavis
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2148.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1672-societes-assurances/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1672-societes-assurances/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1672-societes-assurances/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1672-societes-assurances/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1672-societes-assurances/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1672-societes-assurances/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1672-societes-assurances/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1672.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/validator.ts
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1672_societes_assurances/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1672_societes_assurances/salary.ts
Due: frontend

fix(indemnite-licenciement): calcul de l'indemnité pour une ancienneté supérieure à 10 ans (CC 3127) (#5071)
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/indemnite-licenciement.yaml
Due: none

Updates
  project.json
Due: none

fix: indemnite licenciement seniority with absence (#5054)
  packages/code-du-travail-modeles/src/modeles/base/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1518_education_loisirs/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1527_immobilier/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/16_transports_routiers/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2511_sport/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/seniority.ts
Due: none

fix: matopush not empty
  packages/code-du-travail-frontend/src/search/SearchResults/index.tsx
Due: frontend

fix: correction
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/indemnite-licenciement.yaml
Due: none

fix: calcul
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
Due: frontend

feat: cc 275 transport aerien personnel au sol (#5046)
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: none

fix(indemnite-licenciement): affichage du resultat légal pour les ccs non supporté (#5098)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
Due: frontend

feat(indemnite-licenciement): ajout de la cc 2614 (#5035)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/2614.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/validator.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: frontend

chore(release): version 4.97.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: kontinuous
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/__tests__/kosko generate --env dev.ts
  .k8s/__tests__/kosko generate --env preprod.ts
  .k8s/__tests__/kosko generate --env prod.ts
  .k8s/components/_namespace.ts
  .k8s/components/netpol.ts
  .k8s/components/www.ts
  .k8s/components/yaml.ts
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
  .k8s/environments/prod/yaml/ingress-prod.yml
  .k8s/kosko.toml
  .k8s/package.json
  .k8s/tsconfig.json
  .k8s/yarn.lock
  .kontinuous/env/dev/templates/api.configmap.yaml
  .kontinuous/env/dev/templates/api.sealed-secret.yaml
  .kontinuous/env/dev/templates/www.configmap.yaml
  .kontinuous/env/dev/templates/www.sealed-secret.yaml
  .kontinuous/env/preprod/templates/api.configmap.yaml
  .kontinuous/env/preprod/templates/api.sealed-secret.yaml
  .kontinuous/env/preprod/templates/www.configmap.yaml
  .kontinuous/env/preprod/templates/www.sealed-secret.yaml
  .kontinuous/env/prod/templates/api.configmap.yaml
  .kontinuous/env/prod/templates/api.sealed-secret.yaml
  .kontinuous/env/prod/templates/www.configmap.yaml
  .kontinuous/env/prod/templates/www.sealed-secret.yaml
  .kontinuous/values.yaml
Due: none

fix: kontinuous
  .github/workflows/k8s.yml
Due: none

fix: kontinuous
  .github/workflows/review.yml
Due: none

fix: bug
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
Due: frontend

fix(indemnite-licenciement): bug affichage question salaire indemnite de licenciement (#5101)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
Due: frontend

revert
  packages/code-du-travail-frontend/src/outils/Components/SimulatorDecorator/Components/Navigation/index.tsx
Due: frontend

clean
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/PrevNextBar.test.tsx.snap
Due: frontend

chore(release): version 4.97.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

Lint
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
Due: none
