Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

feat: add url
  packages/code-du-travail-frontend/src/modeles/helpers.ts
Due: frontend

fix(modeles-de-courrier): modification du titre de deux modèles (#5899)
  packages/code-du-travail-frontend/src/modeles/helpers.ts
Due: frontend

Updates
  project.json
Due: none

Revert "feat: implement widget rupture co (#5887)"
  packages/code-du-travail-frontend/pages/widgets/[slug].tsx
  packages/code-du-travail-frontend/public/static/assets/img/indemnite-rupture-conventionnelle.png
  packages/code-du-travail-frontend/src/integration/data/integration.json
Due: frontend

fix: mattermost message
  .github/workflows/check-sdr-url.yml
  .github/workflows/e2e.yaml
  .github/workflows/verification-production.yml
Due: none

fix(actions): modification de l'action mattermost suite à son update (#5902)
  .github/workflows/check-sdr-url.yml
  .github/workflows/e2e.yaml
  .github/workflows/verification-production.yml
Due: none

fix(actions): display mattermost message
  .github/workflows/check-sdr-url.yml
  .github/workflows/e2e.yaml
  .github/workflows/verification-production.yml
Due: none

fix: modeles html description tile
  packages/code-du-travail-frontend/src/search/__tests__/summarize.test.js
  packages/code-du-travail-frontend/src/search/utils.js
Due: frontend

fix: html tag description tuile modele
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].tsx
  packages/code-du-travail-frontend/src/modeles/modeles.tsx
Due: frontend

chore: docker build cache
  Dockerfile
Due: none

chore: update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: docker build cache (#5908)
  Dockerfile
Due: none

chore: add nginx cache
  .kontinuous/values.yaml
  packages/nginx/Dockerfile
  packages/nginx/nginx.conf
Due: none

real empty commit
  README.md
Due: none

WIP
  packages/nginx/nginx.conf
Due: none

format
  README.md
  packages/nginx/Dockerfile
  packages/nginx/nginx.conf
Due: none

chore: clean
  packages/react-ui/src/field/InputDate.tsx
Due: react-ui

fix: next dir volume
  .kontinuous/values.yaml
  packages/code-du-travail-frontend/src/config.ts
Due: frontend

revert revalidate
  packages/code-du-travail-frontend/src/config.ts
Due: frontend

chore: test readonly FS (#5905)
  .kontinuous/values.yaml
Due: none

chore: review
  packages/code-du-travail-frontend/src/common/formatToEuro.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/DecryptResult.tsx
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/Result.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
Due: frontend

feat: test branch
  README.md
Due: none

fix: widget description
  packages/code-du-travail-frontend/pages/widgets/modeles-de-courriers/[id].tsx
Due: frontend

chore: TU
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Anciennete/components/__tests__/AbscencePeriod.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc16.test.tsx
Due: frontend

chore: TU
  packages/code-du-travail-frontend/__tests__/modeles-de-courriers-[slug].test.tsx
Due: frontend

fix: test e2e
  packages/code-du-travail-frontend/cypress/integration/light/outils/indemnite-licenciement.spec.ts
Due: frontend

chore: fix TU
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2098.test.tsx
Due: frontend

fix: html tag description tuile modele (#5906)
  packages/code-du-travail-frontend/__tests__/modeles-de-courriers-[slug].test.tsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].tsx
  packages/code-du-travail-frontend/pages/widgets/modeles-de-courriers/[id].tsx
  packages/code-du-travail-frontend/src/modeles/modeles.tsx
Due: frontend

fix: page
  packages/code-du-travail-frontend/public/static/assets/img/ministere_logo.png
  packages/code-du-travail-frontend/public/static/assets/img/ministere_logo.svg
  packages/code-du-travail-frontend/src/home/Partners.tsx
  packages/code-du-travail-frontend/src/layout/Footer/GovernmentSection.tsx
Due: frontend

fix: page
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.tsx.snap
Due: frontend
