Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

add test
  packages/code-du-travail-frontend/__tests__/contributions.test.tsx
  packages/code-du-travail-utils/src/types.ts
Due: frontend

fix(error): pas de fails si pas de description (#5643)
  packages/code-du-travail-frontend/__tests__/contributions.test.tsx
  packages/code-du-travail-frontend/src/search/utils.js
  packages/code-du-travail-utils/src/types.ts
Due: frontend

Updates
  project.json
Due: none

chore(release): version 4.123.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: modif
  packages/code-du-travail-frontend/cypress/integration/light/informations.spec.ts
Due: frontend

fix: modif
  .github/workflows/review-auto.yaml
Due: none

fix: test
  .github/workflows/review-auto.yaml
  .github/workflows/verification-production.yml
Due: none

fix: test
  .github/workflows/e2e.yaml
  .github/workflows/review-auto.yaml
  .github/workflows/verification-production.yml
  packages/code-du-travail-frontend/cypress/integration/light/informations.spec.ts
Due: frontend

fix(convention-collective): gestion des redirection des anciennes CC de la méta vers la nouvelle pour la page CC quand seulement l'IDCC dans l'url (utilisé par annuaire entreprise)
  packages/code-du-travail-frontend/cypress/integration/light/redirects.spec.ts
  packages/code-du-travail-frontend/redirects.json
Due: frontend

feat(e2e): ajout de tests pour les pages informations (#5645)
  .github/workflows/e2e.yaml
  .github/workflows/verification-production.yml
  packages/code-du-travail-frontend/cypress/integration/light/informations.spec.ts
Due: frontend

fix spec
  packages/code-du-travail-frontend/cypress/integration/light/redirects.spec.ts
Due: frontend

fix: test
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/getRefs.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/getSituations.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/types.ts
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.tsx
  packages/code-du-travail-modeles/src/simulators/heure-recherche-emploi/heures-recherche-emploi.data.json
  packages/code-du-travail-modeles/src/simulators/preavis-demission/preavis-demission.data.json
  packages/code-du-travail-modeles/src/simulators/preavis-licenciement/preavis-licenciement.data.json
  packages/code-du-travail-modeles/src/simulators/types.ts
Due: frontend

fix(convention-collective): gestion des redirection des anciennes CC de la méta vers la nouvelle pour la page CC quand seulement l'IDCC dans l'url (utilisé par annuaire entreprise) (#5648)
  packages/code-du-travail-frontend/cypress/integration/light/redirects.spec.ts
  packages/code-du-travail-frontend/redirects.json
Due: frontend

chore(release): version 4.124.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: rupture-co
  packages/code-du-travail-modeles/jest.setup.ts
  packages/code-du-travail-modeles/src/index.ts
  packages/code-du-travail-modeles/src/internal/build.ts
  packages/code-du-travail-modeles/src/internal/constants.ts
  packages/code-du-travail-modeles/src/internal/merger.ts
  packages/code-du-travail-modeles/src/modeles/base/__tests__/preavis-retraite/travailleur-handicape/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/__tests__/preavis-retraite/travailleur-handicape/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/__tests__/rupture-conventionnel/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/__tests__/rupture-conventionnel/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/__tests__/rupture-conventionnel/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/__tests__/rupture-conventionnel/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/rupture-conventionnel.yaml
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/seniority.ts
  packages/code-du-travail-modeles/src/modeles/modeles-rupture-conventionnelle.json
  packages/code-du-travail-modeles/src/publicodes/RuptureConventionnelPublicodes.ts
  packages/code-du-travail-modeles/src/publicodes/SingletonPublicodesHelper.ts
  packages/code-du-travail-modeles/src/publicodes/index.ts
  packages/code-du-travail-modeles/src/publicodes/types.ts
  packages/code-du-travail-modeles/types/index.d.ts
Due: none

fix: test
  packages/code-du-travail-frontend/pages/convention-collective/[slug].tsx
Due: frontend

fix: test
  packages/code-du-travail-frontend/pages/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/src/api/modules/idcc/service.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/agreement.service.ts
Due: frontend

fix(3248): application des retours métiers (#5617)
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/getRefs.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/getResult.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/getSituations.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/types.ts
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/utils/__tests__/extractDates.test.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/simulators/heure-recherche-emploi/heures-recherche-emploi.data.json
  packages/code-du-travail-modeles/src/simulators/preavis-demission/preavis-demission.data.json
  packages/code-du-travail-modeles/src/simulators/preavis-licenciement/preavis-licenciement.data.json
  packages/code-du-travail-modeles/src/simulators/types.ts
Due: frontend

feat: implement unextended cc message
  packages/code-du-travail-frontend/src/api/modules/contributions/service.ts
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-utils/src/types.ts
Due: frontend

fix: redirection
  packages/code-du-travail-frontend/cypress/integration/light/conventions-collectives.spec.ts
  packages/code-du-travail-frontend/pages/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/redirects.json
  packages/code-du-travail-frontend/src/conventions/Search/api/agreement.service.ts
Due: frontend

fix: redirection
  packages/code-du-travail-frontend/src/api/modules/idcc/service.ts
Due: frontend

fix: redirection
  packages/code-du-travail-frontend/cypress/integration/light/conventions-collectives.spec.ts
Due: frontend

feat(redirections): ajout des redirections pour les idcc `0054`, `0650`, etc. (#5652)
  packages/code-du-travail-frontend/cypress/integration/light/conventions-collectives.spec.ts
  packages/code-du-travail-frontend/redirects.json
Due: frontend

chore(release): version 4.125.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix(workflow): add `needs` on preproduction for e2e
  .github/workflows/preproduction.yaml
Due: none

chore(release): version 4.125.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix(indemnite-licenciement): correction de l'ancienneté calculée sur la 3248
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/seniority.ts
Due: none

fix(indemnite-licenciement): correction du plancher de 6 * sref sur la 3248
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/indemnite-licenciement.yaml
Due: none

fix(indemnite-licenciement): ajout d'une notification si en arrêt de travail au moment du licenciement
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
Due: none

feat(indemnite-licenciement): renomage de la prime exceptionnelle de pouvoir d’achat
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/TooltipSalary.tsx
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
