Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix: ci (#3879)
  .gitlab-ci/stages/e2e.yml
Due: none

feat(accessiblity): fix blue and red color on some pages in accessibility mode
  packages/code-du-travail-frontend/src/conventions/Search/HelpModal.js
  packages/code-du-travail-frontend/src/conventions/Search/index.js
  packages/code-du-travail-frontend/src/outils/common/stepStyles.js
Due: frontend

feat(simulator): replace Accordion on Result page in order to add matomo event
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/FormulaDetails.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/ShowDetails.tsx
  packages/react-ui/src/Accordion/index.js
Due: frontend, react-ui

feat(simulator): Add CC 1979 (#3825)
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.hotels.cafes.restaurants.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/hotels_cafes_restaurants.yaml
Due: none

small refacto
  packages/react-ui/src/Accordion/components/variants/base.js
Due: react-ui

Fix export
  packages/react-ui/src/index.js
Due: react-ui

feat: add ci
  package.json
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/DecryptedResult.tsx
  packages/react-ui/src/Text/index.js
  packages/react-ui/src/index.js
Due: frontend, react-ui

fix snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
Due: frontend

feat: enum
  packages/code-du-travail-frontend/src/lib/tracking/events/common.ts
  packages/code-du-travail-frontend/src/lib/tracking/events/index.ts
  packages/code-du-travail-frontend/src/lib/tracking/events/preavis-retraite-event.ts
  packages/code-du-travail-frontend/src/lib/tracking/index.ts
  packages/code-du-travail-frontend/src/outils/common/Wizard.js
  packages/code-du-travail-frontend/src/outils/common/type/matomo.ts
Due: frontend

fix param
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/react-ui/src/Accordion/components/variants/base.js
Due: frontend, react-ui

feat(simulator): add CC 1404 (#3809)
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.sedima.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/sedima.yaml
Due: none

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.218.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

Remove google tag manager
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/koaServer.js
Due: frontend

fix: margin
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/DecryptedResult.tsx
  packages/react-ui/src/Text/index.js
Due: frontend, react-ui

fix(simulators): when CC has no info to ask, skip info step
  packages/code-du-travail-frontend/src/outils/common/__tests__/situations.utils.test.js
  packages/code-du-travail-frontend/src/outils/common/situations.utils.js
Due: frontend

fix(html): fix error on html validity
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/index.js
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/InfoCCn.test.js.snap
  packages/react-ui/src/TableOfContent/__snapshots__/test.js.snap
  packages/react-ui/src/TableOfContent/index.js
Due: frontend, react-ui

feat: add override
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Informations.tsx
  packages/code-du-travail-modeles/src/internal/ExtractSupportedCc.ts
  packages/code-du-travail-modeles/src/modeles/conventions/hospitalisation_privees.yaml
Due: frontend

merge
  packages/code-du-travail-frontend-e2e/features/referencement.feature
Due: frontend

poc(widget): try to add 2 new widget page
  packages/code-du-travail-frontend/pages/widgets/convention-collective-search.tsx
  packages/code-du-travail-frontend/pages/widgets/indemnite-de-licenciement.tsx
Due: frontend

ci: move lint and test to github
  .github/workflows/quality.yml
  .gitlab-ci.yml
  .gitlab-ci/stages/quality.yml
  .gitlab-ci/stages/register.yml
Due: none

feat: add current url
  packages/code-du-travail-frontend-e2e/features/referencement.feature
  packages/code-du-travail-frontend-e2e/helpers/url.js
  packages/code-du-travail-frontend-e2e/step_definitions/global.js
Due: frontend

Fix snapshots
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/FormulaDetails.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend

feat: add storybook
  package.json
  packages/react-ui/src/Text/index.js
  packages/react-ui/src/Text/story.js
Due: react-ui

feat(modeles): add cc 1518 retirement (#3833)
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.education.loisirs.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.hospitalisation.privees.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/education_loisirs.yaml
Due: none

feat: add gh
  README-dev.md
  README.md
  package.json
  packages/react-ui/.storybook/main.js
  packages/react-ui/.stylelintrc
  packages/react-ui/README.md
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

Updates
  0.233daf10.iframe.bundle.js
  0.2f4295f1f0cbe47621ac.manager.bundle.js
  4.2a2f0bf5.iframe.bundle.js
  4.2a2f0bf5.iframe.bundle.js.LICENSE.txt
  4.2a2f0bf5.iframe.bundle.js.map
  4.3caa114bebac9784ab70.manager.bundle.js
  4.3caa114bebac9784ab70.manager.bundle.js.LICENSE.txt
  5.6fdac895d63d718e577b.manager.bundle.js
  5.768ff255.iframe.bundle.js
  6.40d2126995a7bdcb38be.manager.bundle.js
  6.40d2126995a7bdcb38be.manager.bundle.js.LICENSE.txt
  6.a111feac.iframe.bundle.js
  6.a111feac.iframe.bundle.js.LICENSE.txt
  6.a111feac.iframe.bundle.js.map
  7.20c219a72649d0192197.manager.bundle.js
  7.519fe98d.iframe.bundle.js
  8.eb3301eddad9e001f07c.manager.bundle.js
  favicon.ico
  iframe.html
  index.html
  main.93023bf6fb53b623ebfe.manager.bundle.js
  main.baf737c7.iframe.bundle.js
  runtime~main.61417f96.iframe.bundle.js
  runtime~main.bb24f3322be91b7e2b52.manager.bundle.js
  vendors~main.a796374eefd019aafffe.manager.bundle.js
  vendors~main.a796374eefd019aafffe.manager.bundle.js.LICENSE.txt
  vendors~main.e47465fc.iframe.bundle.js
  vendors~main.e47465fc.iframe.bundle.js.LICENSE.txt
  vendors~main.e47465fc.iframe.bundle.js.map
Due: none

feat: add gh
  package.json
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

Small refacto
  packages/code-du-travail-frontend/src/outils/common/situations.utils.js
Due: frontend

Add width & height on image
  packages/code-du-travail-frontend/src/layout/Header/index.js
Due: frontend

feat: add command
  package.json
  packages/code-du-travail-api/package.json
Due: api

feat: add command
  package.json
Due: none

chore(ci): move lint and test to github (#3888)
  .github/workflows/quality.yml
  .gitlab-ci.yml
  .gitlab-ci/stages/quality.yml
  .gitlab-ci/stages/register.yml
Due: none

fix(security): 'unsafe-inline' inside script-src (#3862)
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/koaServer.js
Due: frontend

feat: add actions
  .github/workflows/storybook.yml
Due: none

Run e2e only on master
  .gitlab-ci/stages/e2e.yml
Due: none

fix: actions
  .github/workflows/storybook.yml
Due: none

feat: add test
  .github/workflows/codeql-analysis.yml
  .github/workflows/register.yml
  .github/workflows/testing.yml
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
