Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

chore(release): version 4.130.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

Updates
  project.json
Due: none

chore: snap
  packages/code-du-travail-frontend/src/api/modules/modeles/__tests__/__snapshots__/service.test.ts.snap
Due: frontend

WIP hors ANI
  package.json
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/store/store.ts
  packages/code-du-travail-modeles/src/modeles/base/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/base/rupture-conventionnelle.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1518_education_loisirs/__tests__/indemnite-rupture-conventionelle/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1518_education_loisirs/rupture-conventionnelle.yaml
Due: frontend

Update packages/code-du-travail-modeles/src/publicodes/RuptureConventionnellePublicodes.ts
  packages/code-du-travail-modeles/src/publicodes/RuptureConventionnellePublicodes.ts
Due: none

fix: build error
  packages/code-du-travail-frontend/src/api/modules/modeles/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/modeles/service.ts
Due: frontend

fix(migration ovh): mise à jour des urls en dev de serving ml
  .kontinuous/env/dev/templates/www.configmap.yaml
Due: none

fix(migration ovh): mise à jour des urls en dev de serving ml (#5709)
  .kontinuous/env/dev/templates/www.configmap.yaml
Due: none

fix: review
  packages/code-du-travail-frontend/pages/widgets/modeles-de-courriers/[id].tsx
Due: frontend

feat(information): optimisation du chargement des contenus `relatedDocuments` pendant l'export (#5699)
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/pages/widgets/modeles-de-courriers/[id].tsx
  packages/code-du-travail-frontend/src/api/modules/items/controller.ts
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/api/modules/items/service.ts
  packages/code-du-travail-frontend/src/api/modules/items/types.ts
  packages/code-du-travail-frontend/src/content/content.service.ts
  packages/code-du-travail-frontend/src/content/index.ts
  packages/code-du-travail-frontend/src/information/__tests__/getContentBlockIds.test.ts
  packages/code-du-travail-frontend/src/information/__tests__/injectContentInfos.test.ts
  packages/code-du-travail-frontend/src/information/index.ts
  packages/code-du-travail-frontend/src/information/information.service.ts
Due: frontend

feat: desinstaller ancienne contrib
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/contributions/Contribution.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionContent.tsx
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/OldReferences.tsx
  packages/code-du-travail-frontend/src/contributions/rehypeToReact.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
Due: frontend

fix: bug sur le calculate salary 1483
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/__tests__/indemnite-licenciement/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/salary.ts
Due: none

chore: clean
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/salary.ts
Due: none

fix: review
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/__tests__/indemnite-licenciement/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/salary.ts
Due: none

chore: update test wording
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/__tests__/indemnite-licenciement/calculate.spec.ts
Due: none

chore: add test on salaryPeriods undefined
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/__tests__/indemnite-licenciement/calculate.spec.ts
Due: none

feat: suppression de la question sur l'inaptitude
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc573.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/legal.test.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/steps/ContratTravail/index.tsx
Due: frontend

fix: bug sur le calculate salary 1483 (#5711)
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/__tests__/indemnite-licenciement/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/salary.ts
Due: none

chore(release): version 4.131.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: bug lorsque l'ancienneté arrive à 0
  packages/code-du-travail-modeles/src/modeles/base/__tests__/indemnite-licenciement/calculate.spec.ts
  packages/code-du-travail-modeles/src/publicodes/IndemniteLicenciementPublicodes.ts
Due: none

chore: clean
  packages/code-du-travail-modeles/src/publicodes/IndemniteLicenciementPublicodes.ts
Due: none

feat: migration ovh
  .kontinuous/config.yaml
Due: none

fix: migration up workflows + urls review
  .github/workflows/e2e.yaml
  .github/workflows/preproduction.yaml
  .github/workflows/production.yaml
  .github/workflows/review-auto.yaml
  .github/workflows/review.yaml
  .kontinuous/env/preprod/values.yaml
  package.json
Due: none

chore(release): version 4.131.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

feat: bouger api modele de courrier (#5690)
  packages/code-du-travail-frontend/cypress/integration/light/widgets-pages.spec.ts
  packages/code-du-travail-frontend/pages/api/modeles/[id].ts
  packages/code-du-travail-frontend/pages/api/modeles/index.ts
  packages/code-du-travail-frontend/pages/widgets/modeles-de-courriers/[id].tsx
  packages/code-du-travail-frontend/src/api/modules/modeles/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/modeles/controller.ts
  packages/code-du-travail-frontend/src/api/modules/modeles/queries.ts
  packages/code-du-travail-frontend/src/api/modules/modeles/service.ts
Due: frontend

feat: merge des missing args
  packages/code-du-travail-modeles/src/publicodes/RuptureConventionnellePublicodes.ts
  packages/code-du-travail-modeles/src/publicodes/utils/__tests__/merge-missing-args.test.ts
  packages/code-du-travail-modeles/src/publicodes/utils/index.ts
  packages/code-du-travail-modeles/src/publicodes/utils/merge-missing-args.ts
Due: none

chore: change resources
  .kontinuous/env/prod/values.yaml
Due: none

chore: change resources (#5719)
  .kontinuous/env/prod/values.yaml
Due: none

chore: update test
  packages/code-du-travail-modeles/src/publicodes/IndemniteLicenciementPublicodes.ts
Due: none

chore(release): version 4.132.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: changement du logo jpeg -> png
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.tsx.snap
  packages/code-du-travail-frontend/public/static/assets/img/ministere_logo.jpeg
  packages/code-du-travail-frontend/public/static/assets/img/ministere_logo.png
  packages/code-du-travail-frontend/src/home/Partners.tsx
  packages/code-du-travail-frontend/src/layout/Footer/GovernmentSection.tsx
Due: frontend

feat: ajout des pages informations au plan du site
  packages/code-du-travail-frontend/pages/plan-du-site.tsx
  packages/code-du-travail-frontend/src/api/modules/informations/controller.ts
  packages/code-du-travail-frontend/src/api/modules/informations/index.ts
  packages/code-du-travail-frontend/src/api/modules/informations/queries.ts
  packages/code-du-travail-frontend/src/api/modules/informations/service.ts
  packages/code-du-travail-frontend/src/api/modules/sitemap/service.ts
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
