Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, ui, react-fiche-service-public

ci(gitlab): remove old deploy script
  .gitlab-ci.yml
Due: none

ci(gitlab): add deploy stage file
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
Due: none

build(k8s): remove cdtn in k8s pod files
  .k8s/api/deployment.yml
  .k8s/api/ingress.yml
  .k8s/api/service.yml
  .k8s/certificate/certificate.yml
  .k8s/data/create-index.sh
  .k8s/data/deployment.yml
  .k8s/elasticsearch/configmap.yml
  .k8s/elasticsearch/service.yml
  .k8s/elasticsearch/statefulset.dev.yml
  .k8s/elasticsearch/statefulset.prod.yml
  .k8s/frontend/deployment.dev.yml
  .k8s/frontend/deployment.prod.yml
  .k8s/frontend/ingress.yml
  .k8s/frontend/service.yml
  .k8s/nlp/deployment.yml
  .k8s/nlp/ingress.yml
  .k8s/nlp/service.yml
Due: none

build(k8s): deploying frontend
  .gitlab-ci.yml
  .gitlab-ci/env.sh
  .gitlab-ci/extends.yml
  .k8s/frontend/.k8s-deploy-frontend.yml
Due: none

ci(gitlab): update notification script
  .gitlab-ci/stages/notify.yml
  .k8s/scripts/get-deploy-id.sh
  .k8s/scripts/send-url.sh
Due: none

build(k8s): update fontend config
  .k8s/frontend/deployment.dev.yml
  .k8s/frontend/deployment.prod.yml
  .k8s/frontend/ingress.yml
  .k8s/frontend/service.yml
Due: none

ci(gitlab): alpha sort variable
  .gitlab-ci/variables.yml
Due: none

build(k8s): use advance caching on register jobs
  .gitlab-ci/extends.yml
  .gitlab-ci/stages/prepare.yml
  .gitlab-ci/stages/register.yml
Due: none

build(k8s): use common register stage on es image prepare
  .gitlab-ci/stages/prepare.yml
Due: none

build(k8s): update api config
  .gitlab-ci/stages/deploy.yml
  .k8s/api/.k8s-deploy-api.yml
  .k8s/api/deployment.yml
  .k8s/api/ingress.yml
  .k8s/api/service.yml
Due: none

build(k8s): update elasticsearch config
  .gitlab-ci/stages/deploy.yml
  .k8s/elasticsearch/.k8s-deploy-elasticsearch.yml
  .k8s/elasticsearch/configmap.yml
  .k8s/elasticsearch/statefulset.dev.yml
  .k8s/elasticsearch/statefulset.prod.yml
Due: none

build(k8s): update data config
  .gitlab-ci/stages/deploy.yml
  .k8s/data/.k8s-deploy-data.yml
  .k8s/data/create-index.sh
  .k8s/data/deployment.yml
Due: none

build(k8s): update nlp config
  .gitlab-ci/stages/deploy.yml
  .k8s/nlp/.k8s-deploy-nlp.yml
  .k8s/nlp/deployment.yml
  .k8s/nlp/ingress.yml
  .k8s/nlp/service.yml
Due: none

feat(api): make the api use env var as version
  .gitlab-ci/env.sh
  .k8s/api/deployment.yml
  packages/code-du-travail-api/src/server/routes/version/index.js
Due: api

feat(react-fiche-service-public): is depending on @cdt/ui
  packages/react-fiche-service-public/package.json
Due: react-fiche-service-public

feat(frontend): make the frontend use env var as version
  .k8s/frontend/deployment.dev.yml
  .k8s/frontend/deployment.prod.yml
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/about.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/annuaire.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/question.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/theme.test.js.snap
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
  packages/code-du-travail-frontend/test/jest.setup.js
Due: frontend

feat(react-fiche-service-public): is depending on @cdt/ui (#1092)
  packages/react-fiche-service-public/package.json
Due: react-fiche-service-public

feat(frontend): make the frontend use env var as version (#1093)
  .k8s/frontend/deployment.dev.yml
  .k8s/frontend/deployment.prod.yml
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/about.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/annuaire.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/question.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/theme.test.js.snap
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
  packages/code-du-travail-frontend/test/jest.setup.js
Due: frontend

build(k8s): change initial delay to 5s
  .k8s/nlp/deployment.yml
Due: none

chore(release): version 3.0.0-next.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/package.json
  packages/code-du-travail-data/dataset/code_du_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/package.json
  packages/code-du-travail-data/dataset/code_du_travail/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/glossaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/glossaire/package.json
  packages/code-du-travail-data/dataset/kali/CHANGELOG.md
  packages/code-du-travail-data/dataset/kali/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tag_extractor/CHANGELOG.md
  packages/code-du-travail-data/dataset/tag_extractor/package.json
  packages/code-du-travail-data/dataset/themes/CHANGELOG.md
  packages/code-du-travail-data/dataset/themes/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-ui/CHANGELOG.md
  packages/code-du-travail-ui/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
Due: api, frontend, ui, react-fiche-service-public

build(k8s): correct typos
  .k8s/elasticsearch/statefulset.prod.yml
  .k8s/frontend/.k8s-deploy-frontend.yml
Due: none

chore(release): version 3.0.0-next.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/package.json
  packages/code-du-travail-data/dataset/code_du_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/package.json
  packages/code-du-travail-data/dataset/code_du_travail/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/glossaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/glossaire/package.json
  packages/code-du-travail-data/dataset/kali/CHANGELOG.md
  packages/code-du-travail-data/dataset/kali/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tag_extractor/CHANGELOG.md
  packages/code-du-travail-data/dataset/tag_extractor/package.json
  packages/code-du-travail-data/dataset/themes/CHANGELOG.md
  packages/code-du-travail-data/dataset/themes/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-ui/CHANGELOG.md
  packages/code-du-travail-ui/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
Due: api, frontend, ui, react-fiche-service-public

build(k8s): smart suffixing variation from COMMIT_TAG
  .gitlab-ci/env.sh
  .gitlab-ci/extends.yml
  .gitlab-ci/stages/deploy.yml
  .k8s/api/.k8s-deploy-api.yml
  .k8s/api/ingress.dev.yml
  .k8s/api/ingress.prod.yml
  .k8s/certificate/certificate.yml
  .k8s/frontend/.k8s-deploy-frontend.yml
  .k8s/frontend/ingress.dev.yml
  .k8s/frontend/ingress.prod.yml
  .k8s/nlp/.k8s-deploy-nlp.yml
  .k8s/nlp/ingress.dev.yml
  .k8s/nlp/ingress.prod.yml
Due: none

feat(frontend): use new sentry :sparkles:
  .k8s/frontend/deployment.prod.yml
  packages/code-du-travail-frontend/pages/_error.js
Due: frontend

build(k8s): smart suffixing variation from COMMIT_TAG (#1095)
  .gitlab-ci/env.sh
  .gitlab-ci/extends.yml
  .gitlab-ci/stages/deploy.yml
  .k8s/api/.k8s-deploy-api.yml
  .k8s/api/ingress.dev.yml
  .k8s/api/ingress.prod.yml
  .k8s/certificate/certificate.yml
  .k8s/frontend/.k8s-deploy-frontend.yml
  .k8s/frontend/ingress.dev.yml
  .k8s/frontend/ingress.prod.yml
  .k8s/nlp/.k8s-deploy-nlp.yml
  .k8s/nlp/ingress.dev.yml
  .k8s/nlp/ingress.prod.yml
Due: none

chore(release): version 3.0.0-next.3
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/package.json
  packages/code-du-travail-data/dataset/code_du_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/package.json
  packages/code-du-travail-data/dataset/code_du_travail/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/glossaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/glossaire/package.json
  packages/code-du-travail-data/dataset/kali/CHANGELOG.md
  packages/code-du-travail-data/dataset/kali/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tag_extractor/CHANGELOG.md
  packages/code-du-travail-data/dataset/tag_extractor/package.json
  packages/code-du-travail-data/dataset/themes/CHANGELOG.md
  packages/code-du-travail-data/dataset/themes/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-ui/CHANGELOG.md
  packages/code-du-travail-ui/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
Due: api, frontend, ui, react-fiche-service-public

hack(k8s): Avoid Let's Encrypt CN length error
  .k8s/certificate/certificate.yml
Due: none

chore(release): version 3.0.0-next.4
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/package.json
  packages/code-du-travail-data/dataset/code_du_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/package.json
  packages/code-du-travail-data/dataset/code_du_travail/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/glossaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/glossaire/package.json
  packages/code-du-travail-data/dataset/kali/CHANGELOG.md
  packages/code-du-travail-data/dataset/kali/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tag_extractor/CHANGELOG.md
  packages/code-du-travail-data/dataset/tag_extractor/package.json
  packages/code-du-travail-data/dataset/themes/CHANGELOG.md
  packages/code-du-travail-data/dataset/themes/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-ui/CHANGELOG.md
  packages/code-du-travail-ui/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
Due: api, frontend, ui, react-fiche-service-public

Calculateur fixes (#1086)
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/code-du-travail.js
  packages/code-du-travail-frontend/src/conventions/ConventionInfos.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/__tests__/__snapshots__/indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/AncienneteCE.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/Categorie.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/Salaire.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/AncienneteCE.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Categorie.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/AbsencePeriods.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/TextQuestion.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/AbsencePeriods.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/TextQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Anciennete.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/date.js
  packages/code-du-travail-frontend/src/outils/common/validators.js
  yarn.lock
Due: frontend

fix(frontend): console warns & FOUT
  packages/code-du-travail-frontend/.babelrc.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/src/layout/css/Fonts.js
  packages/code-du-travail-frontend/src/layout/css/Mark.js
  packages/code-du-travail-frontend/src/layout/css/index.js
  packages/code-du-travail-frontend/static/fonts.css
  yarn.lock
Due: frontend

test(frontend): update snapshots
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/src/conventions/__test__/__snapshots__/ConventionTexte.test.js.snap
Due: frontend

fix(frontend): display issue in fiche mt
  packages/code-du-travail-frontend/pages/fiche-ministere-travail.js
Due: frontend

chore(release): version 3.0.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/package.json
  packages/code-du-travail-data/dataset/code_du_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/package.json
  packages/code-du-travail-data/dataset/code_du_travail/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/glossaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/glossaire/package.json
  packages/code-du-travail-data/dataset/kali/CHANGELOG.md
  packages/code-du-travail-data/dataset/kali/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tag_extractor/CHANGELOG.md
  packages/code-du-travail-data/dataset/tag_extractor/package.json
  packages/code-du-travail-data/dataset/themes/CHANGELOG.md
  packages/code-du-travail-data/dataset/themes/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-ui/CHANGELOG.md
  packages/code-du-travail-ui/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
Due: api, frontend, ui, react-fiche-service-public

Revert "hack(k8s): Avoid Let's Encrypt CN length error"
  .k8s/certificate/certificate.yml
Due: none

chore(release): version 3.0.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/package.json
  packages/code-du-travail-data/dataset/code_du_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/package.json
  packages/code-du-travail-data/dataset/code_du_travail/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/glossaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/glossaire/package.json
  packages/code-du-travail-data/dataset/kali/CHANGELOG.md
  packages/code-du-travail-data/dataset/kali/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tag_extractor/CHANGELOG.md
  packages/code-du-travail-data/dataset/tag_extractor/package.json
  packages/code-du-travail-data/dataset/themes/CHANGELOG.md
  packages/code-du-travail-data/dataset/themes/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-ui/CHANGELOG.md
  packages/code-du-travail-ui/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
Due: api, frontend, ui, react-fiche-service-public

ci(gitlab): all tags are https based
  .gitlab-ci/env.sh
Due: none

chore(release): version 3.0.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/package.json
  packages/code-du-travail-data/dataset/code_du_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/CHANGELOG.md
  packages/code-du-travail-data/dataset/code_du_travail/eposeidon_script/package.json
  packages/code-du-travail-data/dataset/code_du_travail/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/glossaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/glossaire/package.json
  packages/code-du-travail-data/dataset/kali/CHANGELOG.md
  packages/code-du-travail-data/dataset/kali/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tag_extractor/CHANGELOG.md
  packages/code-du-travail-data/dataset/tag_extractor/package.json
  packages/code-du-travail-data/dataset/themes/CHANGELOG.md
  packages/code-du-travail-data/dataset/themes/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-ui/CHANGELOG.md
  packages/code-du-travail-ui/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
Due: api, frontend, ui, react-fiche-service-public

build(k8s): rename prod es-cluster to basic elasticsearch
  .k8s/elasticsearch/statefulset.prod.yml
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  ui: any of: packages/code-du-travail-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
