Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: types
  packages/code-du-travail-frontend/__tests__/contributions.test.tsx
  packages/code-du-travail-frontend/__tests__/fiche-ministere-travail.test.tsx
  packages/code-du-travail-frontend/__tests__/information.test.tsx
  packages/code-du-travail-frontend/__tests__/modeles-de-courriers-[slug].test.tsx
  packages/code-du-travail-frontend/pages/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/pages/integration/[slug].tsx
  packages/code-du-travail-frontend/src/api/modules/agreements/service.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/service.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/controller.ts
  packages/code-du-travail-frontend/src/api/modules/modeles/service.ts
  packages/code-du-travail-frontend/src/api/modules/sitemap/service.ts
  packages/code-du-travail-frontend/src/api/types.ts
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/ContributionGeneric.test.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/ReferencesJuridique.test.tsx
  packages/code-du-travail-frontend/src/information/Components/BlockList.tsx
  packages/code-du-travail-frontend/src/information/Components/Contents.tsx
  packages/code-du-travail-frontend/src/information/__tests__/mockedContent.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/Components/DisclaimerText.tsx
Due: frontend

fix(rupture-co): inéligibilité activée même si l'utilisateur clique CDI en premier (#5845)
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/ContratTravail/store/validator.ts
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/eligibility-error-result.test.tsx
Due: frontend

Updates
  project.json
Due: none

nouvelle tentative de fix
  packages/code-du-travail-frontend/cypress/integration/light/integration.spec.ts
Due: frontend

essais de bouger le test dans un describe séparé
  packages/code-du-travail-frontend/cypress/integration/light/integration-convention-collective.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/integration.spec.ts
Due: frontend

fix: types
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  yarn.lock
Due: frontend

fix: types
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(rupture-co): changement de wording au niveau du résultat (#5841)
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/__tests__/ui.ts
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-modeles/src/modeles/base/ineligibility-rupture-conventionnelle.ts
Due: frontend

fix(anchor): affichage de l'ancre au niveau de l'accordéon sur les `fiches-ministère-travail` (#5831)
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].tsx
  packages/react-ui/src/Accordion/index.js
Due: frontend, react-ui

fix(e2e): modification du test e2e integration afin d'enlever les failure aléatoires (#5847)
  packages/code-du-travail-frontend/cypress/integration/light/integration-convention-collective.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/integration.spec.ts
Due: frontend

fix(rupture-co): résultat au niveau de la 176 avec une règle qui avait un problème (#5840)
  packages/code-du-travail-modeles/src/modeles/conventions/176_industrie_pharmaceutique/__tests__/rupture-conventionnelle/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/176_industrie_pharmaceutique/indemnite-licenciement.yaml
Due: none

fix: store
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/store/store.ts
Due: frontend

fix: clean log
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/agreements/seniority/validator.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Anciennete/store/validator/dateEntree.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Anciennete/store/validator/dateNotification.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Anciennete/store/validator/dateSortie.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/state/usecases/computeNextQuestion.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/state/usecases/computeNotice.ts
  packages/code-du-travail-frontend/src/outils/api/index.ts
Due: frontend

fix(indemnite-licenciement): ajout de log à l'étape résultat (#5857)
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/agreements/seniority/validator.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Anciennete/store/validator/dateEntree.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Anciennete/store/validator/dateNotification.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Anciennete/store/validator/dateSortie.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/state/usecases/computeNextQuestion.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/state/usecases/computeNotice.ts
  packages/code-du-travail-frontend/src/outils/api/index.ts
Due: frontend

chore(release): version 4.136.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: upgrade lib
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: packages/code-du-travail-frontend/package.json to reduce vulnerabilities
  packages/code-du-travail-frontend/package.json
Due: frontend

fix: sentry secret
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/store/store.ts
  yarn.lock
Due: frontend

fix(image): optimisation des images pendant build
  packages/code-du-travail-frontend/public/static/assets/img/logo_sp_hd_rvb@2x.png
  packages/code-du-travail-frontend/src/home/Partners.tsx
Due: frontend

feat: add linked
  README.md
Due: none

feat(sentry): upgrade sentry + ajout de logs sur l'IL (#5869)
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/store/store.ts
  yarn.lock
Due: frontend

try to fix them all
  packages/code-du-travail-frontend/cypress/integration/heavy/validate-html-contributions-2.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/validate-html-contributions-3.spec.ts
Due: frontend

fix(images): optimisation des images pendant build (#5870)
  packages/code-du-travail-frontend/public/static/assets/img/logo_sp_hd_rvb@2x.png
  packages/code-du-travail-frontend/src/home/Partners.tsx
Due: frontend

empty commit
  README.md
Due: none

feat(package.json): upgrade `next` + `cypress` (#5862)
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(search-cc): erreur 404 à la sélection d'une entreprise
  packages/code-du-travail-frontend/src/outils/ConventionCollective/index.tsx
Due: frontend

fix(search-cc): erreur 404 à la sélection d'une entreprise (#5878)
  packages/code-du-travail-frontend/src/outils/ConventionCollective/index.tsx
Due: frontend

chore(release): version 4.137.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui
