Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: mois modele
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/indemnite-licenciement.yaml
Due: none

feat(indemnite-licenciement): ajout des primes dans l'input de salaires (#4477)
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/ShowAgreements.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/index.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/__tests__/route.agreement.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/__tests__/route.enterprise.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/__tests__/route.none.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/__tests__/route.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/index.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/validator.ts
  packages/code-du-travail-frontend/src/outils/Components/RadioQuestion.tsx
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/store.ts
  packages/code-du-travail-frontend/src/outils/types.ts
Due: frontend

fix: fix
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
Due: frontend

feat(indemnite-licenciement): ajout de la CC 1979 (#4511)
  packages/code-du-travail-modeles/src/__test__/1979-hotels-cafes-restaurants/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/1979-hotels-cafes-restaurants/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1979_hotels_cafes_restaurants/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1979_hotels_cafes_restaurants/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1979_hotels_cafes_restaurants/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/formule/1979_hotels_cafes_restaurants.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

fix: hint replaceAll
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
Due: frontend

feat(indemnite-licenciement): add cc 3043 (#4515)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula.ts
  packages/code-du-travail-modeles/src/__test__/3043-entreprise-proprete/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/3043-entreprise-proprete/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/3043-entreprise-proprete/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3043_entreprises_proprete/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3043_entreprises_proprete/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3043_entreprises_proprete/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/3043_entreprises_proprete.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/motifs.ts
  packages/code-du-travail-modeles/src/plugins/formule/1516_organismes_formation.ts
  packages/code-du-travail-modeles/src/plugins/formule/1979_hotels_cafes_restaurants.ts
  packages/code-du-travail-modeles/src/plugins/formule/2264_hospitalisation_privee.ts
  packages/code-du-travail-modeles/src/plugins/formule/3043_entreprises_proprete.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/formule/legal.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: frontend

fix: wording
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
Due: frontend

fix: last bug
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/ShowAgreements.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: frontend

feat(indemnite-licenciement): add cc 1090 (#4517)
  packages/code-du-travail-modeles/src/__test__/1090-automobile/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1090-automobile/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/1090-automobile/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/1090_automobiles.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2511_sport.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/3043_entreprises_proprete.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/legal.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

feat(indemnite-licenciement): quality testing (#4507)
  packages/code-du-travail-frontend/README.md
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/__tests__/PubliQuestion.test.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/AgreementInfo.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/AgreementInfo.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/DecryptResult.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FilledElements.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/ForMoreInfo.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FormulaInterpreter.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/Result.test.tsx
Due: frontend

feat(indemnite-licenciement): amélioration étape salaire (#4516)
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/__tests__/decryptedDescription.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FilledElements.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/__tests__/SalaireTempsPlein.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/validator.ts
Due: frontend

feat(indemnite-licenciement): add cc 413 (#4520)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula.ts
  packages/code-du-travail-modeles/src/__test__/413-handicap/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/413-handicap/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/413-handicap/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/formule/413_handicap.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/formule/types.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/413_handicap.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/index.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/legal.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: frontend

feat(indemnite-licenciement): ajout de la CC 2264 (#4509)
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/__tests__/PubliQuestion.test.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FormulaInterpreter.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/formula.spec.ts
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/__test__/common/legal/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/plugins/formule/2264_hospitalisation_privee.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/formule/legal.ts
  packages/code-du-travail-modeles/src/plugins/formule/types.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: frontend

feat(simulators): Ajout CC 1518 au simulateur d'indemnité de licenciement (#4521)
  packages/code-du-travail-modeles/src/__test__/1518-education-loisirs/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1518-education-loisirs/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/1518-education-loisirs/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/1518-education-loisirs/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1518_education_loisirs/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1518_education_loisirs/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1518_education_loisirs/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/1518_education_loisirs.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/motifs.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

feat(simulators): Ajout CC 1351 au simulateur d'indemnité de licencie… (#4522)
  packages/code-du-travail-modeles/src/__test__/1351-prevention-secu-ent/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1351-prevention-secu-ent/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/1351-prevention-secu-ent/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1351_prevention_secu_ent/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1351_prevention_secu_ent/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1351_prevention_secu_ent/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

fix(snapshots): use date-fns to format the date
  packages/code-du-travail-frontend/src/layout/Header/index.js
Due: frontend

feat: response statement + info page button
  packages/code-du-travail-data/src/dismissal-process/questionnaire.data.json
  packages/code-du-travail-data/src/dismissal-process/types.ts
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Response.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Questionnaire.tsx
  packages/code-du-travail-frontend/src/questionnaire/__tests__/getCurrentQuestion.test.ts
  packages/code-du-travail-frontend/src/questionnaire/service.ts
  packages/code-du-travail-frontend/src/questionnaire/store.ts
  packages/react-ui/src/icons/index.js
Due: frontend, react-ui

fix(snapshots): use date-fns to format the date (#4526)
  packages/code-du-travail-frontend/src/layout/Header/index.js
Due: frontend

feat(indemnite-licenciement): ajout des primes dans l'input de salaires (#4451)
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/store/setSalaryPeriods.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/computeReferenceSalary.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/computeReferenceSalary.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/Primes.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/__tests__/Primes.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/__tests__/SalaireTempsPlein.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/validator.ts
Due: frontend
