Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: handle abbrs string not array
  packages/code-du-travail-frontend/src/glossary/index.js
Due: frontend

chore(deps): update dependency socialgouv/gitlab-ci-yml to v15
  .gitlab-ci.yml
Due: none

test(front): update snapshots
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Headband.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchBar/__tests__/__snapshots__/DocumentSuggester.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchBar.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchHero.test.js.snap
  packages/react-ui/src/IconStripe/__snapshots__/test.js.snap
Due: frontend, react-ui

feat(front): minor layout changes
  packages/code-du-travail-api/src/server/routes/stats/index.js
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/ce-que-changent-les-ordonnances-en-droit-du-travail.js
  packages/code-du-travail-frontend/src/common/HeadBandAlert.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/HeadBandAlert.test.js.snap
  packages/code-du-travail-frontend/src/layout/Headband.js
  packages/code-du-travail-frontend/src/layout/Header/index.js
  packages/code-du-travail-frontend/src/layout/Layout.js
  packages/code-du-travail-frontend/src/layout/__tests__/Headband.test.js
  packages/code-du-travail-frontend/src/layout/__tests__/Header.test.js
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
  packages/code-du-travail-frontend/src/search/SearchHero.js
  packages/react-ui/src/IconStripe/index.js
Due: api, frontend, react-ui

refactor(data): use only one index for data
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/conventions.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/docs-count.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/idcc.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/sheets-mt.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/sheets-mt.test.js
  packages/code-du-travail-api/src/server/routes/__tests__/stats.test.js
  packages/code-du-travail-api/src/server/routes/conventions/getAgreementBySlug.elastic.js
  packages/code-du-travail-api/src/server/routes/conventions/index.js
  packages/code-du-travail-api/src/server/routes/search/getEsReferences.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/index.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/search.elastic.js
  packages/code-du-travail-api/tests/cdtn_agreement.data.json
  packages/code-du-travail-api/tests/cdtn_document.data.json
  packages/code-du-travail-api/tests/create_indexes.js
  packages/code-du-travail-api/tests/fetch_mock_data.js
  packages/code-du-travail-api/tests/fiches_ministere_travail.data.json
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/indexing/agreement_pages.js
  packages/code-du-travail-data/indexing/breadcrumbs.js
  packages/code-du-travail-data/indexing/convention_collective.mapping.js
  packages/code-du-travail-data/indexing/document.mapping.js
  packages/code-du-travail-data/indexing/esIndexName.js
  packages/code-du-travail-data/indexing/index.js
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-data/package.json
  packages/sources/index.js
Due: api

fix(sources): remove default empty value
  packages/code-du-travail-frontend/src/search/__tests__/SearchResults.test.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/sources/index.js
Due: frontend

refactor(front): apply feedbacks
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/ce-que-changent-les-ordonnances-en-droit-du-travail.js
  packages/code-du-travail-frontend/src/layout/Headband.js
Due: frontend

fix: add slug to glossayr items
  packages/code-du-travail-data/indexing/populate.js
Due: none

fix(deps): update dependency @socialgouv/fiches-travail-data to v3
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

fix(front): minor glitches
  packages/code-du-travail-frontend/src/layout/AnswerLayout.js
  packages/code-du-travail-frontend/src/layout/Headband.js
  packages/code-du-travail-frontend/src/layout/Header/index.js
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
  packages/react-ui/src/BurgerNav/index.js
Due: frontend, react-ui

test(front): update snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Headband.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchBar/__tests__/__snapshots__/DocumentSuggester.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchBar.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchHero.test.js.snap
  packages/react-ui/src/BurgerNav/__snapshots__/test.js.snap
Due: frontend, react-ui

fix(api): add theme for search
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/search/searchRelatedThemes.elastic.js
  yarn.lock
Due: api

fix(deps): update all non-major dependencies
  optional/e2e/.runners/puppeteer/package.json
  optional/e2e/.runners/puppeteer/yarn.lock
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

feat(api): add socialgouv data packages version
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/docs-count.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/version.test.js.snap
  packages/code-du-travail-api/src/server/routes/glossary/index.js
  packages/code-du-travail-api/src/server/routes/search/search.getSavedResult.js
  packages/code-du-travail-api/src/server/routes/version/index.js
  packages/code-du-travail-api/src/server/routes/version/versions.elastic.js
  packages/code-du-travail-api/tests/cdtn_document.data.json
  packages/code-du-travail-api/tests/fetch_mock_data.js
  packages/code-du-travail-api/tests/versions.json
  packages/code-du-travail-data/indexing/populate.js
  packages/sources/index.js
Due: api

test: add test for getVersion -__-'
  packages/code-du-travail-data/indexing/__tests__/versions.test.js
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-data/indexing/versions.js
Due: none

fix(api): add theme for search (#2650)
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/search/searchRelatedThemes.elastic.js
Due: api

feat(api): add socialgouv data packages version (#2651)
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/docs-count.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/version.test.js.snap
  packages/code-du-travail-api/src/server/routes/glossary/index.js
  packages/code-du-travail-api/src/server/routes/search/search.getSavedResult.js
  packages/code-du-travail-api/src/server/routes/version/index.js
  packages/code-du-travail-api/src/server/routes/version/versions.elastic.js
  packages/code-du-travail-api/tests/cdtn_document.data.json
  packages/code-du-travail-api/tests/fetch_mock_data.js
  packages/code-du-travail-api/tests/versions.json
  packages/code-du-travail-data/indexing/__tests__/versions.test.js
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-data/indexing/versions.js
  packages/sources/index.js
Due: api

fix: automerge @socialgouv
  .github/renovate.json
Due: none

fix: automerge @socialgouv (#2655)
  .github/renovate.json
Due: none

feat(data): bump packages
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

feat(data): update dossier links a decode emails client side
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  yarn.lock
Due: frontend

fix(front): bugs
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/glossary/index.js
Due: frontend

feat(data): bump packages (#2653)
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/glossary/index.js
  yarn.lock
Due: frontend

feat(front): disable google analytics
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/politique-confidentialite.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/css/tarteaucitron.css
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/lang/tarteaucitron.fr.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.services.js
  packages/code-du-travail-frontend/src/common/CookieConsent.js
  packages/code-du-travail-frontend/src/layout/Footer.js
  yarn.lock
Due: frontend

chore(release): version 4.18.0-alpha.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

feat(front): remove unecessary files after removing google analytics
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/public/googlee8e0929e9d9e0329.html
  packages/code-du-travail-frontend/src/common/CookieConsent.js
  packages/code-du-travail-frontend/src/common/__tests__/CookieConsent.test.js
Due: frontend

test(front): update snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/CookieConsent.test.js.snap
Due: frontend

test(front): update snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/CookieConsent.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/HeadBandAlert.test.js.snap
Due: frontend

fix(front): wrong snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/HeadBandAlert.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

test(front): update snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/HeadBandAlert.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

feat(data): update datafiller data
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

feat(data): update datafiller data (#2659)
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

feat(front): disable GA and remove tarte au citron (#2568)
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/politique-confidentialite.js
  packages/code-du-travail-frontend/public/googlee8e0929e9d9e0329.html
  packages/code-du-travail-frontend/public/static/tarteaucitron/css/tarteaucitron.css
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/lang/tarteaucitron.fr.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.services.js
  packages/code-du-travail-frontend/src/common/CookieConsent.js
  packages/code-du-travail-frontend/src/common/__tests__/CookieConsent.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/CookieConsent.test.js.snap
  packages/code-du-travail-frontend/src/layout/Footer.js
  yarn.lock
Due: frontend

chore(release): version 4.18.0-alpha.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

ci: add manual job to update master data
  .gitlab-ci/stages/deploy.yml
Due: none

fix variable
  .gitlab-ci/stages/deploy.yml
Due: none
