Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

test(frontend): update snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferenceList.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Article.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/RelatedItems.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
Due: frontend, react-fiche-service-public

feat(ui): ui prerequisits
  packages/react-ui/src/IconStripe/index.js
  packages/react-ui/src/IconStripe/story.js
  packages/react-ui/src/MoreContent/__snapshots__/test.js.snap
  packages/react-ui/src/MoreContent/index.js
  packages/react-ui/src/MoreContent/story.js
  packages/react-ui/src/MoreContent/test.js
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.js
  packages/react-ui/src/index.js
Due: react-ui

wip
  packages/code-du-travail-frontend/src/conventions/Convention/Articles.js
Due: frontend

feat(front): remove unused component
  packages/code-du-travail-frontend/src/lib/__tests__/jsxJoin.test.js
  packages/code-du-travail-frontend/src/lib/jsxJoin.js
Due: frontend

feat(frontend): refactor CC layout
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
  packages/code-du-travail-frontend/pages/droit-du-travail.js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/Article.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/ReferenceList.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/index.js
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/conventions/Convention/Articles.js
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
  packages/code-du-travail-frontend/src/conventions/Convention/TextSearch.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/index.test.js
  packages/code-du-travail-frontend/src/conventions/Convention/blocs.data.js
  packages/code-du-travail-frontend/src/conventions/Convention/index.js
  packages/code-du-travail-frontend/src/droit-du-travail/Hierarchy.js
  packages/sources/index.js
Due: frontend

feat(contact): add tracking on sr and contact popup
  packages/code-du-travail-frontend/src/common/ServiceRenseignement.js
  packages/code-du-travail-frontend/src/common/__tests__/ServiceRenseignement.test.js
  packages/code-du-travail-frontend/src/common/__tests__/ServiceRenseignementModal.test.js
  packages/code-du-travail-frontend/src/layout/Footer.js
Due: frontend

refactor(frontend): apply feedbacks
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
  packages/code-du-travail-frontend/pages/droit-du-travail.js
  packages/code-du-travail-frontend/src/common/Article.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/ReferenceList.js
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/index.test.js
  packages/code-du-travail-frontend/src/conventions/Convention/index.js
  packages/code-du-travail-frontend/src/droit-du-travail/Hierarchy.js
Due: frontend

feat(frontend): new cc layout (#2379)
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
  packages/code-du-travail-frontend/pages/droit-du-travail.js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/Article.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/ReferenceList.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferenceList.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/index.js
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Article.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/RelatedItems.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/Articles.js
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
  packages/code-du-travail-frontend/src/conventions/Convention/TextSearch.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/blocs.data.js
  packages/code-du-travail-frontend/src/conventions/Convention/index.js
  packages/code-du-travail-frontend/src/droit-du-travail/Hierarchy.js
  packages/code-du-travail-frontend/src/lib/__tests__/jsxJoin.test.js
  packages/code-du-travail-frontend/src/lib/jsxJoin.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
  packages/react-ui/src/IconStripe/index.js
  packages/react-ui/src/IconStripe/story.js
  packages/react-ui/src/MoreContent/__snapshots__/test.js.snap
  packages/react-ui/src/MoreContent/index.js
  packages/react-ui/src/MoreContent/story.js
  packages/react-ui/src/MoreContent/test.js
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.js
  packages/react-ui/src/index.js
  packages/sources/index.js
Due: frontend, react-ui, react-fiche-service-public

feat(contact): add tracking on sr and contact popup (#2390)
  packages/code-du-travail-frontend/src/common/ServiceRenseignement.js
  packages/code-du-travail-frontend/src/common/__tests__/ServiceRenseignement.test.js
  packages/code-du-travail-frontend/src/common/__tests__/ServiceRenseignementModal.test.js
  packages/code-du-travail-frontend/src/layout/Footer.js
Due: frontend

fix(frontend): query is not a regexp
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
  packages/code-du-travail-frontend/src/search/SearchBar/index.js
Due: frontend

fix(frontend): query is not a regexp (#2393)
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
  packages/code-du-travail-frontend/src/search/SearchBar/index.js
Due: frontend

feat(search): add tracking for ccn search
  packages/code-du-travail-frontend/src/conventions/Search/Form.js
  packages/code-du-travail-frontend/src/conventions/Search/SearchCC.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/api.js
Due: frontend

feat(search): add tracking for ccn search (#2392)
  packages/code-du-travail-frontend/src/conventions/Search/Form.js
  packages/code-du-travail-frontend/src/conventions/Search/SearchCC.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/api.js
Due: frontend

fix: fix contact link exception
  packages/code-du-travail-frontend/src/common/ContactModal.js
Due: frontend

fix(ContactModal): remove preventDefault
  packages/code-du-travail-frontend/src/common/ContactModal.js
Due: frontend

fix: lint
  packages/code-du-travail-frontend/src/common/ContactModal.js
Due: frontend

fix(backend): missing url in csp frame src
  packages/code-du-travail-frontend/server/server.js
Due: frontend

fix(backend): missing url in csp frame src (#2396)
  packages/code-du-travail-frontend/server/server.js
Due: frontend

fix(deps): update dependency react-mathjax-preview to v1
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update all non-major dependencies
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

fix(frontend): prevent contact link exception (#2394)
  packages/code-du-travail-frontend/src/common/ContactModal.js
Due: frontend

Update templates
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_economique_de_moins_de_10_salaries_pendant_30_jours.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_personnel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_documents_de_fin_de_contrat.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_heures_sup.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_periode_d-essai_employeur.docx
Due: none

update meta données courrier.json
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
Due: none

feat(hre): remove hre tool before release
  packages/code-du-travail-data/dataset/simulateurs/heures-recherche-emploi.data.json
  packages/code-du-travail-data/dataset/tools/index.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

feat(hre): remove hre tool before release (#2400)
  packages/code-du-travail-data/dataset/simulateurs/heures-recherche-emploi.data.json
  packages/code-du-travail-data/dataset/tools/index.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

fix(modeles): update docx
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_personnel.docx
  packages/code-du-travail-data/dataset/courrier-type/index.js
Due: none

fix data request / limit
  .k8s/data.job.yml
Due: none

fix template rupture_periode_d-essai_employeur
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_periode_d-essai_employeur.docx
Due: none

feat(mail): update templates (#2401)
  .k8s/data.job.yml
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_economique_de_moins_de_10_salaries_pendant_30_jours.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_personnel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_documents_de_fin_de_contrat.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_heures_sup.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_periode_d-essai_employeur.docx
  packages/code-du-travail-data/dataset/courrier-type/index.js
Due: none

fix(relatedItems): remove description
  packages/code-du-travail-frontend/src/common/RelatedItems.js
Due: frontend

fix(pages): remove double ccn page breadcrumbs item
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
Due: frontend

log addionnal events
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
Due: frontend

keep fighting
  packages/code-du-travail-frontend/src/common/RelatedItems.js
Due: frontend

add test
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/RelatedItems.test.js
Due: frontend

test(e2e): fix a propos test
  optional/e2e/features/apropos.feature
Due: none

update snapshot
  packages/code-du-travail-frontend/src/common/__tests__/RelatedItems.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/RelatedItems.test.js.snap
Due: frontend

fix(frontend): incorrect react key and prop types
  packages/code-du-travail-frontend/src/common/Article.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/index.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/typeReference.js
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
Due: frontend

fix(frontend): incorrect react key and prop types (#2404)
  packages/code-du-travail-frontend/src/common/Article.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/index.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/typeReference.js
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
