Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

Updates
  project.json
Due: none

fix
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/NoEnterprise.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/SelectAgreement.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Response.tsx
Due: frontend

fix event
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
Due: frontend

inversement pour "Quelle est la durée du préavis en cas de licenciement"
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/slugFilter.ts
Due: frontend

default shortTitle
  packages/code-du-travail-frontend/src/api/__tests__/enterprise.test.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service.ts
Due: frontend

texte applicable
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
Due: frontend

fix test
  packages/code-du-travail-frontend/src/api/__tests__/enterprise.test.ts
Due: frontend

update id
  packages/code-du-travail-frontend/src/api/__tests__/enterprise.test.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service.ts
Due: frontend

fix test
  packages/code-du-travail-frontend/src/contributions/__tests__/slugFilter.test.ts
Due: frontend

fix texte applicable
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
Due: frontend

feat: questionnaire
  packages/code-du-travail-frontend/src/Feedback/Questionnaire.tsx
  packages/code-du-travail-frontend/src/Feedback/QuestionnaireAdvanced.tsx
  packages/code-du-travail-frontend/src/Feedback/QuestionnaireItem.tsx
  packages/code-du-travail-frontend/src/Feedback/QuestionnaireText.tsx
  packages/code-du-travail-frontend/src/Feedback/__tests__/feedback.test.tsx
  packages/code-du-travail-frontend/src/Feedback/__tests__/ui.ts
  packages/code-du-travail-frontend/src/Feedback/index.tsx
  packages/code-du-travail-frontend/src/Feedback/introduction.tsx
  packages/code-du-travail-frontend/src/Feedback/tracking.ts
  packages/react-ui/src/Titles/Heading/index.tsx
Due: frontend, react-ui

chore: move folder
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/Questionnaire.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireAdvanced.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireEnd.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireItem.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireText.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/__tests__/feedback.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/common/Feedback/index.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/introduction.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/tracking.ts
Due: frontend

chore: review
  packages/code-du-travail-frontend/src/outils/common/Feedback/Questionnaire.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireAdvanced.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireEnd.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireItem.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/index.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/introduction.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/tracking.ts
Due: frontend

chore: review
  packages/code-du-travail-frontend/src/outils/common/Feedback/Questionnaire.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireAdvanced.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireEnd.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireItem.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/index.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/introduction.tsx
Due: frontend

chore: ajout TU
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireAdvanced.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireItem.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireText.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/__tests__/feedback.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/__tests__/ui.ts
Due: frontend

chore: ortho
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireAdvanced.tsx
Due: frontend

chore: ortho
  packages/code-du-travail-frontend/src/outils/common/Feedback/__tests__/ui.ts
Due: frontend

feat: add scroll to top
  packages/code-du-travail-frontend/src/outils/common/Feedback/index.tsx
Due: frontend

fix(affichage des cc): quand une cc est inconnue sur une entreprise (#5284)
  packages/code-du-travail-frontend/cypress/integration/conventions-collectives.spec.ts
  packages/code-du-travail-frontend/src/api/__tests__/enterprise.test.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service.ts
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSelection.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchInput/SearchEnterpriseInput.tsx
Due: frontend

fix come styles + texte
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/NoEnterprise.tsx
Due: frontend

cleanup
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
Due: frontend

cleanup space
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/NoEnterprise.tsx
Due: frontend

fix: accessibilite
  packages/code-du-travail-frontend/pages/accessibilite.tsx
  packages/react-ui/src/Titles/Title/index.js
Due: frontend, react-ui

Create config.yaml
  .kontinuous/config.yaml
Due: none

Update config.yaml
  .kontinuous/config.yaml
Due: none

fix(kontinuous): change default ci namespace (#5296)
  .kontinuous/config.yaml
Due: none

fix: add projectName to kontinuous config
  .kontinuous/config.yaml
Due: none

fix: keep only projectName in kontinuous config (#5298)
  .kontinuous/config.yaml
Due: none

fix: accessibilite
  packages/code-du-travail-frontend/pages/accessibilite.tsx
Due: frontend

feat(accessibilité): mise à jour de la page accessibilité (#5295)
  .kontinuous/config.yaml
  packages/code-du-travail-frontend/pages/accessibilite.tsx
  packages/react-ui/src/Titles/Title/index.js
Due: frontend, react-ui

fix: modif modele
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].tsx
  packages/code-du-travail-frontend/src/modeles/helpers.ts
  packages/code-du-travail-frontend/src/modeles/index.ts
  packages/code-du-travail-frontend/src/modeles/modeles.tsx
Due: frontend

fix: activation
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
Due: frontend

Update packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
Due: frontend

fix: retours
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
Due: frontend

Update packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
Due: frontend

Update packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireAdvanced.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireAdvanced.tsx
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
