Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

build(k8s): update api seal secrets
  .k8s/environments/dev/api.sealed-secret.yaml
Due: none

build(k8s): update api seal secrets (2)
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/generate ingester-elasticsearch/__snapshots__/--dev.ts.snap
  .k8s/environments/dev/api.sealed-secret.yaml
  .k8s/environments/dev/ingester-elasticsearch.sealed-secret.yaml
  .k8s/environments/prod/yaml/ingress-prod.yml
Due: none

ci(gitlab): do not deploy if the k8s tests fail
  .gitlab-ci.yml
Due: none

chore(k8s): lint k8s files on precommit
  .husky/pre-commit
  .k8s/__tests__/generate ingester-elasticsearch/--dev.ts
  .k8s/__tests__/kosko generate --env prod.ts
  .k8s/package.json
Due: none

chore(k8s): test k8s files on prepush
  .husky/pre-push
  .k8s/package.json
Due: none

chore(k8s): lint k8s files on precommit (3)
  .k8s/package.json
  .k8s/utils/ES_INDEX_PREFIX.ts
  .k8s/yarn.lock
Due: none

chore(k8s): lint k8s files on precommit (4)
  .k8s/utils/ES_INDEX_PREFIX.ts
Due: none

chore(k8s): lint k8s files on precommit (5)
  .k8s/package.json
  .k8s/utils/ES_INDEX_PREFIX.ts
Due: none

build(k8s): make the ingester-elasticsearch job unique
  .gitlab-ci.yml
  .k8s/__tests__/generate ingester-elasticsearch/--dev.ts
  .k8s/__tests__/generate ingester-elasticsearch/__snapshots__/--dev.ts.snap
  .k8s/components/ingester-elasticsearch/index.ts
  .k8s/package.json
Due: none

build(k8s): make the ingester-elasticsearch job unique (2)
  .gitlab-ci.yml
Due: none

build(k8s): make the ingester-elasticsearch job unique (3)
  .gitlab-ci.yml
Due: none

chore(k8s): update api req/lim
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/components/api.ts
  .k8s/data.job.yml
  .k8s/environments/dev/api.ts
Due: none

build(k8s): add api hpa
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/components/api.ts
Due: none

ci(gitlab): remove old api deploy
  .gitlab-ci/stages/deploy.yml
Due: none

build(k8s): complete api deployment
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/__tests__/generate ingester-elasticsearch/__snapshots__/--dev.ts.snap
  .k8s/api.values.yml
  .k8s/components/api.ts
  .k8s/environments/dev/api.configmap.yaml
  .k8s/environments/dev/api.sealed-secret.yaml
  .k8s/environments/dev/ingester-elasticsearch.configmap.yaml
  .k8s/environments/dev/ingester-elasticsearch.sealed-secret.yaml
  .k8s/environments/prod/ingester-elasticsearch.configmap.yaml
  .k8s/secrets.yml
Due: none

build(k8s): deploy www
  .gitlab-ci/env.sh
  .gitlab-ci/stages/deploy.yml
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/components/www.ts
  .k8s/environments/dev/api.ts
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/preprod/api.ts
  .k8s/environments/preprod/ingester-elasticsearch.configmap.yaml
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
  .k8s/frontend.values.yml
  .k8s/package.json
  .k8s/secrets.yml
  .k8s/yarn.lock
Due: none

style: lint k8s files
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/package.json
Due: none

style: lint k8s files
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
Due: none

build(k8s): deploy www (2)
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/quality.yml
  .gitlab-ci/stages/register.yml
  packages/code-du-travail-api/Dockerfile
  packages/code-du-travail-frontend/Dockerfile
  targets/ingester-elasticsearch/.gitlab-ci.yml
Due: api, frontend

build(k8s): deploy www (3)
  packages/code-du-travail-frontend/.gitlab-ci.yml
Due: frontend

build(k8s): deploy www (4)
  packages/code-du-travail-frontend/.gitlab-ci.yml
Due: frontend

build(k8s): deploy www (5)
  packages/code-du-travail-frontend/.gitlab-ci.yml
Due: frontend

build(k8s): deploy www (6)
  packages/code-du-travail-frontend/.gitlab-ci.yml
Due: frontend

build(k8s): deploy www (7)
  packages/code-du-travail-frontend/.gitlab-ci.yml
Due: frontend

build(k8s): deploy www (8)
  infra/logger/.gitlab-ci.yml
  modules/ingester/.gitlab-ci.yml
  packages/code-du-travail-api/.gitlab-ci.yml
  packages/code-du-travail-frontend/.gitlab-ci.yml
  targets/ingester-elasticsearch/.gitlab-ci.yml
Due: api, frontend

deliver the dependencies
  infra/logger/.gitlab-ci.logger-lib.yml
  modules/ingester/.gitlab-ci.injester-lib.yml
  modules/ingester/.gitlab-ci.yml
  packages/code-du-travail-api/.gitlab-ci.yml
  targets/ingester-elasticsearch/.gitlab-ci.yml
Due: api

haxx .next cache
  packages/code-du-travail-frontend/.gitlab-ci.yml
Due: frontend

ci(gitlab): build www (0)
  packages/code-du-travail-frontend/.gitlab-ci.yml
  packages/react-ui/.gitlab-ci.react-ui.yml
Due: frontend, react-ui

ci(gitlab): build www (0.1)
  packages/code-du-travail-frontend/.gitlab-ci.yml
Due: frontend

ci(gitlab): build www (0.2)
  packages/code-du-travail-frontend/.gitlab-ci.yml
Due: frontend

ci(gitlab): build react-ui
  .gitlab-ci.yml
  .gitlab-ci/stages/quality.yml
  packages/react-ui/.gitlab-ci.yml
Due: react-ui

do not skip build if no cache found
  infra/logger/.gitlab-ci.yml
  modules/ingester/.gitlab-ci.yml
  packages/code-du-travail-api/.gitlab-ci.yml
  packages/code-du-travail-frontend/.gitlab-ci.yml
  packages/react-ui/.gitlab-ci.yml
  targets/ingester-elasticsearch/.gitlab-ci.yml
Due: api, frontend, react-ui

chore(pkg): clean up react-ui dependencies
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

chore(pkg): clean up react-ui dependencies (2)
  .travis.yml
  packages/react-ui/.babelrc
  packages/react-ui/.babelrc.json
  packages/react-ui/.eslintignore
  packages/react-ui/.storybook/package.json
  packages/react-ui/package.json
  packages/react-ui/rollup.config.js
  yarn.lock
Due: react-ui

build(k8s): deploy www (5)
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
Due: none

uniform babelrc config format
  packages/react-ui/.babelrc.json
Due: react-ui

uniform babelrc config format (2)
  packages/react-ui/.babelrc.js
Due: react-ui

uniform babelrc config format (3)
  packages/react-fiche-service-public/.babelrc.js
Due: react-fiche-service-public

ci(gitlab): build react-fiche-service-public
  .gitlab-ci.yml
  .gitlab-ci/stages/quality.yml
  packages/react-fiche-service-public/.babelrc.js
  packages/react-fiche-service-public/.eslintignore
  packages/react-fiche-service-public/.gitlab-ci.yml
  packages/react-fiche-service-public/package.json
  packages/react-fiche-service-public/rollup.config.js
  packages/react-ui/package.json
  packages/react-ui/rollup.config.js
  yarn.lock
Due: react-ui, react-fiche-service-public

uniform rollup configs
  packages/react-fiche-service-public/rollup.config.js
  packages/react-ui/rollup.config.js
Due: react-ui, react-fiche-service-public
