Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

feat: update button link
  packages/code-du-travail-frontend/src/modules/convention-collective/Agreements.tsx
  packages/code-du-travail-frontend/src/modules/layout/ContainerSimulator.tsx
Due: frontend

fix: date calendaire
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/agreements/3239.test.tsx
  packages/code-du-travail-modeles/src/simulators/preavis-licenciement/preavis-licenciement.data.json
Due: frontend

feat: revert calendaire
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/agreements/3239.test.tsx
  packages/code-du-travail-modeles/src/simulators/preavis-licenciement/preavis-licenciement.data.json
Due: frontend

Add breadcrumbs
  packages/code-du-travail-frontend/src/modules/modeles-de-courriers/__tests__/__snapshots__/modeles.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/modeles-de-courriers/modeles.tsx
Due: frontend

fix: meta description share
  packages/code-du-travail-frontend/app/outils/simulateur-embauche/page.tsx
  packages/code-du-travail-frontend/src/modules/outils/simulateur-embauche/HiringSimulator.tsx
Due: frontend

fix typo
  packages/code-du-travail-frontend/src/modules/modeles-de-courriers/__tests__/__snapshots__/modeles.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/modeles-de-courriers/components/DownloadTile.tsx
Due: frontend

feat: switch simu brut net couleur par defaut
  packages/code-du-travail-frontend/src/modules/outils/simulateur-embauche/HiringSimulator.tsx
Due: frontend

feat: ajout de l'icone
  packages/code-du-travail-frontend/src/modules/convention-collective/Agreements.tsx
  packages/code-du-travail-frontend/src/modules/convention-collective/RechercheCC.svg
Due: frontend

fix: lighthouse
  packages/code-du-travail-frontend/app/page.tsx
  packages/code-du-travail-frontend/cypress/integration/light/contributions/search.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/home.spec.ts
Due: frontend

fix: bug
  packages/code-du-travail-frontend/app/mentions-legales/page.tsx
  packages/code-du-travail-frontend/app/page.tsx
  packages/code-du-travail-frontend/app/plan-du-site/page.tsx
  packages/code-du-travail-frontend/app/politique-confidentialite/page.tsx
  packages/code-du-travail-frontend/app/stats/page.tsx
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/modules/home/HomeCard.tsx
  packages/code-du-travail-frontend/src/modules/home/HomeListTheme.tsx
  packages/code-du-travail-frontend/src/modules/home/HomeSearch.tsx
  packages/code-du-travail-frontend/src/modules/home/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/header/SearchInput.tsx
  packages/code-du-travail-frontend/src/modules/layout/infos/__tests__/__snapshots__/PopupContent.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/infos/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/infos/index.tsx
Due: frontend

fix: bug
  packages/code-du-travail-frontend/src/modules/home/HomeSearch.tsx
  packages/code-du-travail-frontend/src/modules/home/__tests__/__snapshots__/index.test.tsx.snap
Due: frontend

fix: bug
  packages/code-du-travail-frontend/middleware.ts
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/modules/layout/feedback/FeedbackAdblock.tsx
  packages/code-du-travail-frontend/src/modules/layout/feedback/index.tsx
  yarn.lock
Due: frontend

fix: bug
  packages/code-du-travail-frontend/middleware.ts
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/modules/layout/feedback/index.tsx
  packages/code-du-travail-frontend/src/modules/layout/feedback/useDetectAdBlock.ts
  yarn.lock
Due: frontend

fix: config
  .github/workflows/e2e-heavy.yaml
  lighthouserc.json
Due: none

fix: config
  .github/workflows/e2e-heavy.yaml
Due: none

feat: migration des fiches MT en DSFR
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/fiche-ministere-travail.test.tsx
  packages/code-du-travail-frontend/app/fiche-ministere-travail/[slug]/page.tsx
  packages/code-du-travail-frontend/cypress/integration/light/fiche-ministere-travail.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/landing-pages.spec.ts
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].tsx
  packages/code-du-travail-frontend/src/api/modules/index.ts
  packages/code-du-travail-frontend/src/api/modules/sheets-mt/__tests__/__snapshots__/service.es.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/sheets-mt/__tests__/service.es.test.ts
  packages/code-du-travail-frontend/src/api/modules/sheets-mt/index.ts
  packages/code-du-travail-frontend/src/api/modules/sheets-mt/queries.ts
  packages/code-du-travail-frontend/src/api/modules/sheets-mt/service.ts
  packages/code-du-travail-frontend/src/lib/__tests__/xss.test.ts
  packages/code-du-travail-frontend/src/lib/xss.ts
  packages/code-du-travail-frontend/src/modules/common/AccordionWithAnchor.tsx
  packages/code-du-travail-frontend/src/modules/common/__tests__/AccordionWithAnchor.test.tsx
  packages/code-du-travail-frontend/src/modules/common/__tests__/__snapshots__/AccordionWithAnchor.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/fiche-ministere-travail/ContentParser.tsx
  packages/code-du-travail-frontend/src/modules/fiche-ministere-travail/__tests__/ContentParser.test.tsx
  packages/code-du-travail-frontend/src/modules/fiche-ministere-travail/__tests__/ficheMinistereTravail.test.tsx
  packages/code-du-travail-frontend/src/modules/fiche-ministere-travail/__tests__/querie.es.test.ts
  packages/code-du-travail-frontend/src/modules/fiche-ministere-travail/ficheMinistereTravail.tsx
  packages/code-du-travail-frontend/src/modules/fiche-ministere-travail/queries.ts
  packages/code-du-travail-frontend/src/modules/layout/ContainerRich.tsx
  packages/code-du-travail-frontend/src/modules/layout/ContainerRichWithBreadcrumbs.tsx
  packages/code-du-travail-frontend/src/modules/layout/FicheInformation.tsx
  yarn.lock
Due: frontend

feat: update svg
  packages/code-du-travail-frontend/src/modules/convention-collective/AgreementSearch.svg
  packages/code-du-travail-frontend/src/modules/convention-collective/Agreements.tsx
Due: frontend

fix: remove husky precommit to release
  package.json
Due: none

fix: remove husky precommit to release (#6229)
  package.json
Due: none

Updates
  project.json
Due: none

fix: ts
  packages/code-du-travail-frontend/src/modules/outils/queries.ts
Due: frontend

fix: bug load
  packages/code-du-travail-frontend/src/modules/outils/queries.ts
Due: frontend

chore: review
  packages/code-du-travail-frontend/app/convention-collective/page.tsx
  packages/code-du-travail-frontend/src/modules/convention-collective/Agreements.tsx
  packages/code-du-travail-frontend/src/modules/convention-collective/AgreementsGlossaire.tsx
  packages/code-du-travail-frontend/src/modules/convention-collective/AgreementsIntro.tsx
  packages/code-du-travail-frontend/src/modules/convention-collective/AgreementsSection.tsx
Due: frontend

Revert "fix: remove husky precommit to release (#6229)"
  package.json
Due: none

chore: update lerna
  lerna.json
  package.json
  yarn.lock
Due: none

chore: update lerna (#6230)
  lerna.json
  package.json
  yarn.lock
Due: none

fix: bug preca
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/InfosGenerales.js
Due: frontend

chore(release): version 4.157.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: bug preca
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/1486-error.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/1516-error.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/2511-error.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/3127-error.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/agreements/1516.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/InfosGenerales.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
Due: frontend

fix: mobile display
  packages/code-du-travail-frontend/src/modules/convention-collective/AgreementsGlossaire.tsx
  packages/code-du-travail-frontend/src/modules/convention-collective/AgreementsIntro.tsx
  packages/code-du-travail-frontend/src/modules/layout/ContainerSimulator.tsx
Due: frontend

feat: 6197 migration du simulateur brutnet (#6205)
  packages/code-du-travail-frontend/app/outils/simulateur-embauche/page.tsx
  packages/code-du-travail-frontend/cypress/integration/light/outils/brut-net.spec.ts
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/modules/layout/ContainerSimulator.tsx
  packages/code-du-travail-frontend/src/modules/outils/queries.ts
  packages/code-du-travail-frontend/src/modules/outils/simulateur-embauche/HiringSimulator.tsx
  packages/code-du-travail-frontend/src/modules/outils/simulateur-embauche/index.ts
  packages/code-du-travail-frontend/src/modules/outils/type.ts
  packages/code-du-travail-frontend/src/outils/SimulateurEmbauche.js
  packages/code-du-travail-frontend/src/outils/index.ts
Due: frontend

chore: prettier ignore changelog
  packages/code-du-travail-frontend/.prettierignore
Due: frontend

fix(adblock): utilisation de l'url de matomo au lieu de celle d'un provider de pub pour éviter de modifier les CSP (#6227)
  packages/code-du-travail-frontend/middleware.ts
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/modules/layout/feedback/index.tsx
  packages/code-du-travail-frontend/src/modules/layout/feedback/useDetectAdBlock.ts
  yarn.lock
Due: frontend

fix: ajouter un espace après les liens fiche cdt
  packages/code-du-travail-frontend/src/modules/code-du-travail/articleCodeDuTravail.tsx
Due: frontend

chore: review
  packages/code-du-travail-frontend/src/modules/convention-collective/Agreements.tsx
  packages/code-du-travail-frontend/src/modules/convention-collective/AgreementsIntro.tsx
  packages/code-du-travail-frontend/src/modules/layout/ContainerSimulator.tsx
Due: frontend

chore: review
  packages/code-du-travail-frontend/src/modules/convention-collective/AgreementsIntro.tsx
Due: frontend
