Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      ui:
        target: 80%
        flags: ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  ui:
    paths:
      - packages/code-du-travail-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

refactor(frontend): rename ccn 0044 files
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/EchelonChimie.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/Result.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/Step.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/Step.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/__snapshots__/EchelonChimie.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/coefficients.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/indemnite.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/index.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/components/IndemniteConventionnelle.js
Due: frontend

refactor(frontend): add a Result component for ccn
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/__tests__/form.mock.json
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/Result.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/__tests__/__snapshots__/indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/indemnite.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/0044_indemnite.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/Result_0044.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/Result_0044.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result_0044.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/3043/Result.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/3043/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/components/IndemniteConventionnelle.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/components/__tests__/IndemniteConventionnelle.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/indemnite.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/steps/__tests__/Indemnite.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend

fix(frontend): fix source blur in search
  packages/code-du-travail-frontend/src/search/Search.js
  packages/code-du-travail-frontend/src/search/__tests__/Search.test.js
Due: frontend

refactor(frontend): add a Result component for ccn (#962)
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/__tests__/form.mock.json
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/Result.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/__tests__/__snapshots__/indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0016/indemnite.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/EchelonChimie.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/Result.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/Result_0044.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/Step.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/Result_0044.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/Step.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/__snapshots__/EchelonChimie.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/coefficients.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/indemnite.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/0044/index.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/3043/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/components/IndemniteConventionnelle.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/components/__tests__/IndemniteConventionnelle.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/indemnite.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/steps/__tests__/Indemnite.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend

fix(frontend): display error message in ccn infos (#961)
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/components/ErrorField.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/components/YesNoQuestion.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/components/__tests__/ErrorField.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/components/__tests__/YesNoQuestion.test.js
Due: frontend

fix(frontend): fix source blur in search (#958)
  packages/code-du-travail-frontend/src/search/Search.js
  packages/code-du-travail-frontend/src/search/__tests__/Search.test.js
Due: frontend

wip 1
  packages/code-du-travail-data/dataset/kali/idcc_titres_courts.json
  packages/code-du-travail-data/dataset/kali/index.js
  packages/code-du-travail-data/dataset/kali/kali.json
  packages/code-du-travail-data/dataset/kali/package.json
  packages/code-du-travail-data/search/indexing/cdtn_documents.py
  packages/code-du-travail-data/search/indexing/mappings/code_du_travail_numerique.py
Due: none

WIP moving all the modal to the liste conventions pages
  packages/code-du-travail-api/src/server/routes/idcc/idcc.elastic.js
  packages/code-du-travail-frontend/pages/liste-conventions.js
  packages/code-du-travail-frontend/routes.js
  packages/code-du-travail-frontend/src/common/CompanyForm.js
  packages/code-du-travail-frontend/src/common/convention.service.js
  packages/code-du-travail-frontend/src/conventions/ConventionModal.js
  packages/code-du-travail-frontend/src/conventions/FindConventionExplainer.js
  packages/code-du-travail-frontend/src/conventions/ListeConventions.js
  packages/code-du-travail-frontend/src/home/Outils.js
Due: api, frontend

fix(es): make slug field a text field
  packages/code-du-travail-api/src/server/routes/items/searchBySourceSlug.elastic.js
  packages/code-du-travail-data/search/indexing/mappings/code_du_travail_numerique.py
Due: api

feat(api): include datafiller results
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/search/search.known.js
  packages/code-du-travail-data/dataset/datafiller/fetch.js
  packages/code-du-travail-data/dataset/datafiller/index.js
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/datafiller/queries.json
Due: api

doc
  packages/code-du-travail-api/src/server/routes/search/search.known.js
Due: api

fix review
  packages/code-du-travail-api/src/server/routes/search/search.prequalified.js
  packages/code-du-travail-data/dataset/datafiller/fetch.js
Due: api

cleanup + docs
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/search/search.prequalified.js
  packages/code-du-travail-data/dataset/datafiller/README.md
  packages/code-du-travail-data/dataset/datafiller/elastic.js
  packages/code-du-travail-data/dataset/datafiller/fetch.js
  packages/code-du-travail-data/dataset/datafiller/index.js
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/datafiller/prequalified.json
  yarn.lock
Due: api

wth
  Dockerfile
Due: none

fix: snapshot
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.spec.js.snap
Due: api

lintfix
  packages/code-du-travail-data/dataset/datafiller/README.md
Due: none

snapshots
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
Due: api

data: update prequalified.json
  packages/code-du-travail-data/dataset/datafiller/prequalified.json
Due: none

update snapshots
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-data/dataset/datafiller/README.md
Due: api

refactor(api): upgrade elasticsearch js client (#956)
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/server/conf/elasticsearch.js
  packages/code-du-travail-api/src/server/routes/annuaire/index.js
  packages/code-du-travail-api/src/server/routes/docs-count/index.js
  packages/code-du-travail-api/src/server/routes/idcc/index.js
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-api/src/server/routes/modeles/index.js
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/themes/index.js
  packages/code-du-travail-api/tests/create_indexes.js
  yarn.lock
Due: api

feat(frontend): improve searching for conventions by IDCC prefixes
  packages/code-du-travail-api/src/server/routes/idcc/idcc.elastic.js
Due: api

feat(frontend): conventions publish date wording update + remove extensions textes
  packages/code-du-travail-frontend/src/conventions/Convention.js
  packages/code-du-travail-frontend/src/conventions/ConventionInfos.js
  packages/code-du-travail-frontend/src/conventions/__test__/__snapshots__/Convention.test.js.snap
Due: frontend

fix(frontend): make search bar consistent
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/search/Search.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/Search.test.js.snap
Due: frontend

fix(data): update article id tokenizer
  packages/code-du-travail-data/search/indexing/analysis.py
Due: none

ci: add sentry / matomo on dev
  .gitlab-ci.yml
  k8s/code-du-travail-frontend/deployment-code-du-travail-frontend-prod.yml
Due: none

fix(api): add a boost to article_id match
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-api/src/server/routes/search/facets.elastic.js
  packages/code-du-travail-api/src/server/routes/search/search.elastic.js
Due: api

feat(frontend): add skippable branche steps
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/index.js
Due: frontend

feat(frontend): add ccn 2120 to idl
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/branches.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/2120/Result.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/2120/Step.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/2120/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/2120/__tests__/Step.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/2120/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/2120/__tests__/__snapshots__/indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/2120/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/2120/indemnite.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/ccn/2120/index.js
  packages/code-du-travail-frontend/src/outils/indemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend

fix(frontend): make search bar consistent (#969)
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/search/Search.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/Search.test.js.snap
Due: frontend

ci: add sentry / matomo on dev (#971)
  .gitlab-ci.yml
  k8s/code-du-travail-frontend/deployment-code-du-travail-frontend-prod.yml
Due: none

chore: disable codecov comments
  codecov.yml
Due: none

fix(frontend): missing image
  packages/code-du-travail-frontend/pages/about.js
  packages/code-du-travail-frontend/pages/index.js
Due: frontend

feature(frontend): update snapshots
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
Due: frontend

feature(frontend): add droit-du-travail page
  packages/code-du-travail-frontend/pages/__tests__/droit-du-travail.test.js
  packages/code-du-travail-frontend/pages/droit-du-travail/Hierarchy.js
  packages/code-du-travail-frontend/pages/droit-du-travail/Origins.js
  packages/code-du-travail-frontend/pages/droit-du-travail/index.js
  packages/code-du-travail-frontend/routes.js
  packages/code-du-travail-frontend/src/layout/Footer.js
Due: frontend

refactor(frontend): remove useless wrapper
  packages/code-du-travail-frontend/src/home/Outils.js
  packages/code-du-travail-frontend/src/home/Themes.js
Due: frontend

fix(frontend): apply feedback
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/pages/droit-du-travail/Hierarchy.js
  packages/code-du-travail-frontend/pages/droit-du-travail/Origins.js
  packages/code-du-travail-frontend/src/layout/Footer.js
Due: frontend

fix(frontend): lint issues
  packages/code-du-travail-frontend/src/home/Outils.js
  packages/code-du-travail-frontend/src/home/Themes.js
Due: frontend

refactor(frontend): add more consistency in next context mocking
  packages/code-du-travail-frontend/src/common/__tests__/Answer.test.js
Due: frontend

refactor(frontend): apply feedbacks
  packages/code-du-travail-frontend/pages/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/pages/droit-du-travail/Hierarchy.js
  packages/code-du-travail-frontend/pages/droit-du-travail/Origins.js
  packages/code-du-travail-frontend/pages/droit-du-travail/index.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/layout/css/Headings.js
  packages/code-du-travail-frontend/src/search/Search.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/Search.test.js.snap
Due: frontend
