Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

chore(release): version 4.50.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
Due: frontend

fix: upgrade ci
  .gitlab-ci.yml
  .k8s/package.json
  .k8s/yarn.lock
Due: none

upgrade NS
  .gitlab-ci/stages/deploy.yml
Due: none

fix;: use gitlab-ci-yml@v22.1.9
  .gitlab-ci.yml
Due: none

yet another upgrade
  .gitlab-ci.yml
Due: none

fix: notify and deploy images
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
Due: none

fix: notify
  .gitlab-ci/stages/notify.yml
Due: none

fix: missing images
  .gitlab-ci/stages/deploy.yml
Due: none

fix: use docker/helm:0.28.0
  .gitlab-ci/stages/deploy.yml
Due: none

fix: fix images entrypoint
  .gitlab-ci/stages/deploy.yml
Due: none

fix: create namespace
  .gitlab-ci/stages/deploy.yml
Due: none

fix: upgrade ci (#3541)
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
  .k8s/package.json
  .k8s/yarn.lock
Due: none

fix(simulator): references not shown for seniority lesser than 6 months
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/stepReducer.tsx
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.references.spec.ts
  packages/code-du-travail-modeles/src/modeles/contrat-salarie.yaml
Due: frontend

feature(simulator): add test on missing variables which should be empty
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.commerces.de.gros.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.habillement.commerce.succursales.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.handicap.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.industrie.pharmaceutique.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.industries.metallurgiques.region.parisienne.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.metallurgie.ingenieurs.cadres.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.plasturgie.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.transport.aerien.personnel.au.sol.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.transports.routiers.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/commerces_de_gros.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/transport_aerien_personnel_au_sol.yaml
Due: none

feat(simulator): improve perf of retirement notice simulator
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/Handler.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/index.tsx
Due: frontend

feat(meta): use the theme and CC to build title for contribution pages
  packages/code-du-travail-frontend/pages/contribution/[slug].js
Due: frontend

feat(simulator): improve retirement simulator (#3508)
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/stepReducer.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/Handler.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/index.tsx
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.commerces.de.gros.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.habillement.commerce.succursales.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.handicap.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.industrie.pharmaceutique.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.industries.metallurgiques.region.parisienne.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.metallurgie.ingenieurs.cadres.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.plasturgie.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.references.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.transport.aerien.personnel.au.sol.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.transports.routiers.spec.ts
  packages/code-du-travail-modeles/src/modeles/contrat-salarie.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/commerces_de_gros.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/transport_aerien_personnel_au_sol.yaml
Due: frontend

feat(meta): use the theme and CC to build title for contribution pages (#3540)
  packages/code-du-travail-frontend/pages/contribution/[slug].js
Due: frontend

fix: fix e2e test
  .gitlab-ci/stages/e2e.yml
  optional/e2e/features/dossier.feature
  optional/e2e/features/search-ccn.feature.txt
  optional/e2e/features/search-enterprise-ccn.feature.txt
  optional/e2e/runners/puppeteer/step_definitions/global.js
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

feature(simulator): show user input detail
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/common/PubliQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/PubliSituation.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/Utils.ts
  packages/code-du-travail-modeles/src/modeles/contrat-salarie.yaml
Due: frontend

feature(simulator): fill the titre for all rules which are questions
  packages/code-du-travail-modeles/src/__test__/check.rule.title.spec.ts
  packages/code-du-travail-modeles/src/__test__/matchers/PubliMatcher.ts
  packages/code-du-travail-modeles/src/internal/extractor.ts
  packages/code-du-travail-modeles/src/modeles/contrat-salarie.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/commerces_de_gros.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/habillement_commerce_succursales.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/handicap.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/hospitalisation_privee_but_non_lucratif.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/industrie_pharmaceutique.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/industries_chimiques.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/plasturgie.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/transport_aerien_personnel_au_sol.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/transports_routiers.yaml
Due: none

feat(simulator): check if the question property has been set
  packages/code-du-travail-modeles/src/__test__/check.rule.title.spec.ts
  packages/code-du-travail-modeles/src/__test__/matchers/PubliMatcher.ts
Due: none

feat(simulator): keep the order of answers in the context
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Origine.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/Handler.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/Utils.ts
Due: frontend

feat(search): identify article search #3471
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/search/SearchResults/index.js
  yarn.lock
Due: frontend

set correct positive value
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/stepReducer.tsx
  packages/code-du-travail-frontend/src/search/SearchResults/index.js
Due: frontend

fix(simulator): feedbacks from Noemi
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.js
  packages/code-du-travail-frontend/src/outils/common/PubliSituation.tsx
  packages/code-du-travail-modeles/src/__test__/check.rule.title.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/industries_chimiques.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/plasturgie.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/transports_routiers.yaml
Due: frontend

Update accessibilite.js
  packages/code-du-travail-frontend/pages/accessibilite.js
Due: frontend

chore(deps): update @rollup
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: react-ui, react-fiche-service-public

fix: typofix
  packages/code-du-travail-frontend/src/home/Partners.js
Due: frontend

fix: typofix (#3558)
  packages/code-du-travail-frontend/src/home/Partners.js
Due: frontend

feat(simulator): show user input detail on retirement notice (#3510)
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Origine.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.js
  packages/code-du-travail-frontend/src/outils/common/PubliQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/PubliSituation.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/Handler.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/Utils.ts
  packages/code-du-travail-modeles/src/__test__/check.rule.title.spec.ts
  packages/code-du-travail-modeles/src/__test__/matchers/PubliMatcher.ts
  packages/code-du-travail-modeles/src/internal/extractor.ts
  packages/code-du-travail-modeles/src/modeles/contrat-salarie.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/commerces_de_gros.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/habillement_commerce_succursales.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/handicap.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/hospitalisation_privee_but_non_lucratif.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/industrie_pharmaceutique.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/industries_chimiques.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/plasturgie.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/transport_aerien_personnel_au_sol.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/transports_routiers.yaml
Due: frontend

Update accessibilite.js (#3555)
  packages/code-du-travail-frontend/pages/accessibilite.js
Due: frontend

fix(frontend): update review
  packages/code-du-travail-frontend/src/conventions/Search/api/agreements.service.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/enterprises.service.tsx
  packages/code-du-travail-frontend/src/conventions/Search/api/error.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/agreement/AgreementTile.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/agreement/SearchAgreementInput.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/common/Suggester.ts
  packages/code-du-travail-frontend/src/outils/ConventionCollective/enterprise/EnterpriseButton.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/enterprise/SearchEnterpriseInput.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/index.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/Introduction.tsx
Due: frontend

add missing status
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSearch.tsx
Due: frontend

rename
  packages/code-du-travail-frontend/src/conventions/Search/api/enterprises.service.ts
Due: frontend

fix scrolll
  packages/code-du-travail-frontend/src/outils/ConventionCollective/agreement/SearchAgreement.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/agreement/SearchAgreementInput.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/enterprise/SearchEnterprise.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/enterprise/SearchEnterpriseInput.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/EnterpriseSearch.tsx
Due: frontend

fix(frontend): use longTitle in ccn page
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
Due: frontend

fix dossier e2e test
  optional/e2e/features/dossier.feature
Due: none

update e2e tests
  optional/e2e/features/search-ccn.feature
  optional/e2e/features/search-enterprise-ccn.feature
Due: none

fix e2e
  optional/e2e/features/outils/indemnite-licenciement.feature
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
