Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: create error
  packages/code-du-travail-frontend/pages/404.js
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/src/lib/error.ts
  packages/code-du-travail-frontend/src/lib/index.ts
Due: frontend

fix: create error
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
Due: frontend

merge
  packages/code-du-travail-frontend/src/outils/common/InfoBulle.tsx
  packages/code-du-travail-frontend/src/outils/common/Question.tsx
  packages/react-ui/src/DisclosureIcon/index.js
Due: frontend, react-ui

fix: sentry
  .env.sample
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
Due: none

fix: sentry
  .env.development
Due: none

fix: env
  .env.development
Due: none

fix: sentry
  packages/code-du-travail-frontend/pages/_document.js
Due: frontend

:lipstick: fix ccs on mobile for tool duration icon
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
Due: frontend

fix(RGAA 10.6): make the email link more visible in contact dialog
  packages/code-du-travail-frontend/src/common/ContactModal.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ContactModal.test.js.snap
Due: frontend

Fix error when non CC selected
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
Due: frontend

fix: some pb
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/server/koaServer.js
Due: frontend

fix: some pb
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
Due: frontend

test 404
  packages/code-du-travail-frontend/pages/404.js
Due: frontend

retest ?
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
Due: none

fix: some stuff
  Dockerfile
  packages/code-du-travail-frontend/README.md
Due: frontend

ENFIN
  packages/code-du-travail-frontend/pages/404.js
Due: frontend

fix(RGAA 10.6): make the email link more visible in contact dialog (#4008)
  packages/code-du-travail-frontend/src/common/ContactModal.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ContactModal.test.js.snap
Due: frontend

fix: dernier stuff
  .env.development
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
  Dockerfile
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/index.test.ts
  packages/code-du-travail-frontend/pages/api/simulateurs/index.ts
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/__tests__/routes.test.js
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/server/server.js
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
Due: frontend

fix: dernier stuff
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
Due: none

Refactor css
  packages/code-du-travail-frontend/src/layout/Footer.tsx
Due: frontend

Update snapshots
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

remove unsued code
  packages/code-du-travail-frontend/pages/404.js
  packages/code-du-travail-frontend/src/lib/error.ts
  packages/code-du-travail-frontend/src/lib/index.ts
Due: frontend

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.230.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: public
  .env.development
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
  Dockerfile
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/index.test.ts
  packages/code-du-travail-frontend/pages/api/simulateurs/index.ts
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/__tests__/routes.test.js
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/server/server.js
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
Due: frontend

merge
  packages/code-du-travail-frontend/pages/_app.js
Due: frontend

TEST
  .github/workflows/review.yml
Due: none

c ok
  .github/workflows/review.yml
  Dockerfile
Due: none

fix: idcc
  packages/code-du-travail-frontend/src/lib/matomo/index.ts
Due: frontend

Update logo + fix color on wizard time icon
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/react-ui/src/icons/components/bicolor/CalendarTime.js
  packages/react-ui/src/icons/components/bicolor/TimeWithLabel.js
  packages/react-ui/src/icons/src/bicolor/calendar-time.svg
Due: frontend, react-ui

fix(frontend): fix footer alignement (#4005)
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/Footer.tsx
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

feat: add notif
  packages/code-du-travail-modeles/src/__test__/batiment-ouvriers-parisien/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/batiment_region_parisienne.yaml
Due: none

fix: cc
  packages/code-du-travail-modeles/src/modeles/conventions/societes_assurances.yaml
Due: none

fix: cc
  packages/code-du-travail-modeles/src/__test__/pharmacie/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/pharmacie.yaml
Due: none

Update commerces_de_detail_non_alimentaires.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/commerces_de_detail_non_alimentaires.yaml
Due: none

fix: cc
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
  packages/code-du-travail-frontend/server/server.js
Due: frontend

fix: cc
  packages/code-du-travail-frontend/pages/_app.js
Due: frontend

fix: query params
  packages/code-du-travail-frontend/src/lib/matomo/index.ts
Due: frontend

feat(tracking): cc treated or untreated are tracked (#3872)
  package.json
  packages/code-du-travail-frontend/src/conventions/Search/ConventionLink.js
  packages/code-du-travail-frontend/src/conventions/Search/index.tsx
  packages/code-du-travail-frontend/src/lib/matomo/index.ts
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.tsx
  packages/code-du-travail-frontend/src/outils/common/PrevNextBar.tsx
  packages/code-du-travail-frontend/src/outils/common/type/matomo.ts
  packages/code-du-travail-frontend/src/piwik.js
Due: frontend

Updates
  iframe.html
  main.2874ba04.iframe.bundle.js
  main.6366d6f7.iframe.bundle.js
Due: none
