Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: page
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.tsx.snap
Due: frontend

fix: TU
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Anciennete/components/__tests__/AbscencePeriod.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc44.test.tsx
  packages/react-ui/src/field/__tests__/__snapshots__/field.test.js.snap
  packages/react-ui/src/field/__tests__/field.test.js
Due: frontend, react-ui

fix: zero
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Salaires/store/validator.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Salaires/utils/__tests__/sumSalaryPeriods.test.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Salaires/utils/sumSalaryPeriods.ts
Due: frontend

fix: zero
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Salaires/store/validator.ts
Due: frontend

fix: zero
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Salaires/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/salary-validation.test.tsx
Due: frontend

fix(footer): update logo (#5917)
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.tsx.snap
  packages/code-du-travail-frontend/public/static/assets/img/ministere_logo.png
  packages/code-du-travail-frontend/public/static/assets/img/ministere_logo.svg
  packages/code-du-travail-frontend/src/home/Partners.tsx
  packages/code-du-travail-frontend/src/layout/Footer/GovernmentSection.tsx
Due: frontend

Updates
  project.json
Due: none

chore(release): version 4.137.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: zero
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/dossier-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/indemnite-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/indemnite-precarite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/modeles-courrier.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/preavis-demission.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/preavis-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/preavis-retraite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/recherche.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/trouver-sa-cc.spec.ts
Due: frontend

fix: zero
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/dossier-licenciement.spec.ts
Due: frontend

fix: tu
  packages/react-ui/src/field/__snapshots__/test.js.snap
  packages/react-ui/src/field/__tests__/__snapshots__/field.test.js.snap
  packages/react-ui/src/field/__tests__/field.test.js
Due: react-ui

chore: fix build storybook
  packages/react-ui/src/field/story.js
Due: react-ui

fix: test e2e
  packages/code-du-travail-frontend/cypress/integration/light/outils/indemnite-licenciement.spec.ts
Due: frontend

fix: zero
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/recherche.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/trouver-sa-cc.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/integration-convention-collective.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/integration.spec.ts
Due: frontend

fix: zero
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/recherche.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/outils/trouver-sa-cc.spec.ts
Due: frontend

fix: zero
  packages/code-du-travail-frontend/cypress/integration/light/widgets/dossier-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/indemnite-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/indemnite-precarite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/modeles-courrier.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/preavis-demission.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/preavis-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/preavis-retraite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/recherche.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/trouver-sa-cc.spec.ts
Due: frontend

empty commit
  README.md
Due: none

fix: zero
  packages/code-du-travail-frontend/cypress/integration/light/integration.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/dossier-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/indemnite-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/indemnite-precarite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/modeles-courrier.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/preavis-demission.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/preavis-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/preavis-retraite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/recherche.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/trouver-sa-cc.spec.ts
Due: frontend

fix: zero
  packages/code-du-travail-frontend/cypress/integration/light/integration.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/recherche.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/trouver-sa-cc.spec.ts
Due: frontend

feat: page CC non supported et 404
  packages/code-du-travail-frontend/pages/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/src/conventions/ConventionNotFound.tsx
  packages/code-du-travail-frontend/src/conventions/ConventionNotSupported.tsx
Due: frontend

fix(docs): ajout de la page sans redirection
  packages/code-du-travail-frontend/cypress/integration/light/integration-convention-collective.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/trouver-sa-cc.spec.ts
Due: frontend

fix(docs): ajout de la page sans redirection
  packages/code-du-travail-frontend/cypress/integration/light/widgets/trouver-sa-cc.spec.ts
Due: frontend

fix(docs): ajout de la page sans redirection
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Salaires/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/salary-validation.test.tsx
Due: frontend

fix(urls des convention-collectives) : modifications des règles de redirections pour ne matcher que les urls voulues
  packages/code-du-travail-frontend/redirects.json
Due: frontend

fix: folder
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Salaires/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/salary-validation.test.tsx
Due: frontend

fix redirects
  packages/code-du-travail-frontend/redirects.json
Due: frontend

fix: dreets
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

fix(urls des convention-collectives): modifications des règles de redirections pour ne matcher que les urls voulues (#5922)
  packages/code-du-travail-frontend/redirects.json
Due: frontend

feat: 404 pour CC non reconnu et 200 pour CC non traité
  packages/code-du-travail-frontend/pages/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/src/api/modules/agreements/queries.ts
  packages/code-du-travail-frontend/src/conventions/ConventionNotFound.tsx
Due: frontend

feat(pages convention collective): changement du format de la page pour n'afficher que les liens vers les contribs au lieu des réponses
  packages/code-du-travail-frontend/src/conventions/Convention/index.tsx
Due: frontend
