Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, ui-old, react-fiche-service-public

remove snapshots
  packages/code-du-travail-api/src/server/routes/__tests__/search.spec.js
Due: api

add exclude sources
  packages/code-du-travail-api/src/server/routes/__tests__/utils.spec.js
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

add semantic api in nlp
  .k8s/api/deployment.yml
  docker-compose.override.dev.yml
  package-lock.json
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-nlp/Dockerfile
  packages/code-du-travail-nlp/api/__init__.py
  packages/code-du-travail-nlp/api/sem_search.py
  packages/code-du-travail-nlp/requirements.txt
  packages/code-du-travail-nlp/scripts/entrypoint.sh
Due: api

add semantic api in nlp
  README.md
Due: none

fix: lint of api index
  packages/code-du-travail-api/src/server/routes/__tests__/utils.spec.js
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

fix: test
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/utils.spec.js
Due: api

fix: test
  packages/code-du-travail-api/src/server/routes/__tests__/utils.spec.js
Due: api

fix: ci url
  .env.sample
  .gitlab-ci/env.sh
Due: none

feat: test utils
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/annaire.spec.js
  packages/code-du-travail-api/src/server/routes/__tests__/search.spec.js
  packages/code-du-travail-api/src/server/routes/__tests__/sem_search.json
  packages/code-du-travail-api/src/server/routes/__tests__/utils.spec.js
Due: api

feat: mock sem search api
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/sem_search.json
Due: api

fix: lint
  packages/code-du-travail-api/src/server/routes/__tests__/annaire.spec.js
  packages/code-du-travail-api/src/server/routes/__tests__/utils.spec.js
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

change timeout kube
  .k8s/api/deployment.yml
  .k8s/nlp/deployment.yml
Due: none

fix(docker): add a restart to data image
  docker-compose.override.prod.yml
Due: none

fix env variables
  .gitlab-ci/env.sh
  .k8s/api/deployment.yml
Due: none

fix: env variables double 5000
  .k8s/api/deployment.yml
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

efix: env var
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

fix: env var
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

fix: env var /
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

fix: env var2
  .gitlab-ci/env.sh
Due: none

fix(search): prettier index.js
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

remove snippets in search
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

chore(deps): update dependency rollup to ^1.21.2
  packages/code-du-travail-ui-old/package.json
  packages/react-fiche-service-public/package.json
  yarn.lock
Due: ui-old, react-fiche-service-public

remove unused snippetss
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

fix(themes): order themes properly
  packages/code-du-travail-data/dataset/datafiller/fetch-themes.js
  packages/code-du-travail-data/dataset/datafiller/themes.data.json
Due: none

updaet test
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/search.spec.js
  packages/code-du-travail-api/src/server/routes/__tests__/sem_search_art.json
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

prettier
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/search.spec.js
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

prettier 2
  packages/code-du-travail-api/src/server/routes/__tests__/search.spec.js
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

whatev
  .env.sample
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

chore(deps): update dependency @zeit/ncc to ^0.20.5
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  yarn.lock
Due: api

fix: refactor api & add duump.js
  docker-compose.yml
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-data/Dockerfile
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/entrypoint.sh
  packages/code-du-travail-data/yarn-error.log
  packages/code-du-travail-nlp/api/__init__.py
  packages/code-du-travail-nlp/api/search.py
  packages/code-du-travail-nlp/api/sem_search.py
Due: api

test build
  packages/code-du-travail-data/Dockerfile
  packages/code-du-travail-data/package.json
Due: none

gitlab: add data artifacts
  .gitlab-ci/stages/deploy.yml
Due: none

feat(nlp): use dump.json for docker base image
  packages/code-du-travail-data/Dockerfile
  packages/code-du-travail-data/package.json
  packages/code-du-travail-nlp/Dockerfile
  packages/code-du-travail-nlp/scripts/entrypoint.sh
Due: none

fix paths
  packages/code-du-travail-data/package.json
  packages/code-du-travail-nlp/Dockerfile
Due: none

feat(base-image): embed dump.data.json
  Dockerfile
Due: none

fix path
  Dockerfile
  packages/code-du-travail-data/package.json
Due: none

missing build args
  .gitlab-ci/stages/register.yml
Due: none

rm useless copy
  Dockerfile
  packages/code-du-travail-nlp/Dockerfile
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  ui-old: any of: packages/code-du-travail-ui-old
  react-fiche-service-public: any of: packages/react-fiche-service-public
