Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix titles
  packages/code-du-travail-data/tools/internals.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/__snapshots__/index.test.ts.snap
Due: frontend

rename var
  packages/code-du-travail-data/tools/internals.json
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/__snapshots__/index.test.ts.snap
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/outils/types.ts
Due: frontend

fix(form): change cc (with @m-maillot) (#4401)
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/AgreementStep.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/AgreementStep.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/AgreementStep.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/AgreementStep.tsx
Due: frontend

Update packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Agreement.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Agreement.test.tsx
Due: frontend

Update packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/RouteSelection.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/RouteSelection.test.tsx
Due: frontend

Update packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/SelectAgreement.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/SelectAgreement.test.tsx
Due: frontend

fix naming
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/ShowAgreement.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/ShowAgreements.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/ShowAlert.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/SelectAgreement.test.tsx
Due: frontend

fetch agreement url from company
  packages/code-du-travail-api/src/routes/enterprises/enterprises.elastic.ts
  packages/code-du-travail-api/src/routes/enterprises/index.ts
  packages/code-du-travail-api/src/routes/enterprises/types.ts
Due: api

fix test
  packages/code-du-travail-api/src/routes/__tests__/enterprises.test.js
Due: api

fix(ATInternet): fix script loading to fix js error on load of ATInternet (#4402)
  packages/code-du-travail-frontend/pages/_app.tsx
  packages/code-du-travail-frontend/pages/_document.jsx
  packages/code-du-travail-frontend/public/static/polyfill.min.js
  packages/code-du-travail-frontend/public/static/webcomponents-polyfill/bundles/webcomponents-ce.js
  packages/code-du-travail-frontend/public/static/webcomponents-polyfill/bundles/webcomponents-sd-ce-pf.js
  packages/code-du-travail-frontend/public/static/webcomponents-polyfill/bundles/webcomponents-sd-ce.js
  packages/code-du-travail-frontend/public/static/webcomponents-polyfill/bundles/webcomponents-sd.js
  packages/code-du-travail-frontend/public/static/webcomponents-polyfill/loader.js
Due: frontend

fix(error): when changing cc route selection, fix error remaining even if no CC is shown
  packages/code-du-travail-frontend/src/outils/common/Agreement/SelectAgreement.tsx
Due: frontend

extract validate method to test it and use it in common
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/AgreementStep.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/UnsupportedCCDisclaimer.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/component/NotSupportedAgreementDisclaimer.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/AgreementStep.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/UnsupportedCCDisclaimer.test.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/component/NotSupportedAgreementDisclaimer.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/situations.utils.test.js
  packages/code-du-travail-frontend/src/outils/common/situations.utils.js
Due: frontend

fix(e2e)
  packages/code-du-travail-frontend-e2e/features/outils/heures-recherche-emploi.feature
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-precarite.feature
  packages/code-du-travail-frontend-e2e/features/outils/preavis-demission.feature
  packages/code-du-travail-frontend-e2e/features/outils/preavis-licenciement.feature
  packages/code-du-travail-frontend-e2e/features/outils/preavis-retraite.feature
  packages/code-du-travail-frontend-e2e/features/widget-pages.feature
Due: frontend

fix(error): when changing cc route selection, fix error remaining even if no CC is shown (#4404)
  packages/code-du-travail-frontend/src/outils/common/Agreement/SelectAgreement.tsx
Due: frontend

fix test
  packages/code-du-travail-frontend-e2e/features/widget-pages.feature
Due: frontend

feat(agreement step): for Heure de recherche d'emploi & préavis de démisison agreement step can not be skipped (#4379)
  packages/code-du-travail-api/src/routes/__tests__/enterprises.test.js
  packages/code-du-travail-api/src/routes/enterprises/enterprises.elastic.ts
  packages/code-du-travail-api/src/routes/enterprises/index.ts
  packages/code-du-travail-api/src/routes/enterprises/types.ts
  packages/code-du-travail-frontend-e2e/features/outils/heures-recherche-emploi.feature
  packages/code-du-travail-frontend-e2e/features/outils/preavis-demission.feature
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/index.jsx
  packages/code-du-travail-frontend/src/conventions/Search/api/agreements.service.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/type.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/AgreementStep.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Agreement.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Result.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/ResultText.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/UnsupportedCCDisclaimer.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/component/NotSupportedAgreementDisclaimer.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/AgreementStep.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/Agreement.test.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/Result.test.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/UnsupportedCCDisclaimer.test.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/component/NotSupportedAgreementDisclaimer.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/ShowAgreement.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/ShowAgreements.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/RouteSelection/RouteSelection.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/SelectAgreement.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/ShowAlert.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/AgreementSearch.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/EnterpriseSearch.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/RouteSelection.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/SelectAgreement.test.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/situations.utils.test.js
  packages/code-du-travail-frontend/src/outils/common/situations.utils.js
Due: api, frontend

fix(simulator ui): do not modify salary inputs on scroll event and do not scroll to top on change value in the form
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPlein.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/react-ui/src/field/Input.js
Due: frontend, react-ui

retro compatibility with matomo events
  packages/code-du-travail-data/tools/internals.json
  packages/code-du-travail-frontend-e2e/features/outils/preavis-retraite.feature
  packages/code-du-travail-frontend-e2e/features/outils/simulateur-embauche.feature
  packages/code-du-travail-frontend-e2e/features/widget-pages.feature
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/__snapshots__/index.test.ts.snap
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/index.jsx
  packages/code-du-travail-frontend/src/lib/matomo/types.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/index.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/index.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/index.test.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/index.tsx
  packages/code-du-travail-frontend/src/outils/SimulateurEmbauche.js
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
  packages/code-du-travail-frontend/src/outils/types.ts
Due: frontend

fix tests
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/index.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/index.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/index.test.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/Wizard.test.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
Due: frontend

fix tests
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.tsx.snap
Due: frontend

add missing title
  packages/code-du-travail-data/tools/internals.json
  packages/code-du-travail-frontend/src/outils/ConventionCollective/index.tsx
Due: frontend

move scroll
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
Due: frontend

chore(release): version 4.76.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(ATInternet): fix img load blocked by CSP rule
  packages/code-du-travail-frontend/next.config.js
Due: frontend

refactor
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
Due: frontend

fix tests
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/__snapshots__/index.test.ts.snap
Due: frontend

chore(deps): update dependency @rollup/plugin-commonjs to v22
  packages/react-fiche-service-public/package.json
  yarn.lock
Due: react-fiche-service-public

fix widgets
  packages/code-du-travail-frontend/pages/widgets/[slug].tsx
Due: frontend

Updates
  0.01be3909.iframe.bundle.js
  0.e64fca2a.iframe.bundle.js
  4.0d8493b4.iframe.bundle.js
  4.0d8493b4.iframe.bundle.js.LICENSE.txt
  4.0d8493b4.iframe.bundle.js.map
  4.7e65fc5d.iframe.bundle.js
  4.7e65fc5d.iframe.bundle.js.map
  5.bd69711a.iframe.bundle.js
  5.cb7a171f.iframe.bundle.js
  6.596b3354.iframe.bundle.js
  6.596b3354.iframe.bundle.js.map
  6.b67d7500.iframe.bundle.js
  6.b67d7500.iframe.bundle.js.LICENSE.txt
  6.b67d7500.iframe.bundle.js.map
  7.36d9f888.iframe.bundle.js
  7.b3181959.iframe.bundle.js
  iframe.html
  index.html
  main.23b72622.iframe.bundle.js
  main.263fee97.iframe.bundle.js
  runtime~main.3ae97ded.iframe.bundle.js
  runtime~main.da3c2daa.iframe.bundle.js
  vendors~main.84faafd2.iframe.bundle.js
  vendors~main.84faafd2.iframe.bundle.js.LICENSE.txt
  vendors~main.84faafd2.iframe.bundle.js.map
  vendors~main.bb54db71bfdd2ee43834.manager.bundle.js
  vendors~main.c0e2d7fa.iframe.bundle.js
  vendors~main.c0e2d7fa.iframe.bundle.js.map
  vendors~main.cb3fe401463d86b3c9cf.manager.bundle.js
  vendors~main.cb3fe401463d86b3c9cf.manager.bundle.js.LICENSE.txt
Due: none

fix(deps): update remark to v10
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(agreement search): refector agreement search code to decouple search in wizard from search as a tool
  packages/code-du-travail-frontend/src/outils/ConventionCollective/agreement/SearchAgreement.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/agreement/SearchAgreementInput.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/common/EmbeddedInForm.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/enterprise/SearchEnterprise.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/enterprise/SearchEnterpriseInput.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/index.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSelection.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/AgreementLink.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/AgreementTile.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementSearchResult.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchInput/EnterpriseButton.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchInput/SearchEnterpriseInput.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchResult.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/ShowAgreement.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/ShowAgreements.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/components/Modal.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/components/ResultList.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/components/ShowAlert.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/components/Suggester.ts
Due: frontend

rename
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPlein.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
  packages/react-ui/src/field/Input.js
Due: frontend, react-ui

rename
  packages/code-du-travail-data/tools/internals.json
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/__snapshots__/index.test.ts.snap
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/index.jsx
  packages/code-du-travail-frontend/pages/widgets/[slug].tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/index.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/index.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/index.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/index.test.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/index.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/index.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/index.tsx
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/Wizard.test.tsx
  packages/code-du-travail-frontend/src/outils/types.ts
Due: frontend

fix tests
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/__snapshots__/index.test.ts.snap
Due: frontend

fix(ATInternet): fix img load blocked by CSP rule (#4406)
  packages/code-du-travail-frontend/next.config.js
Due: frontend

chore(deps): update actions/cache action to v3
  .github/workflows/k8s.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/review.yml
  .github/workflows/storybook.yml
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/check-sdr-url.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/k8s.yml
  .github/workflows/pre-release.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/review.yml
  .github/workflows/security.yml
  .github/workflows/storybook.yml
Due: none

chore(deps): update actions/download-artifact action to v3
  .github/workflows/review.yml
Due: none
