Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix(deps): update socialgouv
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

chore: fix name in Register Data image
  .gitlab-ci/stages/data.yml
Due: none

chore(deps): update dependency rollup to ^1.27.8
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: react-ui, react-fiche-service-public

chore(deps): update storybook monorepo to ^5.2.8
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

WIP! refactor(k8s): go to azuuure (#1765)
  .gitlab-ci.yml
  .gitlab-ci/env.sh
  .gitlab-ci/stages/data.yml
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
  .gitlab-ci/stages/quality.yml
  .gitlab-ci/stages/scan.yml
  .gitlab-ci/variables.yml
  .k8s/api.values.yml
  .k8s/api/.k8s-deploy-api.yml
  .k8s/api/deployment.yml
  .k8s/api/ingress.dev.yml
  .k8s/api/ingress.prod.yml
  .k8s/api/service.yml
  .k8s/certificate/certificate.yml
  .k8s/data.job.yml
  .k8s/data/.k8s-deploy-data.yml
  .k8s/data/create-index.sh
  .k8s/data/deployment.yml
  .k8s/elasticsearch/.k8s-deploy-elasticsearch.yml
  .k8s/elasticsearch/configmap.yml
  .k8s/elasticsearch/service.yml
  .k8s/elasticsearch/statefulset.dev.yml
  .k8s/elasticsearch/statefulset.prod.yml
  .k8s/frontend.values.yml
  .k8s/frontend/.k8s-deploy-frontend.yml
  .k8s/frontend/deployment.dev.yml
  .k8s/frontend/deployment.prod.yml
  .k8s/frontend/ingress.dev.yml
  .k8s/frontend/ingress.prod.yml
  .k8s/frontend/service.yml
  .k8s/nlp.values.yml
  .k8s/nlp/.k8s-deploy-nlp.yml
  .k8s/nlp/deployment.dev.yml
  .k8s/nlp/deployment.prod.yml
  .k8s/nlp/ingress.dev.yml
  .k8s/nlp/ingress.prod.yml
  .k8s/nlp/service.yml
  .k8s/secrets.yml
Due: none

update killer script
  scripts/clean.k8s.js
Due: none

ci: add elastic cloud credential
  .k8s/api.values.yml
  .k8s/data.job.yml
Due: none

update cred
  .gitlab-ci/stages/deploy.yml
Due: none

feat(data): prettyprint logger
  packages/code-du-travail-data/indexing/index.js
  packages/code-du-travail-data/indexing/logger.js
Due: none

update deploy stage
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
  .k8s/api.values.yml
  .k8s/data.job.yml
Due: none

fix syntax
  .gitlab-ci.yml
Due: none

chore: update elastic settings
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
  .k8s/api.values.yml
  packages/code-du-travail-data/indexing/es_client.utils.js
Due: none

add registration stage
  .gitlab-ci.yml
Due: none

update gitlabci
  .gitlab-ci.yml
Due: none

fix(ccn-picker): better cc selection detection
  packages/code-du-travail-frontend/src/contributions/Contribution.js
Due: frontend

fix: remove two fiches-SP fix #1557
  packages/code-du-travail-data/dataset/fiches_service_public/filter.js
Due: none

fix: remove fiche SP F22553 fix #1732
  packages/code-du-travail-data/dataset/fiches_service_public/filter.js
Due: none

test prod api
  .k8s/api.values.yml
Due: none

update timeoutSecond
  .k8s/api.values.yml
Due: none

ci: add apm for test
  .gitlab-ci.yml
  .k8s/api.values.yml
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/server/index.js
  yarn.lock
Due: api

use image with apm
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
Due: none

chore(deps): update docker.elastic.co/elasticsearch/elasticsearch docker tag to v7.5.0
  docker/elasticsearch/Dockerfile
Due: none

chore(deps): update docker.elastic.co/kibana/kibana docker tag to v7.5.0
  docker-compose.override.dev.yml
Due: none

chore(CI): use wget instead of curl for better debug
  .gitlab-ci/stages/quality.yml
Due: none

fix(data): fix incorrect SDR url
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

fix(wording): fix DureePreavisLicenciement for #1834
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/common/Outils.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Outils.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/index.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Informations.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Status.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
Due: frontend

fix: remove two fiches-SP fix #1557 (#1852)
  packages/code-du-travail-data/dataset/fiches_service_public/filter.js
Due: none

fix: remove fiche SP F22553 fix #1732 (#1853)
  packages/code-du-travail-data/dataset/fiches_service_public/filter.js
Due: none

ci: add apm to api
  .gitlab-ci/stages/deploy.yml
  .k8s/api.values.yml
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/server/index.js
Due: api

ci: add build
  .gitlab-ci.yml
Due: none

ci: fix SDR urls linter (#1857)
  .gitlab-ci/stages/quality.yml
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

fix(wording): hot fix #1866
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/recherche.js
Due: frontend

chore: allow release from branch
  .gitlab-ci/stages/notify.yml
Due: none

ci: update image sha with apm
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
Due: none
