Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

feat: CC fusions (#5967)
  packages/code-du-travail-frontend/redirects.json
  packages/code-du-travail-frontend/src/api/config.ts
Due: frontend

Updates
  project.json
Due: none

fix: sentry secret
  packages/code-du-travail-frontend/pages/api/erreur.ts
  packages/code-du-travail-frontend/pages/index.tsx
Due: frontend

fix: credentials
  .kontinuous/env/dev/templates/www.sealed-secret.yaml
  .kontinuous/env/preprod/templates/www.sealed-secret.yaml
  .kontinuous/env/prod/templates/www.sealed-secret.yaml
Due: none

fix: ES query size
  packages/code-du-travail-frontend/src/api/modules/themes/queries.ts
Due: frontend

fix: url
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
Due: none

feat(sentry): upgrade to V8 + use default setup configuration to use `opentelemetry` (#5960)
  .kontinuous/env/dev/templates/www.sealed-secret.yaml
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/templates/www.sealed-secret.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/templates/www.sealed-secret.yaml
  .kontinuous/env/prod/values.yaml
  Dockerfile
  packages/code-du-travail-frontend/instrumentation.node.ts
  packages/code-du-travail-frontend/instrumentation.ts
  packages/code-du-travail-frontend/jest.config.js
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/_error.tsx
  packages/code-du-travail-frontend/sentry.client.config.ts
  packages/code-du-travail-frontend/sentry.edge.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
  packages/code-du-travail-frontend/sentry.server.config.ts
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
  packages/code-du-travail-frontend/test/mockSentry.js
  yarn.lock
Due: frontend

chore(release): version 4.143.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: config
  packages/code-du-travail-frontend/sentry.client.config.ts
Due: frontend

fix(sentry): modification configuration (#5969)
  packages/code-du-travail-frontend/sentry.client.config.ts
Due: frontend

chore(release): version 4.143.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix(sentry): set right project name following the change of the project name
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
Due: none

chore(release): version 4.143.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

chore: clean
  packages/code-du-travail-frontend/src/api/modules/themes/queries.ts
Due: frontend

just split in 2
  packages/code-du-travail-frontend/cypress/integration/heavy/validate-html-contributions-1.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/validate-html-contributions-2.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/validate-html.spec.ts
  packages/code-du-travail-frontend/cypress/support/before.ts
Due: frontend

Revert "chore: clean"
  packages/code-du-travail-frontend/src/api/modules/themes/queries.ts
Due: frontend

fix: build encore
  packages/code-du-travail-frontend/src/outils/__mocks__/service.ts
Due: frontend

chore: test api prod
  packages/code-du-travail-frontend/src/api/modules/stats/service.ts
Due: frontend

cleanup
  packages/code-du-travail-frontend/cypress/integration/heavy/validate-html-contributions-1.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/validate-html-contributions-2.spec.ts
  packages/code-du-travail-frontend/cypress/support/before.ts
  packages/code-du-travail-frontend/cypress/support/urls-contributions-to-validate-3.json
  packages/code-du-travail-frontend/cypress/support/urls-contributions-to-validate-4.json
Due: frontend

test to remove option
  packages/code-du-travail-frontend/cypress/integration/heavy/validate-html.spec.ts
Due: frontend

cleanup
  packages/code-du-travail-frontend/cypress/support/urls-to-validate.json
Due: frontend

feat: api with range year
  packages/code-du-travail-frontend/src/api/modules/stats/service.ts
Due: frontend

chore: clean piwik raw values
  packages/code-du-travail-frontend/src/api/modules/stats/service.ts
Due: frontend

chore: add dsfr css
  packages/code-du-travail-frontend/pages/_app.tsx
  packages/code-du-travail-frontend/public/static/cancel-dsfr.css
  packages/code-du-travail-frontend/src/layout/Header/index.tsx
  packages/code-du-travail-frontend/src/layout/Layout.tsx
Due: frontend

fix: autoscroll
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementNoResult.tsx
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggesterTheme.ts
  packages/code-du-travail-frontend/src/search/SearchBar/__tests__/DocumentSuggester.test.js
  packages/code-du-travail-frontend/src/search/SearchBar/__tests__/__snapshots__/DocumentSuggester.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchBar/index.tsx
  packages/code-du-travail-frontend/src/search/__tests__/SearchBar.test.js
  packages/code-du-travail-frontend/src/search/__tests__/SearchHero.test.js
  packages/react-ui/src/ScreenReaderOnly/index.js
  yarn.lock
Due: frontend, react-ui

fix: autoscroll
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
Due: frontend

fix: snapshot
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.tsx.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchBar.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchHero.test.js.snap
Due: frontend

refactor: review
  packages/code-du-travail-frontend/src/api/__tests__/__snapshots__/plan-du-site.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/themes/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/themes/queries.ts
Due: frontend

feat: page stats cache time + piwik env
  packages/code-du-travail-frontend/pages/stats.tsx
Due: frontend

put back valid id
  packages/code-du-travail-frontend/cypress/integration/heavy/validate-html.spec.ts
Due: frontend

fix: 5948 error dans les logs maxlistenersexceededwarning (#5966)
  packages/code-du-travail-frontend/src/api/__tests__/__snapshots__/plan-du-site.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/themes/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/themes/queries.ts
  packages/code-du-travail-frontend/src/api/modules/themes/service.ts
Due: frontend

fix: htmlfor
  packages/code-du-travail-frontend/src/layout/Header/index.tsx
Due: frontend
