Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix(frontend): disable logging undefined search query
  packages/code-du-travail-frontend/src/piwik.js
Due: frontend

fix(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feat(infra): elasticsearch module
  infra/elasticsearch/.eslintignore
  infra/elasticsearch/.eslintrc.yml
  infra/elasticsearch/.gitignore
  infra/elasticsearch/package.json
  infra/elasticsearch/src/esIndexName.ts
  infra/elasticsearch/src/index.ts
  infra/elasticsearch/src/mapping/.eslintrc.yml
  infra/elasticsearch/src/mapping/document.mapping.ts
  infra/elasticsearch/src/mapping/index.ts
  infra/elasticsearch/src/mapping/suggestion.mapping.ts
  infra/elasticsearch/src/types/Document.ts
  infra/elasticsearch/src/types/index.ts
  infra/elasticsearch/src/utils/analysis.ts
  infra/elasticsearch/src/utils/index.test.ts
  infra/elasticsearch/src/utils/index.ts
  infra/elasticsearch/src/vectorizer/__snapshots__/index.test.ts.snap
  infra/elasticsearch/src/vectorizer/index.test.ts
  infra/elasticsearch/src/vectorizer/index.ts
  infra/elasticsearch/tsconfig.build.json
  infra/elasticsearch/tsconfig.json
Due: none

chore(monorepo): add lint-staged
  .husky/pre-push
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

chore(monorepo): add lint-staged (#3347)
  .husky/pre-push
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

fix(frontend): use reference component in contribution page
  packages/code-du-travail-frontend/src/contributions/Contribution.js
Due: frontend

WIP: glossary tests
  .gitlab-ci/stages/quality.yml
  packages/code-du-travail-data/indexing/__tests__/addGlossary.test.js
  packages/code-du-travail-data/indexing/cdtnDocuments.js
  packages/code-du-travail-data/indexing/glossary.js
  packages/code-du-travail-data/indexing/markdown.js
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/contribution.test.js
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/src/common/Mdx.js
  packages/code-du-travail-frontend/src/common/__tests__/Mdx.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Mdx.test.js.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/__tests__/Contribution.test.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/rehypeToReact.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/rehypeToReact.test.js
  packages/code-du-travail-frontend/src/contributions/rehypeToReact.js
  yarn.lock
Due: frontend

chore: lock
  yarn.lock
Due: none

fix(glossary): fix mdx
  packages/code-du-travail-data/indexing/__tests__/addGlossary.test.js
  packages/code-du-travail-data/indexing/glossary.js
Due: none

feat(front): mdx
  packages/code-du-travail-frontend/src/common/Mdx.js
  packages/code-du-travail-frontend/src/common/__tests__/Mdx.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Mdx.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/Contribution.test.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/rehypeToReact.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/rehypeToReact.test.js
  packages/code-du-travail-frontend/src/contributions/rehypeToReact.js
Due: frontend

feat(data): addGlossary
  packages/code-du-travail-data/indexing/__tests__/addGlossary.test.js
  packages/code-du-travail-data/indexing/cdtnDocuments.js
  packages/code-du-travail-data/indexing/glossary.js
  packages/code-du-travail-data/indexing/toMarkdown.js
  packages/code-du-travail-data/package.json
Due: none

fix: use console.error for errors
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/indexing/glossary.js
Due: none

fix html
  packages/code-du-travail-data/indexing/__tests__/addGlossary.test.js
  packages/code-du-travail-data/indexing/glossary.js
Due: none

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.99.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore: update probe value
  .k8s/api.values.yml
  .k8s/frontend.values.yml
Due: none

ci: fix waiting script for e2e tests
  .gitlab-ci/stages/e2e.yml
Due: none

ci: fix waiting script for e2e tests (#3353)
  .gitlab-ci/stages/e2e.yml
Due: none

fix(deps): update all dependencies
  .gitlab-ci.yml
  .k8s/package.json
  .k8s/yarn.lock
  packages/code-du-travail-frontend/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui

update label function to format address matches
  packages/code-du-travail-api/src/server/routes/entreprises/searchEntreprise.js
Due: api

split address & company name + add no cc search
  packages/code-du-travail-api/src/server/routes/entreprises/index.js
  packages/code-du-travail-api/src/server/routes/entreprises/searchEntreprise.js
  packages/code-du-travail-frontend/src/conventions/Search/CompanyTile.js
  packages/code-du-travail-frontend/src/conventions/Search/api/entreprise.service.elastic.js
  packages/code-du-travail-frontend/src/conventions/Search/api/index.js
  packages/code-du-travail-frontend/src/conventions/Search/index.js
  packages/code-du-travail-frontend/src/conventions/Search/searchHook.js
Due: api, frontend

linter issue
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/index.test.js
Due: frontend

search type radio selection / add ccs / format
  packages/code-du-travail-api/src/server/routes/entreprises/index.js
  packages/code-du-travail-api/src/server/routes/entreprises/searchEntreprise.js
  packages/code-du-travail-frontend/src/conventions/Search/CompanyTile.js
  packages/code-du-travail-frontend/src/conventions/Search/api/entreprise.service.elastic.js
  packages/code-du-travail-frontend/src/conventions/Search/api/index.js
  packages/code-du-travail-frontend/src/conventions/Search/index.js
  packages/code-du-travail-frontend/src/conventions/Search/searchHook.js
Due: api, frontend

cc-search: update query
  packages/code-du-travail-api/src/server/routes/entreprises/index.js
  packages/code-du-travail-api/src/server/routes/entreprises/searchEntreprise.js
  packages/code-du-travail-frontend/src/conventions/Search/ConventionLink.js
  packages/code-du-travail-frontend/src/conventions/Search/api/getQueryType.js
Due: api, frontend

remove test while prototyping
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/index.js
  packages/code-du-travail-frontend/src/conventions/__tests__/SearchModal.test.js
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/InfosCCn.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/InfoCCn.test.js.snap
Due: frontend

disable test to check deployment
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
Due: frontend

update snapshot for CI
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/InfoCCn.test.js.snap
Due: frontend

add activite principale
  packages/code-du-travail-api/src/server/routes/entreprises/searchEntreprise.js
  packages/code-du-travail-frontend/src/conventions/Search/CompanyTile.js
Due: api, frontend

update search + highlight matching terms
  packages/code-du-travail-api/src/server/routes/entreprises/searchEntreprise.js
  packages/code-du-travail-frontend/src/conventions/Search/CompanyTile.js
  packages/code-du-travail-frontend/src/conventions/Search/ConventionLink.js
Due: api, frontend

typo
  packages/code-du-travail-api/src/server/routes/entreprises/searchEntreprise.js
Due: api

fix import
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/index.test.js
Due: frontend

remove test while prototyping
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
Due: frontend

add grouped by convention
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/ConventionLink.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/api/index.js
  packages/code-du-travail-frontend/src/conventions/Search/index.js
  packages/code-du-travail-frontend/src/conventions/Search/searchHook.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/InfoCCn.test.js.snap
Due: frontend

feat(search): use internal index for enterprise search
  packages/code-du-travail-api/src/server/index.js
  packages/code-du-travail-api/src/server/routes/entreprises/index.js
  packages/code-du-travail-api/src/server/routes/entreprises/searchEntreprise.js
  packages/code-du-travail-frontend/src/conventions/Search/api/entreprise.service.elastic.js
  packages/code-du-travail-frontend/src/conventions/Search/api/entreprise.service.js
  packages/code-du-travail-frontend/src/conventions/Search/api/index.js
Due: api, frontend

update linter & fix
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/index.test.js
Due: frontend

add tests
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/entreprises.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/entreprises.test.js
  packages/code-du-travail-api/src/server/routes/entreprises/index.js
  packages/code-du-travail-api/src/server/routes/entreprises/searchEntreprise.js
Due: api

remove deprecated code
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/entreprise.service.test.js
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/entretrise.mock.js
  packages/code-du-travail-frontend/src/conventions/Search/api/entreprise.service.js
Due: frontend

update test for CI to build
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/entreprise.service.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/InfoCCn.test.js.snap
Due: frontend

typo
  packages/code-du-travail-frontend/src/conventions/Search/api/index.js
Due: frontend

add last features : etablissements & conventions
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/entreprises.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/entreprises.test.js
  packages/code-du-travail-api/src/server/routes/entreprises/index.js
  packages/code-du-travail-api/src/server/routes/entreprises/searchEntreprise.js
  packages/code-du-travail-frontend/src/conventions/Search/CompanyTile.js
  packages/code-du-travail-frontend/src/conventions/Search/api/entreprise.service.elastic.js
  packages/code-du-travail-frontend/src/conventions/Search/api/entreprise.service.js
  packages/code-du-travail-frontend/src/conventions/Search/api/index.js
  packages/code-du-travail-frontend/src/conventions/Search/index.js
  packages/code-du-travail-frontend/src/conventions/Search/searchHook.js
Due: api, frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
