Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: cc
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/indemnite-licenciement.yaml
Due: none

fix: plafond
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
Due: none

fix: références manquante dans les sections page info (#4822)
  packages/code-du-travail-frontend/src/information/Components/Contents.tsx
  packages/code-du-travail-frontend/src/information/__tests__/contentsAccordion.test.tsx
  packages/code-du-travail-frontend/src/information/__tests__/contentsTab.test.tsx
  packages/code-du-travail-frontend/src/information/__tests__/mockedContent.ts
Due: frontend

fix: remove unsued code
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
Due: none

fix: retour
  packages/code-du-travail-modeles/src/modeles/conventions/573_commerces_de_gros/indemnite-licenciement.yaml
Due: none

chore(release): version 4.88.1
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui

feat: modification des motifs pour la 1090
  packages/code-du-travail-modeles/src/modeles/common/motif-keys.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/seniority.ts
Due: none

fix: no display of disclaimer for 3239 ineligibility
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc3239.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/eligibility-error-result.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Ineligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/service.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/common/Disclaimer.tsx
Due: frontend

fix: retour
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
Due: frontend

fix: CC change ineligibility error not reseting
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
Due: frontend

chore: fix failing tests
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/__tests__/indemnite-licenciement/anciennete.spec.ts
Due: none

fix: CC change ineligibility error not reseting (#4824)
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
Due: frontend

feat: modifier les warnings des résultats d'inéligibilité (#4821)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc3239.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/eligibility-error-result.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Ineligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/AgreementInfo.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/Ineligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/AgreementInfo.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/service.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/types.ts
  packages/code-du-travail-frontend/src/outils/common/Disclaimer.tsx
Due: frontend

fix: retour
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1517-commerces-de-detail-non-alimentaires/validator.ts
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
Due: frontend

fix(indemnite-licenciement): retours CC (#4826)
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1517-commerces-de-detail-non-alimentaires/validator.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/573_commerces_de_gros/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
Due: frontend

fix: event
  packages/code-du-travail-frontend/src/questionnaire/tracking.ts
Due: frontend

Updates
  iframe.html
  main.7596df8c.iframe.bundle.js
  vendors~main.f3bb39ba.iframe.bundle.js.map
  vendors~main.f9e0abfe.iframe.bundle.js
  vendors~main.f9e0abfe.iframe.bundle.js.LICENSE.txt
  vendors~main.f9e0abfe.iframe.bundle.js.map
Due: none

fix(procedure-licenciement): event qui ne dispose pas de `view_step_` (#4827)
  packages/code-du-travail-frontend/src/questionnaire/tracking.ts
Due: frontend

fix: retour
  package.json
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/413.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/index.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/seniority.ts
Due: frontend

fix: 413
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/anciennete.spec.ts
Due: none

fix: BUUUUUUUUUUUUUG
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/413.ts
  packages/code-du-travail-modeles/src/modeles/common/motifs.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/seniority.ts
Due: frontend

fix: BUUUUUUUUUUUUUG
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/anciennete.spec.ts
Due: none

fix: enfin
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/indemnite-licenciement.yaml
Due: none

fix: comme avant
  packages/code-du-travail-frontend/src/questionnaire/tracking.ts
Due: frontend

fix(procedure-licenciement): rollback sur le nom du questionnaire aux niveaux des events (#4829)
  packages/code-du-travail-frontend/src/questionnaire/tracking.ts
Due: frontend

fix(indemnite-licenciement): retour de la 413 (#4828)
  package.json
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/413.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/index.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/motifs.ts
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/seniority.ts
Due: frontend

feat: 1090 modification des motifs pour l'ancienneté (#4825)
  packages/code-du-travail-modeles/src/modeles/common/motif-keys.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/seniority.ts
Due: none

fix: tu
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/indemnite.spec.ts
Due: none

fix: test
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/motifs.ts
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/seniority.ts
Due: none

fix: naming
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/seniority.ts
Due: none

fix: question
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
Due: frontend

fix: question
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
Due: frontend

fix: without unit test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
Due: frontend

fix: tu
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/arret-travail.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/resultat-formules.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/indemnite-licenciement.yaml
Due: frontend

fix: retour
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
Due: frontend

fix: retour
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/arret-travail.test.tsx
Due: frontend

fix: volta
  package.json
Due: none

fix: duree
  packages/code-du-travail-frontend/src/outils/common/NoticeExample.tsx
  packages/code-du-travail-frontend/src/outils/utils/__tests__/extractDates.test.ts
  packages/code-du-travail-frontend/src/outils/utils/extractDates.ts
Due: frontend

fix: test
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/NoticeExample.test.tsx
Due: frontend
