Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix(api): preserve order when merging semantic and fulltext results (#2107)
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/conventions.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/docs-count.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/idcc.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/modeles.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/sheets-mt.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/conventions.test.js
  packages/code-du-travail-api/src/server/routes/__tests__/sheets-mt.test.js
  packages/code-du-travail-api/src/server/routes/__tests__/utils.test.js
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-api/src/server/routes/items/relatedItems.elastic.js
  packages/code-du-travail-api/src/server/routes/search/getDocumentByUrlQuery.js
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/search/search.elastic.js
  packages/code-du-travail-api/src/server/routes/search/search.sem.js
  packages/code-du-travail-api/src/server/routes/search/searchRelatedArticles.elastic.js
  packages/code-du-travail-api/src/server/routes/search/utils.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/index.js
  packages/code-du-travail-api/src/server/utils/fetchWithTimeout.js
  packages/code-du-travail-api/tests/cdtn_agreement.data.json
  packages/code-du-travail-api/tests/cdtn_document.data.json
  packages/code-du-travail-api/tests/cdtn_theme.data.json
  packages/code-du-travail-api/tests/fetch_mock_data.js
  packages/code-du-travail-api/tests/fiches_ministere_travail.data.json
Due: api

feat(frontend): inline idcc in convention search
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/Form.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Modal.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/api.js
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/InfoCCn.test.js.snap
Due: frontend

feat(frontend): inline idcc in convention search (#2178)
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/Form.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Modal.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/api.js
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/InfoCCn.test.js.snap
Due: frontend

feat(e2e): add search-ccn (#2176)
  optional/e2e/.runners/puppetteer/step_definitions/global.js
  optional/e2e/features/search-ccn.feature
Due: none

chore(deps): resolve to @babel Jackpot version (#2173)
  package.json
Due: none

ci(gitlab): share notify stage moment
  .gitlab-ci/stages/notify.yml
Due: none

feat(frontend): home stair tiles
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/themes/index.js
  packages/code-du-travail-frontend/src/home/Themes.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-ui/src/layout/Section/__snapshots__/test.js.snap
  packages/react-ui/src/layout/Section/index.js
Due: frontend, react-ui

fix(frontend):Fixed Fiche MT breadcrumbs dataset
  packages/code-du-travail-data/indexing/populate.js
Due: none

Add files via upload
  packages/code-du-travail-data/dataset/courrier-type/docx/affichage_Lutte_contre_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/certificat_de_travail.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/demande_paiement_salaire.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/demande_rdv_rupture_conventionnelle.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_economique_de_moins_de_10_salaries_pendant_30_jours.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_personnel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_de_cp.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_documents_de_fin_de_contrat.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_heures_sup.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/recu_pour_solde_de_tout_compte.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/renouvellement_periode_essai_initiative_employeur.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reponse_a_signalement_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_amiable_du_contrat_d_apprentissage.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_commun_accord_du_cdd.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_periode_d-essai_employeur.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_periode_d-essai_salarie.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/signalement_harcelement.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/signalement_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/temps_partiel_demande_de_derogation_du_salarie.docx
Due: none

chore(lock): lock update
  yarn.lock
Due: none

refactor(frontend): stairway to heaven
  packages/code-du-travail-frontend/src/home/Themes.js
Due: frontend

fix(frontend):Fixed Fiche MT breadcrumbs dataset (#2182)
  packages/code-du-travail-data/indexing/populate.js
Due: none

feat(frontend): home stair tiles (#2180)
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/themes/index.js
  packages/code-du-travail-frontend/src/home/Themes.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-ui/src/layout/Section/__snapshots__/test.js.snap
  packages/react-ui/src/layout/Section/index.js
Due: frontend, react-ui

Delete affichage_lutte_contre_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/affichage_lutte_contre_harcelement_sexuel.docx
Due: none

Add files via upload
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_personnel.docx
Due: none

Add files via upload
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_economique_de_moins_de_10_salaries_pendant_30_jours.docx
Due: none

Add files via upload
  packages/code-du-travail-data/dataset/courrier-type/docx/reponse_a_signalement_harcelement_sexuel.docx
Due: none

Add files via upload
  packages/code-du-travail-data/dataset/courrier-type/docx/Signalement_harcelement_sexuel.docx
Due: none

chore(release): version 4.0.0-gamma.4
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/preavis-demission/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-demission/package.json
  packages/code-du-travail-data/dataset/preavis-licenciement/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-licenciement/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(deps): update dependency husky to v4
  package.json
  yarn.lock
Due: none

chore(release): version 4.0.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/preavis-demission/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-demission/package.json
  packages/code-du-travail-data/dataset/preavis-licenciement/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-licenciement/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

Add files via upload
  packages/code-du-travail-data/dataset/courrier-type/docx/Affichage_lutte_contre_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/Signalement_harcelement.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/Signalement_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/certificat_de_travail.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/demande_paiement_salaire.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/demande_rdv_rupture_conventionnelle.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_economique_de_moins_de_10_salaries_pendant_30_jours.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_personnel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_de_cp.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_documents_de_fin_de_contrat.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_heures_sup.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/recu_pour_solde_de_tout_compte.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/renouvellement_periode_essai_initiative_employeur.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reponse_a_signalement_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_amiable_du_contrat_d_apprentissage.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_commun_accord_du_cdd.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_periode_d-essai_employeur.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_periode_d-essai_salarie.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/tableau_recap_des_heures_supplementaires.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/temps_partiel_demande_de_derogation_du_salarie.docx
Due: none

Add files via upload
  packages/code-du-travail-data/dataset/courrier-type/docx/affichage_lutte_contre_harcelement_sexuel (1).docx
Due: none

Add files via upload
  packages/code-du-travail-data/dataset/courrier-type/docx/Signalement_harcelement.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/Signalement_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/affichage_lutte_contre_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/certificat_de_travail.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/demande_paiement_salaire.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/demande_rdv_rupture_conventionnelle.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_economique_de_moins_de_10_salaries_pendant_30_jours.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/entretien_prealable_au_licenciement_personnel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_de_cp.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_documents_de_fin_de_contrat.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_heures_sup.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/recu_pour_solde_de_tout_compte.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/renouvellement_periode_essai_initiative_employeur.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reponse_a_signalement_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_amiable_du_contrat_d_apprentissage.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_commun_accord_du_cdd.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_periode_d-essai_employeur.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_periode_d-essai_salarie.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/tableau_recap_des_heures_supplementaires.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/temps_partiel_demande_de_derogation_du_salarie.docx
Due: none

Add files via upload
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_amiable_du_contrat_d_apprentissage.docx
Due: none

fix(frontend):fixed input search submit event
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
Due: frontend

fix(frontend): home theme icon displayed on black and white mode
  packages/code-du-travail-frontend/src/home/Themes.js
Due: frontend

fix(frontend): home theme icon displayed on black and white mode (#2193)
  packages/code-du-travail-frontend/src/home/Themes.js
Due: frontend

fix(frontend):fixed input search submit event (#2192)
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
Due: frontend

feat(frontend): add bundle analyzer
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui

chore(frontend): refactor next.config plugins management
  packages/code-du-travail-frontend/next.config.js
Due: frontend

chore: add ingress for www.code.travail.gouv.fr
  .k8s/ingress-prod.yml
Due: none

chore: try to reduce timeout and retry periods
  .k8s/frontend.values.yml
Due: none

fix: error certificate is not trusted since domains does not match with ingress
  .k8s/ingress-prod.yml
Due: none

feat(data): add fiche prime-pouvoir-achat
  packages/code-du-travail-data/dataset/fiches_ministere_travail/ministere-travail-liste-fiches.json
Due: none

chore: try to decrease periods values to limit downtime
  .k8s/api.values.yml
  .k8s/nlp.values.yml
Due: none

feat(frontend): add bundle analyzer (#2091)
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui
