Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix: business logic inside the code
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/constants.ts
Due: frontend

fix: question
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
Due: frontend

fix(frontend): remove cookies tracker (tarteaucitron + AT Internet) (#4133)
  packages/code-du-travail-frontend/@types/gtag.d.ts
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/index.js
  packages/code-du-travail-frontend/pages/politique-confidentialite.tsx
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/public/static/smarttag.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/css/tarteaucitron.css
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/lang/tarteaucitron.fr.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.services.js
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/src/AtInternetService.ts
  packages/code-du-travail-frontend/src/lib/index.ts
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
  packages/code-du-travail-frontend/src/lib/tracking/constants.ts
  packages/code-du-travail-frontend/src/lib/tracking/index.ts
  yarn.lock
Due: frontend

fix: test
  .github/workflows/review.yml
Due: none

remove unsued code
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

fix: regex problem
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

feat: add message
  packages/code-du-travail-data/simulateurs/preavis-demission.data.json
  packages/code-du-travail-data/simulateurs/preavis-licenciement.data.json
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
Due: frontend

feat: add message
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

feat: add notifications
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-modeles/src/__test__/3239-particuliers-employeurs-domicile/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile.yaml
Due: frontend

fix(frontend): regex tooltip (#4136)
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

fix(frontend): remove tag from dailymotion embed (#4135)
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

fix: spacing
  packages/code-du-travail-frontend/src/contributions/Contribution.js
Due: frontend

fix: text
  packages/code-du-travail-frontend/src/contributions/Contribution.js
Due: frontend

fix(frontend): spacing page personnalisable + ajout d'un `p` (#4137)
  packages/code-du-travail-frontend/src/contributions/Contribution.js
Due: frontend

fix: snapshot
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Html.test.js.snap
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/lib/index.ts
Due: frontend

fix: bug
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.tsx
Due: frontend

fix: disclaimer
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/Disclaimer.tsx
Due: frontend

feat(frontend): redirection CC 2111 and 2395 to 3239 (#4134)
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/src/constants.ts
  packages/code-du-travail-frontend/src/lib/__tests__/url.test.ts
  packages/code-du-travail-frontend/src/lib/url.ts
  packages/code-du-travail-frontend/src/middleware/redirect.ts
Due: frontend

fix: specify message
  packages/code-du-travail-data/simulateurs/preavis-demission.data.json
  packages/code-du-travail-data/simulateurs/preavis-licenciement.data.json
  packages/code-du-travail-modeles/src/__test__/3239-particuliers-employeurs-domicile/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile.yaml
Due: none

fix: message
  packages/code-du-travail-data/simulateurs/preavis-demission.data.json
  packages/code-du-travail-data/simulateurs/preavis-licenciement.data.json
  packages/code-du-travail-modeles/src/__test__/3239-particuliers-employeurs-domicile/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile.yaml
Due: none

chore(release): version 4.64.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: bug
  packages/code-du-travail-data/simulateurs/heures-recherche-emploi.data.json
  packages/code-du-travail-data/simulateurs/preavis-licenciement.data.json
Due: none

fix: redirection
  packages/code-du-travail-frontend/src/constants.ts
Due: frontend

Updates
  iframe.html
  main.db0a6299.iframe.bundle.js
  main.edddf3d3.iframe.bundle.js
Due: none

fix: simulateur
  packages/code-du-travail-data/prime-precarite/precarite.data.json
Due: none

fix(frontend): redirection from last to new cc (#4140)
  packages/code-du-travail-data/prime-precarite/precarite.data.json
  packages/code-du-travail-frontend/src/constants.ts
Due: frontend

chore(release): version 4.65.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: readme
  README.md
Due: none

fix(doc): readme.md (#4141)
  README.md
Due: none

chore(release): version 4.65.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(middleware): redirection cc 1809 (#4142)
  packages/code-du-travail-frontend/src/constants.ts
Due: frontend

chore(release): version 4.65.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: spacing search
  .env.development
  package.json
  packages/code-du-travail-api/src/routes/search/search.elastic.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
Due: api, frontend

fix: search
  packages/code-du-travail-api/src/routes/search/search.elastic.js
Due: api

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
