Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix(contributions): update to contribution-data new format
  packages/code-du-travail-frontend/src/contributions/Contribution.js
Due: frontend

chore update package
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, react-ui, react-fiche-service-public

fix review
  packages/code-du-travail-frontend/src/contributions/Contribution.js
Due: frontend

update frontend package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

rebase
  yarn.lock
Due: none

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

fix test
  packages/code-du-travail-frontend/src/search/__tests__/ListLink.test.js
Due: frontend

fix lint
  packages/react-fiche-service-public/src/components/Accordion.js
  packages/react-fiche-service-public/src/components/ElementBuilder.js
  packages/react-fiche-service-public/src/components/LienExterne.js
  packages/react-fiche-service-public/src/components/List.js
  packages/react-fiche-service-public/src/components/OuSAdresser.js
  packages/react-fiche-service-public/src/components/ServiceEnLigne.js
  packages/react-fiche-service-public/src/components/Table.js
  packages/react-fiche-service-public/src/components/Tabulator.js
  packages/react-fiche-service-public/src/components/Title.js
Due: react-fiche-service-public

lint: add react-fiches-service-public lint
  .gitlab-ci/stages/quality.yml
Due: none

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update all dependencies
  package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

feat(tools): add hre tool
  packages/code-du-travail-data/dataset/tools/internals.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
Due: frontend

feat(hre): update data
  packages/code-du-travail-data/dataset/simulateurs/heures-recherche-emploi.data.json
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

feat(tools): change first button labet to Commencer
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/PrevNextBar.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/Wizard.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
Due: frontend

test: update outils e2e tests
  optional/e2e/features/outils/indemnite-licenciement.feature
Due: none

feat(hre): update hre tools
  packages/code-du-travail-data/dataset/simulateurs/heures-recherche-emploi.data.json
  packages/code-du-travail-data/dataset/simulateurs/lib.js
  packages/code-du-travail-data/dataset/simulateurs/preavis-demission.data.json
  packages/code-du-travail-data/dataset/simulateurs/preavis-licenciement.data.json
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/InfosCCn.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/InfosCCn.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/stepReducer.test.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/stepReducer.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Informations.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/TypeRupture.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/situations.utils.js
Due: frontend

fix: lint
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/TypeRupture.js
Due: frontend

fix: review
  packages/code-du-travail-data/dataset/simulateurs/heures-recherche-emploi.data.json
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/stepReducer.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/TypeRupture.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.js
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.js
  packages/code-du-travail-frontend/src/outils/common/Wizard.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
Due: frontend

fix(hre): apply feedback
  packages/code-du-travail-data/dataset/simulateurs/heures-recherche-emploi.data.json
  packages/code-du-travail-data/dataset/simulateurs/lib.js
  packages/code-du-travail-data/dataset/simulateurs/preavis-demission.data.json
  packages/code-du-travail-data/dataset/simulateurs/preavis-licenciement.data.json
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/InfosCCn.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.js
Due: frontend

fix(hre): update wordings and data
  packages/code-du-travail-data/dataset/simulateurs/heures-recherche-emploi.data.json
  packages/code-du-travail-data/dataset/simulateurs/preavis-demission.data.json
  packages/code-du-travail-data/dataset/simulateurs/preavis-licenciement.data.json
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

fix: review
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

fix rebase
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Informations.test.js.snap
Due: frontend

feat(data): add new courriers
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/docx/lettre_de_licenciement_pour_motif_disciplinaire.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/lettre_de_licenciement_pour_motif_non_disciplinaire.docx
Due: none

feat(ui): auto-fix accordions
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

update snapshots
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/Accordion.test.js.snap
  packages/react-ui/src/Accordion/__snapshots__/test.js.snap
  packages/react-ui/src/MoreContent/__snapshots__/test.js.snap
Due: frontend, react-ui, react-fiche-service-public

use npx @socialgouv/yarn-workspace-focus-install
  packages/code-du-travail-data/.gitlab-ci.yml
Due: none

remove e2e test gitlab
  .gitlab-ci.yml
Due: none

remove after script
  packages/code-du-travail-data/.gitlab-ci.yml
Due: none

Revert "remove after script"
  packages/code-du-travail-data/.gitlab-ci.yml
Due: none

chore(deps): update dependency socialgouv/gitlab-ci-yml to v16
  .gitlab-ci.yml
Due: none

feat(ui): auto-fix accordions (#2882)
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/Accordion.test.js.snap
  packages/react-ui/package.json
  packages/react-ui/src/Accordion/__snapshots__/test.js.snap
  packages/react-ui/src/MoreContent/__snapshots__/test.js.snap
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

feat(data): add infographies
  packages/code-du-travail-api/src/server/routes/items/searchBySourceSlug.elastic.js
  packages/code-du-travail-data/dataset/editorial_content/contents.json
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/visite-medicale-synthese-1.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/visite-medicale-synthese-1.png
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/visite-medicale-synthese-2.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/visite-medicale-synthese-2.png
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-1.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-2.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-3.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-4.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-synthese-1.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-synthese-2.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale.md
  packages/code-du-travail-data/dataset/editorial_content/index.js
  packages/code-du-travail-frontend/pages/information/[slug].js
Due: api, frontend

feat(front): improve cc search tracking
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/conventions/Search/index.js
  packages/react-ui/src/Tile/index.js
  yarn.lock
Due: frontend, react-ui
