Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

ci: update nlp_url
  .gitlab-ci/env.sh
Due: none

chore(release): version 4.1.0-alpha.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/preavis-demission/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-demission/package.json
  packages/code-du-travail-data/dataset/preavis-licenciement/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-licenciement/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

ci: fix ingress (#2252)
  .gitlab-ci/env.sh
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
  .k8s/api.values.yml
  .k8s/frontend.values.yml
  .k8s/nlp.values.yml
Due: none

feat(frontend): use local polyfill
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/public/static/polyfill.min.js
Due: frontend

chore(deps): update yarn lock
  yarn.lock
Due: none

feat(frontend): use local polyfill (#2253)
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/public/static/polyfill.min.js
Due: frontend

chore(modele): update tableau-heure-supp
  packages/code-du-travail-data/dataset/courrier-type/docx/tableau_recap_des_heures_supplementaires.docx
Due: none

chore(deps): update yarn lock (#2254)
  yarn.lock
Due: none

fix(frontend): unfold accordion to have working anchor
  packages/code-du-travail-frontend/pages/mentions-legales.js
Due: frontend

feat(gdpr): add tarteaucitron
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/css/tarteaucitron.css
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/lang/tarteaucitron.fr.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.services.js
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  yarn.lock
Due: frontend

fix(tracking): update ui
  packages/code-du-travail-frontend/public/static/tarteaucitron/css/tarteaucitron.css
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
Due: frontend

fix(gdpr): force french lang
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
Due: frontend

fix(gdpr): add button to open modal
  packages/code-du-travail-frontend/pages/mentions-legales.js
Due: frontend

update snapshot
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
Due: frontend

fix yarn.lock
  yarn.lock
Due: none

fix footer merge error
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

wip
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.services.js
  packages/code-du-travail-frontend/src/layout/Footer.js
Due: frontend

fix(modeles): update docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_heures_sup.docx
Due: none

fix initial consent
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.services.js
Due: frontend

fix(gdpr): track initial accept
  packages/code-du-travail-frontend/src/layout/Footer.js
Due: frontend

fix(tools): update wording for indemnité licenciement
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend

chore(modele): update tableau-heure-supp (#2255)
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_heures_sup.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/tableau_recap_des_heures_supplementaires.docx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend

chore(release): version 4.1.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/preavis-demission/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-demission/package.json
  packages/code-du-travail-data/dataset/preavis-licenciement/CHANGELOG.md
  packages/code-du-travail-data/dataset/preavis-licenciement/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(grpd): fix tracking initial url
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
Due: frontend

Feat(gdpr): add cookie tracking campaign (#2235)
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/mentions-legales.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/css/tarteaucitron.css
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/lang/tarteaucitron.fr.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.services.js
  packages/code-du-travail-frontend/src/layout/Footer.js
  yarn.lock
Due: frontend

fix(idl): update result wording
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend

fix(idl): update result wording (#2258)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend

chore(release): version 4.1.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
Due: frontend

chore(deps): update all non-major dependencies
  optional/e2e/.runners/puppetteer/package.json
  optional/e2e/.runners/puppetteer/yarn.lock
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/requirements.txt
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

v0.0.0
  package.json
Due: none

chore(deps): pin @reach monorepo
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/requirements.txt
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui

fix(data): add breabcrumb data to contrib
  packages/code-du-travail-data/indexing/populate.js
Due: none

chore(deps): update dependency jest-styled-components to v7
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

feat(modele): update template mail + add filesize
  packages/code-du-travail-api/src/server/routes/items/searchBySourceSlug.elastic.js
  packages/code-du-travail-api/tests/cdtn_document.data.json
  packages/code-du-travail-data/dataset/courrier-type/docx/affichage_lutte_contre_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/demande_paiement_salaire.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_de_cp.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_documents_de_fin_de_contrat.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_des_heures_sup.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/signalement_harcelement.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/signalement_harcelement_sexuel.docx
  packages/code-du-travail-data/dataset/courrier-type/index.js
Due: api

chore: upgrade legi-data
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
Due: none

fix(modele): update reclamation cp
  packages/code-du-travail-data/dataset/courrier-type/docx/reclamation_de_cp.docx
Due: none

chore: upgrade legi-data (#2272)
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
Due: none
