Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

rename
  packages/code-du-travail-frontend/cypress/integration/validate-html.spec.ts
Due: frontend

clean up
  packages/code-du-travail-frontend/src/contributions/ContributionContent.tsx
Due: frontend

continue poc
  packages/code-du-travail-frontend/src/common-dsfr/Answer.tsx
  packages/code-du-travail-frontend/src/common-dsfr/Article.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/common/LawReferences.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/common/LinkedContent.tsx
Due: frontend

fix(style des accordéon): retrait de l'espace en haut des corps des accordéon (#5545)
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/DisplayContentContribution.test.tsx.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/index.js
  packages/code-du-travail-frontend/src/fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/code-du-travail-frontend/src/fiche-service-public/components/__tests__/__snapshots__/Accordion.test.js.snap
  packages/react-ui/src/Accordion/__snapshots__/test.js.snap
  packages/react-ui/src/Accordion/components/variants/base.js
  packages/react-ui/src/Accordion/components/variants/hierarchy.js
  packages/react-ui/src/Accordion/components/variants/tile.js
  packages/react-ui/src/Accordion/index.js
Due: frontend, react-ui

feat(recherche-entreprise): afficher les entreprises qui ont complété `9999` comme numéro d'idcc (#5564)
  packages/code-du-travail-frontend/src/api/__tests__/enterprise.test.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/fetchEnterprises.ts
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSelection.tsx
  packages/code-du-travail-frontend/test/jest.setup.js
Due: frontend

Updates
  project.json
Due: none

fix html + add test on generic
  packages/code-du-travail-frontend/cypress/integration/validate-html.spec.ts
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/react-ui/src/ArrowLink/index.js
Due: frontend, react-ui

more fixes
  packages/code-du-travail-frontend/cypress/integration/validate-html.spec.ts
  packages/code-du-travail-frontend/src/common/Share.tsx
  packages/react-ui/src/Button/index.js
Due: frontend, react-ui

button type
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.tsx.snap
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferenceList.test.js.snap
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/AccessibilityModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Article.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ContactModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/RelatedItems.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Share.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/ReferencesJuridique.test.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.tsx.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
  packages/react-ui/src/ArrowLink/__snapshots__/test.js.snap
  packages/react-ui/src/BurgerNav/__snapshots__/test.js.snap
  packages/react-ui/src/Button/__snapshots__/test.js.snap
  packages/react-ui/src/Button/index.js
  packages/react-ui/src/Dropdown/__snapshots__/test.js.snap
  packages/react-ui/src/Modal/__snapshots__/test.js.snap
  packages/react-ui/src/field/__snapshots__/test.js.snap
Due: frontend, react-ui

fix tests
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.tsx.snap
  packages/code-du-travail-frontend/cypress/integration/validate-html.spec.ts
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/AccessibilityModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ContactModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
  packages/react-ui/src/BurgerNav/__snapshots__/test.js.snap
  packages/react-ui/src/Button/__snapshots__/test.js.snap
  packages/react-ui/src/Button/index.js
  packages/react-ui/src/Dropdown/__snapshots__/test.js.snap
  packages/react-ui/src/Modal/__snapshots__/test.js.snap
Due: frontend, react-ui

fix e2e
  packages/code-du-travail-frontend/cypress/integration/validate-html.spec.ts
Due: frontend

fix: ssisisiisisis
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/accumulate-absence-by-year.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/176_industrie_pharmaceutique/__tests__/indemnite-licenciement/anciennete.spec.ts
Due: none

fix: redis
  .kontinuous/values.yaml
  packages/code-du-travail-frontend/cache-handler-redis.js
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: redis
  Dockerfile
Due: none

fix: redis
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
  Dockerfile
  packages/code-du-travail-frontend/cache-handler-redis.js
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: redis
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: pod
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
Due: none

fix: page contrib en statique
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/api/modules/contributions/queries.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/service.ts
Due: frontend

fix: page contrib en statique
  packages/code-du-travail-frontend/cache-handler-redis.js
Due: frontend

fix: page contrib en statique
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
  Dockerfile
  packages/code-du-travail-frontend/cache-handler-redis.js
Due: frontend

fix: page contrib en statique
  packages/code-du-travail-frontend/cache-handler-redis.js
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: page contrib en statique
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
Due: frontend

fix: page contrib en statique
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/NoticeExample.tsx
Due: frontend

fix: page contrib en statique
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/indemnite-licenciement.yaml
Due: none

fix: page contrib en statique
  packages/code-du-travail-modeles/src/modeles/base/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/indemnite-licenciement.yaml
Due: none

fix(contribution): balise HTML non parsée dans un li
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/DisplayContentContribution.test.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/DisplayContentContribution.test.tsx.snap
Due: frontend

fix(contributions): fix sur les espaces dans les contributions
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/DisplayContentContribution.test.tsx.snap
Due: frontend

fix: description
  packages/code-du-travail-frontend/src/api/modules/contributions/queries.ts
Due: frontend

fix: description
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
Due: frontend

feat(simulateurs): ajout une possibilité pour certaines CCs de donner un example avec le lendemain (#5555)
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/Components/DurationResult.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/types.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/ResultStep/Components/ShowResult.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/ResultStep/Step.tsx
  packages/code-du-travail-frontend/src/outils/common/NoticeExample.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/NoticeExample.test.tsx
Due: frontend

fix: description
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/api/modules/items/utils.ts
  packages/code-du-travail-frontend/src/api/utils/__tests__/functions.test.ts
  packages/code-du-travail-frontend/src/api/utils/functions.ts
Due: frontend

fix: description
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/contributions/utils.ts
Due: frontend

fix: description
  package.json
  packages/code-du-travail-frontend/pages/contribution/index.tsx
  packages/code-du-travail-frontend/pages/convention-collective/index.tsx
  packages/code-du-travail-frontend/pages/glossaire/index.tsx
  packages/code-du-travail-frontend/pages/index.tsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.tsx
  packages/code-du-travail-frontend/pages/outils/index.tsx
  packages/code-du-travail-frontend/pages/plan-du-site.tsx
  packages/code-du-travail-frontend/pages/stats.tsx
  packages/code-du-travail-frontend/pages/themes/index.tsx
Due: frontend

fix: build encore
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
Due: frontend
