Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

feat(frontend):Added date and hour to title print page
  packages/code-du-travail-frontend/src/outils/common/printResult.js
Due: frontend

chore: specify resources name
  .k8s/api.values.yml
Due: none

fix(wording): fix IndemnitePrecarite for #1834 (#1863)
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/pages/outils/[slug].js
  packages/code-du-travail-frontend/src/common/Outils.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Outils.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/index.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/index.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/index.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/index.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/index.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/index.test.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/TypeRemuneration.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeRemuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/index.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/CDD.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Remuneration.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CDD.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/situation.js
Due: frontend

build: add hpa for frontend
  .gitlab-ci/stages/deploy.yml
  .k8s/api.values.yml
  .k8s/frontend.values.yml
Due: none

chore: replace matomo url with the new one
  .k8s/secrets.yml
Due: none

feat: replace notify jobs with predefined ones
  .gitlab-ci.yml
  .gitlab-ci/stages/notify.yml
  .k8s/api.values.yml
  .k8s/frontend.values.yml
  .k8s/scripts/get-deploy-id.sh
  .k8s/scripts/send-url.sh
Due: none

fix(deps): update dependency @reach/dialog to ^0.6.3
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

fix(deps): update dependency @reach/tooltip to ^0.6.3
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency rollup to ^1.27.9
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: react-ui, react-fiche-service-public

chore(deps): update dependency @babel/preset-env to ^7.7.6
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

fix(deps): update dependency @socialgouv/fiches-vdd to ^1.0.51
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
Due: none

feat(frontend):Added date and hour to title print page (#1904)
  packages/code-du-travail-frontend/src/outils/common/printResult.js
Due: frontend

add yarn lock
  yarn.lock
Due: none

feat(idl): add ref url source
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/IndemniteConventionnelle.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/IndemniteLegale.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend

feat(idl): add ref url source (#1912)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/IndemniteConventionnelle.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/IndemniteLegale.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend

feat(api): add a 500ms timeout for NLP queries
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

feat: basic website usable without API
  packages/code-du-travail-frontend/pages/_error.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/outils/index.js
Due: frontend

fix: typo in setup env script
  scripts/setup-env.js
Due: none

add algo to select_result and add both algo when fulltext+sem are matching
  packages/code-du-travail-api/src/server/routes/__tests__/utils.test.js
  packages/code-du-travail-api/src/server/routes/search/utils.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/SearchResults/index.js
Due: api, frontend

separate merge and remove duplicates
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/utils.test.js
  packages/code-du-travail-api/src/server/routes/search/utils.js
Due: api

rebase
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
Due: frontend

fix(deps): update dependency @sentry/browser to ^5.10.2
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency @socialgouv/fiches-vdd to ^1.0.52
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
Due: none

fix(preavis-lic): show legal answer for unhandled agreement
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/InfosCCn.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/InfosCCn.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/InfosCCn.test.js.snap
Due: frontend

feat(outils): add/update disclaimer to preavis
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

fix(outils): add cdt ref with agreement ref
  packages/code-du-travail-frontend/src/lib/__tests__/jsxJoin.test.js
  packages/code-du-travail-frontend/src/lib/jsxJoin.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/situations.utils.js
Due: frontend

fix(preavis-lic): show legal answer for unhandled agreement (#1923)
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/InfosCCn.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/InfosCCn.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/InfosCCn.test.js.snap
Due: frontend

update yarn.lock
  yarn.lock
Due: none

Feat/elastic klout2 (#1924)
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
  .gitlab-ci/variables.yml
  .k8s/api.values.yml
  .k8s/frontend.values.yml
  .k8s/scripts/get-deploy-id.sh
  .k8s/scripts/send-url.sh
  .k8s/secrets.yml
  prez.md
Due: none

ci: muscle nlp / api pod
  .k8s/api.values.yml
  .k8s/nlp.values.yml
  prez.md
Due: none

remove nlp api
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

feat(api): add a 500ms timeout for NLP queries (#1915)
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

update merge algo to deal with duplicated results with same algo
  packages/code-du-travail-api/src/server/routes/search/utils.js
  packages/code-du-travail-frontend/src/search/__tests__/ListLink.test.js
Due: api, frontend

fix elastic scores in snapshot to match with algo=both change
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
Due: api

typo
  packages/code-du-travail-frontend/src/search/__tests__/ListLink.test.js
Due: frontend

fix(deps): update dependency next to ^9.1.5
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feat(outils): add/update disclaimer to preavis (#1922)
  packages/code-du-travail-frontend/src/lib/__tests__/jsxJoin.test.js
  packages/code-du-travail-frontend/src/lib/jsxJoin.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/situations.utils.js
Due: frontend

fix(outils): rename wrong html entity
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/CTT.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CTT.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
Due: frontend

build: update var according to new dev cluster
  .gitlab-ci/variables.yml
Due: none

fix(deps): update dependency @socialgouv/fiches-vdd to ^1.0.53
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
Due: none
