Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

chore(release): version 4.52.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore: roll the rollup stuff
  packages/code-du-travail-frontend/next.config.js
  packages/react-fiche-service-public/package.json
  packages/react-fiche-service-public/rollup.config.js
  packages/react-ui/package.json
  packages/react-ui/rollup.config.js
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

test(react-ui): update snapshot
  packages/react-ui/src/Titles/Heading/__snapshots__/test.js.snap
  packages/react-ui/src/Titles/InsertTitle/__snapshots__/test.js.snap
  packages/react-ui/src/Titles/PageTitle/__snapshots__/test.js.snap
  packages/react-ui/src/Titles/Subtitle/__snapshots__/test.js.snap
  packages/react-ui/src/Titles/Title/__snapshots__/test.js.snap
  packages/react-ui/src/layout/Container/__snapshots__/test.js.snap
Due: react-ui

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.163.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

Update packages/react-fiche-service-public/rollup.config.js
  packages/react-fiche-service-public/rollup.config.js
Due: react-fiche-service-public

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.164.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  .k8s/package.json
  .k8s/yarn.lock
  docker-compose.override.dev.yml
  docker/elasticsearch/Dockerfile
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  package.json
  packages/code-du-travail-api/Dockerfile
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  packages/slugify/package.json
  packages/sources/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

fix lint
  .eslintrc.yml
  packages/code-du-travail-frontend/__tests__/contribution.test.js
  packages/code-du-travail-frontend/__tests__/fiche-ministere-travail.test.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/src/common/__tests__/Answer.test.js
  packages/code-du-travail-frontend/src/contributions/__tests__/Contribution.test.js
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/agreement.mock.js
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/entretrise.mock.js
  packages/code-du-travail-frontend/src/conventions/Search/index.js
  packages/code-du-travail-frontend/src/data/L2253.js
  packages/code-du-travail-frontend/src/home/__tests__/Highlights.test.js
  packages/code-du-travail-frontend/src/outils/ConventionCollective/agreement/SearchAgreement.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/enterprise/SearchEnterprise.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/Result.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/Result.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/Result.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/Result.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/Result.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/InfosGenerales.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/Condition.test.js
  packages/code-du-travail-frontend/src/search/__tests__/SearchResults.test.js
Due: frontend

fix katex
  packages/code-du-travail-frontend/src/common/SurveyModal/__tests__/__snapshots__/SurveyModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/FormulaDetails.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/MathFormula.test.js.snap
Due: frontend

fix eslint
  packages/react-fiche-service-public/package.json
  packages/react-fiche-service-public/src/components/Accordion.js
Due: react-fiche-service-public

fix eslint cdtn-ui
  packages/react-ui/package.json
  packages/react-ui/src/Alert/index.js
  packages/react-ui/src/OverflowWrapper/index.js
  packages/react-ui/src/ScreenReaderOnly/index.js
  packages/react-ui/src/Tag/index.js
Due: react-ui

fix test cdtn-ui
  packages/react-ui/src/Accordion/__snapshots__/test.js.snap
  packages/react-ui/src/Alert/__snapshots__/test.js.snap
  packages/react-ui/src/GlobalStyles/__snapshots__/test.js.snap
  packages/react-ui/src/Modal/__snapshots__/test.js.snap
  packages/react-ui/src/ScreenReaderOnly/__snapshots__/test.js.snap
  packages/react-ui/src/Tabs/__snapshots__/test.js.snap
  packages/react-ui/src/Tag/__snapshots__/test.js.snap
Due: react-ui

fix test
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/convention-collective.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/AccessibilityModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ContactModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchBar.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchHero.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/Accordion.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/Tabulator.test.js.snap
Due: frontend, react-fiche-service-public

remove unused includes
  .gitlab-ci.yml
Due: none

fix(deps): update all dependencies
  .k8s/package.json
  .k8s/yarn.lock
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  packages/slugify/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

chore: update ES index secrets
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/api.sealed-secret.yaml
  .k8s/environments/preprod/api.sealed-secret.yaml
  .k8s/environments/prod/api.sealed-secret.yaml
  packages/code-du-travail-api/src/server/conf/elasticsearch.js
Due: api

fix(k8s): update secrets
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/api.sealed-secret.yaml
  .k8s/environments/preprod/api.sealed-secret.yaml
  .k8s/environments/prod/api.sealed-secret.yaml
Due: none

fix
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/environments/preprod/api.sealed-secret.yaml
Due: none

update snap and secret
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/environments/preprod/api.sealed-secret.yaml
Due: none

chore: update ES index secrets (#3636)
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/api.sealed-secret.yaml
  .k8s/environments/preprod/api.sealed-secret.yaml
  .k8s/environments/prod/api.sealed-secret.yaml
  packages/code-du-travail-api/src/server/conf/elasticsearch.js
Due: api

ci: update release job node version
  .gitlab-ci/stages/manual.yml
Due: none

ci(gitlab): update release job node version (#3639)
  .gitlab-ci/stages/manual.yml
Due: none

chore(release): version 4.52.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(k8s): update api secrets
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/prod/api.sealed-secret.yaml
Due: none

fix: update secret
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/api.sealed-secret.yaml
  .k8s/environments/preprod/api.sealed-secret.yaml
  .k8s/environments/prod/api.sealed-secret.yaml
Due: none

fix: update secret (#3640)
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/api.sealed-secret.yaml
  .k8s/environments/preprod/api.sealed-secret.yaml
  .k8s/environments/prod/api.sealed-secret.yaml
Due: none

chore: sort services-de-renseignement.json
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

fix(data): update services-de-renseignement with 301 results
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

chore(deps): update all dependencies
  .k8s/package.json
  .k8s/yarn.lock
  docker-compose.override.dev.yml
  docker/elasticsearch/Dockerfile
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

Update packages/code-du-travail-frontend/src/data/services-de-renseignement.json
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

fix: dev2->dev urls
  .env.sample
  .gitlab-ci/env.sh
  .gitlab-ci/variables.yml
  .k8s/environments/dev/api.configmap.yaml
  .k8s/environments/preprod/api.configmap.yaml
  optional/e2e/runners/puppeteer/README.md
  packages/code-du-travail-api/README.md
Due: api

Update variables.yml
  .gitlab-ci/variables.yml
Due: none

Update env.sh
  .gitlab-ci/env.sh
Due: none

ci: move to dev cluster
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
Due: none

fix: dev2-dev urls (#3645)
  .env.sample
  .gitlab-ci/env.sh
  .gitlab-ci/variables.yml
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/environments/dev/api.configmap.yaml
  .k8s/environments/preprod/api.configmap.yaml
  optional/e2e/runners/puppeteer/README.md
  packages/code-du-travail-api/README.md
Due: api

fix: update e2E tests
  optional/e2e/features/footer.feature
Due: none

fix(data): update services-de-renseignement with new redirections (#3643)
  optional/e2e/features/footer.feature
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

fix(frontend): remove survey
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/outils/common/ToolSurvey.js
Due: frontend

test: update snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
