Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix: coioooode
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

fix: dep
  yarn.lock
Due: none

fix: validation
  packages/code-du-travail-frontend/src/lib/__tests__/array.test.ts
  packages/code-du-travail-frontend/src/lib/array.ts
  packages/code-du-travail-frontend/src/lib/index.ts
  packages/code-du-travail-frontend/src/lib/object.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/Primes.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.tsx.snap
Due: frontend

fix: sisisisisiisis
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
Due: frontend

fix(redirection): remove accent on 1505 slug
  packages/code-du-travail-frontend/src/redirects.ts
Due: frontend

fix(redirection): remove accent on 1505 slug (#4436)
  packages/code-du-travail-frontend/src/redirects.ts
Due: frontend

fix: retour romain
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/lib/__tests__/date.test.ts
  packages/code-du-travail-frontend/src/lib/date.ts
  packages/code-du-travail-frontend/src/lib/index.ts
  packages/code-du-travail-frontend/src/outils/Components/DebugInfo.tsx
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/react-ui/src/Collapse/index.js
  packages/react-ui/src/field/Input.js
  packages/react-ui/src/field/InputDate.js
  packages/react-ui/src/field/test.js
  yarn.lock
Due: frontend, react-ui

fix: snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/TextQuestion.test.js.snap
  packages/react-ui/src/field/__snapshots__/test.js.snap
Due: frontend, react-ui

fix: test wip
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriods.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
Due: frontend

feat: add test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/computeSalaryPeriods.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/components/__tests__/FauteGrave.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/components/__tests__/TypeContratMessage.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction/components/Intro.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction/components/__tests__/Intro.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction/components/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FormulaDetails.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/IndemniteLegal.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/__tests__/store.test.ts
Due: frontend

feat: add test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/generateExaplanation.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/Primes.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/__tests__/Primes.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/__tests__/SalaireTempsPlein.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/__tests__/TempsPartiel.test.tsx
Due: frontend

fix: tu
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/Components/SimulatorNavigation.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/Wizard.test.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
  yarn.lock
Due: frontend

fix: e2e
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend/src/outils/Components/RadioQuestion.tsx
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
Due: frontend

fix(tu): max
  packages/code-du-travail-frontend/src/common/__tests__/ErrorBoundary.test.js
Due: frontend

fix: ignore
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/TextQuestion.test.js.snap
  packages/react-ui/src/field/Input.js
  packages/react-ui/src/field/__snapshots__/test.js.snap
Due: frontend, react-ui

fix: retour
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/outils/Components/DebugInfo.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/validator.ts
Due: frontend

fix: tu
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/computeReferenceSalary.test.ts
Due: frontend

fix: code
  packages/code-du-travail-frontend/src/outils/Components/RadioQuestion.tsx
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
Due: frontend

chore(release): version 4.78.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(frontend): beautify ErrorBoundary (#4417)
  packages/code-du-travail-frontend/src/common/ErrorBoundary.js
  packages/code-du-travail-frontend/src/common/__tests__/ErrorBoundary.test.js
Due: frontend

fix(workflow): add github release
  .github/workflows/release.yml
Due: none

chore(release): version 4.78.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: index
  packages/code-du-travail-modeles/src/__test__/1596-batiment-ouvriers-employes/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/salaire-reference/1596_batiment_ouvriers_employes.ts
  packages/code-du-travail-modeles/src/modeles/base/salaire-reference/__tests__/1596_batiment_ouvriers_employes.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/salaire-reference/__tests__/legal.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/salaire-reference/index.ts
  packages/code-du-travail-modeles/src/modeles/base/salaire-reference/legal.ts
  packages/code-du-travail-modeles/src/modeles/base/utils/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1596_batiment_ouvriers_employes/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1596_batiment_ouvriers_employes/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1596_batiment_ouvriers_employes/preavis-retraite.yaml
Due: none

fix: index
  packages/code-du-travail-api/src/tests/ignored/search_results/1596.json
  packages/code-du-travail-api/src/tests/ignored/search_results/1597.json
  packages/code-du-travail-api/src/tests/ignored/search_results/3239.json
  packages/code-du-travail-api/src/tests/ignored/search_results/Congés_payés_et_fractionnement.json
  packages/code-du-travail-api/src/tests/ignored/search_results/HCR.json
  packages/code-du-travail-api/src/tests/ignored/search_results/Préavis.json
  packages/code-du-travail-api/src/tests/ignored/search_results/Solde_de_tout_compte.json
  packages/code-du-travail-api/src/tests/ignored/search_results/amiante.json
  packages/code-du-travail-api/src/tests/ignored/search_results/assistant_maternel.json
  packages/code-du-travail-api/src/tests/ignored/search_results/assistantes_maternelles.json
  packages/code-du-travail-api/src/tests/ignored/search_results/congés_payés.json
  packages/code-du-travail-api/src/tests/ignored/search_results/convention_collective.json
  packages/code-du-travail-api/src/tests/ignored/search_results/convention_collective_assistante_maternelle.json
  packages/code-du-travail-api/src/tests/ignored/search_results/covid_19_(variante_de_coronavirus).json
  packages/code-du-travail-api/src/tests/ignored/search_results/heures_supplémentaires.json
  packages/code-du-travail-api/src/tests/ignored/search_results/indemnité_licenciement.json
  packages/code-du-travail-api/src/tests/ignored/search_results/indemnités_de_licenciement.json
  packages/code-du-travail-api/src/tests/ignored/search_results/lettre_de_démission_(variante_de_lettre-demission).json
  packages/code-du-travail-api/src/tests/ignored/search_results/licenciement.json
  packages/code-du-travail-api/src/tests/ignored/search_results/licenciement_inaptitude.json
  packages/code-du-travail-api/src/tests/ignored/search_results/particulier_employeur.json
  packages/code-du-travail-api/src/tests/ignored/search_results/particuliers_employeurs.json
  packages/code-du-travail-api/src/tests/ignored/search_results/période_d'essai.json
  packages/code-du-travail-api/src/tests/ignored/search_results/rupture_conventionnelle_cdi.json
  packages/code-du-travail-api/src/tests/ignored/search_results/syntec.json
Due: api

fix(search): add synonymes and a snapshot test to most popular result (#4393)
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/environments/preprod/api.configmap.yaml
  packages/code-du-travail-api/.eslintrc.js
  packages/code-du-travail-api/README.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/index.js
  packages/code-du-travail-api/src/routes/__tests__/suggest.spec.js
  packages/code-du-travail-api/src/routes/search/search.elastic.js
  packages/code-du-travail-api/src/tests/ignored/search.test.ts
  packages/code-du-travail-api/tsconfig.json
  yarn.lock
Due: api

fix: tu
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/computeSalaryPeriods.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
  packages/react-ui/src/field/InputDate.js
  packages/react-ui/src/field/__snapshots__/test.js.snap
Due: frontend, react-ui

fix: tu
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/computeSalaryPeriods.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/Primes.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/types.ts
Due: frontend

fix: hasBeenSubmit
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
Due: frontend

fix: hasBeenSubmit
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/computeReferenceSalary.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-modeles/src/index.ts
  packages/code-du-travail-modeles/src/internal/build.ts
  packages/code-du-travail-modeles/src/modeles/base/salaire-reference/1596_batiment_ouvriers_employes.ts
  packages/code-du-travail-modeles/src/modeles/base/salaire-reference/__tests__/legal.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/salaire-reference/index.ts
  packages/code-du-travail-modeles/src/modeles/base/salaire-reference/legal.ts
  packages/code-du-travail-modeles/src/modeles/base/utils/index.ts
  packages/code-du-travail-modeles/src/plugins/index.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/1596_batiment_ouvriers_employes.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/__tests__/1596_batiment_ouvriers_employes.spec.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/__tests__/legal.spec.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/index.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/legal.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/types.ts
  packages/code-du-travail-modeles/src/publicodes/PreavisRetraitePublicodes.ts
  packages/code-du-travail-modeles/src/publicodes/Publicodes.ts
  packages/code-du-travail-modeles/src/publicodes/PublicodesBase.ts
  packages/code-du-travail-modeles/src/publicodes/utils/__tests__/preavis-retraite.test.ts
  packages/code-du-travail-modeles/src/publicodes/utils/index.ts
  packages/code-du-travail-modeles/src/publicodes/utils/preavis-retraite.ts
  packages/code-du-travail-modeles/src/utils/common.ts
  packages/code-du-travail-modeles/src/utils/index.ts
Due: frontend

fix: salaire ref
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/publicodes/utils/indemnite-licenciement.ts
Due: frontend

fix: salaire ref
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
Due: frontend

fix: salaire ref
  packages/code-du-travail-frontend/src/outils/publicodes/utils/indemnite-licenciement.ts
Due: frontend

fix: typing
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/1596_batiment_ouvriers_employes.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/__tests__/1596_batiment_ouvriers_employes.spec.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/__tests__/legal.spec.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/index.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/legal.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/types.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/v.ts
Due: frontend

fix: mopdel
  packages/code-du-travail-modeles/src/__test__/1516-organismes-formation/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1596_batiment_ouvriers_employes/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/plugins/salaire-reference/1516_organismes_formation.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/__tests__/1516_organismes_formation.spec.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/__tests__/1596_batiment_ouvriers_employes.spec.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/__tests__/legal.spec.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/index.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/legal.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/types.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/v.ts
  packages/code-du-travail-modeles/src/utils/__tests__/date.spec.ts
  packages/code-du-travail-modeles/src/utils/date.ts
  packages/code-du-travail-modeles/src/utils/index.ts
Due: none

fix: mopdel
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/cc/1516/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/cc/components/SalaryPeriod.tsx
Due: frontend

feat(tools): assistant maternel ne peut pas être mis à la retraite
  packages/code-du-travail-modeles/src/__test__/3239-particuliers-employeurs-domicile/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile.yaml
Due: none

fix: mopdel
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/cc/components/SalaryPeriod.tsx
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
