Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix: search
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: frontend

fix: select convention
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.tsx
Due: frontend

fix: redirection
  packages/code-du-travail-frontend/src/constants.ts
  packages/code-du-travail-frontend/src/lib/__tests__/url.test.ts
Due: frontend

fix: redirection 3239 (#4147)
  packages/code-du-travail-frontend/src/constants.ts
  packages/code-du-travail-frontend/src/lib/__tests__/url.test.ts
Due: frontend

chore(release): version 4.65.3
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: message + tests
  packages/code-du-travail-data/simulateurs/preavis-demission.data.json
  packages/code-du-travail-data/simulateurs/preavis-licenciement.data.json
  packages/code-du-travail-modeles/src/__test__/3239-particuliers-employeurs-domicile/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile.yaml
Due: none

feat: add at internet
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/politique-confidentialite.tsx
  packages/code-du-travail-frontend/public/static/smarttag.js
  packages/code-du-travail-frontend/src/lib/atinternet.ts
  packages/code-du-travail-frontend/src/lib/index.ts
  packages/code-du-travail-frontend/src/lib/matomo.ts
Due: frontend

fix: snapshot
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
Due: frontend

feat: add at internet to index
  packages/code-du-travail-frontend/src/lib/index.ts
Due: frontend

fix: last change
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/InfosCCn.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/EchelonChimie.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/AncienneteETAMIC.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Salaire.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/AbsencePeriods.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/SalaireTempsPartiel.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/SalaireTempsPlein.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/TypeContrat.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Info.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Primes.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeContrat.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeRemuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CDD.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CTT.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.tsx
  packages/code-du-travail-frontend/src/outils/common/Question.tsx
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/Question.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/InfoCCn.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/TextQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/YesNoQuestion.test.js.snap
Due: frontend

fix: minimum
  packages/code-du-travail-frontend/src/lib/html.ts
  packages/code-du-travail-frontend/src/search/utils.js
Due: frontend

fix(parsing): fix error 500 when parsing anchors
  packages/code-du-travail-frontend/public/static/modeles.css
  packages/code-du-travail-frontend/src/lib/__tests__/htmlParser.test.ts
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

Revert "fix(parsing): fix error 500 when parsing anchors"
  packages/code-du-travail-frontend/public/static/modeles.css
  packages/code-du-travail-frontend/src/lib/__tests__/htmlParser.test.ts
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

add more coverage
  packages/code-du-travail-frontend/src/lib/__tests__/htmlParser.test.ts
Due: frontend

add more coverage (fix)
  packages/code-du-travail-frontend/src/lib/__tests__/htmlParser.test.ts
Due: frontend

fix(parsing): fix error 500 when parsing anchors (#4152)
  packages/code-du-travail-frontend/public/static/modeles.css
  packages/code-du-travail-frontend/src/lib/__tests__/htmlParser.test.ts
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

fix(h1): add missing H1 on page SimulateurEmbauche.js
  packages/code-du-travail-frontend/src/outils/SimulateurEmbauche.js
Due: frontend

fix(h1): add missing H1 on page SimulateurEmbauche.js (#4156)
  packages/code-du-travail-frontend/src/outils/SimulateurEmbauche.js
Due: frontend

fix(simulator): message + tests for 3239 (#4148)
  packages/code-du-travail-data/simulateurs/preavis-demission.data.json
  packages/code-du-travail-data/simulateurs/preavis-licenciement.data.json
  packages/code-du-travail-modeles/src/__test__/3239-particuliers-employeurs-domicile/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile.yaml
Due: none

feat(accessibility): update accessibility conformity info
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/accessibilite.js
  packages/code-du-travail-frontend/src/layout/Footer.tsx
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

fix: search
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/routes/search/index.js
  packages/code-du-travail-api/src/routes/search/search.elastic.js
  packages/code-du-travail-api/src/routes/search/search.sem.js
  packages/code-du-travail-api/src/routes/search/sourcesFilter.elastic.js
Due: api

chore(release): version 4.65.4
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

better h1
  packages/code-du-travail-frontend/src/outils/SimulateurEmbauche.js
Due: frontend

Remove completed criteria
  packages/code-du-travail-frontend/pages/accessibilite.js
Due: frontend

fix(frontend): spacing search (#4145)
  .env.development
  package.json
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.tsx
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: frontend

fix: style remover
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

feat(modeles): cc 2596 for retirement added
  packages/code-du-travail-modeles/src/__test__/2596-coiffure/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure.yaml
Due: none

feat(simulator): add new CC 2941
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile.yaml
Due: none

feat(heading style): make headings style different for each heading
  packages/react-ui/src/GlobalStyles/components/Headings.js
  packages/react-ui/src/Titles/Heading/index.js
  packages/react-ui/src/Titles/Heading/story.js
  packages/react-ui/src/Titles/story.js
Due: react-ui

snaps
  packages/react-ui/src/GlobalStyles/__snapshots__/test.js.snap
Due: react-ui

fix 2 ans ou plus
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile.yaml
Due: none

fix(frontend): remove comment for cheerio (#4163)
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

fix: cc
  packages/code-du-travail-modeles/src/__test__/2596-coiffure/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure.yaml
Due: none

fix: remove tracking with cookie
  packages/code-du-travail-frontend/pages/politique-confidentialite.tsx
  packages/code-du-travail-frontend/src/lib/atinternet.ts
Due: frontend

fix: remove tracking with cookie
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
Due: frontend

fix: treated
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure.yaml
Due: none

feat: add cc
  packages/code-du-travail-modeles/src/__test__/86-publicite-française/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise.yaml
Due: none

fix: 25 mois
  packages/code-du-travail-modeles/src/__test__/2596-coiffure/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure.yaml
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
