Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

Fix courrier author (#2086)
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/modeles.test.js.snap
  packages/code-du-travail-api/src/server/routes/modeles/searchModele.elastic.js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
Due: api, frontend

fix: update df data (#2090)
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/server/routes/search/getDocumentByUrlQuery.js
  packages/code-du-travail-data/dataset/datafiller/glossary.data.json
  packages/code-du-travail-data/dataset/datafiller/prequalified.data.json
  packages/code-du-travail-data/dataset/datafiller/themes.data.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
Due: api, frontend

fix(contrib): wrap <content> into a div (#2087)
  packages/code-du-travail-frontend/src/common/Mdx.js
Due: frontend

fix(ci): dont deploy renovate PRs, some cleanup (#2089)
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
  .k8s/nlp.values.yml
  packages/code-du-travail-nlp/api/loader.py
  packages/code-du-travail-nlp/api/sem_search.py
Due: none

fix(ci): rename nlp-nodejs -> nlp-python
  .gitlab-ci/env.sh
Due: none

fix(ci): rename nlp-nodejs -> nlp-python (#2094)
  .gitlab-ci/env.sh
Due: none

fix: typo in setup env script (#2097)
  scripts/setup-env.js
Due: none

ci(k8s): use prod certificate (#2083)
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
  .k8s/api.values.yml
  .k8s/frontend.values.yml
  docker/elasticsearch/Dockerfile
Due: none

feat(frontend):Updated UI fields
  packages/code-du-travail-frontend/src/conventions/Search/Form.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/AbsencePeriods.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/Primes.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPartiel.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPlein.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/TypeContrat.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/TypeContrat.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/TypeRemuneration.js
  packages/code-du-travail-frontend/src/outils/common/CurrencyField.js
  packages/code-du-travail-frontend/src/outils/common/RadioQuestion.js
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.js
  packages/code-du-travail-frontend/src/outils/common/TextQuestion.js
  packages/code-du-travail-frontend/src/outils/common/Wizard.js
  packages/code-du-travail-frontend/src/outils/common/YesNoQuestion.js
  packages/react-ui/src/field/Input.js
  packages/react-ui/src/field/InputDate.js
  packages/react-ui/src/field/Radio.js
  packages/react-ui/src/field/Select.js
  packages/react-ui/src/field/__snapshots__/test.js.snap
  packages/react-ui/src/field/story.js
Due: frontend, react-ui

feat(frontend): add missing inputs
  packages/code-du-travail-frontend/src/common/ServiceRenseignement.js
  packages/code-du-travail-frontend/src/conventions/Convention/TextSearch.js
  packages/code-du-travail-frontend/src/conventions/Search/Form.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/Categorie.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/EchelonChimie.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/Categorie.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/Step.js
  packages/react-ui/src/Tile/index.js
Due: frontend, react-ui

test(frontend):Updated snapshots
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Modal.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/AncienneteETAMIC.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Salaire.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/AbsencePeriods.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/Primes.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/SalaireTempsPartiel.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/SalaireTempsPlein.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/TypeContrat.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Anciennete.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Info.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Primes.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeContrat.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeRemuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CDD.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CTT.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/RadioQuestion.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/InfoCCn.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/RadioQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/TextQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/YesNoQuestion.test.js.snap
Due: frontend

test(frontend): update snapshots
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/DownloadFile.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Categorie.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/EchelonChimie.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Categorie.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-ui/src/CardList/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
Due: frontend, react-ui

test(chore): updatesnaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/convention-collective.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchHero.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-ui/src/layout/Section/__snapshots__/test.js.snap
Due: frontend, react-ui

feat(ui): add decorated section
  packages/react-ui/src/layout/Section/index.js
  packages/react-ui/src/layout/Section/story.js
  packages/react-ui/src/layout/Section/test.js
Due: react-ui

fix(cc): fix link to contributions fix #2101
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix(cc): fix link to contributions fix #2101 (#2102)
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

Update verb tense to keep it coherent
  packages/code-du-travail-data/dataset/tools/externals.json
Due: none

Update descriptions to make them go on 3 lines
  packages/code-du-travail-data/dataset/tools/index.js
Due: none

Update description to make it fit on 3 lines
  packages/code-du-travail-data/dataset/tools/externals.json
Due: none

Update tool title to make it coherent with other
  packages/code-du-travail-frontend/pages/index.js
Due: frontend

fix(cc): fix contrib alert message
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
Due: frontend

fix snaps
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix: snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
Due: frontend

feat(ui): add new section (#2048)
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/convention-collective.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchHero.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-ui/src/layout/Section/__snapshots__/test.js.snap
  packages/react-ui/src/layout/Section/index.js
  packages/react-ui/src/layout/Section/story.js
  packages/react-ui/src/layout/Section/test.js
Due: frontend, react-ui

Small wording changes (#2104)
  packages/code-du-travail-data/dataset/tools/externals.json
  packages/code-du-travail-data/dataset/tools/index.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/index.js
Due: frontend

fix: change contribution message position (#2105)
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix(frontend): remove duplicate relatedItems
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/Answer.test.js
  packages/code-du-travail-frontend/src/common/__tests__/RelatedItems.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/RelatedItems.test.js.snap
Due: frontend

fix(frontend): remove duplicate relatedItems (#2098)
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/Answer.test.js
  packages/code-du-travail-frontend/src/common/__tests__/RelatedItems.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/RelatedItems.test.js.snap
Due: frontend

feat(courrier): add new docx file
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_amiable_du_contrat_d_apprentissage.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_commun_accord_du_cdd.docx
Due: none

ci(gitlab): use correct FRONTEND_URL host for notify
  .gitlab-ci/stages/notify.yml
Due: none

Update courriers.json (#2092)
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_amiable_du_contrat_d_apprentissage.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/rupture_commun_accord_du_cdd.docx
Due: none

ci(gitlab): use correct FRONTEND_URL host for notify (#2110)
  .gitlab-ci/stages/notify.yml
Due: none

ci(k8s): override k8s nlp name
  .k8s/nlp.values.yml
Due: none

ci(k8s): override k8s nlp name (#2112)
  .k8s/nlp.values.yml
Due: none

fix: snaps
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/ReferenceList.test.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/ReferencesJuridiques.test.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferenceList.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
Due: frontend

fix(fiches-SP): references CC : use external link
  packages/code-du-travail-data/dataset/fiches_service_public/format.js
  packages/code-du-travail-data/dataset/fiches_service_public/parseReference.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/ReferenceList.js
Due: frontend

fix(cdt): fix articles links
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].js
Due: frontend

feat(frontend): add footer links
  packages/code-du-travail-frontend/src/layout/Footer.js
Due: frontend
