Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix: sentry secret
  packages/code-du-travail-frontend/sentry.edge.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
Due: frontend

fix: record
  packages/code-du-travail-frontend/sentry.client.config.js
Due: frontend

fix: replay
  packages/code-du-travail-frontend/next.config.js
Due: frontend

fix: enable webpack
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/index.tsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/makeArticlesLinks.test.js
  packages/code-du-travail-frontend/src/conventions/Search/searchHook.ts
Due: frontend

fix: command
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/a-propos.tsx
  packages/code-du-travail-frontend/pages/index.tsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].tsx
Due: frontend

fix: lint
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/accumulate-absence-by-year.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1606_bricolage/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1606_bricolage/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1606_bricolage/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1606_bricolage/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1672_societes_assurances/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1996_pharmacie/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1996_pharmacie/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1996_pharmacie/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/références.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/573_commerces_de_gros/__tests__/indemnite-licenciement/indemnite.spec.ts
Due: none

fix: ref name
  .github/workflows/production.yml
Due: none

fix: ref name
  .github/workflows/production.yml
  packages/code-du-travail-frontend/sentry.client.config.js
Due: frontend

fix(docker): set alpine version for node 20
  Dockerfile
Due: none

Updates
  project.json
Due: none

fix(indemnite-licenciement): salaire de reference non pris en compte sur la cc 44 (#5162)
  packages/code-du-travail-frontend/jest.config.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc44.test.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/salary.ts
Due: frontend

fix(indemnite-licenciement): ajout d'une notification pour la CC 3239 (#5164)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/indemnite-licenciement.yaml
Due: frontend

feat(widget): ajout d'une balise meta et d'une balise canonical (#5170)
  packages/code-du-travail-frontend/pages/widgets/[slug].tsx
  packages/code-du-travail-frontend/pages/widgets/search.tsx
Due: frontend

fix(workflow): sentry prefix for preprod
  .github/workflows/preproduction.yml
Due: none

fix(workflow): add `ignore_empty` params for sentry
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
Due: none

fix(source-maps): remove for preproduction and production
  packages/code-du-travail-frontend/next.config.js
Due: frontend

fix: missed copy
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/__tests__/preavis-retraite/depart.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/__tests__/preavis-retraite/mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/__tests__/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/common.yaml
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/index.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/modeles/common/factory/29_hospitalisation_privee_but_non_lucratif/salary.ts
Due: none

fix: bug
  .k8s/package.json
  .k8s/yarn.lock
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui

chore: snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Html.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Share.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix(sentry): disable webpack plugin
  packages/code-du-travail-frontend/next.config.js
Due: frontend

feat(indemnite-licenciement): retirer pour certaines cc un messages sur la page resultat (#5165)
  .k8s/package.json
  .k8s/yarn.lock
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc3239.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/ui-customizations/messages.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/types.ts
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui

fix: review branch
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/ForMoreInfo.tsx
Due: frontend

fix tests
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
Due: frontend

fix(package.json): command update snapshot for frontend
  packages/code-du-travail-frontend/package.json
Due: frontend

fix: utilisation des maps pour sentry
  .github/workflows/dev.yml
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
  packages/code-du-travail-frontend/next.config.js
Due: frontend

fix: unit test
  packages/code-du-travail-frontend/package.json
Due: frontend

fix(widget): stop scrolling too much when widget is installed on very height page
  packages/code-du-travail-frontend/scripts/widget-template.js
Due: frontend

fix: utilisation des maps pour sentry (#5176)
  .github/workflows/dev.yml
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
