Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

feat: display questions one by one in contract part
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-contract.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/index.tsx
Due: frontend

fix: api
  packages/cdtn-types/index.ts
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/pages/widgets/[slug].tsx
Due: frontend

fix: api
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/routes/tools/index.ts
  packages/code-du-travail-api/src/routes/tools/service.ts
  packages/code-du-travail-frontend/__tests__/outils.test.tsx
  packages/code-du-travail-frontend/src/outils/__mocks__/service.ts
  packages/code-du-travail-frontend/src/outils/service.ts
Due: api, frontend

update results
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/__tests__/indemnite-licenciement/indemnite.spec.ts
Due: none

fix: formules
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/2264.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/413.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: frontend

fix: mixte
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/data/formule_avec_non_applicable.yaml
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/__tests__/indemnite-licenciement/formula.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: none

fix: non applicable si
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: none

fix: tout sauf
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/data/formule_avec_non_applicable.yaml
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/__tests__/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: none

fix: tout sauf
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: none

fix: tout sauf
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/__tests__/indemnite-licenciement/formula.spec.ts
Due: none

fix: ça marche
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/__tests__/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: none

fix: formules
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/data/formule_avec_zero.yaml
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/formula.utils.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/formula.ts
Due: none

fix: formules
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/formula.utils.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/formula.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/__tests__/indemnite-licenciement/formula.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: none

fix: formules
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/resultat-formules.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/résultat-formules.test.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/références.spec.ts
Due: frontend

fix: html remover
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

feat: update wording for questionnaire
  packages/code-du-travail-frontend/src/questionnaire/data/questionnaire.data.json
Due: frontend

fix: remove unsued code
  packages/code-du-travail-frontend/src/fiche-service-public/__mocks__/@testing-library/react.js
  packages/code-du-travail-frontend/src/fiche-service-public/__tests__/FicheServicePublic.test.js
  packages/code-du-travail-frontend/src/fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/code-du-travail-frontend/src/fiche-service-public/__tests__/ficheData.mock.json
  packages/code-du-travail-frontend/src/fiche-service-public/components/Accordion.js
  packages/code-du-travail-frontend/src/fiche-service-public/components/LienExterne.js
  packages/code-du-travail-frontend/src/fiche-service-public/components/List.js
  packages/code-du-travail-frontend/src/fiche-service-public/components/OuSAdresser.js
  packages/code-du-travail-frontend/src/fiche-service-public/components/ServiceEnLigne.js
  packages/code-du-travail-frontend/src/fiche-service-public/components/Table.js
  packages/code-du-travail-frontend/src/fiche-service-public/components/Tabulator.js
  packages/code-du-travail-frontend/src/fiche-service-public/components/Title.js
Due: frontend

fix: remove unsued code
  Dockerfile
Due: none

fix: glossary display page info (#4751)
  packages/code-du-travail-frontend/src/information/Components/Contents.tsx
Due: frontend

fix: prettier
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/ShowAgreements.tsx
  packages/code-du-travail-modeles/src/modeles/common/utils/__test__/extractMdxContentUrl.test.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/extractMdxContentUrl.test.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/index.ts
Due: frontend

fix: prettier
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/extractMdxContentUrl.test.ts
Due: none

fix(security): use `node-fetch` in cjs builder (#4746)
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/routes/__tests__/enterprises.test.js
  packages/code-du-travail-api/src/routes/__tests__/stats.test.ts
  packages/code-du-travail-api/src/routes/enterprises/index.ts
  packages/code-du-travail-api/src/routes/stats/index.ts
  yarn.lock
Due: api

Updates
  main.d82168a0.iframe.bundle.js
Due: none

feat: cc
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2511_sport/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2511_sport/indemnite-licenciement.yaml
Due: none

feat: cc
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/indemnite-licenciement.yaml
Due: none

fix: custom valdiator
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1517-commerces-de-detail-non-alimentaires/validator.ts
Due: frontend

fix: unit test on 2216
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/formule.spec.ts
Due: none

chore: fix typescript error
  packages/code-du-travail-frontend/test/TestForm.tsx
Due: frontend

fix: custom valdiator
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1517-commerces-de-detail-non-alimentaires/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
Due: frontend

fix: tu
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/formule.spec.ts
Due: none

chore: exclude node_module from typescript api
  packages/code-du-travail-api/tsconfig.json
Due: api

chore: fix typescript error
  packages/code-du-travail-api/tsconfig.json
Due: api

chore: remove useless exclude from tsconfig
  packages/code-du-travail-api/tsconfig.json
Due: api

Updates
  4.5a15d218.iframe.bundle.js
  4.5a15d218.iframe.bundle.js.map
  4.7275b73b.iframe.bundle.js
  4.7275b73b.iframe.bundle.js.LICENSE.txt
  4.7275b73b.iframe.bundle.js.map
  4.d80f4d788d5563864bff.manager.bundle.js
  4.d80f4d788d5563864bff.manager.bundle.js.LICENSE.txt
  4.e5f14536bdec7aae0888.manager.bundle.js
  iframe.html
  index.html
  main.d82168a0.iframe.bundle.js
  runtime~main.559dab74.iframe.bundle.js
  runtime~main.681c8033f436b3c61f63.manager.bundle.js
  runtime~main.f117e9dff2d4343448a9.manager.bundle.js
  runtime~main.f9719241.iframe.bundle.js
  vendors~main.38fa03a6dab7cac9dde8.manager.bundle.js
  vendors~main.38fa03a6dab7cac9dde8.manager.bundle.js.LICENSE.txt
  vendors~main.53102cd2.iframe.bundle.js
  vendors~main.53102cd2.iframe.bundle.js.map
  vendors~main.f3bb39ba.iframe.bundle.js
  vendors~main.f3bb39ba.iframe.bundle.js.LICENSE.txt
  vendors~main.f3bb39ba.iframe.bundle.js.map
Due: none

fix: bug
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

chore: update test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-contract.test.tsx
Due: frontend
