Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

feat(tools): add simulateur-emabauche (#2840)
  packages/code-du-travail-data/dataset/tools/internals.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].js
  packages/code-du-travail-frontend/pages/outils/index.js
Due: frontend

wouha
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/src/common/Metas.js
  yarn.lock
Due: frontend

refactor
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/a-propos.js
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].js
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
  packages/code-du-travail-frontend/pages/convention-collective/index.js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/droit-du-travail.js
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/pages/glossaire/[slug].js
  packages/code-du-travail-frontend/pages/glossaire/index.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/information/[slug].js
  packages/code-du-travail-frontend/pages/integration.js
  packages/code-du-travail-frontend/pages/mentions-legales.js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].js
  packages/code-du-travail-frontend/pages/outils/index.js
  packages/code-du-travail-frontend/pages/politique-confidentialite.js
  packages/code-du-travail-frontend/pages/stats.js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/pages/themes/index.js
  packages/code-du-travail-frontend/src/common/Metas.js
  packages/code-du-travail-frontend/src/droit-du-travail/Hierarchy.js
Due: frontend

down the rabbit hole
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/src/common/Metas.js
Due: frontend

refffactor
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].js
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/pages/glossaire/[slug].js
  packages/code-du-travail-frontend/pages/glossaire/index.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/information/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].js
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/pages/stats.js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/pages/themes/index.js
  packages/code-du-travail-frontend/src/common/Answer.js
Due: frontend

wip
  packages/code-du-travail-frontend/pages/droit-du-travail.js
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/src/droit-du-travail/Hierarchy.js
  packages/code-du-travail-frontend/src/layout/Layout.js
  yarn.lock
Due: frontend

working the CI
  .gitlab-ci.yml
  .gitlab-ci/stages/create-namespace.yml
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/e2e.yml
  .gitlab-ci/stages/manual.yml
  .gitlab-ci/stages/notify.yml
  .gitlab-ci/stages/prepare.yml
  .gitlab-ci/stages/register.yml
  .gitlab-ci/stages/scan.yml
  packages/code-du-travail-frontend/Dockerfile
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/convention-collective.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
Due: frontend

??
  .gitlab-ci.yml
  .gitlab-ci/stages/notify.yml
  .gitlab-ci/stages/prepare.yml
  .gitlab-ci/stages/register.yml
  .k8s/api.values.yml
  packages/code-du-travail-api/src/server/routes/version/index.js
  packages/code-du-travail-frontend/Dockerfile
  packages/code-du-travail-frontend/pages/glossaire/index.js
Due: api, frontend

struggling
  packages/code-du-travail-frontend/Dockerfile
Due: frontend

fix: test
  .gitlab-ci/stages/register.yml
Due: none

Update register.yml
  .gitlab-ci/stages/register.yml
Due: none

use API_URL in docker build
  .gitlab-ci/env.sh
  .gitlab-ci/stages/register.yml
Due: none

use CI_COMMIT_TAG
  .gitlab-ci/stages/register.yml
Due: none

use DOCKER_BUILD_ARGS from before_script
  .gitlab-ci/stages/register.yml
Due: none

restore dash for wildcard cert
  .gitlab-ci/env.sh
  .gitlab-ci/stages/register.yml
Due: none

fix multiple extends
  .gitlab-ci/stages/deploy.yml
Due: none

wip covisits
  packages/code-du-travail-data/dataset/courrier-type/index.js
  packages/code-du-travail-data/indexing/document.mapping.js
  packages/code-du-travail-data/indexing/monolog.js
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

gros gros fix
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
Due: frontend

gros gros fix (#2844)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
Due: frontend

WIP: we can SEE them
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-api/src/server/routes/items/relatedItems.elastic.js
  packages/code-du-travail-api/src/server/routes/items/searchBySourceSlug.elastic.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/index.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/search.elastic.js
  packages/code-du-travail-data/combined.log
  packages/code-du-travail-data/dataset/courrier-type/index.js
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/error.log
  packages/code-du-travail-data/indexing/monolog.js
Due: api

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update all dependencies to v0.10.5
  packages/code-du-travail-frontend/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui

chore(release): version 4.25.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/editorial_content/CHANGELOG.md
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui, react-fiche-service-public

add JS vectorization
  packages/code-du-travail-data/__tests__/vectorizer.test.js
  packages/code-du-travail-data/indexing/vectorizer.js
Due: none

use tf serve API from Python
  packages/code-du-travail-nlp/Dockerfile
  packages/code-du-travail-nlp/api/search.py
  packages/code-du-travail-nlp/api/sem_search.py
  packages/code-du-travail-nlp/scripts/entrypoint.sh
Due: none

remove nlp package
  packages/code-du-travail-nlp/.dockerignore
  packages/code-du-travail-nlp/.gitignore
  packages/code-du-travail-nlp/README.md
  packages/code-du-travail-nlp/api/__init__.py
  packages/code-du-travail-nlp/api/index.py
  packages/code-du-travail-nlp/api/loader.py
  packages/code-du-travail-nlp/api/ready.py
  packages/code-du-travail-nlp/api/search.py
  packages/code-du-travail-nlp/api/sem_search.py
  packages/code-du-travail-nlp/data/stops.txt
  packages/code-du-travail-nlp/scripts/entrypoint.sh
Due: none

JS vectorizer ok
  packages/code-du-travail-data/__tests__/vectorizer.test.js
  packages/code-du-travail-data/dataset/stop_words/semantic_stop_words.json
  packages/code-du-travail-data/indexing/__tests__/__snapshots__/vectorizer.test.js.snap
  packages/code-du-travail-data/indexing/__tests__/vectorizer.test.js
  packages/code-du-travail-data/indexing/vectorizer.js
Due: none

calls to vectorizer ok
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/indexing/vectorizer.js
Due: api

ci wip
  .gitlab-ci/env.sh
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/register.yml
Due: none

fix linter
  packages/code-du-travail-data/indexing/__tests__/vectorizer.test.js
  packages/code-du-travail-data/indexing/vectorizer.js
Due: none

ci wip
  scripts/snyk-docker-scan.sh
Due: none

replacing nlp, wip
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/indexing/vectorizer.js
Due: api

update readme
  README-dev.md
  packages/code-du-travail-data/README.md
Due: none

cosmetics
  .env.sample
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

wip ci
  .env.sample
  docker-compose.override.dev.yml
  docker-compose.yml
Due: none

wip ci
  .gitlab-ci/stages/register.yml
Due: none

add esm to dev:api
  packages/code-du-travail-api/package.json
Due: api

rebase
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/Dockerfile
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-nlp/requirements.txt
Due: none

fml
  .gitlab-ci/variables.yml
Due: none
