Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix(frontend): remove survey (#3651)
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/ToolSurvey.js
Due: frontend

fix: update release git repo
  .gitlab-ci/stages/manual.yml
Due: none

fix: use PROJECT_PATH
  .gitlab-ci.yml
Due: none

test
  README.md
Due: none

fix(ci): force PROJET_PATH for GH notifications
  .gitlab-ci.yml
Due: none

fix(ci): force PROJET_PATH for GH notifications (#3671)
  .gitlab-ci.yml
Due: none

fix(ci): fix PROJECT_PATH in release
  .gitlab-ci/stages/manual.yml
Due: none

chore(release): version 4.52.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(data): fix some SDR urls
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

fix(frontend): fix trailing comma
  packages/code-du-travail-frontend/src/common/ServiceRenseignement.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
Due: frontend

Update README.md
  README.md
Due: none

fix(deps): update kosko monorepo
  .k8s/package.json
  .k8s/yarn.lock
Due: none

chore(deps): update all dependencies
  .gitlab-ci.yml
  .k8s/package.json
  .k8s/yarn.lock
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

chore(deps): update dependency @rollup/plugin-commonjs to v20
  packages/react-fiche-service-public/package.json
  yarn.lock
Due: react-fiche-service-public

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.181.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

doc: update the master url
  README-dev.md
Due: none

plop
  README.md
Due: none

fix: packages/code-du-travail-frontend/package.json to reduce vulnerabilities
  packages/code-du-travail-frontend/package.json
Due: frontend

feat(accessibility): add a title on active tab during a simulation for screen reader
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/StepList.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/StepList.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
Due: frontend

chore(deps): update all dependencies
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.182.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(data): fix some SDR urls (#3672)
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

fix(frontend): fix trailing comma (#3673)
  README.md
  packages/code-du-travail-frontend/src/common/ServiceRenseignement.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
Due: frontend

chore(renovate): label the dependency dashboard
  .github/renovate.json
Due: none

chore(deps): update dependency socialgouv/gitlab-ci-yml to v23.3.0
  .gitlab-ci.yml
Due: none

chore(deps): update dependency socialgouv/gitlab-ci-yml to v23.3.0 (#3693)
  .gitlab-ci.yml
Due: none

ci(gitlab): use ghcr.io/hadolint/hadolint:v2.6.0-alpine
  .gitlab-ci/stages/quality.yml
Due: none

style(elasticsearch): consolidate consecutive run
  docker/elasticsearch/Dockerfile
Due: none

ci(gitlab): use ghcr.io/hadolint/hadolint:v2.6.0-alpine (#3694)
  .gitlab-ci/stages/quality.yml
  docker/elasticsearch/Dockerfile
Due: none

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.184.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend
