Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

Updates
  project.json
Due: none

Updates
  main.82ccf969.iframe.bundle.js
  project.json
Due: none

fix: naming
  package.json
  packages/cdtn-types/package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/routes/tools/index.ts
  packages/code-du-travail-frontend/__tests__/information.test.tsx
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].tsx
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].tsx
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].tsx
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].tsx
  packages/code-du-travail-frontend/src/api/modules/agreements/service.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/queries.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/service.ts
  packages/code-du-travail-frontend/src/api/modules/highlights/queries.ts
  packages/code-du-travail-frontend/src/api/modules/home/controller.ts
  packages/code-du-travail-frontend/src/api/modules/modeles/queries.ts
  packages/code-du-travail-frontend/src/api/modules/modeles/service.ts
  packages/code-du-travail-frontend/src/api/modules/themes/queries.ts
  packages/code-du-travail-frontend/src/api/modules/tools/service.ts
  packages/code-du-travail-frontend/src/common/Answer.tsx
  packages/code-du-travail-frontend/src/common/Breadcrumbs.tsx
  packages/code-du-travail-frontend/src/content/Components/ContentList.tsx
  packages/code-du-travail-frontend/src/information/Components/BlockList.tsx
  packages/code-du-travail-frontend/src/information/Components/Contents.tsx
  packages/code-du-travail-frontend/src/information/__tests__/contentsAccordion.test.tsx
  packages/code-du-travail-frontend/src/information/__tests__/contentsTab.test.tsx
  packages/code-du-travail-frontend/src/information/__tests__/getContentBlockIds.test.ts
  packages/code-du-travail-frontend/src/information/__tests__/injectContentInfos.test.ts
  packages/code-du-travail-frontend/src/information/__tests__/mockedContent.ts
  packages/code-du-travail-frontend/src/information/information.service.ts
  packages/code-du-travail-frontend/src/outils/__mocks__/service.ts
  packages/code-du-travail-frontend/src/outils/service.ts
  packages/sources/CHANGELOG.md
  packages/sources/index.d.ts
  packages/sources/index.js
  packages/sources/package.json
  packages/sources/tsconfig.json
Due: api, frontend

fix: docker
  Dockerfile
Due: none

fix: docker
  yarn.lock
Due: none

chore: clean
  packages/code-du-travail-frontend/src/outils/common/ShowDetails.tsx
Due: frontend

fix: test pr
  README.md
Due: none

fix: test pr
  packages/code-du-travail-frontend/pages/outils/index.tsx
Due: frontend

chore: revie
  packages/react-ui/src/Collapse/index.js
Due: react-ui

fix: test pr
  packages/code-du-travail-frontend/pages/index.jsx
  packages/code-du-travail-frontend/pages/outils/index.tsx
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
  packages/code-du-travail-frontend/src/home/HomeSlice.tsx
  packages/code-du-travail-frontend/src/search/SearchResults/Results.tsx
Due: frontend

chore: snap
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/react-ui/src/Collapse/__snapshots__/test.js.snap
Due: frontend, react-ui

fix: dev workflow
  .github/workflows/dev.yml
Due: none

fix: test pr
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/scripts/__mocks__/documents_data.json
  packages/code-du-travail-frontend/scripts/__mocks__/suggestions_data.json
  packages/code-du-travail-frontend/scripts/generate-data.ts
  packages/code-du-travail-frontend/src/api/modules/agreements/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/agreements/service.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/service.ts
  packages/code-du-travail-frontend/src/api/modules/highlights/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/highlights/service.ts
  packages/code-du-travail-frontend/src/api/modules/modeles/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/modeles/service.ts
  packages/code-du-travail-frontend/src/api/modules/themes/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/themes/service.ts
  packages/code-du-travail-frontend/src/api/modules/tools/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/tools/service.ts
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

fix: test pr
  packages/code-du-travail-frontend/lint-staged.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/api/modules/agreements/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/contributions/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/highlights/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/modeles/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/themes/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/tools/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/tools/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/tools/queries.ts
  packages/code-du-travail-frontend/src/api/modules/tools/service.ts
  packages/code-du-travail-frontend/test/jest.setup.js
  packages/react-ui/package.json
Due: frontend, react-ui

fix: tu
  packages/code-du-travail-frontend/scripts/__mocks__/documents_data.json
  packages/code-du-travail-frontend/src/api/modules/highlights/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/tools/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/tools/queries.ts
  packages/code-du-travail-frontend/src/api/modules/tools/service.ts
Due: frontend

fix: tu
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/api/modules/tools/service.ts
  packages/code-du-travail-frontend/src/api/utils/errors.ts
Due: frontend

fix: test
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: test
  packages/code-du-travail-frontend/package.json
Due: frontend

fix: test
  package.json
  packages/code-du-travail-frontend/package.json
Due: frontend

fix: dockerfile
  .github/workflows/dev.yml
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
  Dockerfile.api
  packages/code-du-travail-api/Dockerfile
Due: api

fix: dockerfile
  packages/code-du-travail-utils/tsconfig.json
Due: none

fix: dockerfile
  Dockerfile
  Dockerfile.api
  package.json
Due: none

fix: dockerfile
  package.json
Due: none

fix: 5 min
  packages/code-du-travail-frontend/next.config.js
Due: frontend

fix: next
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: branch
  packages/code-du-travail-frontend/src/api/modules/tools/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/tools/queries.ts
  packages/code-du-travail-frontend/src/api/modules/tools/service.ts
Due: frontend

fix: branch
  packages/code-du-travail-frontend/scripts/data/documents_data.json
  packages/code-du-travail-frontend/scripts/data/suggestions_data.json
  packages/code-du-travail-frontend/scripts/generate-data.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/contributions/__tests__/service.test.ts
  packages/code-du-travail-frontend/src/api/modules/contributions/queries.ts
  packages/code-du-travail-utils/package.json
  yarn.lock
Due: frontend

fix: widget recherche hauteur
  packages/code-du-travail-frontend/scripts/widget-template.js
Due: frontend

chore: fix e2e
  packages/code-du-travail-frontend-e2e/codecept/features/outils/heures-recherche-emploi.feature
  packages/code-du-travail-frontend-e2e/codecept/features/outils/preavis-demission.feature
  packages/code-du-travail-frontend-e2e/codecept/features/outils/preavis-licenciement.feature
  packages/code-du-travail-frontend-e2e/codecept/features/outils/preavis-retraite.feature
Due: frontend

chore: update snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
Due: frontend

fix: tu
  packages/code-du-travail-frontend-e2e/e2e/home.spec.ts
  packages/code-du-travail-frontend/pages/index.tsx
  packages/code-du-travail-frontend/src/home/HomeSlice.tsx
  packages/code-du-travail-utils/src/slugify.ts
Due: frontend
