Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix: il --no-verify
  packages/code-du-travail-modeles/src/modeles/conventions/176_industrie_pharmaceutique/seniority.ts
Due: none

feat(contributions): mise en place de redirections pour les contrib personnalisées qui n'ont plus de page réponse
  packages/code-du-travail-frontend/redirects.json
Due: frontend

fix: il --no-verify
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/Components/DurationResult.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/types.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/ResultStep/Components/ShowResult.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/ResultStep/Step.tsx
  packages/code-du-travail-frontend/src/outils/common/NoticeExample.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/NoticeExample.test.tsx
Due: frontend

fix: expected by snapshot
  packages/code-du-travail-frontend/src/outils/common/NoticeExample.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/NoticeExample.test.tsx
Due: frontend

fix: expected by snapshot
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/Components/DurationResult.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/ResultStep/Components/ShowResult.tsx
Due: frontend

fix(console warning): react error in console (#5546)
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/pages/convention-collective/index.tsx
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ContactModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/ConventionCollective/common/NoEnterprise.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/Summary.tsx
  packages/react-ui/src/Button/__snapshots__/test.js.snap
  packages/react-ui/src/Button/index.js
Due: frontend, react-ui

feat(contributions): mise en place de redirections pour les contrib personnalisées qui n'ont plus de page réponse (#5553)
  packages/code-du-travail-frontend/redirects.json
Due: frontend

Updates
  project.json
Due: none

fix(alerts): sur les contribs dont la générique ne prévoit rien (#5549)
  packages/code-du-travail-frontend/src/contributions/AlertAgreementNotSupportedNoContent.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
Due: frontend

in progress
  packages/code-du-travail-frontend/analyze/nodejs.html
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/_app.tsx
  packages/code-du-travail-frontend/pages/_document.tsx
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/common-dsfr/Answer.tsx
  packages/code-du-travail-frontend/src/common-dsfr/Article.tsx
  packages/code-du-travail-frontend/src/common-dsfr/Breadcrumbs.tsx
  packages/code-du-travail-frontend/src/layout-dsfr/Footer/index.tsx
  packages/code-du-travail-frontend/src/layout-dsfr/Header/index.tsx
  packages/code-du-travail-frontend/src/layout-dsfr/Layout.tsx
  packages/code-du-travail-frontend/src/layout-dsfr/index.ts
  yarn.lock
Due: frontend

fix: update snapshots
  packages/code-du-travail-frontend/src/contributions/__tests__/DisplayContentContribution.test.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix: test
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/Components/DurationResult.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/NoticeExample.tsx
Due: frontend

fix: test
  packages/code-du-travail-frontend/redirects.json
  packages/code-du-travail-frontend/src/api/config.ts
Due: frontend

fix: li paragraphe enlever margin (#5550)
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/DisplayContentContribution.test.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix(warning): one more warning (#5548)
  packages/code-du-travail-frontend/src/content/Components/ContentList.tsx
  packages/code-du-travail-frontend/src/information/Components/BlockList.tsx
Due: frontend

chore(release): version 4.119.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix spacing in new accordion
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/DisplayContentContribution.test.tsx.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/code-du-travail-frontend/src/fiche-service-public/components/__tests__/__snapshots__/Accordion.test.js.snap
  packages/react-ui/src/Accordion/__snapshots__/test.js.snap
  packages/react-ui/src/Accordion/index.js
Due: frontend, react-ui

fix(contribution): nettoyage de la fonctionnalité spécifique au CC personalisé sans contenu quand la générique n'a pas de CDT.
  packages/code-du-travail-frontend/redirects.json
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/contributions/AlertAgreementNotSupportedNoContent.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-utils/src/types.ts
Due: frontend

fix(contribution): nettoyage de la fonctionnalité spécifique au CC personalisé sans contenu quand la générique n'a pas de CDT. (#5560)
  packages/code-du-travail-frontend/redirects.json
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/contributions/AlertAgreementNotSupportedNoContent.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-utils/src/types.ts
Due: frontend

chore(release): version 4.119.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: verif
  README.md
Due: none

chore: run
  README.md
Due: none

fix: convention
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/fetchEnterprises.ts
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSelection.tsx
Due: frontend

fix: convention
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/fetchEnterprises.ts
Due: frontend

fix: test
  packages/code-du-travail-frontend/src/api/__tests__/enterprise.test.ts
  packages/code-du-travail-frontend/test/jest.setup.js
Due: frontend

continue integration
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/common-dsfr/Answer.tsx
  packages/code-du-travail-frontend/src/common-dsfr/Article.tsx
  packages/code-du-travail-frontend/src/common-dsfr/Breadcrumbs.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/Contribution.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/agreement/AgreementContribution.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/common/ContributionContent.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/common/ContributionMessageBlock.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/common/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/common/LawReferences.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/common/LinkedContent.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/index.ts
  packages/code-du-travail-frontend/src/design-system/base/Box.tsx
  packages/code-du-travail-frontend/src/design-system/base/Grid.tsx
  packages/code-du-travail-frontend/src/design-system/base/Title.tsx
  packages/code-du-travail-frontend/src/design-system/layout/Container.tsx
  packages/code-du-travail-frontend/src/design-system/utils/spacing.ts
  packages/code-du-travail-frontend/src/layout-dsfr/Footer/index.tsx
  packages/code-du-travail-frontend/src/layout-dsfr/Header/index.tsx
Due: frontend

fix: ssisisiisisis
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/indemnite-licenciement.yaml
Due: none

fix: ssisisiisisis
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/indemnite-licenciement.yaml
Due: none

fix: continue dsfr
  packages/code-du-travail-frontend/src/common-dsfr/Answer.tsx
  packages/code-du-travail-frontend/src/common-dsfr/Article.tsx
  packages/code-du-travail-frontend/src/common-dsfr/Follow.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/agreement/AgreementContribution.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/common/LawReferences.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/common/LinkedContent.tsx
  packages/code-du-travail-frontend/src/contribution-dsfr/common/MySituation.tsx
  packages/code-du-travail-frontend/src/layout-dsfr/Footer/index.tsx
  packages/code-du-travail-frontend/src/layout-dsfr/Layout.tsx
Due: frontend

fix: ssisisiisisis
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/indemnite-licenciement.yaml
Due: none

fix: ssisisiisisis
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/indemnite-licenciement.yaml
Due: none

fix: ssisisiisisis
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSelection.tsx
Due: frontend

fix(html): ajout d'un test pour vérifier la validité du html de certaines pages + fix des erreurs détéctées
  packages/code-du-travail-frontend/cypress.config.js
  packages/code-du-travail-frontend/cypress/integration/validate-html.spec.ts
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/contribution/index.tsx
  packages/code-du-travail-frontend/src/common/References/index.js
  packages/code-du-travail-frontend/src/contributions/ContributionContent.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionMessageBlock.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/AccordionContentContribution.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/TextSearch.js
  packages/code-du-travail-frontend/src/conventions/Convention/index.js
  packages/react-ui/src/field/Select.js
  yarn.lock
Due: frontend, react-ui

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
