Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

Fix tooltip title
  BEST_PRACTICE.md
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/PubliQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/Question.tsx
  packages/code-du-travail-frontend/src/outils/common/Wizard.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
  packages/react-ui/src/DisclosureIcon/__snapshots__/test.js.snap
  packages/react-ui/src/DisclosureIcon/index.js
Due: frontend, react-ui

feat: add sentry
  packages/code-du-travail-frontend/.gitignore
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/404.js
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/_error.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/src/__tests__/sentry.test.js
  packages/code-du-travail-frontend/src/sentry.js
  yarn.lock
Due: frontend

fix: sentry
  .DS_Store
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
Due: frontend

fix: remove unsused code
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
Due: frontend

feat: add double click
  packages/code-du-travail-frontend/server/koaServer.js
Due: frontend

feat: add double click
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
Due: frontend

fix: aciton
  .github/workflows/review.yml
Due: none

Icon only on step 0
  packages/code-du-travail-frontend/src/outils/common/Wizard.js
Due: frontend

feat: add location pathname
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
Due: frontend

fix(html): on page droit du travail & home page (#3960)
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/glossaire/index.js
  packages/code-du-travail-frontend/src/droit-du-travail/Hierarchy.js
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/Footer.tsx
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/react-ui/src/icons/components/bicolor/WorkersTheme.js
Due: frontend, react-ui

feat: remove dsstore
  .DS_Store
Due: none

fix: gitignore(
  .gitignore
Due: none

fix: gitignore(
  packages/code-du-travail-frontend/.gitignore
Due: frontend

Updates
  iframe.html
  main.701d813d.iframe.bundle.js
  main.aa7d5414.iframe.bundle.js
Due: none

feat: split
  .github/workflows/e2e.yml
  .github/workflows/review.yml
Due: none

feat: add success
  .github/workflows/e2e.yml
Due: none

ci(e2e): split into two files (#3961)
  .github/workflows/e2e.yml
  .github/workflows/review.yml
Due: none

feat: add dispatch
  .github/workflows/e2e.yml
  .github/workflows/review.yml
Due: none

ci(e2e): add repository dispatch with parameters (#3963)
  .github/workflows/e2e.yml
  .github/workflows/review.yml
Due: none

ci(e2e): condition changed
  .github/workflows/e2e.yml
Due: none

ci(e2e): condition changed (#3964)
  .github/workflows/e2e.yml
Due: none

fix: ci
  .github/workflows/e2e.yml
Due: none

ci(e2e): remove workflow trigger (#3965)
  .github/workflows/e2e.yml
Due: none

ci(slug): Test long branch name shortening
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/package.json
  .k8s/yarn.lock
Due: none

fix: ci
  .github/workflows/e2e.yml
  .github/workflows/review.yml
Due: none

ci(e2e): remove repository dispatch (#3967)
  .github/workflows/e2e.yml
  .github/workflows/review.yml
Due: none

Update kosko-charts
  .k8s/package.json
  .k8s/yarn.lock
Due: none

chore(workflows): Fix long branch name shortening (#3966)
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/package.json
  .k8s/yarn.lock
Due: none

Update Politique de confidentialité page
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/pages/politique-confidentialite.tsx
Due: frontend

fix: actions
  .github/workflows/review.yml
Due: none

fix: filemane
  packages/react-ui/src/icons/components/bicolor/index.js
  packages/react-ui/src/icons/index.js
Due: react-ui

Update svg icons
  packages/code-du-travail-data/tools/internals.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/__snapshots__/index.test.ts.snap
  packages/code-du-travail-frontend/src/outils/common/Wizard.js
  packages/react-ui/src/icons/components/bicolor/CalendarTime.js
  packages/react-ui/src/icons/components/bicolor/TimeWithLabel.js
  packages/react-ui/src/icons/index.js
  packages/react-ui/src/icons/src/bicolor/calendar-time.svg
  packages/react-ui/src/icons/src/bicolor/time-with-label.svg
Due: frontend, react-ui

Snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
Due: frontend

fix: merge
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-modeles/src/internal/ExtractSupportedCc.ts
  packages/code-du-travail-modeles/src/modeles/conventions/hospitalisation_privees.yaml
Due: frontend

fix: index
  package.json
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
