Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

feat(front): new header
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/public/static/assets/img/marianne.svg
  packages/code-du-travail-frontend/public/static/assets/img/ministere-travail.svg
  packages/code-du-travail-frontend/src/layout/Header/index.js
  packages/react-ui/src/icons/components/bicolor/index.js
  packages/react-ui/src/icons/src/bicolor/focus.svg
  packages/react-ui/src/icons/src/bicolor/partial-activity.svg
  packages/react-ui/src/icons/src/bicolor/populars.svg
  packages/react-ui/src/icons/src/bicolor/resources.svg
  packages/react-ui/src/icons/src/bicolor/security.svg
  packages/react-ui/src/icons/src/bicolor/unemployment.svg
Due: frontend, react-ui

test(front): update snapshots
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

remove transpile module in dev
  packages/code-du-travail-frontend/next.config.js
Due: frontend

add spacings
  packages/code-du-travail-frontend/src/layout/Header/index.js
Due: frontend

update snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

update e2e tests
  optional/e2e/features/dossier.feature
Due: none

feat(front): new header (#2733)
  optional/e2e/features/dossier.feature
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/public/static/assets/img/marianne.svg
  packages/code-du-travail-frontend/public/static/assets/img/ministere-travail.svg
  packages/code-du-travail-frontend/src/layout/Header/index.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/react-ui/src/icons/components/bicolor/index.js
  packages/react-ui/src/icons/src/bicolor/focus.svg
  packages/react-ui/src/icons/src/bicolor/partial-activity.svg
  packages/react-ui/src/icons/src/bicolor/populars.svg
  packages/react-ui/src/icons/src/bicolor/resources.svg
  packages/react-ui/src/icons/src/bicolor/security.svg
  packages/react-ui/src/icons/src/bicolor/unemployment.svg
Due: frontend, react-ui

feat(front): new tab in thematic file
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19.js
Due: frontend

feat(front): new tab in thematic file (#2736)
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19.js
Due: frontend

chore(deps): update elasticsearch docker tag to v7.7.0
  docker/elasticsearch/Dockerfile
Due: none

fix(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feat(front): new tab in themeatic subfolder
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19.js
Due: frontend

feat(front): new tab in themeatic subfolder (#2739)
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19.js
Due: frontend

feat(front): new tabs
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19.js
Due: frontend

feat(front): new tabs (#2741)
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19.js
Due: frontend

wording changes
  packages/code-du-travail-frontend/pages/_error.js
Due: frontend

change icon for a cuter one
  packages/code-du-travail-frontend/pages/404.js
  packages/code-du-travail-frontend/pages/_error.js
  packages/react-ui/src/icons/components/bicolor/Oups.js
  packages/react-ui/src/icons/components/bicolor/index.js
  packages/react-ui/src/icons/index.js
  packages/react-ui/src/icons/src/bicolor/oups.svg
Due: frontend, react-ui

feat(front): 404
  packages/code-du-travail-frontend/pages/404.js
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_error.js
  packages/code-du-travail-frontend/server/server.js
Due: frontend

typofix
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_error.js
Due: frontend

add redirects
  packages/code-du-travail-frontend/pages/information/suppression-de-lattestation-garde-denfant.js
  packages/code-du-travail-frontend/server/redirects.json
  packages/code-du-travail-frontend/server/server.js
Due: frontend

feat(front): 404 (#2738)
  packages/code-du-travail-frontend/pages/404.js
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_error.js
  packages/code-du-travail-frontend/pages/information/suppression-de-lattestation-garde-denfant.js
  packages/code-du-travail-frontend/server/redirects.json
  packages/code-du-travail-frontend/server/server.js
  packages/react-ui/src/icons/components/bicolor/Oups.js
  packages/react-ui/src/icons/components/bicolor/index.js
  packages/react-ui/src/icons/index.js
  packages/react-ui/src/icons/src/bicolor/oups.svg
Due: frontend, react-ui

fix(front): broken link
  packages/code-du-travail-data/dataset/dossiers/index.js
Due: none

fix(front): broken link (#2743)
  packages/code-du-travail-data/dataset/dossiers/index.js
Due: none

chore(release): version 4.20.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui

noiseless
  .github/renovate.json
Due: none

fix(front): dumb mistake
  packages/code-du-travail-data/dataset/dossiers/index.js
Due: none

fix(front): dumb mistake (#2748)
  packages/code-du-travail-data/dataset/dossiers/index.js
Due: none

update renovate
  .github/renovate.json
Due: none

fix: support patch and automerge
  .github/renovate.json
Due: none

fix renovate
  .github/renovate.json
Due: none

feat(front): add entretien pro
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19.js
Due: frontend

feat(front): add entretien pro (#2754)
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/nouveautes-covid19.js
Due: frontend

fix(deps): update all non-major dependencies
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: api, frontend

feat(data): new modele
  packages/code-du-travail-api/src/server/routes/modeles/index.js
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/docx/justificatif_employeur_de_deplacement_professionnel_plus_de_100_km.docx
  packages/code-du-travail-data/dataset/courrier-type/index.js
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/src/common/Answer.js
Due: api, frontend

test(front): update snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
Due: frontend

chore(deps): update all non-major devdependencies
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

fix(deps): update dependency remark-rehype to v7
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix bug and update snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
Due: frontend

update model
  packages/code-du-travail-data/dataset/courrier-type/docx/justificatif_employeur_de_deplacement_professionnel_plus_de_100_km.docx
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
