Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: e2e
  packages/code-du-travail-frontend-e2e/features/outils/heures-recherche-emploi.feature
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend-e2e/features/outils/preavis-demission.feature
  packages/code-du-travail-frontend-e2e/features/outils/preavis-licenciement.feature
  yarn.lock
Due: frontend

fix: rewriting
  yarn.lock
Due: none

fix: remove advertising
  README.md
Due: none

fix: rewriting
  .eslintrc.yml
  .yarnclean
  packages/code-du-travail-frontend/.eslintrc.json
  packages/code-du-travail-frontend/next-env.d.ts
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/404.jsx
  packages/code-du-travail-frontend/pages/_app.tsx
  packages/code-du-travail-frontend/pages/_document.jsx
  packages/code-du-travail-frontend/pages/_error.jsx
  packages/code-du-travail-frontend/pages/a-propos.jsx
  packages/code-du-travail-frontend/pages/accessibilite.jsx
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].jsx
  packages/code-du-travail-frontend/pages/contribution/[slug].jsx
  packages/code-du-travail-frontend/pages/convention-collective/[slug].jsx
  packages/code-du-travail-frontend/pages/dossiers/[slug].jsx
  packages/code-du-travail-frontend/pages/droit-du-travail.jsx
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].jsx
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].jsx
  packages/code-du-travail-frontend/pages/glossaire/[slug].jsx
  packages/code-du-travail-frontend/pages/glossaire/index.jsx
  packages/code-du-travail-frontend/pages/index.jsx
  packages/code-du-travail-frontend/pages/information/[slug].jsx
  packages/code-du-travail-frontend/pages/integration.jsx
  packages/code-du-travail-frontend/pages/mentions-legales.jsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].jsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.jsx
  packages/code-du-travail-frontend/pages/outils/index.jsx
  packages/code-du-travail-frontend/pages/recherche.jsx
  packages/code-du-travail-frontend/pages/themes/[slug].jsx
  packages/code-du-travail-frontend/pages/themes/index.jsx
  packages/code-du-travail-frontend/src/lib/__tests__/matomo.test.ts
  packages/code-du-travail-frontend/tsconfig.json
  yarn.lock
Due: frontend

fix: tsconfig(
  packages/code-du-travail-frontend/tsconfig.json
Due: frontend

fix: rewriting
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/index.test.js
  packages/code-du-travail-frontend/__tests__/mentions-legales.test.js
  packages/code-du-travail-frontend/__tests__/recherche.test.js
  packages/code-du-travail-frontend/jest.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/common/ErrorBoundary.js
  packages/code-du-travail-frontend/src/common/IdccSuggester.js
  packages/code-du-travail-frontend/src/common/Suggester.js
  packages/code-du-travail-frontend/src/common/__tests__/Idccsuggester.test.js
  packages/code-du-travail-frontend/src/common/__tests__/Suggester.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Idccsuggester.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Suggester.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/situations.utils.test.js
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
  packages/code-du-travail-frontend/test/TestForm.tsx
Due: frontend

fix: speeeeeed
  packages/code-du-travail-frontend/jest.config.js
Due: frontend

Get node version
  .github/workflows/quality.yml
Due: none

fix: remove useless advertising (#4281)
  README.md
Due: none

fix(frontend): reduce introduction (#4279)
  packages/code-du-travail-frontend-e2e/features/outils/heures-recherche-emploi.feature
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend-e2e/features/outils/preavis-demission.feature
  packages/code-du-travail-frontend-e2e/features/outils/preavis-licenciement.feature
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Introduction.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Introduction.test.js.snap
  yarn.lock
Due: frontend

Add new pages
  packages/code-du-travail-frontend/pages/integration.js
  packages/code-du-travail-frontend/pages/integration/index.tsx
  packages/code-du-travail-frontend/pages/integration/preavis-retraite.tsx
  packages/code-du-travail-frontend/pages/integration/trouver-une-reponse.tsx
  packages/code-du-travail-frontend/pages/widgets/convention-collective-search.tsx
  packages/code-du-travail-frontend/pages/widgets/indemnite-de-licenciement.tsx
  packages/code-du-travail-frontend/pages/widgets/preavis-de-retraite.tsx
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
Due: frontend

feat(widget): new widget
  packages/code-du-travail-frontend/pages/integration.js
  packages/code-du-travail-frontend/pages/integration/index.tsx
  packages/code-du-travail-frontend/pages/integration/preavis-retraite.tsx
  packages/code-du-travail-frontend/pages/integration/trouver-une-reponse.tsx
  packages/code-du-travail-frontend/pages/widgets/preavis-de-retraite.tsx
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
  packages/code-du-travail-frontend/src/conventions/Search/index.tsx
Due: frontend

fix: rewriting
  packages/code-du-travail-frontend/.gitignore
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/_app.tsx
  packages/code-du-travail-frontend/pages/api/health.ts
  packages/code-du-travail-frontend/scripts/__tests__/prebuild.test.ts
  packages/code-du-travail-frontend/scripts/prebuild.ts
  packages/code-du-travail-frontend/src/lib/__tests__/url.test.ts
  packages/code-du-travail-frontend/tsconfig.json
  yarn.lock
Due: frontend

fix: lockfile
  yarn.lock
Due: none

fix(deps): update dependency next to v12 [security]
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: rewriting
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/404.jsx
  packages/code-du-travail-frontend/src/common/ErrorBoundary.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/situations.utils.test.js
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
  packages/code-du-travail-frontend/tsconfig.json
Due: frontend

fix(simulators): wrong event sent for cc_select
  packages/code-du-travail-frontend/src/lib/matomo/types.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/__tests__/pushAgreementEvents.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/pushAgreementEvents.ts
Due: frontend

doc: add best practices about index usage (#4277)
  BEST_PRACTICE.md
Due: none

feat(widget): add new widget "préavis de retraite"
  packages/code-du-travail-frontend/pages/integration/index.tsx
  packages/code-du-travail-frontend/pages/integration/preavis-retraite.tsx
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
  packages/react-ui/src/CodeSnippet/__snapshots__/test.js.snap
  packages/react-ui/src/CodeSnippet/index.js
  packages/react-ui/src/CodeSnippet/story.js
  packages/react-ui/src/CodeSnippet/test.js
  packages/react-ui/src/index.js
Due: frontend, react-ui

fix: remove for build
  Dockerfile
Due: none

Add installation method for new widget
  packages/code-du-travail-frontend/pages/integration/preavis-retraite.tsx
  packages/code-du-travail-frontend/pages/integration/trouver-une-reponse.tsx
  packages/code-du-travail-frontend/public/widget-preavis-retraite.js
  packages/code-du-travail-frontend/public/widget.js
Due: frontend

fix: optimize dockerfile
  Dockerfile
Due: none

fix: header
  .github/workflows/review.yml
  packages/code-du-travail-frontend/next.config.js
Due: frontend

fix: build
  .github/workflows/production.yml
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
  Dockerfile
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/_app.tsx
  packages/code-du-travail-frontend/pages/api/simulateurs/index.ts
  packages/code-du-travail-frontend/scripts/prebuild.ts
Due: frontend

fix: policy
  packages/code-du-travail-frontend/next.config.js
Due: frontend

Add breadcrumb to integration pages
  packages/code-du-travail-frontend/pages/integration/index.tsx
  packages/code-du-travail-frontend/pages/integration/preavis-retraite.tsx
  packages/code-du-travail-frontend/pages/integration/trouver-une-reponse.tsx
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/Breadcrumbs.tsx
  packages/code-du-travail-frontend/src/common/__tests__/Breadcrumbs.test.js
  packages/code-du-travail-frontend/src/layout/Footer.tsx
Due: frontend

Add breadcrumb to integration pages
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

fix: dockerfile
  Dockerfile
  package.json
  packages/code-du-travail-frontend/next.config.js
Due: frontend

fix: comme avant
  Dockerfile
Due: none

fix: comme avant
  Dockerfile
  package.json
Due: none

fix: NEXT_PUBLIC
  Dockerfile
Due: none

fix(simulators): wrong event sent for cc_select (#4294)
  packages/code-du-travail-frontend/src/lib/matomo/types.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/__tests__/pushAgreementEvents.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/pushAgreementEvents.ts
Due: frontend

fix: production
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/security.yml
  packages/code-du-travail-frontend/pages/api/simulateurs/index.ts
Due: frontend

fix: production
  packages/code-du-travail-frontend/src/lib/matomo/cc.ts
Due: frontend

fix(e2e): dossier covid-19 as changed
  packages/code-du-travail-frontend-e2e/features/dossier.feature
Due: frontend

fix(e2e): dossier covid-19 as changed (#4298)
  packages/code-du-travail-frontend-e2e/features/dossier.feature
Due: frontend

fix: security
  .github/workflows/security.yml
Due: none

feat(analytics): add fabrique matomo lib (#4251)
  packages/code-du-travail-frontend/__tests__/recherche.test.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/__tests__/piwik.test.js
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/Feedback.test.js
  packages/code-du-travail-frontend/src/common/Feedback/index.js
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/ServiceRenseignement.js
  packages/code-du-travail-frontend/src/common/Share.tsx
  packages/code-du-travail-frontend/src/common/__tests__/RelatedItems.test.js
  packages/code-du-travail-frontend/src/common/__tests__/ServiceRenseignement.test.js
  packages/code-du-travail-frontend/src/common/__tests__/ServiceRenseignementModal.test.js
  packages/code-du-travail-frontend/src/conventions/Convention/TextSearch.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/utils.test.js
  packages/code-du-travail-frontend/src/conventions/Convention/utils.js
  packages/code-du-travail-frontend/src/conventions/Search/ConventionLink.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
  packages/code-du-travail-frontend/src/conventions/Search/index.tsx
  packages/code-du-travail-frontend/src/layout/Footer.tsx
  packages/code-du-travail-frontend/src/lib/__tests__/matomo.test.ts
  packages/code-du-travail-frontend/src/lib/matomo/question.ts
  packages/code-du-travail-frontend/src/outils/ConventionCollective/common/TrackingContext.tsx
  packages/code-du-travail-frontend/src/outils/common/ShowDetails.tsx
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/Wizard.test.js
  packages/code-du-travail-frontend/src/search/SearchBar/index.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/SearchResults/index.js
  packages/code-du-travail-frontend/src/search/__tests__/ListLink.test.js
  packages/code-du-travail-frontend/src/search/__tests__/SearchBar.test.js
  packages/code-du-travail-frontend/src/search/__tests__/SearchHero.test.js
  packages/code-du-travail-frontend/src/search/__tests__/SearchResults.test.js
  packages/code-du-travail-frontend/src/search/utils.js
  packages/code-du-travail-frontend/src/web-components/tooltip-cc.js
  yarn.lock
Due: frontend

fix: remove unused tu
  packages/code-du-travail-frontend/src/constants.ts
  packages/code-du-travail-frontend/src/lib/__tests__/url.test.ts
Due: frontend
