Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

feat(sitemap): add glossary, documents and static pages
  packages/code-du-travail-frontend/scripts/generate-sitemap.js
Due: frontend

fix(deps): update dependency @socialgouv/kali-data to ^1.2.29
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

feat(courrier-types): remove manual script step on docs update (#1699)
  packages/code-du-travail-data/dataset/courrier-type/README.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/export-courriers.json
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-data/package.json
Due: none

Update README.md
  packages/code-du-travail-data/README.md
Due: none

update diagram SVG
  packages/code-du-travail-data/data-diagram.svg
Due: none

Update data-diagram.svg
  packages/code-du-travail-data/data-diagram.svg
Due: none

fix(ui): allow Button to forwardRef
  packages/react-ui/src/Button/index.js
Due: react-ui

feat(api): add score and algo key in search results
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

feat(sitemap): add glossary, documents and static pages (#1700)
  packages/code-du-travail-frontend/Dockerfile
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/scripts/generate-sitemap.js
  packages/code-du-travail-frontend/server/get-urls.js
  packages/code-du-travail-frontend/server/server.js
  yarn.lock
Due: frontend

feat(matomo): add suggestionCandidate and resultsCondidate in matomo
  packages/code-du-travail-frontend/__tests__/recherche.test.js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/piwik.js
  packages/code-du-travail-frontend/src/search/SearchBar/index.js
  packages/code-du-travail-frontend/src/search/SearchResults/index.js
  packages/code-du-travail-frontend/src/search/__tests__/SearchResults.test.js
Due: frontend

chore(deps): update react monorepo to ^16.12.0
  packages/code-du-travail-frontend/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui

fix(deps): update dependency @socialgouv/fiches-vdd to ^1.0.29
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
Due: none

feat(api): add score and algo key in search results (#1709)
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/search/index.js
Due: api

fix(deps): update dependency @socialgouv/kali-data to ^1.2.30
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

fix(ui): allow Button to forwardRef (#1707)
  packages/react-ui/src/Button/index.js
Due: react-ui

doc: update data schema (#1706)
  packages/code-du-travail-data/README.md
  packages/code-du-travail-data/data-diagram.svg
Due: none

test(chore): update snapshots
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/sheets-mt.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
Due: api, frontend

test(chore): update tests
  packages/code-du-travail-api/src/server/routes/__tests__/items.test.js
  packages/code-du-travail-api/src/server/routes/__tests__/sheets-mt.test.js
  packages/code-du-travail-data/indexing/__tests__/populate.test.js
  packages/code-du-travail-frontend/src/common/__tests__/Suggester.test.js
Due: api, frontend

feat(ui): add possibility to open some accordion on mount
  packages/react-ui/src/Accordion/index.js
  packages/react-ui/src/Accordion/story.js
Due: react-ui

feat(api): add sheet-mt related code
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/server/index.js
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-api/src/server/routes/items/relatedItems.elastic.js
  packages/code-du-travail-api/src/server/routes/items/searchBySourceSlug.elastic.js
  packages/code-du-travail-api/src/server/routes/search/getDocumentByUrlQuery.js
  packages/code-du-travail-api/src/server/routes/search/search.elastic.js
  packages/code-du-travail-api/src/server/routes/search/search.sem.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/index.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/search.elastic.js
  packages/code-du-travail-api/tests/cdtn_document.data.json
  packages/code-du-travail-api/tests/create_indexes.js
  packages/code-du-travail-api/tests/fetch_mock_data.js
  packages/code-du-travail-api/tests/fiches_ministere_travail.data.json
Due: api

feat(frontend): add sheet-mt related code
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
Due: frontend

feat(chore): update yarn.lock
  yarn.lock
Due: none

test(frontend): add test for matomo tracking
  packages/code-du-travail-frontend/__mocks__/next/router.js
  packages/code-du-travail-frontend/src/__tests__/piwik.test.js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/__tests__/Answer.test.js
  packages/code-du-travail-frontend/src/common/__tests__/BackLink.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchBar/index.js
  packages/code-du-travail-frontend/src/search/__tests__/SearchBar.test.js
  packages/code-du-travail-frontend/src/search/__tests__/SearchResults.test.js
Due: frontend

fix(suggester): update suggestions list
  packages/code-du-travail-data/Dockerfile
Due: none

refactor(api): apply feedbacks
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/Suggester.test.js
Due: api, frontend

fix(suggester): update suggestions list (#1714)
  packages/code-du-travail-data/Dockerfile
Due: none

feat(api):Added get items by url endpoint
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/items.test.js
  packages/code-du-travail-api/src/server/routes/items/index.js
Due: api

test(frontend):Updated tests
  packages/code-du-travail-frontend/src/contributions/__tests__/Contribution.test.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
Due: frontend

feat(api):Updated items to return only one element on url request
  packages/code-du-travail-api/src/server/routes/items/index.js
Due: api

update(data):Populate contributions datas
  packages/code-du-travail-data/dataset/contributions/contributions.data.json
Due: none

feat(frontend):Display external content on contribution pages from Content mdx tag
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/src/common/Mdx.js
  packages/code-du-travail-frontend/src/contributions/Contribution.js
Due: frontend

fix(frontend):Fixed issues
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/__tests__/Contribution.test.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
Due: api, frontend

fix(api):Fixed score CI issue
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-data/dataset/courrier-type/export-courriers.json
Due: api

fix(api):Fixed score CI issue
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/items.test.js
Due: api

fix(frontend):Fixed issues
  packages/code-du-travail-data/dataset/courrier-type/export-courriers.json
Due: none

fix(deps): update dependency @reach/dialog to ^0.6.0
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

fix(deps): update dependency @reach/tooltip to ^0.6.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

Add contribution contents (#1713)
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/items.test.js
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-data/dataset/contributions/contributions.data.json
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/src/common/Mdx.js
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/__tests__/Contribution.test.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
Due: api, frontend
