Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix click and css
  packages/cdtn-types/index.ts
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/content/Components/ContentItem.tsx
  packages/code-du-travail-frontend/src/content/Components/ContentList.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/code-du-travail-frontend/src/fiche-service-public/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/information/Components/BlockList.tsx
  packages/code-du-travail-frontend/src/information/__tests__/getContentBlockIds.test.ts
  packages/code-du-travail-frontend/src/information/__tests__/injectContentInfos.test.ts
  packages/code-du-travail-frontend/src/information/__tests__/mockedContent.ts
  packages/code-du-travail-frontend/src/search/SearchResults/Results.tsx
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-ui/src/Tile/index.js
  yarn.lock
Due: frontend, react-ui

fix: retour
  .github/workflows/review.yml
Due: none

move js logic to next
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.tsx
  packages/code-du-travail-frontend/pages/themes/index.tsx
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
  packages/code-du-travail-frontend/src/common/tiles/CallToActionWidget.tsx
  packages/code-du-travail-frontend/src/common/tiles/LinkedTile.tsx
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/Articles.js
  packages/code-du-travail-frontend/src/fiche-service-public/components/ServiceEnLigne.js
  packages/code-du-travail-frontend/src/home/Themes.js
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/AgreementTile.tsx
  packages/code-du-travail-frontend/src/search/SearchResults/Law.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.tsx
  packages/code-du-travail-frontend/src/search/SearchResults/Themes.js
  packages/react-ui/src/Tile/index.js
  packages/react-ui/src/Tile/story.js
  packages/react-ui/src/Tile/test.js
Due: frontend, react-ui

fix snap
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
Due: react-ui

revert change
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/validator.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1147_cabinets_medicaux/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1266_restauration_collectivites/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1480_journalisme/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1505_commerces_detail_fruits_legumes/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1606_bricolage/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1672_societes_assurances/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/176_industrie_pharmaceutique/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2420_cadres_batiment/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/292_plasturgie/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/__tests__/indemnite-licenciement/supprimer-etape-salaire.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/54_industries_metallurgiques_region_parisienne/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/675_habillement_commerce_succursales/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/843_boulangerie_patisserie/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/common.yaml
Due: frontend

move e2e to cypress
  packages/code-du-travail-frontend-e2e/codecept/features/contributions/search.feature
  packages/code-du-travail-frontend-e2e/e2e/contributions/search.spec.ts
Due: frontend

lint
  packages/react-ui/src/Tile/story.js
Due: react-ui

fix text decoration
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
Due: frontend

feat: add is treated
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/validator.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/stepReducer.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/stepReducer.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/state/usecases/processAnalyticEvents.ts
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/stepReducer.ts
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/stepReducer.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/__tests__/pushAgreementEvents.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/pushAgreementEvents.ts
Due: frontend

fix snaps
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: frontend

fix: build
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
Due: frontend

fix: tu
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/tracking.test.tsx
Due: frontend

fix: unseal
  .github/workflows/review.yml
Due: none

fix: decode
  .github/workflows/review.yml
Due: none

add back link
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
  packages/code-du-travail-frontend/src/common/tiles/LinkedTile.tsx
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/code-du-travail-frontend/src/fiche-service-public/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.js
  packages/react-ui/src/Tile/test.js
Due: frontend, react-ui

fiiiiix
  .github/workflows/review.yml
Due: none

fix: enfin
  .github/workflows/review.yml
Due: none

fix: config
  lighthouserc.json
Due: none

fix(indemnite-licenciement): matomo event is now binded to `currentStepIndex` instead of trigger `nextStep` or `previousStep` (#4956)
  packages/code-du-travail-frontend/src/lib/matomo/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/validator.ts
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/stepReducer.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/stepReducer.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/state/usecases/processAnalyticEvents.ts
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/stepReducer.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/tracking.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/ForMoreInfo.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/stepReducer.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/__tests__/pushAgreementEvents.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/pushAgreementEvents.ts
Due: frontend

Updates
  project.json
Due: none

chore(release): version 4.91.0
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui

feat: add home
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/api/health.ts
  packages/code-du-travail-frontend/pages/api/home.ts
  packages/code-du-travail-frontend/pages/index.tsx
  packages/code-du-travail-frontend/src/api/controllers/home.ts
  packages/code-du-travail-frontend/src/api/controllers/index.ts
  packages/code-du-travail-frontend/src/api/elasticsearch.ts
  packages/code-du-travail-frontend/src/api/home/index.ts
  packages/code-du-travail-frontend/src/api/index.ts
  packages/code-du-travail-frontend/src/api/services/themes.ts
  packages/code-du-travail-frontend/src/home/Highlight.tsx
  packages/code-du-travail-frontend/src/home/Partners.tsx
  packages/code-du-travail-frontend/src/home/Themes.tsx
  packages/code-du-travail-frontend/src/home/__tests__/Highlights.test.js
  packages/code-du-travail-frontend/src/home/__tests__/Themes.test.js
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/home/index.ts
  packages/code-du-travail-frontend/src/layout/Footer.tsx
  yarn.lock
Due: frontend

feat: add home
  packages/code-du-travail-frontend/pages/api/home.ts
Due: frontend

fix(actions): production workflow is fixed
  .github/workflows/production.yml
  .github/workflows/review.yml
Due: none

chore(release): version 4.91.1
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui

Updates
  main.29ee2020.iframe.bundle.js
  project.json
Due: none

fix: new home
  packages/cdtn-types/src/index.ts
  packages/cdtn-types/src/sources.ts
  packages/cdtn-types/src/types.ts
  packages/cdtn-types/tsconfig.json
  packages/code-du-travail-frontend/pages/api/home.ts
  packages/code-du-travail-frontend/src/api/controllers/home.ts
  packages/code-du-travail-frontend/src/api/home/index.ts
  packages/code-du-travail-frontend/src/api/services/index.ts
  packages/code-du-travail-frontend/src/api/services/queries/index.ts
  packages/code-du-travail-frontend/src/api/services/queries/themes.ts
  packages/code-du-travail-frontend/src/api/services/themes.ts
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
  packages/code-du-travail-frontend/src/api/utils/index.ts
Due: frontend

fix: new home
  packages/code-du-travail-frontend/pages/api/home.ts
  packages/code-du-travail-frontend/src/api/controllers/home.ts
  packages/code-du-travail-frontend/src/api/services/agreements.ts
  packages/code-du-travail-frontend/src/api/services/contributions.ts
  packages/code-du-travail-frontend/src/api/services/highlights.ts
  packages/code-du-travail-frontend/src/api/services/index.ts
  packages/code-du-travail-frontend/src/api/services/modeles.ts
  packages/code-du-travail-frontend/src/api/services/queries/agreements.ts
  packages/code-du-travail-frontend/src/api/services/queries/contributions.ts
  packages/code-du-travail-frontend/src/api/services/queries/highlights.ts
  packages/code-du-travail-frontend/src/api/services/queries/index.ts
  packages/code-du-travail-frontend/src/api/services/queries/modeles.ts
  packages/code-du-travail-frontend/src/api/services/queries/themes.ts
  packages/code-du-travail-frontend/src/api/services/queries/tools.ts
  packages/code-du-travail-frontend/src/api/services/tools.ts
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
  packages/code-du-travail-frontend/src/api/utils/errors.ts
  packages/code-du-travail-frontend/src/api/utils/index.ts
  packages/code-du-travail-frontend/src/api/utils/types.ts
Due: frontend

fix link centered
  packages/code-du-travail-frontend/pages/themes/index.tsx
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
Due: frontend

fix style
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
  packages/code-du-travail-frontend/src/content/Components/ContentList.tsx
Due: frontend

fix: node version
  .github/workflows/quality.yml
Due: none

fix(workflow): change node version (#4962)
  .github/workflows/quality.yml
Due: none

fix(workflow): setup node version for storybook
  .github/workflows/storybook.yml
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
