Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

remove unused export
  packages/react-ui/src/index.js
Due: react-ui

fix(frontend): move social link to bottom in tools
  packages/code-du-travail-frontend/pages/outils/[slug].js
  packages/code-du-travail-frontend/src/common/SurveyModal/__tests__/__snapshots__/SurveyModal.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/Accordion.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/Tabulator.test.js.snap
Due: frontend, react-fiche-service-public

chore(release): version 4.46.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: remove FocusRoot
  packages/code-du-travail-frontend/pages/accessibilite.js
  yarn.lock
Due: frontend

fix(frontend): use getStaticPath for /api/simulateur endpoint
  packages/code-du-travail-frontend/__tests__/outils.test.js
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/__snapshots__/index.test.ts.snap
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/index.test.ts
  packages/code-du-travail-frontend/pages/api/simulateurs/index.ts
  packages/code-du-travail-frontend/pages/outils/index.js
  yarn.lock
Due: frontend

fix(frontend): use getStaticPath for /api/simulateur endpoint (#3435)
  packages/code-du-travail-frontend/__tests__/outils.test.js
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/__snapshots__/index.test.ts.snap
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/index.test.ts
  packages/code-du-travail-frontend/pages/api/simulateurs/index.ts
  packages/code-du-travail-frontend/pages/outils/index.js
Due: frontend

fix(k8s): use code.travail.gouv.fr as default
  .gitlab-ci/env.sh
  .k8s/ingress-prod.yml
Due: none

fix(frontend): replace getStaticPath with getServerSideProps
  packages/code-du-travail-frontend/pages/outils/index.js
Due: frontend

fix(frontend): remove next js 301 redir
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/__tests__/routes.test.js
  packages/code-du-travail-frontend/server/koaServer.js
Due: frontend

fix(frontend): replace getStaticPath with getServerSideProps (#3438)
  packages/code-du-travail-frontend/pages/outils/index.js
Due: frontend

fix(k8s): use code.travail.gouv.fr as default (#3436)
  .gitlab-ci/env.sh
  .k8s/ingress-prod.yml
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/__tests__/routes.test.js
  packages/code-du-travail-frontend/server/koaServer.js
Due: frontend

fix(api): add version prefix only for prod or preprod index
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/idcc.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/sheets-mt.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/v1.prefix.test.js
  packages/code-du-travail-api/src/server/routes/conventions/index.js
  packages/code-du-travail-api/src/server/routes/docs-count/index.js
  packages/code-du-travail-api/src/server/routes/dossiers/index.js
  packages/code-du-travail-api/src/server/routes/glossary/index.js
  packages/code-du-travail-api/src/server/routes/highlights/index.js
  packages/code-du-travail-api/src/server/routes/idcc/index.js
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-api/src/server/routes/modeles/index.js
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/search/search.getSavedResult.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/index.js
  packages/code-du-travail-api/src/server/routes/stats/index.js
  packages/code-du-travail-api/src/server/routes/suggest/index.js
  packages/code-du-travail-api/src/server/routes/themes/index.js
  packages/code-du-travail-api/src/server/routes/v1.prefix.js
  packages/code-du-travail-api/src/server/routes/version/index.js
  packages/code-du-travail-api/tests/create_indexes.js
  packages/code-du-travail-api/tests/fetch_mock_data.js
Due: api

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  .k8s/package.json
  .k8s/yarn.lock
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

Restore package.json
  .k8s/package.json
Due: none

Restore yarn.lock
  .k8s/yarn.lock
Due: none

fix(accessibility): some typos and use accessibilite for the link
  packages/code-du-travail-frontend/src/web-components/tooltip-cc.js
  packages/code-du-travail-frontend/src/web-components/tooltip.js
Due: frontend

fix(frontend): fix safari tooltip display bug (#3433)
  packages/code-du-travail-frontend/src/web-components/tooltip-cc.js
  packages/code-du-travail-frontend/src/web-components/tooltip.js
Due: frontend

chore(release): version 4.47.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui, react-fiche-service-public

ci: fix production pipeline job
  .gitlab-ci/stages/manual.yml
Due: none

feature(simulator): use getInitialProps to load publicodes rules
  packages/code-du-travail-frontend/pages/api/simulateurs/[id].ts
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/index.tsx
  packages/code-du-travail-frontend/src/outils/api/LoadPublicodes.ts
  packages/code-du-travail-frontend/src/outils/publicodes/PubliContext.tsx
Due: frontend

chore(simulator): update yarn.lock
  yarn.lock
Due: none

fix(ci): add typescript support to eslint
  packages/code-du-travail-frontend/.eslintrc.yml
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feature(simulator): use getServerSideProps
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/outils/api/LoadPublicodes.ts
  packages/code-du-travail-frontend/src/outils/publicodes/PubliContext.tsx
Due: frontend

feature(simulator): use publicodes to compute the business retirement notice
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/PubliContext.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/PubliHandler.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/index.ts
Due: frontend

fix(simulator): remove loading state which is not used anymore
  packages/code-du-travail-frontend/src/outils/publicodes/PubliHandler.tsx
Due: frontend

Update manual.yml
  .gitlab-ci/stages/manual.yml
Due: none

feature(simulator): renaming + cleaning
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/layout/Layout.js
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/Handler.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/PubliContext.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/index.ts
  packages/code-du-travail-frontend/src/outils/publicodes/index.tsx
Due: frontend

ci: fix production pipeline job (#3442)
  .gitlab-ci/stages/manual.yml
Due: none

feat(simulator): add publicodes to handle simulators (#3432)
  packages/code-du-travail-frontend/.eslintrc.yml
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/api/simulateurs/[id].ts
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/layout/Layout.js
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/api/LoadPublicodes.ts
  packages/code-du-travail-frontend/src/outils/publicodes/Handler.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/index.tsx
  yarn.lock
Due: frontend

fix(frontend): prevent user when opened page is in a new window
  packages/react-ui/src/MoreContent/story.js
Due: react-ui

fix(react-fiches-service-public): inform user when navigating a link open a new window
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/LienExterne.js
  packages/react-fiche-service-public/src/components/OuSAdresser.js
  packages/react-fiche-service-public/src/components/ServiceEnLigne.js
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/LienExterne.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/OuSAdresser.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
Due: react-fiche-service-public

fix(seo): remove nofollow on internal references
  packages/code-du-travail-frontend/src/common/References/ReferenceList.js
Due: frontend

fix(frontend): inform user when navigating a link open a new window
  packages/code-du-travail-frontend/pages/accessibilite.js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/glossaire/[slug].js
  packages/code-du-travail-frontend/pages/information/[slug].js
  packages/code-du-travail-frontend/public/widget.html
  packages/code-du-travail-frontend/public/widget.js
  packages/code-du-travail-frontend/src/common/A11yLink.js
  packages/code-du-travail-frontend/src/common/Article.js
  packages/code-du-travail-frontend/src/common/References/ReferenceList.js
  packages/code-du-travail-frontend/src/common/ServiceRenseignement.js
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/conventions/Convention/Info.js
  packages/code-du-travail-frontend/src/conventions/Convention/TextSearch.js
  packages/code-du-travail-frontend/src/droit-du-travail/Origins.js
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Info.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/common/situations.utils.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
Due: frontend

test(frontend): update snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferenceList.test.js.snap
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Info.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: frontend

fix(deps): update dependency p-queue to v7
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.120.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feature(simulator): add strong types thank typescrypt and eslint
  packages/code-du-travail-frontend/.eslintrc.yml
  packages/code-du-travail-frontend/pages/api/simulateurs/index.ts
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/stepReducer.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Origine.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/api/LoadPublicodes.ts
  packages/code-du-travail-frontend/src/outils/common/type/WizardType.ts
  packages/code-du-travail-frontend/src/outils/publicodes/index.tsx
Due: frontend

feat(simulator): add strong types thank typescrypt and eslint (#3445)
  packages/code-du-travail-frontend/.eslintrc.yml
  packages/code-du-travail-frontend/pages/api/simulateurs/index.ts
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/stepReducer.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Origine.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/api/LoadPublicodes.ts
  packages/code-du-travail-frontend/src/outils/common/type/WizardType.ts
  packages/code-du-travail-frontend/src/outils/publicodes/index.tsx
Due: frontend

feat(simulator): add the labor agreement for plasturgie
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.plasturgie.spec.ts
  packages/code-du-travail-modeles/src/modeles/contrat-salarie.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/plasturgie.yaml
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
