Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: fix
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: none

feat: model
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: none

fix: fix
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/ShowAgreements.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/index.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/route.agreement.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/route.enterprise.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/route.none.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/route.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/index.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/validator.ts
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: frontend

fix: fix
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/indemnite.spec.ts
Due: none

fix: fix
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
Due: frontend

fix: question
  packages/code-du-travail-frontend/src/lib/matomo/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/validator.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/PubliQuestion.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/ShowAgreements.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/index.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/route.agreement.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/route.enterprise.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/route.none.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/route.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/index.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/validator.ts
  packages/code-du-travail-frontend/src/outils/Components/SelectQuestion.tsx
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/Components/index.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/InformationStep/Step.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Informations/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/store.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/AgreementSearch.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/EnterpriseSearch.test.tsx
  packages/code-du-travail-frontend/src/outils/common/PubliQuestion.tsx
Due: frontend

fix: question
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: frontend

fix: question
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/indemnite.spec.ts
Due: none

fix: question
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/PubliQuestion.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/types.ts
  packages/code-du-travail-frontend/src/outils/Components/SelectQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/types.ts
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/publicodes/PublicodesBase.ts
Due: frontend

fix: question
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/PubliQuestion.tsx
Due: frontend

fix: packages/code-du-travail-api/package.json to reduce vulnerabilities
  packages/code-du-travail-api/package.json
Due: api

fix: cc
  packages/code-du-travail-modeles/src/__test__/1517-commerce-detail-non-alimentaire/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires.yaml
Due: none

fix: e2e
  packages/code-du-travail-frontend-e2e/features/dossier.feature
Due: frontend

fix(preavis-retraite): cc 1517 départ (#4501)
  packages/code-du-travail-frontend-e2e/features/dossier.feature
  packages/code-du-travail-modeles/src/__test__/1517-commerce-detail-non-alimentaire/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires.yaml
Due: frontend

feat: model
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
Due: frontend

fix: event
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
Due: frontend

fix: event (#4503)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
Due: frontend

fix(indemnite-licenciement): event naming (#4504)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
Due: frontend

fix: doc
  packages/code-du-travail-frontend/src/lib/array.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/Components/RadioQuestion.tsx
  packages/code-du-travail-frontend/src/outils/Components/SelectQuestion.tsx
Due: frontend

chore(release): version 4.80.0
  CHANGELOG.md
  lerna.json
  packages/cdtn-types/CHANGELOG.md
  packages/cdtn-types/package.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: doc
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/index.tsx
Due: frontend

fix: doc
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
Due: frontend

fix: enfiiiiiiiiin
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/PubliQuestion.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Informations/index.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/utils/indemnite-licenciement.ts
Due: frontend

fix: build
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
Due: frontend

fix: info-licenciement
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/index.tsx
  packages/code-du-travail-modeles/src/plugins/types.ts
  packages/code-du-travail-modeles/src/publicodes/utils/indemnite-licenciement.ts
  packages/code-du-travail-modeles/src/utils/array.ts
Due: frontend

fix: info a remplir
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/validator.ts
  packages/code-du-travail-frontend/src/outils/Components/RadioQuestion.tsx
  packages/code-du-travail-frontend/src/outils/Components/SelectQuestion.tsx
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/types.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: frontend

fix: naming
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: none

fix: arrondi
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/getSupportedCc.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/getSupportedCc.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/index.tsx
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/internal/extractSupportedCc.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1596_batiment_ouvriers_employes/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/publicodes/index.ts
  packages/code-du-travail-modeles/src/publicodes/utils/indemnite-licenciement.ts
  packages/code-du-travail-modeles/src/utils/constants.ts
Due: frontend

fix: result
  packages/code-du-travail-frontend/src/outils/Components/SimulatorDecorator/Components/StepList/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/getSupportedCc.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/Result.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1596_batiment_ouvriers_employes/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2511_sport/common.yaml
Due: frontend

fix: result
  packages/code-du-travail-frontend/src/outils/Components/SimulatorDecorator/Components/StepList/index.tsx
Due: frontend

fix: result
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/__tests__/SalaireTempsPlein.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/indemnite-licenciement.yaml
Due: frontend

fix: result
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriods.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/__tests__/SalaireTempsPlein.test.tsx
Due: frontend

fix: test
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/ShowAgreements.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/AgreementInfo.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/components/ShowAlert.tsx
  packages/code-du-travail-modeles/src/__test__/2264-hospitalisation-privee/indemnite-licenciement/indemnite.spec.ts
Due: frontend
