Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

Updates
  project.json
Due: none

fix: TU
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/resultat-formules.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/validator.ts
Due: frontend

fix: TU
  packages/code-du-travail-modeles/src/modeles/base/__tests__/indemnite-licenciement/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/ineligibility.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/ineligibility.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/__tests__/indemnite-licenciement/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/ineligibility.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/__tests__/indemnite-licenciement/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/ineligibility.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/seniority.ts
  packages/code-du-travail-modeles/src/publicodes/IndemniteLicenciementPublicodes.ts
  packages/code-du-travail-modeles/src/publicodes/types.ts
Due: none

chore: clean
  packages/code-du-travail-modeles/src/modeles/base/__tests__/indemnite-licenciement/calculate.spec.ts
  packages/code-du-travail-modeles/src/publicodes/IndemniteLicenciementPublicodes.ts
Due: none

chore: clean
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/seniority.ts
Due: frontend

fix: doc
  packages/code-du-travail-frontend/cypress/integration/heavy/outils-externe.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/statistiques.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/a-propos.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/droit-du-travail.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/landing-pages.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/mentions-legales.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/modeles.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/politique-confidentialite.spec.ts
Due: frontend

chore(release): version 4.123.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

chore: clean
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1527_immobilier/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1672_societes_assurances/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/16_transports_routiers/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/29_hospitalisation_privee_but_non_lucratif/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/573_commerces_de_gros/salary.ts
  packages/code-du-travail-modeles/src/publicodes/IndemniteLicenciementPublicodes.ts
Due: none

chore: clean
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/16.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/1672.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/3248.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/413.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/650.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/eligibility.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
Due: frontend

fix(e2e): simplification du test `footer.spec.ts` + ajout d'un mode de test `heavy` (#5629)
  .github/workflows/e2e.yaml
  packages/code-du-travail-frontend/cypress.config.js
  packages/code-du-travail-frontend/cypress/integration/footer.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/outils-externe.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/statistiques.spec.ts
  packages/code-du-travail-frontend/cypress/integration/heavy/validate-html.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/canonical-urls.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/check-headers.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/contributions/contributions-old.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/contributions/contributions.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/contributions/search.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/conventions-collectives.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/dossier.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/footer.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/glossaire.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/home.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/landing-pages.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/modeles.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/not-found.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/outils/brut-net.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/outils/dossier-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/outils/heures-recherche-emploi.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/outils/indemnite-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/outils/indemnite-precarite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/outils/preavis-demission.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/outils/preavis-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/outils/preavis-retraite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/outils/trouver-sa-cc-je-la-saisis.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/outils/trouver-sa-cc-recherche-entreprise.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/recherche.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/sitemap.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/themes.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets-pages.spec.ts
Due: frontend

chore: clean salary
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1483.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1486.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1516.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1527.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/16.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1672.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1702.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1740.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/2120.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/2148.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/2596.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/2609.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/2614.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/29.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/3239.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/413.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/44.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/573.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/675.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
Due: frontend

chore: clean console log
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
Due: frontend

chore: clean
  packages/code-du-travail-modeles/src/modeles/base/__tests__/indemnite-licenciement/indemnite.spec.ts
Due: none

fix: doc
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/fetchEnterprises.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/types.ts
  packages/code-du-travail-frontend/src/config.ts
Due: frontend

fix: doc
  packages/code-du-travail-frontend/src/outils/utils/__tests__/extractDates.test.ts
  packages/code-du-travail-frontend/src/outils/utils/extractDates.ts
  packages/code-du-travail-modeles/src/simulators/preavis-demission/preavis-demission.data.json
Due: frontend

fix: retours
  packages/code-du-travail-frontend/src/lib/date.ts
  packages/code-du-travail-frontend/src/outils/utils/extractDates.ts
Due: frontend

fix: retours
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/fetchEnterprises.ts
Due: frontend

chore: fix tests
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/__tests__/indemnite-licenciement/calculate.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/__tests__/indemnite-licenciement/calculate.spec.ts
Due: none

chore
  packages/code-du-travail-frontend/README.md
Due: frontend

Revert "chore"
  packages/code-du-travail-frontend/README.md
Due: frontend

fix: retours
  packages/code-du-travail-frontend/src/outils/utils/__tests__/extractDates.test.ts
Due: frontend

fix: modif
  packages/code-du-travail-frontend/src/lib/date.ts
  packages/code-du-travail-frontend/src/outils/utils/__tests__/extractDates.test.ts
  packages/code-du-travail-frontend/src/outils/utils/extractDates.ts
  packages/code-du-travail-modeles/src/simulators/preavis-demission/preavis-demission.data.json
  packages/code-du-travail-modeles/src/simulators/preavis-licenciement/preavis-licenciement.data.json
Due: frontend

fix: modif
  .github/workflows/e2e.yaml
  packages/code-du-travail-frontend/cypress.config.js
Due: frontend

fix: api items id -> ids
  packages/code-du-travail-frontend/src/api/modules/items/controller.ts
Due: frontend

fix: api items id -> ids (#5642)
  packages/code-du-travail-frontend/src/api/modules/items/controller.ts
Due: frontend

fix(e2e): correction de la path + envoie à mattermost en erreur (#5640)
  .github/workflows/e2e.yaml
  packages/code-du-travail-frontend/cypress.config.js
Due: frontend

chore(release): version 4.123.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix(error): pas de fails si pas de description
  packages/code-du-travail-frontend/src/search/utils.js
Due: frontend

better solution
  packages/code-du-travail-frontend/src/search/utils.js
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
