Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: checkout
  .github/workflows/storybook.yml
Due: none

Update README.md
  packages/code-du-travail-api/README.md
Due: api

fix: arg
  .github/workflows/storybook.yml
  package.json
  packages/react-ui/package.json
Due: react-ui

feat: spacing
  .github/workflows/storybook.yml
Due: none

feat: concurrency
  .github/workflows/storybook.yml
Due: none

Updates
  0.233daf10.iframe.bundle.js
  0.ebce1ec4.iframe.bundle.js
  4.2a2f0bf5.iframe.bundle.js
  4.2a2f0bf5.iframe.bundle.js.map
  4.ea3d0e55.iframe.bundle.js
  4.ea3d0e55.iframe.bundle.js.LICENSE.txt
  4.ea3d0e55.iframe.bundle.js.map
  5.768ff255.iframe.bundle.js
  5.f1860813.iframe.bundle.js
  6.833c808b.iframe.bundle.js
  6.833c808b.iframe.bundle.js.LICENSE.txt
  6.833c808b.iframe.bundle.js.map
  6.a111feac.iframe.bundle.js
  6.a111feac.iframe.bundle.js.map
  7.519fe98d.iframe.bundle.js
  7.c263e14d.iframe.bundle.js
  iframe.html
  main.baf737c7.iframe.bundle.js
  main.e6b79f24.iframe.bundle.js
  runtime~main.61417f96.iframe.bundle.js
  runtime~main.e10eac9f.iframe.bundle.js
  vendors~main.0e614a0a.iframe.bundle.js
  vendors~main.0e614a0a.iframe.bundle.js.LICENSE.txt
  vendors~main.0e614a0a.iframe.bundle.js.map
  vendors~main.e47465fc.iframe.bundle.js
  vendors~main.e47465fc.iframe.bundle.js.map
Due: none

fix: launch ci only on master
  .github/workflows/storybook.yml
Due: none

fix(storybook): action github (#3908)
  .github/workflows/storybook.yml
  package.json
  packages/react-ui/package.json
Due: react-ui

Updates
  0.6318e38b.iframe.bundle.js
  0.ebce1ec4.iframe.bundle.js
  4.0a9d9cc0.iframe.bundle.js
  4.0a9d9cc0.iframe.bundle.js.LICENSE.txt
  4.0a9d9cc0.iframe.bundle.js.map
  4.ea3d0e55.iframe.bundle.js
  4.ea3d0e55.iframe.bundle.js.map
  5.e674a087.iframe.bundle.js
  5.f1860813.iframe.bundle.js
  6.21563168.iframe.bundle.js
  6.21563168.iframe.bundle.js.LICENSE.txt
  6.21563168.iframe.bundle.js.map
  6.833c808b.iframe.bundle.js
  6.833c808b.iframe.bundle.js.map
  7.a59571d1.iframe.bundle.js
  7.c263e14d.iframe.bundle.js
  iframe.html
  main.e6b79f24.iframe.bundle.js
  main.fff6c6b2.iframe.bundle.js
  runtime~main.e10eac9f.iframe.bundle.js
  runtime~main.f9f4f40a.iframe.bundle.js
  vendors~main.06bab7c5.iframe.bundle.js
  vendors~main.06bab7c5.iframe.bundle.js.LICENSE.txt
  vendors~main.06bab7c5.iframe.bundle.js.map
  vendors~main.0e614a0a.iframe.bundle.js
  vendors~main.0e614a0a.iframe.bundle.js.map
Due: none

fix: launch ci only on master
  .github/workflows/trivy.yml
Due: none

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.220.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: dockerfile
  .github/workflows/production.yml
  .github/workflows/release.yml
  .k8s/components/api.ts
  .k8s/components/www.ts
  Dockerfile
  packages/code-du-travail-api/Dockerfile
  packages/code-du-travail-frontend/Dockerfile
Due: api, frontend

fix: dockerfile and k8s
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
Due: none

refactor(simulator): Reorganise tests for preavis de retraite
  packages/code-du-travail-modeles/src/__test__/automobile/preavis-retraite/depart.spec.ts
  packages/code-du-travail-modeles/src/__test__/automobile/preavis-retraite/mise.spec.ts
  packages/code-du-travail-modeles/src/__test__/automobile/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/banque/preavis-retraite/depart-mise-retraite-banque.spec.ts
  packages/code-du-travail-modeles/src/__test__/batiment-etam/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/boulangerie-patisserie-entreprise-artisanales/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/bureaux-etudes/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/cabinets-medicaux/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/__test__/cabinets-medicaux/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/commerces-de-gros/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/commerces-detail-alimentation/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/common/check-rule-title-spec.ts
  packages/code-du-travail-modeles/src/__test__/common/extract-implemented-cc-spec.ts
  packages/code-du-travail-modeles/src/__test__/common/legal-references.ts
  packages/code-du-travail-modeles/src/__test__/comptables/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/__test__/comptables/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/concierge/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/entreprise-proprete/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/habillement-commerce-succursales/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/habillement-textiles-commerce-de-detail/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/__test__/habillement-textiles-commerce-de-detail/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/handicap/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/hospitalisation-privee-but-non-lucratif/preavis-retraite/depart.spec.ts
  packages/code-du-travail-modeles/src/__test__/hospitalisation-privee-but-non-lucratif/preavis-retraite/mise.spec.ts
  packages/code-du-travail-modeles/src/__test__/hospitalisation-privee-but-non-lucratif/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/industrie-pharmaceutique/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/industries-chimiques/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/industries-metallurgiques-region-parisienne/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/journalisme/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/legal/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/__test__/legal/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/metallurgie-ingenieurs-cadres/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/plasturgie/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/prevention-secu-ent/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/rename.sh
  packages/code-du-travail-modeles/src/__test__/restauration-collectivités/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/restauration-rapide/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/__test__/transport-aerien-personnel-au-sol/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/transports-routiers/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/travailleur-handicape/preavis-retraite/references.spec.ts
Due: none

add readme for best practices
  BEST_PRACTICE.md
  packages/code-du-travail-modeles/BEST_PRACTICE.md
Due: none

remove invalid test
  packages/code-du-travail-modeles/src/__test__/rename.sh
Due: none

remove invalid test
  packages/code-du-travail-modeles/src/__test__/commerce-detail-fruits-legumes/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/__test__/common/check-rule-title-spec.ts
Due: none

fix(simulators): feedback about information page
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/IntroAnnotation.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/Wizard.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
  yarn.lock
Due: frontend

fix(simulators): add spaces after notes
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.tsx
Due: frontend

fix: dockerfile
  .gitlab-ci.yml
  .gitlab-ci/env.sh
  .gitlab-ci/stages/e2e.yml
  .gitlab-ci/stages/manual.yml
  .gitlab-ci/stages/notify.yml
  .gitlab-ci/stages/register.yml
  .gitlab-ci/variables.yml
  Dockerfile
Due: none

fix(simulators): add a description on some questions to show a tooltip
  packages/code-du-travail-frontend/src/outils/common/PubliQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/Question.tsx
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/TextQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/YesNoPubliQuestion.tsx
  packages/code-du-travail-modeles/src/__test__/check-description-question.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/automobiles.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/bureaux_etudes_techniques.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/cabinets_medicaux.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/commerces_de_gros.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/commerces_detail_alimentation.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/commerces_detail_fruits_legumes.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/comptables.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/education_loisirs.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/entreprises_proprete.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/gardien_concierge.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/habillement_commerce_succursales.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/handicap.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/hospitalisation_privee_but_non_lucratif.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/hotels_cafes_restaurants.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/immobilier.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/industrie_pharmaceutique.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/industries_chimiques.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/personnel_presta_service_tertiaire.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/plasturgie.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/prevention_secu_ent.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/restauration_collectivités.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/restauration_rapide.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/sedima.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/transport_aerien_personnel_au_sol.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/transports_routiers.yaml
Due: frontend

fix: dockerfile optimization
  BEST_PRACTICE.md
  Dockerfile
  README-dev.md
  docker-compose.override.dev.yml
  docker-compose.override.prod.yml
  docker-compose.yml
  package.json
  scripts/setup-env.js
  scripts/snyk-docker-scan.sh
  yarn.lock
Due: none

fix: secu
  Dockerfile
  packages/code-du-travail-api/Dockerfile
Due: api

fix: image
  Dockerfile
  package.json
Due: none

add concurrency
  .github/workflows/codeql-analysis.yml
  .github/workflows/k8s.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/storybook.yml
Due: none

fix: image
  .github/workflows/codeql-analysis.yml
  .github/workflows/k8s.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/review.yml
  .github/workflows/security.yml
  .github/workflows/storybook.yml
Due: none

feat: add env variable
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/__tests__/kosko generate --env dev.ts
  .k8s/__tests__/kosko generate --env preprod.ts
  .k8s/__tests__/kosko generate --env prod.ts
Due: none

fix: namespace
  .github/workflows/production.yml
  .k8s/__tests__/kosko generate --env dev.ts
  .k8s/__tests__/kosko generate --env preprod.ts
  .k8s/__tests__/kosko generate --env prod.ts
Due: none

fix: namespace
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
Due: none

fix: namespace
  .github/workflows/production.yml
Due: none

split: preprod et prod
  .github/workflows/preprod.yml
Due: none

path
  .github/workflows/preproduction.yml
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/components/api.ts
  .k8s/components/www.ts
Due: none

path
  .github/workflows/pre-production.yml
Due: none

last episode ?"
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
  .k8s/__tests__/kosko generate --env dev.ts
  .k8s/__tests__/kosko generate --env prod.ts
Due: none

last episode ?
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
Due: none

set preprod
  .github/workflows/review.yml
  .k8s/components/api.ts
Due: none
