Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

feat(frontend): add contribution generic answer source
  README-dev.md
  packages/code-du-travail-api/src/server/routes/items/searchByUrl.elastic.js
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/rehypeToReact.js
Due: api, frontend

fix: update test
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
Due: api

feat(frontend): add canonical link on service-public and travail-emploi document
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
Due: frontend

fix: review
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/items/searchByUrl.elastic.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
Due: api, frontend

feat(frontend): add canonical link on service-public and travail-emploi document (#3312)
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
Due: frontend

feat(frontend): add contribution generic answer source (#3311)
  README-dev.md
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/items/searchByUrl.elastic.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/rehypeToReact.js
Due: api, frontend

fix(data): get the breadcrumbs from the generic contribution
  packages/code-du-travail-data/indexing/cdtnDocuments.js
Due: none

fix(data): get the breadcrumbs from the generic contribution (#3313)
  packages/code-du-travail-data/indexing/cdtnDocuments.js
Due: none

chore(release): version 4.44.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(deps): update @socialgouv data packages
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(data): add breadcrumbs to editorial content
  packages/code-du-travail-data/indexing/cdtnDocuments.js
Due: none

fix(data): add breadcrumbs to editorial content (#3315)
  packages/code-du-travail-data/indexing/cdtnDocuments.js
Due: none

fix(frontend): improve source ui on mobile for contibutions
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/__tests__/Contribution.test.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
Due: frontend

fix: review
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/__tests__/Contribution.test.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
Due: frontend

fix(frontend): improve source ui on mobile for contibutions (#3318)
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/__tests__/Contribution.test.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
Due: frontend

chore(release): version 4.44.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
Due: api, frontend

fix(front): mobile tool survey
  packages/code-du-travail-frontend/src/outils/common/ToolSurvey.js
Due: frontend

remove useless style
  packages/code-du-travail-frontend/src/common/RelatedItems.js
Due: frontend

fix(front): naïve attempt to fix tables
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
Due: frontend

fix z-index
  packages/code-du-travail-frontend/src/layout/AnswerLayout.js
Due: frontend

update snaps
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
Due: frontend

fix(front): add overflow on document models (#3324)
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/layout/AnswerLayout.js
Due: frontend

test: matomo4
  Dockerfile
Due: none

chore: test
  packages/code-du-travail-frontend/pages/_app.js
Due: frontend

chore: lint
  packages/code-du-travail-frontend/pages/_app.js
Due: frontend

chore: test matomo
  packages/code-du-travail-frontend/pages/_app.js
Due: frontend

chore: new dossier
  .gitlab-ci/variables.yml
Due: none

fix(frontend): add references on contribution generic answer
  optional/e2e/README.md
  optional/e2e/features/contributions/contribution.feature
  packages/code-du-travail-frontend/src/contributions/Contribution.js
Due: frontend

fix(frontend): add references on contribution generic answer (#3328)
  optional/e2e/README.md
  optional/e2e/features/contributions/contribution.feature
  packages/code-du-travail-frontend/src/contributions/Contribution.js
Due: frontend

fix(front): mobile tool survey (#3323)
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/outils/common/ToolSurvey.js
Due: frontend

fix(deps): update dependency puppeteer to v8
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

Update _app.js
  packages/code-du-travail-frontend/pages/_app.js
Due: frontend

build(docker): update to node:14.16-alpine3.13
  Dockerfile
Due: none

ci(gitlab): update to node:14.16-alpine3.13
  .gitlab-ci/stages/manual.yml
Due: none

build(docker): update to node:14.16-alpine3.13
  packages/code-du-travail-api/Dockerfile
Due: api

build(docker): update to node:14.16-alpine3.13
  packages/code-du-travail-data/Dockerfile
Due: none

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  .k8s/package.json
  .k8s/yarn.lock
  Dockerfile
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  package.json
  packages/code-du-travail-api/Dockerfile
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/Dockerfile
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  packages/slugify/package.json
  packages/sources/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

chore(deps): revert monolog dep
  packages/code-du-travail-data/package.json
Due: none
