Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix: last bugs
  .gitignore
  packages/code-du-travail-modeles/src/scripts/README.md
  packages/code-du-travail-modeles/src/scripts/generate-UT.ts
  packages/code-du-travail-modeles/src/scripts/lib/jsonTree.ts
  packages/code-du-travail-modeles/src/simulators/preavis-licenciement/preavis-licenciement.data.json
Due: none

chore: clean
  packages/code-du-travail-modeles/src/scripts/lib/testGeneration.ts
Due: none

feat(contribution): handle new contrib display
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/common/Mdx.ts
  packages/code-du-travail-frontend/src/common/__tests__/Mdx.test.tsx
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Mdx.test.tsx.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/rehypeToReact.test.tsx.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/rehypeToReact.test.tsx
  packages/code-du-travail-frontend/src/contributions/rehypeToReact.tsx
  packages/code-du-travail-frontend/src/information/Components/BlockGraphic.tsx
Due: frontend

revert changes
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/common/Mdx.ts
  packages/code-du-travail-frontend/src/common/__tests__/Mdx.test.tsx
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Mdx.test.tsx.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.tsx
  packages/code-du-travail-frontend/src/contributions/DisplayReact.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/DisplayReact.test.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/DisplayReact.test.tsx.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/rehypeToReact.test.tsx.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/rehypeToReact.test.tsx
Due: frontend

chore: prettier
  packages/code-du-travail-modeles/src/scripts/generate-UT.ts
  packages/code-du-travail-modeles/src/scripts/lib/index.ts
  packages/code-du-travail-modeles/src/scripts/lib/jsonTree.ts
  packages/code-du-travail-modeles/src/scripts/lib/testGeneration.ts
  packages/code-du-travail-modeles/src/scripts/lib/type.ts
Due: none

chore: lint
  packages/code-du-travail-modeles/src/scripts/generate-UT.ts
  packages/code-du-travail-modeles/src/scripts/lib/jsonTree.ts
  packages/code-du-travail-modeles/src/scripts/lib/testGeneration.ts
  packages/code-du-travail-modeles/src/scripts/lib/type.ts
Due: none

fix: ajout des modif
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/DisplayContentContribution.test.tsx
  packages/code-du-travail-frontend/src/contributions/rehypeToReact.tsx
  yarn.lock
Due: frontend

fix: modif clean
  packages/code-du-travail-frontend/src/contributions/Contribution.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/information/Components/BlockGraphic.tsx
Due: frontend

fix: modif clean
  packages/code-du-travail-frontend/src/contributions/Contribution.tsx
Due: frontend

fix: modif clean
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/contributions/ContributionCCPoc.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGenericPoc.tsx
Due: frontend

fix: xss
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
Due: frontend

fix test
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/DisplayContentContribution.test.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/DisplayContentContribution.test.tsx.snap
Due: frontend

fix case when strong element with accordion summary
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/DisplayContentContribution.test.tsx.snap
Due: frontend

remove
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/contributions/Contribution.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionCCPoc.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionContent.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGenericPoc.tsx
  packages/code-du-travail-frontend/src/contributions/LinkedContent.tsx
  packages/code-du-travail-frontend/src/contributions/OldReferences.tsx
  packages/code-du-travail-frontend/src/contributions/References.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/ContributionGeneric.test.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/utils.test.ts
  packages/code-du-travail-frontend/src/contributions/utils.ts
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/SummaryItem.tsx
  packages/code-du-travail-frontend/src/search/SearchResults/Results.tsx
  packages/code-du-travail-utils/package.json
  packages/code-du-travail-utils/src/types.ts
  packages/code-du-travail-utils/tsconfig.json
Due: frontend

fix: xss
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/common/Html.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/LinkedContent.tsx
  packages/code-du-travail-frontend/src/information/Components/BlockGraphic.tsx
  packages/code-du-travail-frontend/src/lib/index.ts
  packages/code-du-travail-frontend/src/lib/xss.ts
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
Due: frontend

feat(contrib): affichage de la réponse CDT dès le début pour essayer d'améliorer le SEO
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
Due: frontend

fix tests
  packages/code-du-travail-frontend/src/contributions/__tests__/ContributionGeneric.test.tsx
Due: frontend

feat(contrib): affichage de la réponse CDT dès le début pour essayer d'améliorer le SEO (#5442)
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/ContributionGeneric.test.tsx
Due: frontend

Updates
  project.json
Due: none

put tst es index
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

fix build
  packages/code-du-travail-frontend/src/contributions/ContributionGenericPoc.tsx
Due: frontend

chore(release): version 4.114.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

update index
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

map table elements
  package.json
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionContent.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/DisplayContentContribution.test.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/DisplayContentContribution.test.tsx.snap
Due: frontend

handle multiple items accordion
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/DisplayContentContribution.test.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/DisplayContentContribution.test.tsx.snap
Due: frontend

spec + new index
  packages/code-du-travail-frontend/cypress/integration/contributions/contributions-old.spec.ts
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

Updates
  project.json
  sb-addons/essentials-controls-1/manager-bundle.js
  sb-addons/essentials-controls-1/manager-bundle.js.map
  sb-addons/interactions-8/manager-bundle.js
  sb-addons/interactions-8/manager-bundle.js.map
Due: none

try to fix query to get all contribs
  packages/code-du-travail-frontend/src/api/modules/contributions/queries.ts
Due: frontend

add spec
  packages/code-du-travail-frontend/cypress/integration/contributions/contributions.spec.ts
Due: frontend

add tests for events on contrib page
  packages/code-du-travail-frontend/src/contributions/References.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/ContributionGenericPOC.test.tsx
Due: frontend

fix: branch
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionMessageBlock.tsx
  packages/code-du-travail-utils/src/types.ts
Due: frontend

fix test
  packages/code-du-travail-frontend/src/contributions/__tests__/ContributionGeneric.test.tsx
Due: frontend

new index
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

feat(metallurgie): affichage au nouveau format pour les anciennes contribs pour les 2 question qui seront déployés (4 et 23).
  packages/code-du-travail-frontend/src/contributions/utils.ts
Due: frontend

revert changes
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
