Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

refactor(chore): apply feedback and improve home layout
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferenceList.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/ReferencesJuridiques/index.js
  packages/code-du-travail-frontend/src/common/Themes.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/DownloadFile.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Outils.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/index.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Modal.test.js.snap
  packages/code-du-travail-frontend/src/layout/Header.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-ui/src/LargeLink/__snapshots__/test.js.snap
  packages/react-ui/src/LargeLink/index.js
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.js
  packages/react-ui/src/Tile/story.js
  packages/react-ui/src/Tile/test.js
  yarn.lock
Due: frontend, react-ui

fix(frontend): remove unused icons
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].js
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/public/static/assets/icons/article.svg
  packages/code-du-travail-frontend/public/static/assets/icons/book_web.svg
  packages/code-du-travail-frontend/public/static/assets/icons/certificate.svg
  packages/code-du-travail-frontend/public/static/assets/icons/chat.svg
  packages/code-du-travail-frontend/public/static/assets/icons/coins.svg
  packages/code-du-travail-frontend/public/static/assets/icons/dossier.svg
  packages/code-du-travail-frontend/public/static/assets/icons/external-link.svg
  packages/code-du-travail-frontend/public/static/assets/icons/file-3.svg
  packages/code-du-travail-frontend/public/static/assets/icons/handshake.svg
  packages/code-du-travail-frontend/public/static/assets/icons/hiring-1.svg
  packages/code-du-travail-frontend/public/static/assets/icons/line-chart.svg
  packages/code-du-travail-frontend/public/static/assets/icons/message_web.svg
  packages/code-du-travail-frontend/public/static/assets/icons/modele-courrier.svg
  packages/code-du-travail-frontend/public/static/assets/icons/outils.svg
  packages/code-du-travail-frontend/public/static/assets/icons/phone-call.svg
  packages/code-du-travail-frontend/public/static/assets/icons/point-of-service_web.svg
  packages/code-du-travail-frontend/public/static/assets/icons/profiles.svg
  packages/code-du-travail-frontend/public/static/assets/icons/remuneration.svg
  packages/code-du-travail-frontend/public/static/assets/icons/reponse.svg
  packages/code-du-travail-frontend/public/static/assets/icons/salary_web.svg
  packages/code-du-travail-frontend/public/static/assets/icons/search.svg
  packages/code-du-travail-frontend/public/static/assets/icons/shield.svg
  packages/code-du-travail-frontend/public/static/assets/icons/time.svg
  packages/code-du-travail-frontend/public/static/assets/img/support.svg
  packages/code-du-travail-frontend/src/common/DownloadFile.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/DownloadFile.test.js.snap
  packages/code-du-travail-frontend/src/icons/ArticleIcon.js
  packages/code-du-travail-frontend/src/icons/DossierIcon.js
  packages/code-du-travail-frontend/src/icons/ModeleCourrierIcon.js
  packages/code-du-travail-frontend/src/icons/OutilsIcon.js
  packages/code-du-travail-frontend/src/icons/ReponseIcon.js
Due: frontend

chore(deps): update dependency nodemon to ^1.19.4
  packages/code-du-travail-api/package.json
  yarn.lock
Due: api

fix(deps): update dependency lerna to ^3.18.1
  package.json
  yarn.lock
Due: none

fix(deps): update dependency dotenv to ^8.2.0
  packages/code-du-travail-api/package.json
  yarn.lock
Due: api

fix(deps): update dependency @socialgouv/kali-data to ^1.2.19
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

fix(deps): update dependency date-fns to ^2.5.0
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

refactor(ui): fix forward ref issue with next link
  packages/react-ui/src/Tile/index.js
Due: react-ui

fix(ui): fail passing props
  packages/react-ui/src/Tile/index.js
Due: react-ui

fix(ui): unnecessary prop
  packages/react-ui/src/Tile/index.js
Due: react-ui

chore(contrib): rename package
  packages/code-du-travail-data/dataset/contributions/package.json
Due: none

feat(precarite): add data from csv
  Dockerfile
  packages/code-du-travail-data/dataset/prime-precarite/index.js
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/prime-precarite/precarite.data.json
Due: none

feat(frontend):Added related items to contrib pages
  packages/code-du-travail-frontend/pages/contribution/[slug].js
Due: frontend

feat(frontend):Added related items to contrib pages (#1478)
  packages/code-du-travail-frontend/pages/contribution/[slug].js
Due: frontend

feat(precarite): handle ccn for prime-precarite
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/Form.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Search.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Modal.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/TypeContrat.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeContrat.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/index.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/CDD.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/CTT.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/InfosCCn.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/InfosGenerales.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/InfosSpecifiques.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/Indemnite.test.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/InfoCCn.test.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/InfoSpecifiques.test.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/InfosGenerales.test.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CDD.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CTT.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfoCCn.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfoSpecifiques.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/situations.test.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/situation.js
  packages/code-du-travail-frontend/src/outils/common/PrevNextBar.js
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.js
  packages/code-du-travail-frontend/src/outils/common/StepItems.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/StepItems.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
Due: frontend

fix(deps): update dependency @reach/dialog to ^0.3.0
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

refactor(frontend): display themes in results but without link
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.spec.js.snap
  packages/code-du-travail-api/src/server/routes/search/search.elastic.js
  packages/code-du-travail-api/src/server/routes/search/search.sem.js
  packages/code-du-travail-frontend/src/search/SearchResults/LinkContent.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/SearchResults/Themes.js
  packages/code-du-travail-frontend/src/search/__tests__/SearchResults.test.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: api, frontend

refactor(frontend): remove unecessary prop
  packages/code-du-travail-frontend/src/search/SearchResults/LinkContent.js
  packages/code-du-travail-frontend/src/search/SearchResults/Themes.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: frontend

change suggest URL to use remote lucene based API
  .k8s/frontend/deployment.dev.yml
Due: none

fix(droit-du-travail): move non page component to src
  packages/code-du-travail-frontend/__tests__/droit-du-travail.test.js
  packages/code-du-travail-frontend/pages/droit-du-travail.js
  packages/code-du-travail-frontend/src/droit-du-travail/Hierarchy.js
  packages/code-du-travail-frontend/src/droit-du-travail/Origins.js
Due: frontend

feat(home): use sectiontitle
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/common/Outils.js
  packages/code-du-travail-frontend/src/common/Themes.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Outils.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Themes.test.js.snap
Due: frontend

feat(ui): add Sectiontitle
  packages/react-ui/src/SectionTitle/__snapshots__/test.js.snap
  packages/react-ui/src/SectionTitle/index.js
  packages/react-ui/src/SectionTitle/story.js
  packages/react-ui/src/SectionTitle/test.js
  packages/react-ui/src/index.js
Due: react-ui

fix review
  packages/react-ui/src/SectionTitle/__snapshots__/test.js.snap
  packages/react-ui/src/SectionTitle/index.js
  packages/react-ui/src/SectionTitle/test.js
Due: react-ui

test(ui): update Sectiontitle snapshot name
  packages/react-ui/src/SectionTitle/__snapshots__/test.js.snap
  packages/react-ui/src/SectionTitle/test.js
Due: react-ui

fix(search): prevent react warning (#1467)
  packages/code-du-travail-frontend/src/search/SearchBar/index.js
Due: frontend

refactor(ui): fix forward ref issue with next link (#1476)
  packages/react-ui/src/Tile/index.js
Due: react-ui

feat(ui): add Sectiontitle ui component (#1481)
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/droit-du-travail.test.js
  packages/code-du-travail-frontend/pages/droit-du-travail.js
  packages/code-du-travail-frontend/src/common/Outils.js
  packages/code-du-travail-frontend/src/common/Themes.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Outils.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/droit-du-travail/Hierarchy.js
  packages/code-du-travail-frontend/src/droit-du-travail/Origins.js
  packages/react-ui/src/SectionTitle/__snapshots__/test.js.snap
  packages/react-ui/src/SectionTitle/index.js
  packages/react-ui/src/SectionTitle/story.js
  packages/react-ui/src/SectionTitle/test.js
  packages/react-ui/src/index.js
Due: frontend, react-ui

fix(deps): update dependency @socialgouv/kali-data to ^1.2.20
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

refactor(frontend): display themes in results but without link (#1479)
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.spec.js.snap
  packages/code-du-travail-api/src/server/routes/search/search.elastic.js
  packages/code-du-travail-api/src/server/routes/search/search.sem.js
  packages/code-du-travail-frontend/src/search/SearchResults/LinkContent.js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/__tests__/SearchResults.test.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: api, frontend

fix(deps): update dependency @reach/tooltip to ^0.3.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

Revert "fix(search): prevent react warning"
  packages/code-du-travail-frontend/src/search/SearchBar/index.js
Due: frontend

Revert "fix(search): prevent react warning" (#1490)
  packages/code-du-travail-frontend/src/search/SearchBar/index.js
Due: frontend

fix(ui): remove experimental export syntax
  packages/react-ui/.eslintrc.yml
  packages/react-ui/src/index.js
Due: react-ui
