Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      ui:
        target: 80%
        flags: ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  ui:
    paths:
      - packages/code-du-travail-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

chore(deps): remove dependency unist-util-parents
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

test(ui): move @reach-modal warning prevent to modal test file
  packages/code-du-travail-ui/jest.setup.js
  packages/code-du-travail-ui/src/Modal/test.js
Due: ui

chore(deps): remove dependency unist-util-parents (#1163)
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency react-switch to v5
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): remove dependency react-switch
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency react-accessible-accordion to v3
  packages/code-du-travail-ui/package.json
  yarn.lock
Due: ui

fix(precarite): final-form fix
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Remuneration.js
Due: frontend

test(ui): move @reach-modal warning prevent to modal test file (#1196)
  packages/code-du-travail-ui/jest.setup.js
  packages/code-du-travail-ui/src/Modal/test.js
Due: ui

fix(licenciement): show salairesTempsPleins fieldArray
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPlein.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
Due: frontend

fix(licenciement): show Primes fieldArray
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/Primes.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Primes.js
Due: frontend

fix(licenciement): show salairesTempsPartiels fieldArray
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPartiel.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
Due: frontend

fix(licenciement): show salaires fieldArray for ccn 1486
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/Salaire.js
Due: frontend

fix(licenciement): show absenceProlonges (anciennete) fieldArray
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/AbsencePeriods.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete.js
Due: frontend

chore(deps): update dependency react-hot-loader to ^4.12.12
  packages/code-du-travail-ui/package.json
  yarn.lock
Due: ui

fix test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/Salaire.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/AbsencePeriods.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/Primes.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPartiel.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPlein.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/SalaireTempsPartiel.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Anciennete.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/Salaires.js
Due: frontend

feat(frontend): add preavis-demission
  packages/code-du-travail-data/dataset/outils.json
  packages/code-du-travail-frontend/pages/outils.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/branches.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/0044.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/0843.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/1486.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/1979.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/index.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/stepReducer.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Informations.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/common/Condition.js
  packages/code-du-travail-frontend/src/outils/common/RadioQuestion.js
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/Condition.test.js
Due: frontend

test(frontend): add test for delais-preavis
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/index.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/stepReducer.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/0044.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/0843.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/1486.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/1979.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/__snapshots__/0044.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/__snapshots__/0843.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/__snapshots__/1486.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/__snapshots__/1979.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Introduction.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/test/renderForm.js
Due: frontend

test(frontend): fix lint
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/0044.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/0843.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/1486.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/1979.test.js
Due: frontend

fix(data): remove extra comma in outils.json
  packages/code-du-travail-data/dataset/outils.json
Due: none

fix(precarite): udpate tests
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/0044.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/__snapshots__/0044.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/RadioQuestion.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/RadioQuestion.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/SelectQuestion.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/RadioQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
Due: frontend

fix(outils): update metas for durée préavis
  packages/code-du-travail-data/dataset/outils.json
Due: none

refactor(preavis-demission): use data from spreadsheet
  Dockerfile
  packages/code-du-travail-data/dataset/preavis-demission/data.json
  packages/code-du-travail-data/dataset/preavis-demission/index.js
  packages/code-du-travail-data/dataset/preavis-demission/package.json
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/stepReducer.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/branches.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/0044.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/0843.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/1486.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/1979.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/0044.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/0843.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/1486.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/1979.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/__snapshots__/0044.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/__snapshots__/0843.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/__snapshots__/1486.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/ccn/__tests__/__snapshots__/1979.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/index.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/stepReducer.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Informations.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/situation.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/situation.js
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.js
Due: frontend

fix(preavis-demission): rename test label
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/situation.test.js
Due: frontend

fix(preavis-demission): fix typo
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
Due: frontend

fix(preavis-demission): better guess of next criteria
  packages/code-du-travail-data/dataset/preavis-demission/data.json
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/situation.js
Due: frontend

fix test
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/situation.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/situation.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/situation.js
Due: frontend

fix(deps): update dependency react-mathjax-preview to ^0.1.13
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(preavis-demission): clean form values after pastQuestion changed
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Informations.js
Due: frontend

fix lint
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/index.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/situation.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/SelectQuestion.test.js
  packages/code-du-travail-frontend/test/renderForm.js
Due: frontend

refactor(previs-demission): update data source format
  packages/code-du-travail-data/dataset/preavis-demission/data.json
  packages/code-du-travail-data/dataset/preavis-demission/index.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Informations.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/situation.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/situation.js
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
Due: frontend

fix(deps): update dependency tocbot to ^4.8.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency rollup to ^1.20.3
  packages/code-du-travail-ui/package.json
  packages/react-fiche-service-public/package.json
  yarn.lock
Due: ui, react-fiche-service-public

fix(deps): update dependency elastic-apm-node to ^2.16.1
  packages/code-du-travail-api/package.json
  yarn.lock
Due: api

chore(docker): update root .dockerignore file
  .dockerignore
Due: none

Lionelb fix react final form array (#1199)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/Salaire.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/AbsencePeriods.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/Primes.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPartiel.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPlein.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/SalaireTempsPartiel.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Primes.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Anciennete.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Remuneration.js
Due: frontend

feat(preavis): update data
  packages/code-du-travail-data/dataset/preavis-demission/data.json
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Informations.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/situation.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/situation.js
Due: frontend

Lionelb preavis demission (#1051)
  Dockerfile
  packages/code-du-travail-data/dataset/outils.json
  packages/code-du-travail-data/dataset/preavis-demission/data.json
  packages/code-du-travail-data/dataset/preavis-demission/index.js
  packages/code-du-travail-data/dataset/preavis-demission/package.json
  packages/code-du-travail-frontend/pages/outils.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/index.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/stepReducer.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/index.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/stepReducer.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Informations.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Informations.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Introduction.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Introduction.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/situation.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/situation.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/situation.js
  packages/code-du-travail-frontend/src/outils/common/Condition.js
  packages/code-du-travail-frontend/src/outils/common/RadioQuestion.js
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/Condition.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/RadioQuestion.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/SelectQuestion.test.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/RadioQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
  packages/code-du-travail-frontend/test/renderForm.js
Due: frontend

chore(docker): add docz and specific data folder
  .dockerignore
Due: none

chore(docker): update root .dockerignore file (#1205)
  .dockerignore
Due: none

refactor(data): merge ccn into ES
  Dockerfile
  packages/code-du-travail-data/Dockerfile
  packages/code-du-travail-data/dataset/.eslintrc.yml
  packages/code-du-travail-data/dataset/README.md
  packages/code-du-travail-data/dataset/conventions_collectives/CHANGELOG.md
  packages/code-du-travail-data/dataset/conventions_collectives/ccn-list.json
  packages/code-du-travail-data/dataset/conventions_collectives/index.js
  packages/code-du-travail-data/dataset/conventions_collectives/package.json
  packages/code-du-travail-data/dataset/datafiller/prequalified.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/utils.js
  packages/code-du-travail-data/dataset/fiches_ministere_travail/verifyUrl.js
  packages/code-du-travail-data/dataset/fiches_service_public/parseReference.js
  packages/code-du-travail-data/dataset/kali/index.js
  packages/code-du-travail-data/dataset/kali/kali.json
  packages/code-du-travail-data/dataset/kali/utils.js
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/search/conventions_collectives_index.js
  packages/code-du-travail-data/search/indexing/cdtn_documents.py
  yarn.lock
Due: none
