Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

Update README.md
  README.md
Due: none

fix(deps): update dependency next to v11 [security]
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

Another one
  README.md
Due: none

fix(deps): update @vercel/next
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency husky to v7
  package.json
  yarn.lock
Due: none

fix(deps): update dependency js-cookie to v3
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update socialgouv deployment tools
  .k8s/package.json
  .k8s/yarn.lock
Due: none

fix(deps): update all dependencies
  .k8s/package.json
  .k8s/yarn.lock
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: api, frontend

fix(deps): update dependency fuzzball to v2
  packages/code-du-travail-api/package.json
  yarn.lock
Due: api

fix(deps): update dependency @socialgouv/kosko-charts to v9
  .k8s/package.json
  .k8s/yarn.lock
Due: none

chore: update snapshots
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
Due: none

Update yarn.lock
  yarn.lock
Due: none

Update packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/package.json
Due: frontend

chore(deps): remove unused js-cookie
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: lockfile
  yarn.lock
Due: none

fix(deps): update nextjs 11
  packages/code-du-travail-frontend/next-env.d.ts
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feat(accessibility): add a title on active tab during a simulation for screen reader (#3689)
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/StepList.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/StepList.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
Due: frontend

chore(deps): update jest monorepo
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  packages/slugify/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

fix(simulator): see more on CC search go to the next simulator step
  packages/code-du-travail-frontend/src/outils/common/PrevNextBar.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
  packages/react-ui/src/ViewMore/__snapshots__/test.js.snap
  packages/react-ui/src/ViewMore/index.js
Due: frontend, react-ui

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.187.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(simulator): see more on CC search go to the next simulator step (#3705)
  packages/code-du-travail-frontend/src/outils/common/PrevNextBar.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
  packages/react-ui/src/ViewMore/__snapshots__/test.js.snap
  packages/react-ui/src/ViewMore/index.js
Due: frontend, react-ui

fix(frontend): add default label for floarting search
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/src/home/Partners.js
  packages/code-du-travail-frontend/src/layout/Header/index.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchHero.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchHero.test.js.snap
Due: frontend

fix(frontend): add default label for floarting search (#3709)
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/src/home/Partners.js
  packages/code-du-travail-frontend/src/layout/Header/index.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchHero.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchHero.test.js.snap
Due: frontend

fix(deps): update dependency @types/jest to v27
  packages/code-du-travail-modeles/package.json
  packages/slugify/package.json
  yarn.lock
Due: none

fix(deps): update dependency p-debounce to v4
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency rehype-parse to v8
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(frontend): update div instead of li in main page
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/Header/BurgerNav.js
  packages/react-ui/src/BurgerNav/index.js
  packages/react-ui/src/Grid/Grid.js
  packages/react-ui/src/Grid/GridCell.js
Due: frontend, react-ui

fix(frontend): update test
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: frontend

fix(frontend): update test again
  packages/react-ui/src/Grid/__snapshots__/test.js.snap
Due: react-ui

fix(frontend): update test
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/information/[slug].js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  yarn.lock
Due: frontend

fix(frontend): update eslint
  packages/code-du-travail-frontend/pages/information/[slug].js
Due: frontend

feat: add a github action to update gitlab
  .github/workflows/🇫🇷.yml
Due: none

feat: add a github action to update gitlab (#3726)
  .github/workflows/🇫🇷.yml
Due: none
