Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

wip
  package.json
  pre-push
  yarn.lock
Due: none

wi
  .husky/pre-push
  package.json
Due: none

wip
  .husky/.gitignore
  yarn.lock
Due: none

wip
  Dockerfile
  package.json
Due: none

wip
  .husky/pre-push
Due: none

restore prod values
  .gitlab-ci/stages/storage.yml
Due: none

fix(deps): update @socialgouv data packages
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

[Snyk] Security upgrade husky from 4.3.6 to 5.0.0 (#3218)
  .husky/.gitignore
  .husky/pre-push
  Dockerfile
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v11
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

chore(deps): update node docker tag to v15
  Dockerfile
  packages/code-du-travail-api/Dockerfile
  packages/code-du-travail-data/Dockerfile
Due: api

fix(deps): update dependency next-transpile-modules to v6
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update all dependencies
  .gitlab-ci.yml
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

tests(e2e): add contributions tests for #3212 (#3215)
  .gitlab-ci/stages/e2e.yml
  optional/e2e/features/contributions/contribution.feature
  optional/e2e/features/contributions/search.feature
  optional/e2e/features/modeles/download.feature
  optional/e2e/features/modeles/list.feature
  optional/e2e/features/modeles/search.feature
  optional/e2e/runners/puppeteer/README.md
  optional/e2e/runners/puppeteer/codecept.conf.js
  optional/e2e/runners/puppeteer/step_definitions/global.js
Due: none

testing test
  optional/e2e/features/modeles/download.feature
  optional/e2e/runners/puppeteer/step_definitions/global.js
Due: none

testing test (#3214)
  optional/e2e/features/modeles/download.feature
  optional/e2e/runners/puppeteer/step_definitions/global.js
Due: none

feat(front): update social preview
  packages/code-du-travail-frontend/public/static/assets/img/social-logo.svg
  packages/code-du-travail-frontend/public/static/assets/img/social-preview.png
  packages/code-du-travail-frontend/src/common/Metas.js
Due: frontend

un petit coup de svgo
  packages/code-du-travail-frontend/public/static/assets/img/social-logo.svg
Due: frontend

update
  packages/code-du-travail-frontend/public/static/assets/img/social-logo.png
  packages/code-du-travail-frontend/public/static/assets/img/social-logo.svg
  packages/code-du-travail-frontend/src/common/Metas.js
Due: frontend

wip
  packages/code-du-travail-frontend/public/static/assets/img/social-logo.png
Due: frontend

ok
  packages/code-du-travail-frontend/public/static/assets/img/social-preview.png
Due: frontend

fix(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feat(front): update social preview (#3234)
  packages/code-du-travail-frontend/public/static/assets/img/social-preview.png
Due: frontend

test: fix e2e test
  optional/e2e/features/contributions/contribution.feature
Due: none

fix test
  optional/e2e/features/contributions/contribution.feature
Due: none

test: fix e2e test for contrib (#3237)
  optional/e2e/features/contributions/contribution.feature
Due: none

fix(deps): update all non-major dependencies
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

chore(dep): pin cdtn-monolog
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

fix(frontend): fix ccn breadcrumbs
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
Due: frontend

fix(deps): update all dependencies
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  packages/slugify/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

fix(stats): remove old satisfaction rate
  packages/code-du-travail-api/src/server/routes/__tests__/stats.test.js
  packages/code-du-travail-api/src/server/routes/stats/index.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/pages/stats.js
Due: api, frontend

fix(frontend): fix ccn breadcrumbs (#3238)
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
Due: frontend

feat(ci): add storage containers copy (#3211)
  .gitlab-ci.yml
  .gitlab-ci/stages/storage.yml
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod restore.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/__tests__/kosko generate --env dev.ts
  .k8s/__tests__/kosko generate --env preprod.ts
  .k8s/__tests__/kosko generate --env prod restore.ts
  .k8s/__tests__/kosko generate --env prod.ts
  .k8s/components/index.ts
  .k8s/components/restore/container.ts
  .k8s/components/restore/index.ts
  .k8s/environments/.gitlab-ci.env
  .k8s/kosko.toml
  .k8s/package.json
  .k8s/tsconfig.json
  .k8s/yarn.lock
  package.json
Due: none

fix(k8s): use 301 at nginx level (#3129)
  .k8s/ingress-prod.yml
Due: none

fix(stats): remove old satisfaction rate (#3241)
  packages/code-du-travail-api/src/server/routes/__tests__/stats.test.js
  packages/code-du-travail-api/src/server/routes/stats/index.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/pages/stats.js
Due: api, frontend

fix ui
  packages/react-ui/src/TableOfContent/__snapshots__/test.js.snap
  packages/react-ui/src/TableOfContent/index.js
  packages/react-ui/src/TableOfContent/story.js
  packages/react-ui/src/TableOfContent/test.js
Due: react-ui

wip
  .gitlab-ci/stages/register.yml
  .gitlab-ci/variables.yml
Due: none

wip
  packages/code-du-travail-data/indexing/document.mapping.js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
Due: frontend

wip
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
Due: frontend
