Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: image
  Dockerfile.api
Due: none

fix: optimize review
  Dockerfile
Due: none

fix: image
  Dockerfile
  Dockerfile.api
Due: none

fix: dist
  Dockerfile.api
Due: none

fix: dockerfile
  .dockerignore
  packages/code-du-travail-api/.dockerignore
Due: api

fix: dockerfile
  Dockerfile
  Dockerfile.api
Due: none

feat(indemnite de licenciement): add cc 1516
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1516.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1516.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/salary.ts
Due: frontend

fix(indemnite de licenciement): 1596 & 1597 remove "absence pour maladie non professionnelle" and "arrêt maladie lié à un accident de trajet" from ancienneté
  packages/code-du-travail-modeles/src/modeles/conventions/1596_batiment_ouvriers_employes/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1596_batiment_ouvriers_employes/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: none

fix imports
  packages/code-du-travail-modeles/src/modeles/conventions/1596_batiment_ouvriers_employes/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/seniority.ts
Due: none

fix(preavis démission): add ref juridique to résultat
  packages/code-du-travail-modeles/src/simulators/preavis-demission/preavis-demission.data.json
Due: none

feat(indemnite-licenciement): ajout de la cc 1147 (#5008)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/getSupportedCc.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1147_cabinets_medicaux/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1147_cabinets_medicaux/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1147_cabinets_medicaux/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1147_cabinets_medicaux/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/indemnite-licenciement.yaml
Due: frontend

fix(indemnite-licencement): event pour l'inégibilité (#4992)
  package.json
  packages/code-du-travail-frontend-e2e/.eslintrc.js
  packages/code-du-travail-frontend-e2e/e2e/footer.spec.ts
  packages/code-du-travail-frontend-e2e/e2e/modeles.spec.ts
  packages/code-du-travail-frontend/src/lib/matomo/types.ts
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/tracking.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
Due: frontend

Updates
  project.json
Due: none

fix: cc
  packages/code-du-travail-modeles/src/modeles/common/factory/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: none

feat(indemnite-licenciement): ajout de la CC 2148
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/2148.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: frontend

fix: truncated height
  packages/code-du-travail-frontend/src/search/SearchWidget/index.tsx
Due: frontend

fix: cc
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/indemnite-licenciement.yaml
Due: none

fix: 2614
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/salary.ts
Due: none

fix: tu
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/anciennete.spec.ts
Due: none

fix: 2614
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2614-travaux-public/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/validator.ts
Due: frontend

fix: cc
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/2614.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
Due: frontend

fix: image
  Dockerfile
Due: none

fix: image
  packages/code-du-travail-frontend/src/layout/Footer/GovernmentSection.tsx
Due: frontend

fix retours Romain
  packages/code-du-travail-frontend/README.md
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2596.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2596-coiffure/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2596-coiffure/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2596-coiffure/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/eligibility.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/indemnite-licenciement.yaml
Due: frontend

fix non cadres
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2596.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2596-coiffure/store/store.ts
Due: frontend

add seniorityRight test cases
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/__tests__/indemnite-licenciement/indemnite.spec.ts
Due: none

fix: image
  packages/code-du-travail-frontend/.eslintrc.js
  packages/code-du-travail-frontend/.eslintrc.json
  packages/code-du-travail-frontend/.gitignore
  packages/code-du-travail-frontend/cypress.config.js
  packages/code-du-travail-frontend/e2e/utils/commands.ts
  packages/code-du-travail-frontend/e2e/utils/index.ts
  packages/code-du-travail-frontend/tsconfig.json
Due: frontend

fix: variable
  packages/code-du-travail-frontend/cypress/screenshots/canonical-urls.spec.ts/référencement -- vérification des balises canonical (failed).png
  packages/code-du-travail-frontend/cypress/screenshots/outils/preavis-retraite.spec.ts/Outil - Préavis de retraite -- Parcours en ne connaissant pas sa convention collective (failed).png
  packages/code-du-travail-frontend/scripts/prebuild.ts
Due: frontend

fix: variable
  packages/code-du-travail-frontend/cypress/screenshots/canonical-urls.spec.ts/référencement -- vérification des balises canonical (failed).png
  packages/code-du-travail-frontend/cypress/screenshots/outils/preavis-retraite.spec.ts/Outil - Préavis de retraite -- Parcours en ne connaissant pas sa convention collective (failed).png
Due: frontend

fix: variable
  packages/code-du-travail-frontend/scripts/prebuild.ts
Due: frontend

fix: comme avant
  packages/code-du-travail-frontend/scripts/prebuild.ts
Due: frontend

fix(environment-variable): production variable for `robots.txt` (#5037)
  packages/code-du-travail-frontend/scripts/prebuild.ts
Due: frontend

chore(release): version 4.93.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui

Updates
  main.32644962.iframe.bundle.js
  project.json
Due: none

fix: https in sitemap.xml
  packages/code-du-travail-frontend/scripts/prebuild.ts
Due: frontend

Fix values
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1516.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2596.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2596-coiffure/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
Due: frontend
