Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix(deps): update all non-major dependencies
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency query-string to ^6.11.1
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

feat(frontend): remove ambassador link
  package.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

feat(frontend): remove ambassador link (#2431)
  package.json
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

feat(frontend): change home meta
  packages/code-du-travail-frontend/pages/droit-du-travail.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/stats.js
  packages/code-du-travail-frontend/src/common/AccessibilityModal.js
  packages/code-du-travail-frontend/src/layout/Footer.js
Due: frontend

test(frontend): update snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

fix(deps): update all non-major dependencies
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

feat(frontend): change home meta (#2432)
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/droit-du-travail.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/stats.js
  packages/code-du-travail-frontend/src/common/AccessibilityModal.js
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

chore(deps): update dependency socialgouv/gitlab-ci-yml to v8
  .gitlab-ci.yml
Due: none

(Feat)Update_liste_fiche_Ministère
  packages/code-du-travail-data/dataset/fiches_ministere_travail/ministere-travail-liste-fiches.json
Due: none

typofix
  packages/code-du-travail-data/dataset/fiches_ministere_travail/ministere-travail-liste-fiches.json
Due: none

chore(suggestions) : remove one entry
  packages/code-du-travail-data/dataset/suggestions.txt
Due: none

update test
  packages/code-du-travail-data/dataset/fiches_ministere_travail/__tests__/__snapshots__/enrichText.test.js.snap
  packages/code-du-travail-data/dataset/fiches_ministere_travail/__tests__/__snapshots__/parseDom.test.js.snap
  packages/code-du-travail-data/dataset/fiches_ministere_travail/__tests__/enrichText.test.js
Due: none

whoops
  packages/code-du-travail-data/dataset/fiches_ministere_travail/enrichText.js
Due: none

chore(deps): update all non-major dependencies
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

chore(deps): update all non-major dependencies (#2442)
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

chore(deps): update dependency rollup to ^1.32.1
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: react-ui, react-fiche-service-public

fix(data):Fix fiche MT add cc tags
  packages/code-du-travail-data/dataset/fiches_ministere_travail/index.js
Due: none

test(data):Update snapshot
  packages/code-du-travail-data/dataset/fiches_ministere_travail/__tests__/__snapshots__/parseDom.test.js.snap
Due: none

chore(release): version 4.6.0-alpha.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(release): version 4.6.0-alpha.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(release): version 4.6.0-alpha.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(release): version 4.6.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(deps): update dependency rollup to v2
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: react-ui, react-fiche-service-public

fix(ui): add linebreak fix #2436
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
Due: frontend

fix(deps): update all non-major dependencies
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

fix(ui): add linebreak in contrib (#2451)
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
Due: frontend

ci: bump missing gitlab-ci version updates
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
Due: none

fix(deps): update dependency elastic-apm-node to ^3.5.0
  packages/code-du-travail-api/package.json
  yarn.lock
Due: api

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
