Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

chore(release): version 4.36.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/CHANGELOG.md
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(deps): update socialgouv
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @socialgouv/fiches-travail-data to v4
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @socialgouv/datafiller-data to ^2.3.0
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update @vercel/next to v10
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix test e2e
  optional/e2e/features/dossier.feature
Due: none

wip
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/server/koaServer.js
Due: frontend

wip
  packages/code-du-travail-frontend/Dockerfile
  packages/code-du-travail-frontend/config/generateCspHeaders.js
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/scripts/generate-robots.js
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/server/server.js
Due: frontend

wop
  packages/code-du-travail-frontend/next.config.js
Due: frontend

fix(k8s): use 301 at nginx level
  .k8s/ingress-prod.yml
Due: none

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(k8s): disable APM
  .gitlab-ci/stages/deploy.yml
Due: none

feat(data): use cdtn-admin to fetch documents
  .gitlab-ci/stages/register.yml
  Dockerfile
  packages/code-du-travail-data/indexing/__tests__/populate.test.js
  packages/code-du-travail-data/indexing/fetchCdtnAdminDocuments.js
  packages/code-du-travail-data/indexing/populate.js
Due: none

fix: graphql url
  .gitlab-ci/stages/register.yml
  packages/code-du-travail-data/indexing/fetchCdtnAdminDocuments.js
Due: none

fix: scripts
  packages/code-du-travail-data/indexing/fetchCdtnAdminDocuments.js
Due: none

fix: review
  packages/code-du-travail-data/indexing/populate.js
Due: none

fix(data): transform makrdon before indexing
  packages/code-du-travail-data/dataset/editorial_content/index.js
Due: none

fix: fiche mt
  packages/code-du-travail-api/src/server/routes/sheets-mt/index.js
  packages/code-du-travail-data/indexing/fichesTravailSplitter.js
  packages/code-du-travail-data/indexing/populate.js
Due: api

fix: add debug
  packages/code-du-travail-data/indexing/fetchCdtnAdminDocuments.js
Due: none

feat: add documents
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/indexing/fetchCdtnAdminDocuments.js
  packages/code-du-travail-data/indexing/populate.js
Due: none

ci: update graphql endpoint
  .gitlab-ci/stages/register.yml
Due: none

fix: add covisit
  packages/code-du-travail-api/src/server/routes/sheets-mt/index.js
Due: api

fix: add slug to splitted fiche-mt
  packages/code-du-travail-data/indexing/fichesTravailSplitter.js
Due: none

fix: transform markdown
  packages/code-du-travail-data/dataset/editorial_content/index.js
  packages/code-du-travail-data/indexing/populate.js
Due: none

feat: preview preprod
  .gitlab-ci.yml
  .gitlab-ci/stages/manual.yml
  packages/code-du-travail-data/indexing/ingest.js
  packages/code-du-travail-data/package.json
Due: none

update cred
  packages/code-du-travail-data/indexing/ingest.js
Due: none

fix contrib theme in page cc
  packages/code-du-travail-data/indexing/populate.js
Due: none

fix: change fiche-mt breadcrumb generation
  packages/code-du-travail-data/dataset/editorial_content/index.js
  packages/code-du-travail-data/indexing/populate.js
Due: none

fix(data): fix order for pagination
  packages/code-du-travail-data/indexing/fetchCdtnAdminDocuments.js
Due: none

fix: remove console.log
  packages/code-du-travail-data/indexing/fetchCdtnAdminDocuments.js
Due: none

fix: remove console in json
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/indexing/fetchCdtnAdminDocuments.js
Due: none

fix: ccn page contrib theme
  packages/code-du-travail-data/indexing/populate.js
Due: none

fix populate
  packages/code-du-travail-data/indexing/populate.js
Due: none

debug
  packages/code-du-travail-data/indexing/ingest.js
Due: none

debug
  .gitlab-ci/stages/manual.yml
  packages/code-du-travail-data/indexing/ingest.js
Due: none

escape var
  .gitlab-ci/stages/manual.yml
  packages/code-du-travail-data/indexing/ingest.js
Due: none

add cache
  .gitlab-ci/stages/manual.yml
  packages/code-du-travail-data/indexing/ingest.js
Due: none
