Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: yarn lock
  yarn.lock
Due: none

chore: update tu with testing-library-selector
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-cc-select.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-contract.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchInput/SearchEnterpriseInput.tsx
Due: frontend

fix: url
  packages/code-du-travail-frontend/src/lib/tracking/constants.ts
Due: frontend

fix: url
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
Due: frontend

chore: review
  packages/code-du-travail-frontend/src/conventions/Search/api/__mocks__/agreements.service.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/__mocks__/enterprises.service.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-cc-select.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-contract.test.tsx
Due: frontend

fix: feedbacks
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/1501.ts
  packages/code-du-travail-modeles/src/__test__/1501-restauration-rapide/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/1501-restauration-rapide/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/plugins/formule/1501_restauration_rapide.ts
  packages/code-du-travail-modeles/src/plugins/formule/16_transports_routiers.ts
  packages/code-du-travail-modeles/src/plugins/formule/types.ts
  packages/code-du-travail-modeles/src/utils/common.ts
Due: frontend

chore: indemnite licenciement tu (#4605)
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/index.tsx
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
  packages/code-du-travail-frontend/src/conventions/Search/api/__mocks__/agreements.service.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/__mocks__/enterprises.service.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-cc-select.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-contract.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchInput/SearchEnterpriseInput.tsx
Due: frontend

fix: widget display (#4601)
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/index.jsx
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/index.jsx
  packages/code-du-travail-frontend/src/common/WindowDimension.ts
  packages/code-du-travail-frontend/src/common/tiles/CallToAction.tsx
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/information/Components/ContentBlocks.tsx
  packages/code-du-travail-frontend/src/search/SearchResults/Results.tsx
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/Tabulator.test.js.snap
  packages/react-ui/src/Tabs/__snapshots__/test.js.snap
  packages/react-ui/src/Tabs/index.js
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.js
Due: frontend, react-ui, react-fiche-service-public

fix: indemnite licenciement step display (#4588)
  packages/code-du-travail-frontend/src/outils/Components/SimulatorDecorator/Components/StepList/index.tsx
  packages/code-du-travail-frontend/src/outils/Components/SimulatorDecorator/Components/Title/index.tsx
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/Components/SimulatorNavigation.tsx
Due: frontend

Updates
  iframe.html
  main.98b0430b.iframe.bundle.js
  main.c2fdae12.iframe.bundle.js
Due: none

fix: url
  packages/code-du-travail-modeles/src/__test__/44-industries-chimiques/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/plugins/formule/44_industries_chimiques.ts
Due: none

chore: update TU
  packages/code-du-travail-frontend/src/conventions/Search/api/__mocks__/agreements.service.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/duree-preavis-demission-bug-field-not-reseting.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/duree-preavis-demission-cc-1351.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc-select.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/contract.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
Due: frontend

fix: bouton suivant grisé
  packages/code-du-travail-frontend/src/conventions/Search/api/__mocks__/agreements.service.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/__mocks__/enterprises.service.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/duree-preavis-demission-bug-field-not-reseting.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/duree-preavis-demission-cc-1351.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.tsx
Due: frontend

chore: snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
Due: frontend

fix: bug
  packages/code-du-travail-modeles/src/__test__/573-commerces-de-gros/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/573-commerces-de-gros/indemnite-licenciement/missing-var.spec.ts
  packages/code-du-travail-modeles/src/__test__/573-commerces-de-gros/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/573_commerces_de_gros/indemnite-licenciement.yaml
Due: none

chore: add library selector
  packages/code-du-travail-frontend/package.json
Due: frontend

fix: bug
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/573.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/573.ts
  packages/code-du-travail-modeles/src/__test__/573-commerces-de-gros/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/plugins/formule/573_commerces_de_gros.ts
Due: frontend

fix: dep
  yarn.lock
Due: none

Updates
  iframe.html
  index.html
  vendors~main.1326d67e.iframe.bundle.js
  vendors~main.1326d67e.iframe.bundle.js.map
  vendors~main.53102cd2.iframe.bundle.js
  vendors~main.53102cd2.iframe.bundle.js.LICENSE.txt
  vendors~main.53102cd2.iframe.bundle.js.map
  vendors~main.b015eff72a6b91e4d63f.manager.bundle.js
  vendors~main.b015eff72a6b91e4d63f.manager.bundle.js.LICENSE.txt
  vendors~main.cb3fe401463d86b3c9cf.manager.bundle.js
Due: none

fix: reset field
  packages/code-du-travail-frontend/src/outils/common/StepInformations.tsx
Due: frontend

chore: rename tests
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/bug-field-not-reseting.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/success.test.tsx
Due: frontend

chore: update yarn.lock
  yarn.lock
Due: none

Move one more spec
  packages/code-du-travail-frontend-e2e/codecept/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend-e2e/e2e/outils/indemnite-licenciement.spec.ts
Due: frontend

feat(indemnite-licenciement): ajout de la cc 1501 (#4583)
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/1501.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/index.tsx
  packages/code-du-travail-modeles/src/__test__/1501-restauration-rapide/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/1501-restauration-rapide/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/1501-restauration-rapide/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/plugins/formule/1501_restauration_rapide.ts
  packages/code-du-travail-modeles/src/plugins/formule/16_transports_routiers.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/formule/types.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
  packages/code-du-travail-modeles/src/utils/common.ts
  yarn.lock
Due: frontend

fix: dep
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/index.ts
  packages/code-du-travail-modeles/src/__test__/573-commerces-de-gros/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/formule/types.ts
Due: frontend

fix: missing var
  packages/code-du-travail-modeles/src/__test__/573-commerces-de-gros/indemnite-licenciement/indemnite.spec.ts
Due: none

fix: missing unique id on question
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/absence-date-with-agreement.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/information.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/seniority-validation.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
Due: frontend

revert to add back formula
  packages/code-du-travail-modeles/src/__test__/1501-restauration-rapide/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/utils/__tests__/formule.test.ts
  packages/code-du-travail-modeles/src/utils/formula.ts
Due: none

fix: date is not reset after motif changed
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/absence-date-onchange-motif.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
Due: frontend

fix: show the variable question for TAM
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc16.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/16-transports-routiers/store/store.ts
Due: frontend

fix
  packages/code-du-travail-modeles/src/modeles/base/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/utils/__tests__/formule.test.ts
Due: none

fix: add parentheses to formula
  packages/code-du-travail-modeles/src/__test__/16-transports-routiers/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/plugins/formule/16_transports_routiers.ts
Due: none

fix fix
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-modeles/src/__test__/1501-restauration-rapide/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/utils/__tests__/formule.test.ts
  packages/code-du-travail-modeles/src/utils/formula.ts
Due: frontend

fix: unit test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
Due: frontend

fix: branch
  .k8s/components/_namespace.ts
Due: none

fix: changement
  packages/code-du-travail-modeles/src/__test__/573-commerces-de-gros/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/573_commerces_de_gros/indemnite-licenciement.yaml
Due: none

fix: snapshot
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
Due: none

fix: feedbacks on cc 16 and cc 2941 (#4617)
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/absence-date-onchange-motif.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc16.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/information.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/seniority-validation.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/16-transports-routiers/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-modeles/src/__test__/16-transports-routiers/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/plugins/formule/16_transports_routiers.ts
Due: frontend
