Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

chore(release): version 4.152.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

Updates
  project.json
Due: none

fix: retours preavis
  packages/code-du-travail-frontend/src/outils/PreavisRetraite/__tests__/depart-avec-handicap-sans-cc.spec.tsx
  packages/code-du-travail-frontend/src/outils/PreavisRetraite/__tests__/depart-sans-cc.spec.tsx
  packages/code-du-travail-frontend/src/outils/PreavisRetraite/__tests__/mise-avec-handicap-sans-cc.spec.tsx
  packages/code-du-travail-frontend/src/outils/PreavisRetraite/__tests__/mise-sans-cc.spec.tsx
  packages/code-du-travail-frontend/src/outils/PreavisRetraite/steps/Result/components/DecryptedResult.tsx
  packages/code-du-travail-frontend/src/outils/PreavisRetraite/steps/Result/components/ShowResult.tsx
  packages/code-du-travail-frontend/src/outils/PreavisRetraite/steps/Result/index.tsx
Due: frontend

fix: snapshot
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
Due: frontend

chore(dsfr): mise à jour de la version DSFR
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore: refacto + e2e test
  packages/code-du-travail-frontend/cypress/integration/light/politique-confidentialite.spec.ts
  packages/code-du-travail-frontend/src/modules/privacyPolicy/index.tsx
  packages/code-du-travail-frontend/src/modules/privacyPolicy/trackApproval.tsx
Due: frontend

feat: convert a to Link
  packages/code-du-travail-frontend/src/modules/privacyPolicy/index.tsx
Due: frontend

feat(DSFR): migration de la page article du code du travail
  packages/code-du-travail-frontend/app/code-du-travail/[slug]/page.tsx
  packages/code-du-travail-frontend/app/globals.css
  packages/code-du-travail-frontend/app/stats/page.tsx
  packages/code-du-travail-frontend/next.config.mjs
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].tsx
  packages/code-du-travail-frontend/src/api/modules/items/service.ts
  packages/code-du-travail-frontend/src/common/Feedback/index.js
  packages/code-du-travail-frontend/src/lib/replaceArticlesRefs.ts
  packages/code-du-travail-frontend/src/modules/code-du-travail/article.tsx
  packages/code-du-travail-frontend/src/modules/common/Html.tsx
  packages/code-du-travail-frontend/src/modules/common/RelatedItems.tsx
  packages/code-du-travail-frontend/src/modules/common/Share.tsx
  packages/code-du-travail-frontend/src/modules/common/__tests__/Html.test.tsx
  packages/code-du-travail-frontend/src/modules/common/__tests__/RelatedItems.test.tsx
  packages/code-du-travail-frontend/src/modules/common/__tests__/Share.test.tsx
  packages/code-du-travail-frontend/src/modules/common/__tests__/__snapshots__/Html.test.js.snap
  packages/code-du-travail-frontend/src/modules/common/__tests__/__snapshots__/RelatedItems.test.js.snap
  packages/code-du-travail-frontend/src/modules/common/__tests__/__snapshots__/Share.test.js.snap
Due: frontend

cleanup
  packages/code-du-travail-frontend/app/globals.css
  packages/code-du-travail-frontend/src/modules/code-du-travail/article.tsx
Due: frontend

remove ts ignore
  packages/code-du-travail-frontend/app/code-du-travail/[slug]/page.tsx
Due: frontend

fix type
  packages/code-du-travail-frontend/src/modules/common/RelatedItems.tsx
  packages/code-du-travail-frontend/src/modules/common/__tests__/RelatedItems.test.tsx
Due: frontend

update cypress test
  packages/code-du-travail-frontend/app/code-du-travail/[slug]/page.tsx
  packages/code-du-travail-frontend/cypress/integration/light/landing-pages.spec.ts
  packages/code-du-travail-frontend/cypress/tsconfig.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/modules/code-du-travail/articleCodeDuTravail.tsx
  yarn.lock
Due: frontend

update tests
  packages/code-du-travail-frontend/src/common/Feedback/index.js
  packages/code-du-travail-frontend/src/modules/code-du-travail/articleCodeDuTravail.tsx
  packages/code-du-travail-frontend/src/modules/common/__tests__/__snapshots__/Html.test.js.snap
  packages/code-du-travail-frontend/src/modules/common/__tests__/__snapshots__/RelatedItems.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/common/__tests__/__snapshots__/Share.test.tsx.snap
Due: frontend

update tests
  packages/code-du-travail-frontend/src/modules/common/__tests__/__snapshots__/Html.test.tsx.snap
Due: frontend

fix cypress tests
  packages/code-du-travail-frontend/cypress/support/commands.ts
Due: frontend

styling
  packages/code-du-travail-frontend/src/modules/code-du-travail/articleCodeDuTravail.tsx
Due: frontend

fix: tests
  packages/code-du-travail-frontend/jest.config.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/modules/layout/__tests__/__snapshots__/BrandTop.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/__tests__/__snapshots__/Footer.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/__tests__/__snapshots__/NeedMoreInfo.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/header/__tests__/__snapshots__/SearchInput.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/header/__tests__/fetchSuggestResults.test.ts
  packages/code-du-travail-frontend/src/modules/mentions-legales/__tests__/__snapshots__/MentionsLegales.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/stats/__tests__/__snapshots__/Stats.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/stats/__tests__/__snapshots__/StatsDisplay.test.tsx.snap
  packages/code-du-travail-frontend/vitest.config.ts
  yarn.lock
Due: frontend

fix: command
  .github/workflows/quality.yml
  package.json
  packages/code-du-travail-frontend/src/modules/layout/__tests__/__snapshots__/BrandTop.test.tsx.snap
  packages/code-du-travail-modeles/package.json
  packages/react-ui/package.json
Due: frontend, react-ui

refactor: move replace to publicode gen
  packages/code-du-travail-modeles/src/scripts/lib/common.ts
  packages/code-du-travail-modeles/src/scripts/lib/jsonTree.ts
  packages/code-du-travail-modeles/src/scripts/lib/modeleTestGeneration.ts
  packages/code-du-travail-modeles/src/scripts/lib/publicodeGeneration.ts
Due: none

fix: tests
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/modules/layout/header/__tests__/__snapshots__/HeaderDsfr.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/index.tsx
  packages/code-du-travail-frontend/test/jest.setup.js
  yarn.lock
Due: frontend

fix: tests
  .github/workflows/quality.yml
  package.json
  packages/code-du-travail-modeles/package.json
  packages/react-ui/package.json
Due: react-ui

fix: local storage
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/index.tsx
  packages/code-du-travail-frontend/src/lib/__tests__/useLocalStorage.test.tsx
  packages/code-du-travail-frontend/src/lib/useLocalStorage.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/PreavisRetraite/steps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/SelectAgreement.tsx
Due: frontend

fix: tests
  packages/code-du-travail-frontend/next-env.d.ts
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: event name
  packages/code-du-travail-frontend/src/lib/matomo/types.ts
Due: frontend

fix: cypress
  .github/workflows/e2e.yaml
  packages/code-du-travail-frontend/cypress/support/before.ts
Due: frontend

fix: dedicated nodepool
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

fix: dedicated nodepool (#6106)
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

fix: merge date
  .github/workflows/e2e-heavy.yaml
  .github/workflows/e2e-html.yaml
  .github/workflows/review-auto.yaml
  .github/workflows/review.yaml
  packages/code-du-travail-frontend/cypress.config.js
  packages/code-du-travail-frontend/cypress/integration/html-validation/validate-html-contributions.spec.ts
  packages/code-du-travail-frontend/cypress/integration/html-validation/validate-html.spec.ts
Due: frontend

fix: merge date
  .github/workflows/e2e-heavy.yaml
  .github/workflows/e2e-html.yaml
Due: none

fix: tests
  packages/code-du-travail-frontend/src/modules/layout/__tests__/BrandTop.test.tsx
  packages/code-du-travail-frontend/src/modules/layout/__tests__/Footer.test.tsx
  packages/code-du-travail-frontend/src/modules/layout/__tests__/NeedMoreInfo.test.tsx
  packages/code-du-travail-frontend/src/modules/layout/__tests__/__snapshots__/BrandTop.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/__tests__/__snapshots__/Footer.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/__tests__/__snapshots__/NeedMoreInfo.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/header/__tests__/HeaderDsfr.test.tsx
  packages/code-du-travail-frontend/src/modules/layout/header/__tests__/SearchInput.test.tsx
  packages/code-du-travail-frontend/src/modules/layout/header/__tests__/__snapshots__/HeaderDsfr.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/layout/header/__tests__/__snapshots__/SearchInput.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/mentions-legales/__tests__/MentionsLegales.test.tsx
  packages/code-du-travail-frontend/src/modules/mentions-legales/__tests__/__snapshots__/MentionsLegales.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/stats/__tests__/Stats.test.tsx
  packages/code-du-travail-frontend/src/modules/stats/__tests__/StatsDisplay.test.tsx
  packages/code-du-travail-frontend/src/modules/stats/__tests__/__snapshots__/Stats.test.tsx.snap
  packages/code-du-travail-frontend/src/modules/stats/__tests__/__snapshots__/StatsDisplay.test.tsx.snap
Due: frontend

fix: tests
  .github/workflows/e2e-heavy.yaml
  .github/workflows/e2e-html.yaml
Due: none

generate metadata
  packages/code-du-travail-frontend/app/code-du-travail/[slug]/page.tsx
  packages/code-du-travail-frontend/src/modules/code-du-travail/articleCodeDuTravail.tsx
  packages/code-du-travail-frontend/src/modules/common/__tests__/metas.test.tsx
  packages/code-du-travail-frontend/src/modules/common/metas.tsx
  packages/code-du-travail-frontend/test/jest.setup.js
Due: frontend

fix: tests
  packages/code-du-travail-frontend/cypress/integration/light/validate-html.spec.ts
Due: frontend

clean up
  packages/code-du-travail-frontend/app/code-du-travail/[slug]/page.tsx
  packages/code-du-travail-frontend/app/stats/page.tsx
Due: frontend

extract container in composant
  packages/code-du-travail-frontend/src/modules/code-du-travail/articleCodeDuTravail.tsx
  packages/code-du-travail-frontend/src/modules/common/RelatedItems.tsx
  packages/code-du-travail-frontend/src/modules/common/__tests__/RelatedItems.test.tsx
  packages/code-du-travail-frontend/src/modules/layout/Container-2-columns.tsx
  packages/code-du-travail-frontend/src/modules/layout/Container.tsx
  packages/code-du-travail-frontend/src/modules/mentions-legales/index.tsx
Due: frontend

fix(dsfr): ignore les exceptions d'hydratation
  packages/code-du-travail-frontend/cypress/support/errors.ts
  packages/code-du-travail-frontend/cypress/support/index.ts
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: variable
  .github/workflows/e2e-heavy.yaml
  .github/workflows/e2e-html.yaml
  .github/workflows/preproduction.yaml
  .github/workflows/review-auto.yaml
  .github/workflows/review.yaml
  README.md
  packages/code-du-travail-frontend/cypress.config.js
Due: frontend
