Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

chore: clean
  packages/code-du-travail-frontend/src/conventions/ConventionNotFound.tsx
  packages/code-du-travail-frontend/src/conventions/ConventionNotSupported.tsx
Due: frontend

chore(release): version 4.138.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

Updates
  project.json
Due: none

code !
  packages/code-du-travail-frontend/src/conventions/Convention/AccordionContentContribution.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/Articles.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.js
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/ContributionsPOC.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/utils.test.js
  packages/code-du-travail-frontend/src/conventions/Convention/index.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/utils.js
Due: frontend

chore: add test
  packages/code-du-travail-frontend/pages/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/index.test.js
  packages/code-du-travail-frontend/src/conventions/Convention/index.tsx
Due: frontend

chore: add test noindex
  packages/code-du-travail-frontend/cypress/integration/light/conventions-collectives.spec.ts
Due: frontend

chore: clean
  packages/code-du-travail-frontend/public/static/assets/img/calendar.svg
  packages/react-ui/src/field/InputDate.tsx
Due: frontend, react-ui

tests
  packages/code-du-travail-frontend/cypress/integration/light/conventions-collectives.spec.ts
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/index.tsx
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/agreement.mock.js
Due: frontend

oups !
  packages/code-du-travail-frontend/cypress/integration/light/conventions-collectives.spec.ts
Due: frontend

oups ! oups
  packages/code-du-travail-frontend/src/conventions/Convention/index.tsx
Due: frontend

change style
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.tsx
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

change style
  packages/code-du-travail-frontend/src/conventions/Convention/Contributions.tsx
Due: frontend

fix(idemnite-licenciement): impossible de saisir un salaire annuel inférieur ou égal à 0 (#5918)
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Salaires/store/validator.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Salaires/utils/__tests__/sumSalaryPeriods.test.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Salaires/utils/sumSalaryPeriods.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/salary-validation.test.tsx
Due: frontend

feat(e2e): ajout de tests pour les widgets en remote (#5919)
  packages/code-du-travail-frontend/cypress/integration/light/integration-convention-collective.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/dossier-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/indemnite-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/indemnite-precarite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/modeles-courrier.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/preavis-demission.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/preavis-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/preavis-retraite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/recherche.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/widgets/trouver-sa-cc.spec.ts
Due: frontend

fix(url): modification des URLs des sdr (#5923)
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

fix: possibilité d effacer le champ date
  packages/react-ui/src/field/InputDate.tsx
Due: react-ui

feat(accordéons): ajout d'ancre sur tous les accordéons pour pouvoir les ouvrir en mettant une ancre dans l'url
  package.json
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].tsx
  packages/code-du-travail-frontend/src/common/AccordionWithAnchor.tsx
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/DisplayContentContribution.test.tsx.snap
  packages/code-du-travail-frontend/src/fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/code-du-travail-frontend/src/fiche-service-public/components/Accordion.js
  packages/code-du-travail-frontend/src/fiche-service-public/components/__tests__/__snapshots__/Accordion.test.js.snap
  packages/code-du-travail-frontend/src/information/Components/Contents.tsx
Due: frontend

add test e2e
  packages/code-du-travail-frontend/cypress/integration/light/contributions/contributions.spec.ts
  packages/code-du-travail-frontend/cypress/integration/light/landing-pages.spec.ts
Due: frontend

fix: clear only part of field
  packages/react-ui/src/field/InputDate.tsx
Due: react-ui

chore: remove requests and limits
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

feat(rupture co): affichage des notifications pour la 2120
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/__tests__/cc2120.test.tsx
  packages/code-du-travail-frontend/src/outils/common/NoticeNote.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/__tests__/indemnite-licenciement/notification.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/rupture-conventionnelle.yaml
  packages/code-du-travail-modeles/src/publicodes/IndemniteDepart/Agreement.ts
  packages/code-du-travail-modeles/src/publicodes/IndemniteDepart/AgreementRuptureCo.ts
Due: frontend

update links
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/RuptureCoventionnelle/steps/Resultat/Eligible.tsx
Due: frontend

update snapshot
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix tests
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/notification.test.tsx
Due: frontend

fix(indemnité licenciement): affichage des salaires sur la page résultat
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/salary-validation.test.tsx
Due: frontend

fix tests
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/__tests__/indemnite-licenciement/notification.spec.ts
Due: none

fix: clear on error
  packages/react-ui/src/field/InputDate.tsx
Due: react-ui

format primes
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/salary-validation.test.tsx
Due: frontend

fix test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/salary-validation.test.tsx
Due: frontend

fix: retirer l'autofocus sur erreur pour les champs dates
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
  packages/react-ui/src/field/InputDate.tsx
Due: frontend, react-ui

fix(indemnité licenciement): affichage des salaires sur la page résultat (#5928)
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/salary-validation.test.tsx
Due: frontend

chore(release): version 4.139.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: date field onchange -> onblur
  packages/react-ui/src/field/InputDate.tsx
Due: react-ui

cleanup
  packages/code-du-travail-modeles/src/publicodes/IndemniteDepart/Agreement.ts
  packages/code-du-travail-modeles/src/publicodes/IndemniteDepart/AgreementRuptureCo.ts
Due: none

fix: champs date avec onblur
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
  packages/react-ui/src/field/InputDate.tsx
Due: frontend, react-ui

fix(accordion): ne pas crasher s'il y a un selector invalid dans l'url
  packages/react-ui/src/Accordion/__snapshots__/test.js.snap
  packages/react-ui/src/Accordion/index.js
  packages/react-ui/src/Accordion/test.js
Due: react-ui

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
