Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

ci(sentry): fix preprod - prod (#4042)
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
Due: none

fix(RGAA): 10.3 P13
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/PrevNextBar.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/PrevNextBar.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
Due: frontend

fix: test
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/public/static/modeles.css
  packages/code-du-travail-frontend/src/common/Html.tsx
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

fix: test
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/src/common/Html.tsx
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
Due: frontend

fix: image
  packages/code-du-travail-frontend/src/lib/html.ts
Due: frontend

Update packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
Due: frontend

fix(preavis de retraite): fix error when no cc on preavis de retraite… (#4046)
  packages/code-du-travail-frontend-e2e/features/outils/preavis-retraite.feature
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend-e2e/step_definitions/global.js
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/__tests__/WarningResult.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/DecryptedResult.tsx
Due: frontend

fix: warning
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/__tests__/WarningResult.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/WarningResult.tsx
Due: frontend

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.237.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: legend
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Info.js
Due: frontend

fix: warning result
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/__tests__/WarningResult.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/WarningResult.tsx
Due: frontend

fix: cc-search
  packages/.DS_Store
  packages/code-du-travail-frontend-e2e/features/outils/preavis-retraite.feature
Due: frontend

fix: increase time cc-search
  packages/code-du-travail-frontend-e2e/features/outils/preavis-retraite.feature
  packages/code-du-travail-frontend-e2e/step_definitions/global.js
Due: frontend

fix: criteria
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/TypeContrat.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Info.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Info.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/Question.tsx
  packages/code-du-travail-frontend/src/outils/common/YesNoQuestion.tsx
  packages/react-ui/src/field/Fieldset.js
  packages/react-ui/src/field/Legend.js
  packages/react-ui/src/index.js
Due: frontend, react-ui

use Paragraph component
  packages/code-du-travail-frontend/pages/stats.js
Due: frontend

use Paragraph component test
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
Due: frontend

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.238.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: criteria
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/stepReducer.js
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/stepReducer.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/stepReducer.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/TypeContrat.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/stepReducer.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Info.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/stepReducer.js
  packages/code-du-travail-frontend/src/outils/common/Question.tsx
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/code-du-travail-frontend/src/outils/common/type/WizardType.ts
Due: frontend

fix: criteria
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/stepReducer.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Info.test.js.snap
Due: frontend

fix: build
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/code-du-travail-frontend/src/outils/common/YesNoQuestion.tsx
Due: frontend

chore(deps): update dependency @svgr/core to v6
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

chore(deps): update dependency babel-plugin-styled-components to v2
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency lint-staged to v12
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

fix(RGAA): 8.9 P07 + 10.3 P13 (#4047)
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/pages/stats.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/PrevNextBar.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/PrevNextBar.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
Due: frontend

feat: add snapshot
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/react-ui/src/field/Legend.js
  packages/react-ui/src/field/story.js
Due: frontend, react-ui

fix: naming
  packages/code-du-travail-frontend-e2e/features/outils/preavis-retraite.feature
  packages/code-du-travail-frontend-e2e/features/search-ccn.feature
  packages/code-du-travail-frontend-e2e/features/search-enterprise-ccn.feature
  packages/code-du-travail-frontend-e2e/step_definitions/global.js
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/WarningResult.tsx
Due: frontend

fix: naming
  packages/.DS_Store
  packages/code-du-travail-frontend-e2e/features/outils/preavis-retraite.feature
Due: frontend

chore(deps): update dependency stylelint-config-recommended to v6
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

fix(frontend): message du préavis de retraite (#4048)
  packages/.DS_Store
  packages/code-du-travail-frontend-e2e/features/outils/preavis-retraite.feature
  packages/code-du-travail-frontend-e2e/features/search-ccn.feature
  packages/code-du-travail-frontend-e2e/features/search-enterprise-ccn.feature
  packages/code-du-travail-frontend-e2e/step_definitions/global.js
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/__tests__/WarningResult.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/WarningResult.tsx
Due: frontend

fix(rgaa): criteria 11.5 (#4054)
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/stepReducer.js
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/stepReducer.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/stepReducer.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/stepReducer.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/stepReducer.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/stepReducer.js
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/code-du-travail-frontend/src/outils/common/type/WizardType.ts
  packages/react-ui/src/field/Fieldset.js
  packages/react-ui/src/field/Legend.js
  packages/react-ui/src/field/story.js
  packages/react-ui/src/index.js
Due: frontend, react-ui

fix: snapshot
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

Updates
  iframe.html
  main.e115a6a0.iframe.bundle.js
  main.ea305af8.iframe.bundle.js
Due: none

Fix on P01 & P02
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/mentions-legales.js
  packages/code-du-travail-frontend/src/common/ServiceRenseignement.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/layout/Footer.tsx
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.js
  packages/react-ui/src/Titles/Subtitle/__snapshots__/test.js.snap
  packages/react-ui/src/Titles/Subtitle/index.js
Due: frontend, react-ui, react-fiche-service-public

Fix html markup
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/pages/stats.js
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/code-du-travail-frontend/src/search/utils.js
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.js
Due: frontend, react-ui, react-fiche-service-public

fix: p03
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/pages/droit-du-travail.js
Due: frontend

fix: bug
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/SurveyModal/__tests__/__snapshots__/SurveyModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/AccessibilityModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ContactModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchBar.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchHero.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/Accordion.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/Tabulator.test.js.snap
  packages/react-ui/src/Accordion/__snapshots__/test.js.snap
  packages/react-ui/src/Accordion/index.js
Due: frontend, react-ui, react-fiche-service-public

fix: remove unused code
  packages/code-du-travail-frontend/src/common/SurveyModal/__tests__/SurveyModal.test.js
  packages/code-du-travail-frontend/src/common/SurveyModal/__tests__/__snapshots__/SurveyModal.test.js.snap
  packages/code-du-travail-frontend/src/common/SurveyModal/components/ActionBar.js
  packages/code-du-travail-frontend/src/common/SurveyModal/components/ProgressBar.js
  packages/code-du-travail-frontend/src/common/SurveyModal/components/Question.js
  packages/code-du-travail-frontend/src/common/SurveyModal/index.js
  packages/code-du-travail-frontend/src/common/SurveyModal/reducer.js
  packages/code-du-travail-frontend/src/common/SurveyModal/steps/Company.js
  packages/code-du-travail-frontend/src/common/SurveyModal/steps/Final.js
  packages/code-du-travail-frontend/src/common/SurveyModal/steps/Improvements.js
  packages/code-du-travail-frontend/src/common/SurveyModal/steps/Status.js
Due: frontend

Updates
  0.e6eb0155.iframe.bundle.js
  0.f1a81811.iframe.bundle.js
  5.3b8eca50.iframe.bundle.js
  5.ac14ed69.iframe.bundle.js
  6.596b3354.iframe.bundle.js
  6.596b3354.iframe.bundle.js.LICENSE.txt
  6.596b3354.iframe.bundle.js.map
  6.c4b8dfc1.iframe.bundle.js
  6.c4b8dfc1.iframe.bundle.js.map
  iframe.html
  main.ea305af8.iframe.bundle.js
  main.f838d503.iframe.bundle.js
  runtime~main.18dae4b9.iframe.bundle.js
  runtime~main.21d3fcd1.iframe.bundle.js
  vendors~main.1c998cfc.iframe.bundle.js
  vendors~main.1c998cfc.iframe.bundle.js.LICENSE.txt
  vendors~main.1c998cfc.iframe.bundle.js.map
  vendors~main.413c14d5.iframe.bundle.js
  vendors~main.413c14d5.iframe.bundle.js.map
Due: none
