Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

feat: add git ignore
  packages/code-du-travail-api/.gitignore
Due: api

get max feedback
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/WarningResult.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
Due: frontend

feat:(typescript): add support
  packages/code-du-travail-api/.babelrc
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/routes/index.ts
  packages/code-du-travail-api/tsconfig.json
  yarn.lock
Due: api

feat: add support for TS
  packages/code-du-travail-api/package.json
  packages/sources/index.d.ts
Due: api

fix(import): add good import
  packages/code-du-travail-api/src/index.js
  packages/code-du-travail-api/src/routes/__tests__/index.test.js
Due: api

feat: add config jest
  packages/code-du-travail-frontend/jest.config.js
  packages/code-du-travail-frontend/jest.setup.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

fix(package.json): update command
  package.json
Due: none

Fix heap space !!
  packages/code-du-travail-frontend/jest.config.js
  packages/code-du-travail-frontend/jest.setup.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.js
Due: frontend

Add snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

Fix snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

Refacto code
  packages/code-du-travail-modeles/src/__test__/depart.mise.habillement.textiles.commerce.de.detail.references.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.habillement.textiles.commerce.de.detail.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/habillement_textiles_commerce_de_detail.yaml
Due: none

fix(package.json): update command (#3816)
  package.json
Due: none

feat(simulator): Add CC 1501
  packages/code-du-travail-modeles/src/__test__/depart.mise.restauration.rapide.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.industries.metallurgiques.region.parisienne.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.prevention.secu.ent.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.transport.aerien.personnel.au.sol.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/restauration_rapide.yaml
Due: none

feat(cc): add 1486
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.bureaux.etudes.references.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.bureaux.etudes.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/bureaux_etudes_techniques.yaml
Due: none

feat(modeles): add cc 1043 retirement (#3776)
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.concierge.references.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.concierge.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.habillement.commerce.succursales.references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/gardien_concierge.yaml
Due: none

Extract DisclaimerText composant to reduce complexity
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/DisclaimerText.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
Due: frontend

Move DisclaimerBox to tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/DisclaimerBox.tsx
Due: frontend

Replace let by const
  packages/code-du-travail-modeles/src/__test__/depart.mise.restauration.rapide.spec.ts
Due: none

add test coverage
  packages/code-du-travail-modeles/src/__test__/depart.mise.restauration.rapide.spec.ts
Due: none

feat(cc): add 1480 (#3807)
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.journalisme.references.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.journalisme.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/journalisme.yaml
Due: none

feat(e2e): add test
  packages/code-du-travail-frontend-e2e/codecept.conf.js
  packages/code-du-travail-frontend-e2e/features/referencement.feature
  packages/code-du-travail-frontend-e2e/helpers/canonical.js
  packages/code-du-travail-frontend-e2e/helpers/url.js
  packages/code-du-travail-frontend-e2e/step_definitions/global.js
  packages/code-du-travail-frontend-e2e/tsconfig.json
Due: frontend

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.211.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

Small refacto
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
Due: frontend

Better describe :)
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.restauration.collectivités.references.spec.ts
Due: none

fix(tsconfig.json): change target
  packages/code-du-travail-api/tsconfig.json
Due: api

feat(simulator): add CC 1404
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.sedima.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/sedima.yaml
Due: none

feat(modeles): add cc 1505
  packages/code-du-travail-frontend-e2e/tsconfig.json
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.commerce.detail.fruits.legumes.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/commerces_detail_fruits_legumes.yaml
Due: frontend

Re-use same composant for refs of all results
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/situations.utils.js
Due: frontend

Extract search in CC text into a react component CCSearchInfo.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Informations.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/DisclaimerText.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Introduction.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/common/CCSearchInfo.tsx
  packages/code-du-travail-frontend/src/outils/common/situations.utils.js
  packages/code-du-travail-frontend/src/outils/publicodes/Utils.ts
Due: frontend

feat(simulator): add CC 1266 (#3775)
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.restauration.collectivités.references.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.restauration.collectivités.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/restauration_collectivités.yaml
Due: none

feat(modeles): add cc 1596
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.batiment.ouvriers.employes.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/batiment_ouvriers_employes.yaml
Due: none

feat(modeles): add cc 1597
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.employes.ouvriers.bis.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/batiment_employes_ouvriers_bis.yaml
Due: none

feat(simulator): Add CC 1979
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.hotels.cafes.restaurants.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/hotels_cafes_restaurants.yaml
Due: none

feat(simulator): add cc 1483 (#3806)
  packages/code-du-travail-modeles/src/__test__/depart.mise.habillement.textiles.commerce.de.detail.references.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.habillement.textiles.commerce.de.detail.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/habillement_textiles_commerce_de_detail.yaml
Due: none

Extract const from render
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/WarningResult.tsx
Due: frontend

feat(modeles): add cc 2264
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.hospitalisation.privees.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/hospitalisation_privees.yaml
  yarn.lock
Due: none

feat(pipeline): ts to js
  packages/code-du-travail-api/src/index.js
  packages/code-du-travail-api/src/routes/__tests__/index.test.js
  packages/code-du-travail-api/src/routes/index.js
Due: api

feat(pipeline): ts to js (#3827)
  packages/code-du-travail-api/src/index.js
  packages/code-du-travail-api/src/routes/__tests__/index.test.js
  packages/code-du-travail-api/src/routes/index.js
Due: api

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.212.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
