Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(dossier): remove deprecated covid related cse content
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-data/dataset/editorial_content/contents.json
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-1.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-2.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-3.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-4.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-synthese-1.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-synthese-2.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-synthese-3.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-synthese-4.md
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-1.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-1.png
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-2.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-2.png
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-3.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-3.png
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-4.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-4.png
Due: none

fix(rollup): fix rollup config for fiche-sp components
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/src/contributions/rehypeToReact.js
  packages/react-fiche-service-public/__tests__/FicheServicePublic.test.js
  packages/react-fiche-service-public/package.json
  packages/react-fiche-service-public/rollup.config.js
  packages/react-fiche-service-public/src/components/Fiche.js
  packages/react-fiche-service-public/src/index.js
Due: frontend, react-fiche-service-public

fix(dossier): remove deprecated covid related cse content (#2954)
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-data/dataset/editorial_content/contents.json
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-1.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-2.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-3.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-4.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-synthese-1.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-synthese-2.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-synthese-3.md
  packages/code-du-travail-data/dataset/editorial_content/covid/cse-synthese-4.md
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-1.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-1.png
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-2.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-2.png
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-3.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-3.png
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-4.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/cse-synthese-4.png
Due: none

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(rollup): fix rollup config for fiche-sp components (#2953)
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/src/contributions/rehypeToReact.js
  packages/react-fiche-service-public/__tests__/FicheServicePublic.test.js
  packages/react-fiche-service-public/package.json
  packages/react-fiche-service-public/rollup.config.js
  packages/react-fiche-service-public/src/components/Fiche.js
  packages/react-fiche-service-public/src/index.js
Due: frontend, react-fiche-service-public

chore(release): version 4.29.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/CHANGELOG.md
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
Due: api, frontend, react-fiche-service-public

chore(deps): update all dependencies
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  package.json
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  packages/slugify/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

fix(data): add a check ensure service-public content
  packages/code-du-travail-data/dataset/fiches_service_public/filter.js
  packages/code-du-travail-data/dataset/fiches_service_public/index.js
Due: none

feat(frontend): add ccn 1090 in idl
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/branches.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1090.js
Due: frontend

feat(sdr): small improvment for #2153 (#2952)
  packages/code-du-travail-frontend/src/common/ServiceRenseignement.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
Due: frontend

feat(frontend): add ccn 1090 in idl (#2957)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/branches.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1090.js
Due: frontend

fix(frontend): simplify social meta url
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/a-propos.js
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].js
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
  packages/code-du-travail-frontend/pages/convention-collective/index.js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/droit-du-travail.js
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/pages/glossaire/[slug].js
  packages/code-du-travail-frontend/pages/glossaire/index.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/information/[slug].js
  packages/code-du-travail-frontend/pages/integration.js
  packages/code-du-travail-frontend/pages/mentions-legales.js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].js
  packages/code-du-travail-frontend/pages/outils/index.js
  packages/code-du-travail-frontend/pages/politique-confidentialite.js
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/pages/stats.js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/pages/themes/index.js
  packages/code-du-travail-frontend/src/common/Metas.js
Due: frontend

fix(frontend): simplify social meta url (#2958)
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/a-propos.js
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].js
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/pages/convention-collective/[slug].js
  packages/code-du-travail-frontend/pages/convention-collective/index.js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/droit-du-travail.js
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/pages/glossaire/[slug].js
  packages/code-du-travail-frontend/pages/glossaire/index.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/information/[slug].js
  packages/code-du-travail-frontend/pages/integration.js
  packages/code-du-travail-frontend/pages/mentions-legales.js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].js
  packages/code-du-travail-frontend/pages/outils/index.js
  packages/code-du-travail-frontend/pages/politique-confidentialite.js
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/pages/stats.js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/pages/themes/index.js
  packages/code-du-travail-frontend/src/common/Metas.js
Due: frontend

chore(deps): update dependency socialgouv/gitlab-ci-yml to v17
  .gitlab-ci.yml
Due: none

docs: update NLP URL on readme
  README-dev.md
  packages/code-du-travail-data/README.md
Due: none

bugfix(search): set default vector, to solve ES issue for semantic search
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-data/dump.js
Due: api

chore(deps): update all non-major dependencies docker tags to v7.9.0
  docker-compose.override.dev.yml
  docker/elasticsearch/Dockerfile
Due: none

chore(deps): update dependency superagent to v6
  packages/code-du-travail-api/package.json
  yarn.lock
Due: api

chore(deps): update dependency typescript to v4
  packages/slugify/package.json
  packages/sources/package.json
  yarn.lock
Due: none

docs: update NLP URL on readme (#2961)
  README-dev.md
  packages/code-du-travail-data/README.md
Due: none

add logs for indexation errors and set default vector to 512 dim
  packages/code-du-travail-api/src/server/routes/version/index.js
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/indexing/esClientUtils.js
Due: api

fix(deps): remove unused superagent lib
  packages/code-du-travail-api/package.json
  yarn.lock
Due: api

create random vector when no title or text
  packages/code-du-travail-data/dump.js
Due: none

ci(gitlab): force disable letenscript in dev
  .gitlab-ci/stages/deploy.yml
Due: none

simpler ingress
  .k8s/api.values.yml
  .k8s/frontend.values.yml
Due: none

chore: use cluster dev 2
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/e2e.yml
  .gitlab-ci/stages/notify.yml
  .k8s/api.values.yml
  .k8s/frontend.values.yml
Due: none

upgrade curl version
  .k8s/api.values.yml
  .k8s/frontend.values.yml
Due: none

ci: remove build
  .travis.yml
  package.json
Due: none

ci: remove coverage from gitlab (done in travis)
  .gitlab-ci/stages/quality.yml
Due: none

chore(deps): update all non-major dependencies
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

fix(deps): udpate rollup deps
  packages/code-du-travail-frontend/src/common/__tests__/ServiceRenseignement.test.js
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui

fix: lint
  packages/react-ui/src/field/Input.js
Due: react-ui

ci: add build ui
  .travis.yml
Due: none

chore(deps): update dependency @storybook/react to v6
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

fix(deps): update storybook to v6
  packages/react-ui/.storybook/addons.js
  packages/react-ui/.storybook/config.js
  packages/react-ui/.storybook/main.js
  packages/react-ui/.storybook/preview.js
  packages/react-ui/.storybook/webpack.config.js
  packages/react-ui/package.json
  packages/react-ui/src/Accordion/story.js
  packages/react-ui/src/Alert/story.js
  packages/react-ui/src/ArrowLink/story.js
  packages/react-ui/src/Badge/story.js
  packages/react-ui/src/BurgerNav/story.js
  packages/react-ui/src/Button/story.js
  packages/react-ui/src/FlatList/story.js
  packages/react-ui/src/Grid/story.js
  packages/react-ui/src/IconStripe/story.js
  packages/react-ui/src/Modal/story.js
  packages/react-ui/src/MoreContent/story.js
  packages/react-ui/src/OverflowWrapper/story.js
  packages/react-ui/src/Stripe/story.js
  packages/react-ui/src/Table/story.js
  packages/react-ui/src/TableOfContent/story.js
  packages/react-ui/src/Tabs/story.js
  packages/react-ui/src/Tile/story.js
  packages/react-ui/src/Titles/Heading/story.js
  packages/react-ui/src/Titles/InsertTitle/story.js
  packages/react-ui/src/Titles/PageTitle/story.js
  packages/react-ui/src/Titles/Subtitle/story.js
  packages/react-ui/src/Titles/Title/story.js
  packages/react-ui/src/Toast/story.js
  packages/react-ui/src/field/story.js
  packages/react-ui/src/icons/story.js
  packages/react-ui/src/layout/Container/story.js
  packages/react-ui/src/layout/Section/story.js
  packages/react-ui/src/layout/Wrapper/story.js
  yarn.lock
Due: react-ui

fix(ui): fix story
  packages/react-ui/src/Accordion/story.js
  packages/react-ui/src/Alert/story.js
  packages/react-ui/src/ArrowLink/story.js
  packages/react-ui/src/Badge/story.js
  packages/react-ui/src/BurgerNav/story.js
  packages/react-ui/src/Button/story.js
  packages/react-ui/src/FlatList/story.js
  packages/react-ui/src/Grid/story.js
  packages/react-ui/src/IconStripe/story.js
  packages/react-ui/src/Modal/story.js
  packages/react-ui/src/MoreContent/story.js
  packages/react-ui/src/OverflowWrapper/story.js
  packages/react-ui/src/Stripe/story.js
  packages/react-ui/src/Table/story.js
  packages/react-ui/src/TableOfContent/story.js
  packages/react-ui/src/Tabs/story.js
  packages/react-ui/src/Tile/story.js
  packages/react-ui/src/Toast/story.js
  packages/react-ui/src/field/story.js
  packages/react-ui/src/icons/story.js
Due: react-ui

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
