Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: sans switch true
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/messageMotifExample.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/validator.ts
Due: frontend

feat: implementation tracking indemnite licenciement
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/tracking.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/16-transports-routiers/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/29-hospitalisation-privee-but-non-lucratif/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/store.ts
Due: frontend

fix: memory leek
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/__tests__/messageMotifExample.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
Due: frontend

fix: memory leek
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/__tests__/messageMotifExample.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/messageMotifExample.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-modeles/src/modeles/index.ts
Due: frontend

fix: assmat
  package.json
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/__tests__/messageMotifExample.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/messageMotifExample.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
Due: frontend

fix: matomo events
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/tracking.test.tsx
Due: frontend

fix: retours
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/utils/question.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/seniority.ts
Due: frontend

fix: retours
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/store/store.ts
Due: frontend

fix(indemnite-licenciement): retours de la CC 3239 (#4901)
  package.json
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc3239.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/seniority-validation.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1517-commerces-de-detail-non-alimentaires/validator/dateSortie.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/__tests__/messageMotifExample.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/messageMotifExample.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriods.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/validator.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator/absencePeriods.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator/dateArretTravail.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator/dateEntree.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator/dateNotification.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator/dateSortie.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FilledElements.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/utils/question.ts
  packages/code-du-travail-modeles/src/modeles/base/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/common/motif-keys.ts
  packages/code-du-travail-modeles/src/modeles/conventions/16_transports_routiers/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/__tests__/indemnite-licenciement/supprimer-etape-salaire.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/seniority.ts
  packages/code-du-travail-modeles/src/modeles/index.ts
Due: frontend

cleanup
  packages/code-du-travail-frontend/pages/contribution/index.tsx
Due: frontend

feat: correction des formules minoration et majoration pour la CC 16 (#4904)
  packages/code-du-travail-modeles/src/modeles/conventions/16_transports_routiers/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/16_transports_routiers/indemnite-licenciement.yaml
Due: none

fix(1517): fix when ancienneté > 10 ans
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/indemnite-licenciement.yaml
Due: none

fix: seach enteprise with employer only
  packages/code-du-travail-api/src/routes/__tests__/enterprises.test.js
  packages/code-du-travail-api/src/routes/enterprises/index.ts
Due: api

rename API endpoints
  packages/code-du-travail-api/src/routes/__tests__/contributions.test.ts
  packages/code-du-travail-api/src/routes/__tests__/conventions.test.ts
  packages/code-du-travail-api/src/routes/contributions/getContributions.elastic.ts
  packages/code-du-travail-api/src/routes/contributions/index.ts
  packages/code-du-travail-api/src/routes/conventions/getAgreements.elastic.ts
  packages/code-du-travail-api/src/routes/conventions/index.ts
  packages/code-du-travail-frontend/pages/contribution/index.tsx
  packages/code-du-travail-frontend/pages/convention-collective/index.tsx
Due: api, frontend

feat: désactiver les conventions collectives non validées
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1147_cabinets_medicaux/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1266_restauration_collectivites/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1480_journalisme/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1505_commerces_detail_fruits_legumes/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1606_bricolage/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1672_societes_assurances/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/176_industrie_pharmaceutique/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2420_cadres_batiment/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2511_sport/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/292_plasturgie/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/54_industries_metallurgiques_region_parisienne/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/675_habillement_commerce_succursales/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/787_comptables/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/843_boulangerie_patisserie/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/common.yaml
Due: none

feat: ajout d'une taille minimum sur le mois pour la cohérence des tableaux
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
Due: frontend

fix: seach enteprise with employer only (#4908)
  packages/code-du-travail-api/src/routes/__tests__/enterprises.test.js
  packages/code-du-travail-api/src/routes/enterprises/index.ts
Due: api

fix(1517): fix when ancienneté > 10 ans (#4910)
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/indemnite-licenciement.yaml
Due: none

add test coverage
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/docs-count.test.js.snap
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/idcc.test.js.snap
  packages/code-du-travail-api/src/routes/__tests__/conventions.test.ts
  packages/code-du-travail-api/src/routes/__tests__/stats.test.ts
  packages/code-du-travail-api/src/routes/conventions/index.ts
  packages/code-du-travail-api/src/tests/cdtn_document.data.json
  packages/code-du-travail-frontend/pages/contribution/index.tsx
Due: api, frontend

fix(1517): références
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/indemnite-licenciement.yaml
Due: none

fix(1517): références
  packages/code-du-travail-modeles/src/modeles/common/utils/formula.ts
Due: none

revert
  packages/code-du-travail-modeles/src/modeles/common/utils/formula.ts
Due: none

fix: review
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/types.ts
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/tracking.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Introduction/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/store.ts
  packages/code-du-travail-frontend/src/outils/Simulator/Simulator.tsx
Due: frontend

revert
  packages/code-du-travail-modeles/src/modeles/common/utils/formula.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/indemnite-licenciement.yaml
Due: none

fix(indemnite-licenciement): retours de la CC 44 (#4899)
  packages/code-du-travail-frontend/src/outils/Components/RadioQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc44.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/44.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
  packages/code-du-travail-frontend/src/outils/utils/extractDates.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/seniority.ts
Due: frontend

feat: désactiver les conventions collectives non validées (#4912)
  packages/code-du-travail-modeles/src/modeles/conventions/1043_gardien_concierge/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1147_cabinets_medicaux/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1266_restauration_collectivites/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1480_journalisme/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1505_commerces_detail_fruits_legumes/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1606_bricolage/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1672_societes_assurances/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1702_ouvriers_travaux_public/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/176_industrie_pharmaceutique/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2148_telecommunications/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2420_cadres_batiment/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2511_sport/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/292_plasturgie/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/54_industries_metallurgiques_region_parisienne/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/675_habillement_commerce_succursales/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/787_comptables/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/843_boulangerie_patisserie/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/common.yaml
Due: none

Updates
  iframe.html
  main.1ca2f77a.iframe.bundle.js
  main.ec386f69.iframe.bundle.js
Due: none

fix(1517): références (#4913)
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/indemnite-licenciement.yaml
Due: none

chore: clean
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
Due: frontend

refactor: indemnite licenciement tracking (#4909)
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/__tests__/route.agreement.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/__tests__/route.enterprise.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/__tests__/route.none.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/__tests__/route.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/types.ts
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/tracking.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/16-transports-routiers/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/16-transports-routiers/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/29-hospitalisation-privee-but-non-lucratif/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/29-hospitalisation-privee-but-non-lucratif/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/store.ts
  packages/code-du-travail-frontend/src/outils/Simulator/Simulator.tsx
  packages/code-du-travail-frontend/src/outils/types.ts
Due: frontend

feat: ajout d'une redirection
  packages/code-du-travail-frontend/redirects.json
Due: frontend

feat: ajout d'une redirection (#4917)
  packages/code-du-travail-frontend/redirects.json
Due: frontend

fix(indemnité de licenciement): when user select arret de rtavail with invalid date and then de-select
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/validator.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator/dateArretTravail.ts
Due: frontend

fix(indemnite-licenciement): message pour une CC non traité
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/ShowAgreements.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/ShowAgreement.tsx
Due: frontend

fix: e2e test
  packages/code-du-travail-frontend-e2e/e2e/dossier.spec.ts
Due: frontend

fix(indemnite-licenciement): remise à zéro des données propres à la CC 3239
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc3239-reset-data.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/AbsenceTable.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/index.ts
  packages/code-du-travail-modeles/src/modeles/common/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
Due: frontend
