Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

chore: update cypress version
  packages/code-du-travail-frontend-e2e/package.json
  yarn.lock
Due: frontend

feat: retire les data-testid des tests e2e
  packages/code-du-travail-frontend-e2e/e2e/outils/heures-recherche-emploi.spec.ts
  packages/code-du-travail-frontend-e2e/e2e/outils/preavis-demission.spec.ts
  packages/code-du-travail-frontend-e2e/e2e/outils/preavis-licenciement.spec.ts
Due: frontend

fix(search): affiche la suggestion de recherche en absolute
  packages/code-du-travail-frontend/src/common/IdccSuggesterTheme.js
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggesterTheme.js
Due: frontend

feat: move to ts
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggesterTheme.js
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggesterTheme.ts
  yarn.lock
Due: frontend

fix: e2e test
  packages/code-du-travail-frontend-e2e/e2e/outils/preavis-retraite.spec.ts
Due: frontend

fix(search): update snapshots
  packages/code-du-travail-frontend/src/search/SearchBar/__tests__/__snapshots__/DocumentSuggester.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchBar.test.js.snap
Due: frontend

chore: update cypress version (#4995)
  packages/code-du-travail-frontend-e2e/e2e/outils/heures-recherche-emploi.spec.ts
  packages/code-du-travail-frontend-e2e/e2e/outils/preavis-demission.spec.ts
  packages/code-du-travail-frontend-e2e/e2e/outils/preavis-licenciement.spec.ts
  packages/code-du-travail-frontend-e2e/e2e/outils/preavis-retraite.spec.ts
  packages/code-du-travail-frontend-e2e/package.json
  yarn.lock
Due: frontend

Updates
  project.json
Due: none

fix(search): affiche la suggestion de recherche en absolute (#4996)
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/common/IdccSuggesterTheme.js
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggesterTheme.js
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggesterTheme.ts
  packages/code-du-travail-frontend/src/search/SearchBar/__tests__/__snapshots__/DocumentSuggester.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchBar.test.js.snap
  yarn.lock
Due: frontend

Updates
  main.0a48f577.iframe.bundle.js
  project.json
Due: none

fix: versionning
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/getSupportedCc.ts
Due: frontend

fix: naming
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/675.ts
  packages/code-du-travail-modeles/src/modeles/conventions/675_habillement_commerce_succursales/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/675_habillement_commerce_succursales/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/675_habillement_commerce_succursales/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/675_habillement_commerce_succursales/indemnite-licenciement.yaml
Due: frontend

fix: categorie
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/__tests__/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/__tests__/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/simulators/preavis-demission/preavis-demission.data.json
  packages/code-du-travail-modeles/src/simulators/preavis-licenciement/preavis-licenciement.data.json
Due: none

fix: affichage radio outils & widgets
  packages/code-du-travail-frontend/src/integration/Components/Integration.tsx
  packages/code-du-travail-frontend/src/integration/data/integration.json
  packages/code-du-travail-frontend/src/outils/Components/RadioQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/Question.tsx
Due: frontend

fix: retour
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/ui-customizations/messages.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
Due: frontend

chore: review
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/getSupportedCc.ts
Due: frontend

fix: cc
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/eligibility.ts
Due: frontend

fix: cc
  packages/code-du-travail-modeles/src/modeles/conventions/675_habillement_commerce_succursales/indemnite-licenciement.yaml
Due: none

fix: cc
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/tracking.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
Due: frontend

fix: zustand
  yarn.lock
Due: none

fix: url
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/__tests__/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/preavis-retraite.yaml
Due: none

fix: display
  packages/code-du-travail-frontend/public/widget.html
  packages/code-du-travail-frontend/src/integration/Components/Integration.tsx
  packages/code-du-travail-frontend/src/outils/common/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
Due: frontend

fix: merge
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/16-transports-routiers/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/16-transports-routiers/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/29-hospitalisation-privee-but-non-lucratif/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/29-hospitalisation-privee-but-non-lucratif/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Informations/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Ineligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/store.ts
Due: frontend

fix: code
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/Components/DebugInfo/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/Components/PreavisRetraiteSimulator/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/index.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/state/createContext.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/state/preavisRetraiteStore.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/AgreementStep/RenderStep.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/InformationStep/RenderStep.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/OriginStep/RenderStep.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/ResultStep/RenderStep.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/SeniorityStep/RenderStep.tsx
  packages/code-du-travail-frontend/src/outils/Simulator/Simulator.tsx
  packages/code-du-travail-frontend/src/outils/Simulator/createContext.ts
  packages/code-du-travail-frontend/src/outils/Simulator/useSimulatorStore.ts
  packages/code-du-travail-frontend/src/questionnaire/store.ts
Due: frontend

fix: zustand
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Response.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/ShowInfo.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Questionnaire.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/QuestionnaireWrapper.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/Summary.tsx
  packages/code-du-travail-frontend/src/questionnaire/store.ts
  yarn.lock
Due: frontend

fix: zustand
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/__tests__/components/SalaryStepTest.tsx
Due: frontend

fix(indemnite-licenciement): retours de la CC 3239 (#4984)
  .k8s/package.json
  .k8s/yarn.lock
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend-e2e/e2e/outils/indemnite-licenciement.spec.ts
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/__tests__/messageMotifExample.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/messageMotifExample.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/ui-customizations/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/ui-customizations/messages.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/ui-customizations/tooltip.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/eligibility.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/Result.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/Result.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-modeles/src/modeles/common/motif-keys.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/seniority.ts
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui

fix: snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeContrat.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeRemuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CDD.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CTT.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/StepInformations.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/YesNoQuestion.test.js.snap
Due: frontend

fix: review
  packages/code-du-travail-frontend/src/integration/data/integration.json
  packages/code-du-travail-frontend/src/outils/common/Agreement/RouteSelection/RouteSelection.tsx
Due: frontend

fix: field order preavis retraite
  packages/code-du-travail-frontend/src/outils/common/YesNoPubliQuestion.tsx
Due: frontend

fix: remove padding
  packages/react-ui/src/Collapse/index.js
Due: react-ui

chore: add test cas limite
  packages/code-du-travail-modeles/src/modeles/conventions/1505_commerces_detail_fruits_legumes/__tests__/indemnite-licenciement/formule.spec.ts
Due: none

chore: update tests
  packages/code-du-travail-modeles/src/modeles/conventions/1505_commerces_detail_fruits_legumes/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1505_commerces_detail_fruits_legumes/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1505_commerces_detail_fruits_legumes/__tests__/indemnite-licenciement/references.spec.ts
Due: none

chore:snap
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
  packages/react-ui/src/Collapse/__snapshots__/test.js.snap
Due: frontend, react-ui

fix: is eligible
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
Due: frontend

fix: affichage radio outils & widgets (#5000)
  packages/code-du-travail-frontend/public/widget.html
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/integration/Components/Integration.tsx
  packages/code-du-travail-frontend/src/integration/data/integration.json
  packages/code-du-travail-frontend/src/outils/Components/RadioQuestion.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeContrat.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeRemuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CDD.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CTT.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/Agreement/RouteSelection/RouteSelection.tsx
  packages/code-du-travail-frontend/src/outils/common/Question.tsx
  packages/code-du-travail-frontend/src/outils/common/YesNoPubliQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/StepInformations.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/YesNoQuestion.test.js.snap
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/react-ui/src/Collapse/__snapshots__/test.js.snap
  packages/react-ui/src/Collapse/index.js
Due: frontend, react-ui

Updates
  iframe.html
  main.32644962.iframe.bundle.js
  project.json
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
