Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix last snap !!
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/idcc.test.js.snap
Due: api

small layout fixes
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/pages/a-propos.js
  packages/code-du-travail-frontend/pages/glossaire/index.js
  packages/code-du-travail-frontend/pages/integration/index.tsx
  packages/code-du-travail-frontend/pages/integration/moteur-recherche.tsx
  packages/code-du-travail-frontend/public/static/assets/img/preavis-licenciement.png
  packages/code-du-travail-frontend/public/static/assets/img/preavis-retraite.png
  packages/code-du-travail-frontend/src/common/Share.tsx
Due: frontend

change error message
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Anciennete.test.js
Due: frontend

fix(spacings in questions): standardize spacing around questions in tools
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/SelectedEnterprise.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/ShowAgreement.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/ShowAgreements.tsx
  packages/code-du-travail-frontend/src/outils/common/Question.tsx
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/TextQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/stepStyles.js
Due: frontend

fix snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/AncienneteETAMIC.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Salaire.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/TypeContrat.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Info.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Primes.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CDD.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CTT.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/TextQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/YesNoQuestion.test.js.snap
Due: frontend

fix: test
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/quality.yml
  .github/workflows/review.yml
Due: none

fix: undefined
  packages/code-du-travail-frontend/next.config.js
Due: frontend

fix(hn in tabs): when tabs do not have headings level as parameter, then starts at H2 not H1
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/Tabulator.js
  packages/react-fiche-service-public/src/components/__tests__/Tabulator.test.js
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/Tabulator.test.js.snap
Due: react-fiche-service-public

fix: autodevop
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/quality.yml
  .github/workflows/review.yml
Due: none

fix: comme avant
  packages/code-du-travail-frontend/next.config.js
Due: frontend

fix(hn): when tabs do not have headings level as parameter, then starts at H2 not H1 + default Title title to p tag
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/Articles.js
  packages/code-du-travail-frontend/src/home/Themes.js
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/ServiceEnLigne.js
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.js
  packages/react-ui/src/Tile/test.js
Due: frontend, react-ui, react-fiche-service-public

Add h3
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: frontend

fix tests
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/convention-collective.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Article.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Share.test.js.snap
Due: frontend

fix e2e tests
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
Due: frontend

rename feature
  packages/code-du-travail-frontend-e2e/features/widget-pages.feature
Due: frontend

Add unit test for tag
  packages/react-fiche-service-public/src/components/__tests__/ServiceEnLigne.test.js
  packages/react-fiche-service-public/src/components/__tests__/Tabulator.test.js
Due: react-fiche-service-public

feat(indemnité de licenciement): retrait temporaire du calcul du temps partiel
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPartiel.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/SalaireTempsPartiel.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/SalaireTempsPartiel.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Indemnite.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Indemnite.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Salaires.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
Due: frontend

update text
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
Due: frontend

better test
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/test.js
Due: react-ui

lint
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Indemnite.tsx
Due: frontend

feat(e2e): add 2 missing e2e test for tools: "Indemnité de précarité" & "Salaire brut/net" (#4306)
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-precarite.feature
  packages/code-du-travail-frontend-e2e/features/outils/simulateur-embauche.feature
  packages/code-du-travail-frontend-e2e/step_definitions/global.js
Due: frontend

fix(spacings in questions): standardize spacing around questions in tools (#4309)
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Step.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/AncienneteETAMIC.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Salaire.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/TypeContrat.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Anciennete.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Info.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Primes.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CDD.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CTT.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/SelectedEnterprise.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/ShowAgreement.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/ShowAgreements.tsx
  packages/code-du-travail-frontend/src/outils/common/Question.tsx
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/TextQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/TextQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/YesNoQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/stepStyles.js
Due: frontend

feat(outil - heures-recherche-emploi): outil "heures pour recherche d'emploi" by "Heures d'absence pour rechercher un emploi" (#4308)
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/idcc.test.js.snap
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/sheets-mt.test.js.snap
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-api/src/tests/cdtn_document.data.json
  packages/code-du-travail-data/tools/internals.json
  packages/code-du-travail-frontend-e2e/features/outils/heures-recherche-emploi.feature
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/__snapshots__/index.test.ts.snap
Due: api, frontend

Remove js method as backlink is not revelant anymore
  packages/code-du-travail-frontend/pages/integration/index.tsx
  packages/code-du-travail-frontend/pages/integration/moteur-recherche.tsx
  packages/code-du-travail-frontend/pages/integration/preavis-licenciement.tsx
  packages/code-du-travail-frontend/pages/integration/preavis-retraite.tsx
  packages/code-du-travail-frontend/public/widget-preavis-retraite.js
Due: frontend

fix: redirection
  packages/code-du-travail-frontend/src/redirects.ts
Due: frontend

chore(deps): update dependency eslint to v8
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

Updates
  0.01be3909.iframe.bundle.js
  0.c96f8b6c.iframe.bundle.js
  4.394e10ca.iframe.bundle.js
  4.394e10ca.iframe.bundle.js.LICENSE.txt
  4.394e10ca.iframe.bundle.js.map
  4.5210f605.iframe.bundle.js
  4.5210f605.iframe.bundle.js.map
  4.bfb40e1cf0147336eee2.manager.bundle.js
  4.eb7a561a88374ab31160.manager.bundle.js
  4.eb7a561a88374ab31160.manager.bundle.js.LICENSE.txt
  5.6cfdfe2a.iframe.bundle.js
  5.cb7a171f.iframe.bundle.js
  6.596b3354.iframe.bundle.js
  6.596b3354.iframe.bundle.js.map
  6.a98dab27.iframe.bundle.js
  6.a98dab27.iframe.bundle.js.LICENSE.txt
  6.a98dab27.iframe.bundle.js.map
  7.36d9f888.iframe.bundle.js
  7.dbf78dfe.iframe.bundle.js
  iframe.html
  index.html
  main.57f253c0.iframe.bundle.js
  main.d9197be1.iframe.bundle.js
  runtime~main.2ebb6cac.iframe.bundle.js
  runtime~main.9606cf81c0616cdde21e.manager.bundle.js
  runtime~main.ae93384ec3cf9c894091.manager.bundle.js
  runtime~main.de8831c8.iframe.bundle.js
  vendors~main.165037bb.iframe.bundle.js
  vendors~main.165037bb.iframe.bundle.js.LICENSE.txt
  vendors~main.165037bb.iframe.bundle.js.map
  vendors~main.411649a2.iframe.bundle.js
  vendors~main.411649a2.iframe.bundle.js.map
  vendors~main.bb54db71bfdd2ee43834.manager.bundle.js
  vendors~main.bb54db71bfdd2ee43834.manager.bundle.js.LICENSE.txt
  vendors~main.fb75a16b51613d112500.manager.bundle.js
Due: none

chore(deps): update dependency stylelint to v14
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

remove useless rule
  packages/code-du-travail-modeles/src/modeles/base/common.yaml
Due: none

remove un-used files
  packages/code-du-travail-frontend/src/data/L2253.js
  packages/code-du-travail-frontend/src/data/suppletives.js
  packages/code-du-travail-frontend/src/data/themes-ordering.js
Due: frontend

block if temps partiel
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
Due: frontend

Typo
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
Due: frontend

fix(hn in tabs): when tabs do not have headings level as parameter, then starts at H2 not H1 (#4311)
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/pages/index.jsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.jsx
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/Articles.js
  packages/code-du-travail-frontend/src/home/Themes.js
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Highlights.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Themes.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/react-fiche-service-public/src/components/ServiceEnLigne.js
  packages/react-fiche-service-public/src/components/Tabulator.js
  packages/react-fiche-service-public/src/components/__tests__/ServiceEnLigne.test.js
  packages/react-fiche-service-public/src/components/__tests__/Tabulator.test.js
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
  packages/react-fiche-service-public/src/components/__tests__/__snapshots__/Tabulator.test.js.snap
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.js
  packages/react-ui/src/Tile/test.js
Due: frontend, react-ui, react-fiche-service-public

Updates
  iframe.html
  main.57f253c0.iframe.bundle.js
  main.b9441d72.iframe.bundle.js
Due: none

feat(indemnité licenciement): handle cc override
  packages/code-du-travail-modeles/src/modeles/base/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/base/preavis-retraite.yaml
Due: none

feat(indemnité de licenciement): retrait temporaire du calcul du temps partiel (#4313)
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPartiel.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/SalaireTempsPartiel.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/SalaireTempsPartiel.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Indemnite.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Indemnite.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Salaires.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
Due: frontend

feat(indmenite de licenciement): handle inaptitude (#4302)
  packages/code-du-travail-frontend-e2e/features/outils/indemnite-licenciement.feature
  packages/code-du-travail-frontend/src/data/L2253.js
  packages/code-du-travail-frontend/src/data/suppletives.js
  packages/code-du-travail-frontend/src/data/themes-ordering.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/FormulaDetails.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/IndemniteLegale.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/SalaireTempsPartiel.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/IndemniteLegale.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/SalaireTempsPartiel.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/SalaireTempsPartiel.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Indemnite.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Anciennete.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Indemnite.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/Salaires.test.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/publicodes/__tests__/context.test.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/utils/indemnite-licenciement.ts
  packages/code-du-travail-modeles/src/__test__/common/legal/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/common/legal/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/indemnite-licenciement.yaml
Due: frontend

Merge branch 'master' into feat/publicodes-licenciement
  packages/react-fiche-service-public/src/components/__tests__/Tabulator.test.js
Due: react-fiche-service-public
