Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix lint
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
Due: none

fix: tu
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/indemnite-licenciement.yaml
  yarn.lock
Due: none

feat: legal error result page
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-contract.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/legal-error-result.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/seniority-validation.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/elligibility.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/components/FauteGrave.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/components/TypeContratMessage.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/components/__tests__/FauteGrave.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/components/__tests__/TypeContratMessage.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/components/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/elligibility.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/Inelligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/index.tsx
  packages/code-du-travail-frontend/src/outils/Simulator/type.ts
  packages/code-du-travail-frontend/src/outils/Simulator/useSimulatorStore.ts
Due: frontend

feat: affichage des questions de type de contrat une à une (#4752)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-contract.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/ContratTravail/index.tsx
Due: frontend

fix: tu
  packages/code-du-travail-modeles/src/modeles/conventions/29_hospitalisation_privee_but_non_lucratif/indemnite-licenciement.yaml
Due: none

fix: ref
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/__tests__/components/modeles.json
  packages/code-du-travail-modeles/src/__test__/common/legal-references.ts
  packages/code-du-travail-modeles/src/modeles/base/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/indemnite-licenciement.yaml
Due: frontend

fix lint
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2098_personnel_presta_service_tertiaire/__tests__/indemnite-licenciement/indemnite.spec.ts
Due: none

lint
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/__tests__/indemnite-licenciement/formule.spec.ts
Due: none

add quiet
  package.json
Due: none

fix(lint): remove warnings from lint staged
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend-e2e/.eslintrc.js
  packages/code-du-travail-frontend-e2e/.eslintrc.json
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/package.json
  packages/react-ui/package.json
Due: api, frontend, react-ui

test
  packages/code-du-travail-frontend-e2e/.eslintrc.json
  packages/code-du-travail-frontend/src/search/search.service.js
Due: frontend

test
  packages/code-du-travail-frontend/src/search/search.service.js
Due: frontend

add quiet to build
  .github/workflows/quality.yml
Due: none

remove quiet from this pr
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-modeles/package.json
  packages/react-ui/package.json
Due: api, frontend, react-ui

feat(indemnite-licenciement): add seniority compute to CC 2609
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/motifs.ts
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: none

feat(indemnite-licenciement): add salary compute to CC 2609
  packages/code-du-travail-modeles/src/modeles/common/factory/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/salary.ts
Due: none

feat(indemnite-licenciement): add formules and references to CC 2609
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/salary.ts
Due: none

feat(indemnite-licenciement): ajout des plafonds
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/indemnite-licenciement.yaml
Due: none

feat(indemnite-licenciement): add variable pay question to CC 2609
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2609.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/validator.ts
Due: frontend

feat(indemnite-licenciement): ask for variable pay from UI
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2609.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2609-batiment-etam/store/validator.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/indemnite-licenciement.yaml
Due: frontend

fix(indemnite-licenciement): PR feedbacks
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2609.test.tsx
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/salary.ts
Due: frontend

fix: retours de romain
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/indemnite-licenciement.yaml
Due: none

test
  packages/code-du-travail-modeles/src/modeles/conventions/843_boulangerie_patisserie.yaml
Due: none

diff with HEAD
  .husky/pre-push
Due: none

test test
  packages/code-du-travail-modeles/src/modeles/conventions/843_boulangerie_patisserie.yaml
Due: none

feat(round explanation): add message if explanations are rounded
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/formula.utils.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/formula.ts
Due: none

move quiet flag
  packages/code-du-travail-frontend/package.json
Due: frontend

add quiet flag
  packages/code-du-travail-frontend/package.json
Due: frontend

fix tests
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/resultat-formules.test.tsx
  packages/code-du-travail-modeles/src/modeles/base/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1527_immobilier/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2511_sport/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/29_hospitalisation_privee_but_non_lucratif/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/787_comptables/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/843_boulangerie_patisserie/__tests__/indemnite-licenciement/formule.spec.ts
Due: frontend

rename test
  packages/code-du-travail-modeles/src/modeles/conventions/1351_prevention_secu_ent/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1501_restauration_rapide/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1596_batiment_ouvriers_employes/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1979_hotels_cafes_restaurants/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2264_hospitalisation_privees/__tests__/indemnite-licenciement/formula.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3043_entreprises_proprete/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/573_commerces_de_gros/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/787_comptables/__tests__/indemnite-licenciement/formule.spec.ts
Due: none

fix(indemnite-licenciement): utilisation de la formule du calcul du salaire ref de la CC
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2609.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/2609.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/seniority.ts
Due: frontend

fix: linter
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/salary.ts
Due: none

fix(formula): migrate 1597 to new formula mechanism
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/1597.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/index.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/formula.ts
  packages/code-du-travail-modeles/src/modeles/common/types/formula.ts
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/formula.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: frontend

update message
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/resultat-formules.test.tsx
  packages/code-du-travail-modeles/src/modeles/base/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/formula.utils.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/__tests__/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/common/utils/formula.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1527_immobilier/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2511_sport/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/29_hospitalisation_privee_but_non_lucratif/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/787_comptables/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/843_boulangerie_patisserie/__tests__/indemnite-licenciement/formule.spec.ts
Due: frontend

fix build
  packages/code-du-travail-modeles/src/modeles/common/factory/formula.ts
  packages/code-du-travail-modeles/src/modeles/common/types/formula.ts
Due: none

fix(indemnite-licenciement): ne pas afficher la partie variable sur le résultat pour la CC 16
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc16.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/16-transports-routiers/Informations.tsx
Due: frontend

fix: readme
  packages/code-du-travail-frontend/README.md
Due: frontend

fix(indemnite-licenciement): demander l'age à la fin de son préavis
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2609_batiment_etam/indemnite-licenciement.yaml
Due: frontend
