Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

Fix css
  packages/code-du-travail-frontend/public/static/tarteaucitron/css/tarteaucitron.css
Due: frontend

Run tarte au citron only on needed pages
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/index.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.js
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
  packages/code-du-travail-frontend/src/lib/tracking/gtag.ts
  packages/code-du-travail-frontend/src/lib/tracking/index.ts
Due: frontend

Fix privacy url
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.js
Due: frontend

Remove un-needed var
  packages/code-du-travail-frontend/src/lib/tracking/constants.ts
Due: frontend

fix: concurrency
  .DS_Store
  .github/workflows/k8s.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/review.yml
  .github/workflows/security.yml
  .github/workflows/storybook.yml
  packages/.DS_Store
Due: none

fix: concurrency (#3925)
  .DS_Store
  .github/workflows/k8s.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/review.yml
  .github/workflows/security.yml
  .github/workflows/storybook.yml
  packages/.DS_Store
Due: none

fix: release
  .DS_Store
  .github/workflows/release.yml
Due: none

fix: release git (#3926)
  .DS_Store
  .github/workflows/release.yml
Due: none

fix: secrets
  .github/workflows/release.yml
Due: none

fix: secrets (#3927)
  .github/workflows/release.yml
Due: none

Add script with document
  packages/code-du-travail-frontend/@types/gtag.d.ts
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
Due: frontend

fix: secrets (#3928)
  .github/workflows/release.yml
Due: none

chore(release): version 4.55.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(ci): publish
  .github/workflows/release.yml
Due: none

fix: secrets (#3929)
  .github/workflows/release.yml
Due: none

chore(release): version 4.55.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(ci): kosko
  .github/workflows/production.yml
Due: none

fix(ci): kosko (#3930)
  .github/workflows/production.yml
Due: none

Revert add with inline script
  packages/code-du-travail-frontend/@types/gtag.d.ts
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
Due: frontend

revert change
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
Due: frontend

fix(modeles): feedback
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/publicodes/Utils.ts
  packages/code-du-travail-modeles/src/__test__/common/extract-implemented-cc-spec.ts
  packages/code-du-travail-modeles/src/__test__/hospitalisation-privee/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/internal/ExtractSupportedCc.ts
  packages/code-du-travail-modeles/src/modeles/conventions/hospitalisation_privees.yaml
Due: frontend

Fix title on home page
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/src/common/Metas.tsx
Due: frontend

Fix type
  packages/code-du-travail-frontend/src/common/Metas.tsx
Due: frontend

fix: cc
  packages/code-du-travail-modeles/src/modeles/conventions/animation.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/sedima.yaml
Due: none

fix: timeout
  packages/code-du-travail-frontend-e2e/codecept.conf.js
Due: frontend

fix(title) : use Collapse instead of accordion on References element
  packages/code-du-travail-frontend/src/common/References/index.js
  packages/react-ui/src/Collapse/index.js
Due: frontend, react-ui

fix 1266
  packages/code-du-travail-modeles/src/modeles/conventions/restauration_collectivités.yaml
Due: none

fix(modeles): cc 1404 et cc 1518 (#3933)
  packages/code-du-travail-frontend-e2e/codecept.conf.js
  packages/code-du-travail-modeles/src/modeles/conventions/animation.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/restauration_collectivités.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/sedima.yaml
Due: frontend

fix: switch
  packages/code-du-travail-modeles/src/internal/ExtractSupportedCc.ts
Due: none

fix: ancienneté spécifique
  packages/code-du-travail-modeles/src/internal/ExtractSupportedCc.ts
  packages/code-du-travail-modeles/src/modeles/conventions/hospitalisation_privees.yaml
Due: none

fix: modif
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/index.js
  packages/code-du-travail-frontend/src/common/Metas.tsx
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
Due: frontend

fix: trigger
  .github/workflows/review.yml
Due: none

fix(ci): quality optimization
  .github/workflows/quality.yml
Due: none

fix(ci): quality optimization
  .github/workflows/review.yml
Due: none
