Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

ci: remove only master to test
  .gitlab-ci/stages/deploy.yml
Due: none

test update data package
  packages/code-du-travail-data/package.json
Due: none

chore: log data version
  packages/code-du-travail-data/indexing/populate.js
Due: none

ci: allow overriding es index prefix
  .gitlab-ci/env.sh
  packages/code-du-travail-data/indexing/populate.js
Due: none

ci: update prod index
  .gitlab-ci/env.sh
  .gitlab-ci/stages/deploy.yml
Due: none

fix(deps): update all non-major dependencies
  Dockerfile
  optional/e2e/.runners/puppeteer/package.json
  optional/e2e/.runners/puppeteer/yarn.lock
  packages/code-du-travail-api/Dockerfile
  packages/code-du-travail-data/Dockerfile
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: api, frontend

feat(front): add prime to ordonnances
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/ce-que-changent-les-ordonnances-en-droit-du-travail.js
Due: frontend

revert data package
  packages/code-du-travail-data/package.json
Due: none

fix(front): paddings
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/ce-que-changent-les-ordonnances-en-droit-du-travail.js
Due: frontend

fix(front): double id
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/ce-que-changent-les-ordonnances-en-droit-du-travail.js
Due: frontend

feat(front): add prime to ordonnances (#2660)
  packages/code-du-travail-frontend/pages/dossiers/ministere-du-travail-notre-dossier-sur-le-coronavirus/ce-que-changent-les-ordonnances-en-droit-du-travail.js
Due: frontend

chore(release): version 4.18.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/dataset/prime-precarite/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/synonyms/CHANGELOG.md
  packages/code-du-travail-data/dataset/synonyms/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

ci: add manual job to update master data (#2652)
  .gitlab-ci/env.sh
  .gitlab-ci/stages/deploy.yml
Due: none

fix(deps): update all non-major dependencies
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui

chore(deps): lock file maintenance
  optional/e2e/.runners/puppeteer/yarn.lock
  yarn.lock
Due: none

feat(data): add covid synonym
  packages/code-du-travail-data/dataset/synonyms/cdtn_synonyms.json
  packages/code-du-travail-data/dataset/synonyms/synonyms.json
Due: none

feat(data): add covid synonym (#2664)
  packages/code-du-travail-data/dataset/synonyms/cdtn_synonyms.json
  packages/code-du-travail-data/dataset/synonyms/synonyms.json
Due: none

doc: update data readme
  packages/code-du-travail-data/README.md
Due: none

fix(data): add production flag to deploy on production
  .gitlab-ci/stages/deploy.yml
Due: none

fix(data): add production flag to deploy on production (#2667)
  .gitlab-ci/stages/deploy.yml
Due: none

fix(deps): update all non-major dependencies
  optional/e2e/.runners/puppeteer/package.json
  optional/e2e/.runners/puppeteer/yarn.lock
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

feat(front): add version check in /api
  .gitlab-ci/stages/deploy.yml
  .k8s/frontend.values.yml
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/api/version.js
Due: frontend

remove useless log
  .gitlab-ci/stages/deploy.yml
Due: none

feat(front): add version check in /api (#2668)
  .gitlab-ci/stages/deploy.yml
  .k8s/frontend.values.yml
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/api/version.js
Due: frontend

fix(deps): update all non-major dependencies
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

feat(e2e): adds some tests, CI setups and so
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/e2e.yml
  .gitlab-ci/stages/manual.yml
  .gitlab-ci/stages/notify.yml
  .gitlab-ci/stages/quality.yml
  .gitlab-ci/stages/register.yml
  .gitlab-ci/stages/scan.yml
  optional/e2e/.runners/puppeteer/.gitlab-ci.yml
  optional/e2e/.runners/puppeteer/step_definitions/global.js
  optional/e2e/README.md
  optional/e2e/features/apropos.feature
  optional/e2e/features/footer.feature
  optional/e2e/features/home.feature
  optional/e2e/features/outils/indemnite-licenciement.feature
  optional/e2e/features/search-ccn.feature
  optional/e2e/features/search.feature
  optional/e2e/runners/puppeteer/.dockerignore
  optional/e2e/runners/puppeteer/.eslintrc.yml
  optional/e2e/runners/puppeteer/.gitignore
  optional/e2e/runners/puppeteer/README.md
  optional/e2e/runners/puppeteer/codecept.conf.js
  optional/e2e/runners/puppeteer/helpers/focus.js
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/step_definitions/_fr.js
  optional/e2e/runners/puppeteer/step_definitions/global.js
  optional/e2e/runners/puppeteer/steps_file.js
  optional/e2e/runners/puppeteer/tsconfig.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/code-du-travail-api/src/server/conf/cors.js
  packages/code-du-travail-api/src/server/index.js
  packages/code-du-travail-data/dataset/stats/index.js
Due: api

feat(e2e): adds some tests, CI setups and so (#2484)
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/e2e.yml
  .gitlab-ci/stages/manual.yml
  .gitlab-ci/stages/notify.yml
  .gitlab-ci/stages/quality.yml
  .gitlab-ci/stages/register.yml
  .gitlab-ci/stages/scan.yml
  optional/e2e/.runners/puppeteer/.gitlab-ci.yml
  optional/e2e/.runners/puppeteer/step_definitions/global.js
  optional/e2e/README.md
  optional/e2e/features/apropos.feature
  optional/e2e/features/footer.feature
  optional/e2e/features/home.feature
  optional/e2e/features/outils/indemnite-licenciement.feature
  optional/e2e/features/search-ccn.feature
  optional/e2e/features/search.feature
  optional/e2e/runners/puppeteer/.dockerignore
  optional/e2e/runners/puppeteer/.eslintrc.yml
  optional/e2e/runners/puppeteer/.gitignore
  optional/e2e/runners/puppeteer/README.md
  optional/e2e/runners/puppeteer/codecept.conf.js
  optional/e2e/runners/puppeteer/helpers/focus.js
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/step_definitions/_fr.js
  optional/e2e/runners/puppeteer/step_definitions/global.js
  optional/e2e/runners/puppeteer/steps_file.js
  optional/e2e/runners/puppeteer/tsconfig.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/code-du-travail-api/src/server/conf/cors.js
  packages/code-du-travail-api/src/server/index.js
  packages/code-du-travail-data/dataset/stats/index.js
Due: api

doc: review fix
  packages/code-du-travail-data/README.md
Due: none

chore(deps): update all non-major dependencies
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

chore: separate socialgouv, devDep and dep PR
  .github/renovate.json
Due: none

chore(dep): remove @socialgouv
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore: separate socialgouv, devDep and dep PR (#2672)
  .github/renovate.json
Due: none

chore(deps): update babel monorepo to ^7.9.6
  package.json
  yarn.lock
Due: none

chore(deps): update non-major devdependencies
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

doc: review update
  packages/code-du-travail-data/README.md
Due: none

doc: update data readme (#2665)
  packages/code-du-travail-data/README.md
Due: none

fix(contrib): use getRouteBySource to match slug
  packages/code-du-travail-data/indexing/breadcrumbs.js
  packages/code-du-travail-data/indexing/populate.js
Due: none

feat(front): minor changes in theme pages
  packages/code-du-travail-api/src/server/routes/themes/search.elastic.js
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
Due: api, frontend
