Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, ui-old, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      ui-old:
        target: 80%
        flags: ui-old
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  ui-old:
    paths:
      - packages/code-du-travail-ui-old
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

test(frontend):Updated test after rebase
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/annuaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/convention-collective.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Disclaimer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchBar.test.js.snap
Due: frontend

chore(release): version 3.3.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-ui-old/CHANGELOG.md
  packages/code-du-travail-ui-old/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, ui-old, react-fiche-service-public

fix(frontend): search autofocus
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
Due: frontend

fix(frontend): search autofocus (#1385)
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
Due: frontend

chore(release): add v3.3.0 changelog & version
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/preavis-demission/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-ui-old/CHANGELOG.md
  packages/code-du-travail-ui-old/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, ui-old, react-fiche-service-public

chore(deps): update dependency rollup to ^1.23.1
  packages/code-du-travail-ui-old/package.json
  packages/react-fiche-service-public/package.json
  yarn.lock
Due: ui-old, react-fiche-service-public

fix: .snyk & package.json to reduce vulnerabilities
  .snyk
  package.json
Due: none

fix(deps): update dependency next to ^9.0.8
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency @socialgouv/kali-data to v1.2.12
  packages/code-du-travail-data/package.json
  yarn.lock
Due: none

fix(polyfill): add Object.values
  packages/code-du-travail-frontend/pages/_document.js
Due: frontend

feat(search-ccn): get more results from SIRENE (#1371)
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/conventions/Search/Form.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/getQueryType.test.js
  packages/code-du-travail-frontend/src/conventions/Search/api.js
  packages/code-du-travail-frontend/src/conventions/Search/getQueryType.js
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/entreprise.service.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/entreprise.service.test.js
  packages/code-du-travail-frontend/src/conventions/entreprise.service.js
  yarn.lock
Due: frontend

fix(search-ccn): better handle idcc search
  packages/code-du-travail-frontend/src/conventions/Search/api.js
Due: frontend

fix(themes): fix themes navigation in breadcrumb
  packages/code-du-travail-frontend/src/common/ThemeBreadcrumbs.js
Due: frontend

feat(footer): add glossaire link fix #1372
  packages/code-du-travail-frontend/src/layout/Footer.js
Due: frontend

tests: update snaps
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/annuaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

chore(release): add v3.3.0 changelog & version (#1387)
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/CHANGELOG.md
  packages/code-du-travail-data/dataset/annuaire/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/preavis-demission/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-nlp/CHANGELOG.md
  packages/code-du-travail-nlp/package.json
  packages/code-du-travail-ui-old/CHANGELOG.md
  packages/code-du-travail-ui-old/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, ui-old, react-fiche-service-public

fix(polyfill): remove fetch
  packages/code-du-travail-frontend/pages/_document.js
Due: frontend

fix(themes): add isomorphic-unfetch
  packages/code-du-travail-frontend/pages/themes/index.js
Due: frontend

fix(frontend): add missing isomorphic-unfetch
  packages/code-du-travail-frontend/src/common/Feedback/feedback.service.js
  packages/code-du-travail-frontend/src/search/search.service.js
Due: frontend

feat: add glossaire in footer (#1404)
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/annuaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

fix(search-ccn): cosmetics for #1405
  packages/code-du-travail-frontend/src/conventions/Search/Form.js
Due: frontend

tests(seach-ccn): snapshots
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Modal.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Modal.test.js.snap
Due: frontend

fix(search-ccn): better handle idcc search (#1400)
  packages/code-du-travail-frontend/src/conventions/Search/api.js
Due: frontend

fix(polyfill): add Object.values for Edge (#1393)
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/themes/index.js
  packages/code-du-travail-frontend/src/common/Feedback/feedback.service.js
  packages/code-du-travail-frontend/src/search/search.service.js
Due: frontend

test(frontend): fix fetch mock
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/feedback.service.test.js
  packages/code-du-travail-frontend/src/search/__tests__/search.service.test.js
Due: frontend

fix: search convention cosmetics (#1406)
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/Form.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/Modal.test.js
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Modal.test.js.snap
Due: frontend

test(frontend): fix fetch mock (#1408)
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/feedback.service.test.js
  packages/code-du-travail-frontend/src/search/__tests__/search.service.test.js
Due: frontend

fix(CI): add ENVIRONMENT=production
  .gitlab-ci/stages/deploy.yml
Due: none

wip
  .gitignore
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-api/src/server/routes/items/relatedDocument.elastic.js
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/annuaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/convention-collective.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/pages/question/[slug].js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/Article.js
  packages/code-du-travail-frontend/src/common/__tests__/Answer.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Article.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Disclaimer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchBar.test.js.snap
Due: api, frontend

feat(frontend):Updated pages with relatedItems menu
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].js
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/src/common/Answer.js
Due: frontend

feat(api):Created getSearch method to make search request and added thhis one within items request to get related items
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-api/src/server/routes/search/getSearch.js
Due: api

Updated test
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/annuaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/convention-collective.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/AddressResults.test.js.snap
Due: api, frontend

Removed narrow to feedback block
  packages/code-du-travail-frontend/src/common/Feedback/index.js
Due: frontend

feat(frontend): Fixed PR issues
  .gitignore
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/glossary/index.js
Due: api, frontend

test(frontend): Updated snapshots
  packages/code-du-travail-frontend/__tests__/__snapshots__/annuaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
Due: frontend

Update deploy.yml
  .gitlab-ci/stages/deploy.yml
Due: none

test(frontend): Updated snapshots
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
Due: frontend

fix(CI): add ENVIRONMENT=production (#1409)
  .gitlab-ci/stages/deploy.yml
Due: none
