Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: api entreprise timeout
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/populateAgreements.ts
Due: frontend

fix: url du "Centre européen des entreprises à participation publique" sur la page droit du travail
  packages/code-du-travail-frontend/src/droit-du-travail/Hierarchy.tsx
  packages/code-du-travail-frontend/src/droit-du-travail/Origins.tsx
Due: frontend

fix test
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
Due: frontend

fix: url du "Centre européen des entreprises à participation publique" sur la page droit du travail (#5495)
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/src/droit-du-travail/Hierarchy.tsx
  packages/code-du-travail-frontend/src/droit-du-travail/Origins.tsx
Due: frontend

Updates
  project.json
Due: none

fix: remove double bug
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/populateAgreements.ts
Due: frontend

chore(release): version 4.116.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix 3239 + link
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/conventions/Search/api/agreement.service.ts
Due: frontend

fix: 3248 slug change in redirect
  packages/code-du-travail-frontend/redirects.json
Due: frontend

feedbacks from max et martial
  packages/code-du-travail-frontend/src/contributions/AlertAgreementNotSupportedNoContent.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
Due: frontend

fix test
  packages/code-du-travail-frontend/src/conventions/Search/api/__tests__/__snapshots__/agreement.service.test.js.snap
Due: frontend

fix: mise à jour du sous-titre de la page convention collective
  packages/code-du-travail-frontend/pages/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
Due: frontend

fix: affichage du nom court de la CC sur la page de résultat des outils
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
Due: frontend

fix other files
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/buildRecap.ts
Due: frontend

fix html
  packages/code-du-travail-frontend/pages/convention-collective/index.tsx
Due: frontend

fix test
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Result.test.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

fix: iso
  .kontinuous/env/preprod/values.yaml
Due: none

fix: iso
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix(performance): valeur de préprod mise en adéquation avec la prod (#5500)
  .kontinuous/env/preprod/values.yaml
Due: none

fix: iso
  packages/code-du-travail-frontend/src/common/tiles/LinkedTile.tsx
Due: frontend

fix e2e
  packages/code-du-travail-frontend/cypress/integration/conventions-collectives.spec.ts
Due: frontend

fix style search CC
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
Due: frontend

refacto
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
Due: frontend

fix tests!
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-cc-select.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/tracking.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
Due: frontend

fix tests
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/information.test.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
Due: frontend

feat: change for new PR
  README.md
Due: none

fix html
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchResult.tsx
Due: frontend

fix warning console
  packages/code-du-travail-frontend/pages/widgets/modeles-de-courriers/[id].tsx
  packages/react-ui/src/Text/index.js
  packages/react-ui/src/Titles/PageTitle/index.js
Due: frontend, react-ui

clean-up
  packages/code-du-travail-frontend/pages/widgets/modeles-de-courriers/[id].tsx
Due: frontend

fix: ajout du support de la 3248 dans POC des contributions
  packages/code-du-travail-frontend/src/contributions/ContributionGenericPoc.tsx
Due: frontend

fix: ne pas trim car on a des balises contenant un simple espace par moment
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
Due: frontend

fix tests
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.tsx.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Article.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ContactModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/react-ui/src/Titles/PageTitle/__snapshots__/test.js.snap
Due: frontend, react-ui

fix: ne pas trim car on a des balises contenant un simple espace par moment
  packages/code-du-travail-frontend/src/contributions/DisplayContentContribution.tsx
  packages/code-du-travail-frontend/src/contributions/__tests__/DisplayContentContribution.test.tsx
Due: frontend

fix: test e2e
  packages/code-du-travail-frontend/cypress/integration/conventions-collectives.spec.ts
  packages/code-du-travail-frontend/cypress/integration/home.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/trouver-sa-cc-recherche-entreprise.spec.ts
Due: frontend

feat: remove old meta link
  packages/code-du-travail-frontend/src/layout/Footer.tsx
Due: frontend
