Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

feat(indemnite-licenciement): quality testing (#4507)
  packages/code-du-travail-frontend/README.md
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/components/__tests__/PubliQuestion.test.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/AgreementInfo.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/AgreementInfo.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/DecryptResult.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FilledElements.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/ForMoreInfo.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FormulaInterpreter.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/Result.test.tsx
Due: frontend

feat(indemnite-licenciement): add cc 3043 (#4515)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula.ts
  packages/code-du-travail-modeles/src/__test__/3043-entreprise-proprete/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/3043-entreprise-proprete/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/3043-entreprise-proprete/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3043_entreprises_proprete/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3043_entreprises_proprete/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3043_entreprises_proprete/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/3043_entreprises_proprete.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/motifs.ts
  packages/code-du-travail-modeles/src/plugins/formule/1516_organismes_formation.ts
  packages/code-du-travail-modeles/src/plugins/formule/1979_hotels_cafes_restaurants.ts
  packages/code-du-travail-modeles/src/plugins/formule/2264_hospitalisation_privee.ts
  packages/code-du-travail-modeles/src/plugins/formule/3043_entreprises_proprete.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/formule/legal.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: frontend

fix: fix
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
Due: frontend

feat(indemnite-licenciement): add cc 1090 (#4517)
  packages/code-du-travail-modeles/src/__test__/1090-automobile/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1090-automobile/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/1090-automobile/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/base/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/1090_automobiles.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2511_sport.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/3043_entreprises_proprete.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/legal.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

feat(simulators): Ajout CC 1351 au simulateur d'indemnité de licencie… (#4522)
  packages/code-du-travail-modeles/src/__test__/1351-prevention-secu-ent/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1351-prevention-secu-ent/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/1351-prevention-secu-ent/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1351_prevention_secu_ent/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1351_prevention_secu_ent/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1351_prevention_secu_ent/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

feat(simulators): Ajout CC 3127 au simulateur d'indemnité de licenciement (#4523)
  packages/code-du-travail-modeles/src/__test__/3127-ent-services-personne/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/3127-ent-services-personne/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/3127-ent-services-personne/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/3127-ent-services-personne/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/formule/3127_entreprises_services_a_la_personne.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

feat(simulators): ajout du calcul de l'ancienneté pour la CC 2941
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2941_aide_accompagnement_soins_services_domicile.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/types.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/utils/__tests__/accumulate-absence-by-year.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/utils/__tests__/split-by-seniority-year.test.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/utils/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/utils/seniority.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

feat(simulators): ajout du calcul de l'ancienneté pour la CC 2941 (#4527)
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2941_aide_accompagnement_soins_services_domicile.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/types.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/utils/__tests__/accumulate-absence-by-year.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/utils/__tests__/split-by-seniority-year.test.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/utils/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/utils/seniority.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

feat(simulators): Ajout CC 2941 au simulateur d'indemnité de licenciement
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/computeSalaryPeriods.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/computeSalaryPeriods.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriod.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriod.data.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriod.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriods.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FilledElements.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/__tests__/store.test.ts
  packages/code-du-travail-modeles/src/__test__/1090-automobile/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1351-prevention-secu-ent/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1518-education-loisirs/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/2511-sport/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/3043-entreprise-proprete/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/3127-ent-services-personne/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/common/legal/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/1090_automobiles.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/1518_education_loisirs.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2511_sport.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2941_aide_accompagnement_soins_services_domicile.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/3043_entreprises_proprete.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/legal.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/motif-keys.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/motifs.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/types.ts
  packages/code-du-travail-modeles/src/plugins/formule/2941_aide_accompagnement_soins_services_domicile.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
Due: frontend

fix: divide by 12 only at the last moment
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2941_aide_accompagnement_soins_services_domicile.ts
Due: none

feat(simulators): mise à jour du calcul de l'ancienneté pour la CC 2941
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/plugins/formule/2941_aide_accompagnement_soins_services_domicile.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
Due: none

fix: cc
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula.ts
  packages/code-du-travail-modeles/src/__test__/413-handicap/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/413-handicap/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/indemnite-licenciement.yaml
  yarn.lock
Due: frontend

fix: typing issue
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/computeSalaryPeriods.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriod.data.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriods.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FilledElements.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/__tests__/store.test.ts
Due: frontend

fix: bug
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula.ts
Due: frontend

feat(simulators): Ajout CC 2941 au simulateur d'indemnité de licenciement (#4528)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/__tests__/computeSalaryPeriods.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/common/usecase/computeSalaryPeriods.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriod.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriod.data.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriod.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriods.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/__tests__/FilledElements.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/__tests__/store.test.ts
  packages/code-du-travail-modeles/src/__test__/1090-automobile/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1351-prevention-secu-ent/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1518-education-loisirs/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/2511-sport/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/2941-aide-accompagnement-soins-services-domicile/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/3043-entreprise-proprete/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/3127-ent-services-personne/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/common/legal/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/1090_automobiles.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/1518_education_loisirs.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2511_sport.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/2941_aide_accompagnement_soins_services_domicile.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/3043_entreprises_proprete.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/legal.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/motif-keys.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/motifs.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/types.ts
Due: frontend

fix: cc
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/computeReferenceSalary.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/types.ts
Due: frontend

fix(indemnite-licenciement): cc 413 (#4529)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/computeReferenceSalary.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/store/types.ts
  packages/code-du-travail-modeles/src/__test__/413-handicap/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/413-handicap/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/indemnite-licenciement.yaml
  yarn.lock
Due: frontend

fix: cc
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/Components/RadioQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/index.tsx
  packages/code-du-travail-modeles/src/__test__/1597-employes-ouvriers-bis/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/1597-employes-ouvriers-bis/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/formule/1597_batiment_employes_ouvriers_bis.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/formule/types.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: frontend

feat: add questionnary summary page info
  packages/cdtn-types/index.ts
  packages/code-du-travail-api/src/routes/items/index.ts
  packages/code-du-travail-api/src/routes/items/searchBySourceSlug.es.ts
  packages/code-du-travail-data/src/dismissal-process/questionnaire.data.json
  packages/code-du-travail-data/src/dismissal-process/types.ts
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/src/outils/DismissalProcess/index.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Questionnaire.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/QuestionnaireWrapper.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/Summary.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/index.ts
  packages/code-du-travail-frontend/src/questionnaire/__tests__/getCurrentQuestion.test.ts
  packages/code-du-travail-frontend/src/questionnaire/__tests__/mocks.ts
  packages/code-du-travail-frontend/src/questionnaire/__tests__/slugSummaryRecursive.test.ts
  packages/code-du-travail-frontend/src/questionnaire/service.ts
  packages/code-du-travail-frontend/src/questionnaire/store.ts
  packages/code-du-travail-frontend/src/questionnaire/type.ts
Due: api, frontend

chore: snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
Due: frontend

chore: clean
  packages/code-du-travail-api/src/routes/items/index.ts
  packages/code-du-travail-frontend/next.config.js
Due: api, frontend

chore: snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/src/questionnaire/__tests__/mocks.ts
  packages/code-du-travail-frontend/src/questionnaire/service.ts
Due: frontend

fix: simplify
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/1597.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/2264.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/413.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/index.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/SelectAgreement.tsx
  packages/code-du-travail-frontend/src/outils/types.ts
Due: frontend

fix: simplify
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula.ts
Due: frontend

feat(indemnite-licenciement): ajout de la cc 1597 (#4530)
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/store.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/store/types.ts
  packages/code-du-travail-frontend/src/outils/CommonSteps/Informations/store/store.ts
  packages/code-du-travail-frontend/src/outils/Components/RadioQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/1597.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/2264.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/413.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/formula/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/SelectAgreement.tsx
  packages/code-du-travail-frontend/src/outils/types.ts
  packages/code-du-travail-modeles/src/__test__/1597-employes-ouvriers-bis/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/1597-employes-ouvriers-bis/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1597_batiment_employes_ouvriers_bis/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/formule/1597_batiment_employes_ouvriers_bis.ts
  packages/code-du-travail-modeles/src/plugins/formule/index.ts
  packages/code-du-travail-modeles/src/plugins/formule/types.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: frontend

fix: simplify
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
Due: frontend

fix: preavis
  packages/code-du-travail-data/src/simulateurs/heures-recherche-emploi.data.json
  packages/code-du-travail-data/src/simulateurs/preavis-demission.data.json
Due: none

fix: naming
  packages/code-du-travail-data/src/simulateurs/heures-recherche-emploi.data.json
  packages/code-du-travail-data/src/simulateurs/preavis-demission.data.json
Due: none

refactor: review
  packages/cdtn-types/index.ts
  packages/code-du-travail-data/src/dismissal-process/questionnaire.data.json
  packages/code-du-travail-data/src/dismissal-process/types.ts
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/ShowInfo.tsx
  packages/code-du-travail-frontend/src/questionnaire/__tests__/mocks.ts
  packages/code-du-travail-frontend/src/questionnaire/service.ts
Due: frontend

chore: fix tests
  packages/code-du-travail-frontend/__tests__/information.test.tsx
  packages/code-du-travail-frontend/src/information/__tests__/injectContentInfos.test.ts
Due: frontend

Feat/info questionnaire summary (#4531)
  packages/cdtn-types/index.ts
  packages/code-du-travail-api/src/routes/items/index.ts
  packages/code-du-travail-api/src/routes/items/searchBySourceSlug.es.ts
  packages/code-du-travail-data/src/dismissal-process/questionnaire.data.json
  packages/code-du-travail-data/src/dismissal-process/types.ts
  packages/code-du-travail-frontend/__tests__/information.test.tsx
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/src/information/__tests__/injectContentInfos.test.ts
  packages/code-du-travail-frontend/src/outils/DismissalProcess/index.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/ShowInfo.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Questionnaire.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/QuestionnaireWrapper.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Summary/Summary.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/index.ts
  packages/code-du-travail-frontend/src/questionnaire/__tests__/getCurrentQuestion.test.ts
  packages/code-du-travail-frontend/src/questionnaire/__tests__/mocks.ts
  packages/code-du-travail-frontend/src/questionnaire/__tests__/slugSummaryRecursive.test.ts
  packages/code-du-travail-frontend/src/questionnaire/service.ts
  packages/code-du-travail-frontend/src/questionnaire/store.ts
  packages/code-du-travail-frontend/src/questionnaire/type.ts
Due: api, frontend

fix: anciennete
  packages/code-du-travail-modeles/src/__test__/1486-bureaux-etudes/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/1486_bureaux_etudes_techniques.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: none

fix: coquille
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
Due: frontend

feat(indemnite-licenciement): ajout de la cc 1527
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1516-organismes-formation/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/store/__tests__/store.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1527-immobilier/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.tsx
  packages/code-du-travail-modeles/src/__test__/1527-immobilier/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/__test__/1527-immobilier/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/__test__/1527-immobilier/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/__test__/1527-immobilier/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/__test__/1527-immobilier/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1527_immobilier/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1527_immobilier/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1527_immobilier/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/plugins/anciennete/1527-immobilier.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/index.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/motifs.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/utils/__tests__/split-twelve-month-rolling.test.ts
  packages/code-du-travail-modeles/src/plugins/anciennete/utils/seniority.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/1527-immobilier.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/index.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/types.ts
  packages/code-du-travail-modeles/src/plugins/types.ts
Due: frontend

fix: salair ref
  packages/code-du-travail-modeles/src/__test__/1486-bureaux-etudes/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/__test__/common/legal/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/1486_bureaux_etudes_techniques.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/index.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/legal.ts
  packages/code-du-travail-modeles/src/plugins/salaire-reference/types.ts
Due: none
