Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

chore: test
  Dockerfile
Due: none

fix: source map
  .kontinuous/env/dev/templates/www.sealed-secret.yaml
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
  Dockerfile
  packages/code-du-travail-frontend/next.config.js
Due: frontend

fix: source map
  packages/code-du-travail-frontend/pages/index.tsx
Due: frontend

fix: lint
  Dockerfile
  packages/code-du-travail-frontend/pages/index.tsx
Due: frontend

fix: github action
  .github/workflows/quality.yml
  .github/workflows/sync-gitlab.yml
Due: none

fix: pat
  .github/workflows/quality.yml
Due: none

add references
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/indemnite-licenciement.yaml
Due: none

add references
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/preavis-retraite.yaml
Due: none

feat(workflow): clean + upgrade workflow for register (#5201)
  .github/workflows/quality.yml
  .github/workflows/sync-gitlab.yml
Due: none

feat(sentry): ajout des source maps (#5200)
  .kontinuous/env/dev/templates/www.sealed-secret.yaml
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/templates/www.sealed-secret.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/templates/www.sealed-secret.yaml
  .kontinuous/env/prod/values.yaml
  Dockerfile
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/sentry.edge.config.js
Due: frontend

Updates
  project.json
Due: none

feat(workflow): add auto deploy on all branch except dependabot
  .github/workflows/review-auto.yaml
  .github/workflows/review.yaml
Due: none

feat(dep): optimize fetching of yarn dependencies (#5190)
  .dockerignore
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-fetch.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
  Dockerfile
  package.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/react-ui/src/ThemeProvider.test.js
  packages/react-ui/src/layout/Section/story.js
  yarn.lock
Due: frontend, react-ui

fix(storybook): typescript error in production environment
  packages/react-ui/vite.config.js
Due: react-ui

fix(workflow): depreciate action has been replaced
  .github/workflows/quality.yml
  packages/react-ui/package.json
  yarn.lock
Due: react-ui

Updates
  assets/config-2ef93e9c.js.map
  project.json
Due: none

fix(workflow): storybook can be deployed to github
  .github/workflows/storybook.yml
  package.json
  packages/react-ui/.storybook/preview.tsx
  packages/react-ui/package.json
  packages/react-ui/vite.config.js
  yarn.lock
Due: react-ui

fix(workflow): storybook deployment
  .github/workflows/quality.yml
  packages/react-ui/package.json
Due: react-ui

fix(dependencies): from dependabot to renovate
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/review-auto.yaml
  .github/workflows/review.yaml
Due: none

fix: on tente des trucs
  Dockerfile
Due: none

fix(simulateurs): mise en place des modifs issues d'un avenant du 6 février 2023 sur la cc 1516 (#5189)
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/preavis-retraite.yaml
  packages/code-du-travail-modeles/src/simulators/preavis-demission/preavis-demission.data.json
  packages/code-du-travail-modeles/src/simulators/preavis-licenciement/preavis-licenciement.data.json
Due: none

fix(indemnité de licenciement): mise en place des modifs issues d'un avenant du 6 février 2023 sur la cc 1516 (#5188)
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/indemnite-licenciement.yaml
Due: none

fix(dockerfile): add update and upgrade on dependencies (#5205)
  Dockerfile
Due: none

fix: add cypress
  .github/workflows/e2e.yml
  Dockerfile
Due: none

fix: add cypress
  .github/workflows/e2e.yml
Due: none

fix e2e
  .github/workflows/e2e.yml
  .github/workflows/review-auto.yaml
  .github/workflows/review.yaml
Due: none

fix e2e
  Dockerfile
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
