Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        flags: frontend
      api:
        target: 89%
        flags: api

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend

fix: update contact email
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
Due: frontend

fix(frontend): update contact email (#781)
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
Due: frontend

Update courriers.json
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
Due: none

refactor(frontend): remove deprecated source
  packages/code-du-travail-frontend/src/__tests__/__snapshots__/sources.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Categories.test.js.snap
  packages/code-du-travail-frontend/src/sources.js
Due: frontend

refactor(frontend): remove deprecated source (#785)
  packages/code-du-travail-frontend/src/__tests__/__snapshots__/sources.test.js.snap
  packages/code-du-travail-frontend/src/home/__tests__/__snapshots__/Categories.test.js.snap
  packages/code-du-travail-frontend/src/sources.js
Due: frontend

fix(frontend): show snippet answer in search page
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/search/search.elastic.js
  packages/code-du-travail-data/dataset/faq-snippets.json
  packages/code-du-travail-data/search/indexing/cdtn_documents.py
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/src/search/SearchResults.js
Due: api, frontend

fix(dataset): typo in sources (#784)
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
Due: none

fix(frontend): add missing seo / a11y attribute on site logo
  packages/code-du-travail-frontend/src/layout/Header.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
Due: frontend

fix(frontend): show snippet answer in search page (#702)
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.spec.js.snap
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/search/search.elastic.js
  packages/code-du-travail-data/dataset/faq-snippets.json
  packages/code-du-travail-data/search/indexing/cdtn_documents.py
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/src/search/SearchResults.js
Due: api, frontend

fix(data): reformat/update faq tags
  packages/code-du-travail-data/dataset/faq-contributions.json
  packages/code-du-travail-data/dataset/faq-conventions-collectives.json
  packages/code-du-travail-data/dataset/faq-snippets.json
  packages/code-du-travail-data/dataset/faq.json
Due: none

fix(api): only fetching related documents with theme
  packages/code-du-travail-api/src/server/routes/items/index.js
Due: api

feat(frontend): add meta description to page
  packages/code-du-travail-frontend/pages/about.js
  packages/code-du-travail-frontend/pages/annuaire.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/kali.js
  packages/code-du-travail-frontend/pages/outils.js
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/pages/theme.js
Due: frontend

fix(frontend): add missing seo / a11y attribute on site logo (#779)
  packages/code-du-travail-frontend/src/layout/Header.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
Due: frontend

fix(api): only fetching related documents with theme + fix faq theme data (#768)
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-data/dataset/faq-contributions.json
  packages/code-du-travail-data/dataset/faq-conventions-collectives.json
  packages/code-du-travail-data/dataset/faq-snippets.json
  packages/code-du-travail-data/dataset/faq.json
Due: api

feat(frontend): add meta description to modele-courrier
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/export-courriers.json
  packages/code-du-travail-data/search/indexing/cdtn_documents.py
  packages/code-du-travail-frontend/pages/modeles-de-courriers.js
  packages/code-du-travail-frontend/pages/modeles.js
  packages/code-du-travail-frontend/pages/question.js
Due: frontend

feat(frontend): add meta description to modele-courrier (#774)
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/export-courriers.json
  packages/code-du-travail-data/search/indexing/cdtn_documents.py
  packages/code-du-travail-frontend/pages/modeles-de-courriers.js
  packages/code-du-travail-frontend/pages/modeles.js
  packages/code-du-travail-frontend/pages/question.js
Due: frontend

feat(frontend): add meta description to page (#775)
  packages/code-du-travail-frontend/pages/about.js
  packages/code-du-travail-frontend/pages/annuaire.js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/kali.js
  packages/code-du-travail-frontend/pages/outils.js
  packages/code-du-travail-frontend/pages/recherche.js
  packages/code-du-travail-frontend/pages/theme.js
Due: frontend

feat(frontend): add formspree on simple feedback
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/Feedback/FeedbackForm.js
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/Feedback.test.js
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/feedback.service.test.js
  packages/code-du-travail-frontend/src/common/Feedback/feedback.service.js
  packages/code-du-travail-frontend/src/common/Feedback/index.js
Due: frontend

test(frontend): update feedback form tests
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/Feedback.test.js
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/FeedbackForm.test.js
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/FeedbackForm.test.js.snap
Due: frontend

refactor(frontend): make variable easier to grasp
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/Feedback/FeedbackForm.js
  packages/code-du-travail-frontend/src/common/Feedback/index.js
Due: frontend

feat(frontend): add formspree on simple feedback (#777)
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/Feedback/FeedbackForm.js
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/Feedback.test.js
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/FeedbackForm.test.js
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/FeedbackForm.test.js.snap
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/feedback.service.test.js
  packages/code-du-travail-frontend/src/common/Feedback/feedback.service.js
  packages/code-du-travail-frontend/src/common/Feedback/index.js
Due: frontend

ci: change deployment environment variable
  .gitlab-ci.yml
  .gitlab-ci/env.sh
Due: none

ci: add https
  .gitlab-ci.yml
  .gitlab-ci/env.sh
  k8s/code-du-travail-certificate/certificate-code-du-travail.yml
  k8s/code-du-travail-frontend/.deploy-code-du-travail-frontend-k8s.yml
  k8s/code-du-travail-frontend/deployment-code-du-travail-frontend-prod.yml
  k8s/code-du-travail-nlp/.deploy-code-du-travail-nlp-k8s.yml
Due: none

ci: add https to deployed prod environment (#789)
  .gitlab-ci.yml
  .gitlab-ci/env.sh
  k8s/code-du-travail-certificate/certificate-code-du-travail.yml
  k8s/code-du-travail-frontend/.deploy-code-du-travail-frontend-k8s.yml
  k8s/code-du-travail-frontend/deployment-code-du-travail-frontend-prod.yml
  k8s/code-du-travail-nlp/.deploy-code-du-travail-nlp-k8s.yml
Due: none

feat(frontend): add cdtn theme for fiche sp and mt
  packages/code-du-travail-data/search/extraction/fiches_ministere_travail/data.py
  packages/code-du-travail-data/search/indexing/cdtn_documents.py
  packages/code-du-travail-frontend/pages/fiche-ministere-travail.js
  packages/code-du-travail-frontend/pages/fiche-service-public.js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/Breadcrumbs.js
  packages/code-du-travail-frontend/src/common/__tests__/Answer.test.js
  packages/code-du-travail-frontend/src/common/__tests__/Breadcrumbs.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Breadcrumbs.test.js.snap
Due: frontend

feat(frontend): add cdtn theme for fiche sp and mt (#790)
  packages/code-du-travail-data/search/extraction/fiches_ministere_travail/data.py
  packages/code-du-travail-data/search/indexing/cdtn_documents.py
  packages/code-du-travail-frontend/pages/fiche-ministere-travail.js
  packages/code-du-travail-frontend/pages/fiche-service-public.js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/Breadcrumbs.js
  packages/code-du-travail-frontend/src/common/__tests__/Answer.test.js
  packages/code-du-travail-frontend/src/common/__tests__/Breadcrumbs.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Breadcrumbs.test.js.snap
Due: frontend

feat(api): add themes endpoint
  Dockerfile
  packages/code-du-travail-api/Dockerfile
  packages/code-du-travail-api/src/server/index.js
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/themes.spec.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/themes.spec.js
  packages/code-du-travail-api/src/server/routes/themes/index.js
  packages/code-du-travail-data/dataset/themes/index.js
  packages/code-du-travail-data/dataset/themes/package.json
  packages/code-du-travail-data/dataset/themes/themes-cdtn.csv
  packages/code-du-travail-data/dataset/themes/themes.json
Due: api

feat(ui): add toast component
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/AddressResults.test.js.snap
  packages/code-du-travail-ui/src/Toast/__snapshots__/test.js.snap
  packages/code-du-travail-ui/src/Toast/doc.md
  packages/code-du-travail-ui/src/Toast/index.js
  packages/code-du-travail-ui/src/Toast/test.js
  packages/code-du-travail-ui/src/ToggleButton/__snapshots__/test.js.snap
  packages/code-du-travail-ui/src/ToggleButton/doc.md
  packages/code-du-travail-ui/src/ToggleButton/index.js
  packages/code-du-travail-ui/src/ToggleButton/test.js
  packages/code-du-travail-ui/src/keyframes.js
Due: frontend

refactor(ui): button props
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/AddressResults.test.js.snap
  packages/code-du-travail-ui/src/ToggleButton/__snapshots__/test.js.snap
  packages/code-du-travail-ui/src/ToggleButton/doc.md
  packages/code-du-travail-ui/src/ToggleButton/index.js
  packages/code-du-travail-ui/src/ToggleButton/test.js
Due: frontend

WIP tabs
  packages/code-du-travail-css/src/components/_tabs.css
  packages/code-du-travail-css/src/styles.css
  packages/code-du-travail-ui/src/Tab/doc.md
  packages/code-du-travail-ui/src/Tab/index.js
  packages/code-du-travail-ui/src/Tabs/index.js
Due: none

feat(ui): add kind icon
  packages/code-du-travail-ui/src/ToggleButton/doc.md
  packages/code-du-travail-ui/src/ToggleButton/index.js
Due: none

feat(ui): add toast component
  packages/code-du-travail-frontend/src/layout/Footer.js
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Footer.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/HomeLayout.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/PageLayout.test.js.snap
  packages/code-du-travail-ui/src/Toast/__snapshots__/test.js.snap
  packages/code-du-travail-ui/src/Toast/doc.md
  packages/code-du-travail-ui/src/Toast/index.js
  packages/code-du-travail-ui/src/Toast/test.js
  packages/code-du-travail-ui/src/keyframes.js
Due: frontend
