Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix(merge): merge change
  packages/code-du-travail-frontend/src/outils/common/PrevNextBar.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/PrevNextBar.test.js.snap
Due: frontend

fix: snapshot(
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/PrevNextBar.test.js.snap
Due: frontend

fix: remove fix
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-modeles/package.json
Due: api

Fix component
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.js
  packages/code-du-travail-frontend/src/outils/common/ShowDetails.tsx
Due: frontend

Fix Disclaimer box
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

fix(data): linter is now effective (#3859)
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/__tests__/extractMdxContentUrl.test.js
  packages/code-du-travail-data/package.json
  packages/code-du-travail-modeles/package.json
Due: api

Lint
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/DisclaimerText.tsx
  packages/code-du-travail-frontend/src/outils/common/CCSearchInfo.tsx
Due: frontend

fix
  packages/code-du-travail-frontend/src/outils/common/Wizard.js
Due: frontend

Remove un-necessary p tags
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/WarningResult.tsx
Due: frontend

feat: add lint-staged
  package.json
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/server/server.js
  packages/code-du-travail-frontend/src/outils/ConventionCollective/common/ResultList.tsx
  packages/code-du-travail-frontend/test/mockFetch.js
  packages/code-du-travail-frontend/test/renderForm.js
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.banque.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.commerce.detail.fruits.legumes.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.commerces.detail.alimentation.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.concierge.references.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.immobilier.spec.ts
  yarn.lock
Due: frontend

Fix e2e
  packages/code-du-travail-frontend-e2e/features/dossier.feature
Due: frontend

fix: lint-js
  packages/code-du-travail-frontend/package.json
Due: frontend

fix: conflict
  packages/code-du-travail-api/package.json
Due: api

fix: remove cache
  .gitlab-ci/stages/e2e.yml
Due: none

ci: don't build with parallel
  package.json
Due: none

feat: add lint-staged (#3866)
  .gitlab-ci/stages/e2e.yml
  package.json
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/server/server.js
  packages/code-du-travail-frontend/src/outils/ConventionCollective/common/ResultList.tsx
  packages/code-du-travail-frontend/test/mockFetch.js
  packages/code-du-travail-frontend/test/renderForm.js
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.banque.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.commerce.detail.fruits.legumes.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.commerces.detail.alimentation.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.concierge.references.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.immobilier.spec.ts
  yarn.lock
Due: frontend

ci: don't build with parallel (#3867)
  package.json
Due: none

chore(release): version 4.54.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

ci: use build:npm and move to private e2e test
  .gitlab-ci/stages/manual.yml
  package.json
  packages/code-du-travail-frontend-e2e/package.json
Due: frontend

ci: use build:npm and move to private e2e test (#3869)
  .gitlab-ci/stages/manual.yml
  package.json
  packages/code-du-travail-frontend-e2e/package.json
Due: frontend

feat: status agreement
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/utils/index.ts
  packages/code-du-travail-frontend/src/outils/common/PrevNextBar.tsx
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
Due: frontend

fix: error
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
Due: frontend

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.217.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

fix: cc
  packages/code-du-travail-frontend/src/conventions/Search/ConventionLink.js
  packages/code-du-travail-frontend/src/conventions/Search/index.tsx
  packages/code-du-travail-frontend/src/lib/tracking/events/convention-collective.ts
  packages/code-du-travail-frontend/src/lib/tracking/events/index.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/utils/index.ts
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
Due: frontend

fix: cc
  package.json
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
Due: frontend

fix: error
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/DecryptedResult.tsx
  packages/code-du-travail-frontend/src/outils/common/PubliSituation.tsx
Due: frontend

fix: cc
  packages/code-du-travail-frontend/src/outils/ConventionCollective/agreement/AgreementLink.tsx
Due: frontend

fix: use ccn own api to search agreement
  packages/code-du-travail-frontend/src/outils/ConventionCollective/agreement/SearchAgreement.tsx
Due: frontend

fix
  packages/code-du-travail-frontend/src/outils/ConventionCollective/agreement/SearchAgreement.tsx
Due: frontend

Rename search-ccn.feature.txt to search-ccn.feature
  packages/code-du-travail-frontend-e2e/features/search-ccn.feature
Due: frontend

Rename search-enterprise-ccn.feature.txt to search-enterprise-ccn.feature
  packages/code-du-travail-frontend-e2e/features/search-enterprise-ccn.feature
Due: frontend

fix: test
  packages/code-du-travail-frontend-e2e/features/search-enterprise-ccn.feature
Due: frontend

fix: use ccn own api to search agreement (#3877)
  packages/code-du-travail-frontend-e2e/features/search-ccn.feature
  packages/code-du-travail-frontend-e2e/features/search-enterprise-ccn.feature
  packages/code-du-travail-frontend/src/outils/ConventionCollective/agreement/SearchAgreement.tsx
Due: frontend

fix: pipeline
  packages/code-du-travail-frontend-e2e/features/dossier.feature
Due: frontend

fix(pipeline): correction (#3878)
  packages/code-du-travail-frontend-e2e/features/dossier.feature
Due: frontend

fix: ci
  .gitlab-ci/stages/e2e.yml
Due: none

chore(release): version 4.54.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: pipeline
  .gitlab-ci/stages/e2e.yml
Due: none
