Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

remove log
  packages/code-du-travail-frontend/src/conventions/Search/index.js
Due: frontend

remove useless word
  packages/code-du-travail-frontend/src/conventions/Search/index.js
Due: frontend

:shrug:
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  yarn.lock
Due: frontend

chore(slugify): move to a dedicated packages
  Dockerfile
  packages/code-du-travail-data/dataset/courrier-type/index.js
  packages/code-du-travail-data/dataset/editorial_content/index.js
  packages/code-du-travail-data/dataset/fiches_service_public/index.js
  packages/code-du-travail-data/dataset/fiches_service_public/parseReference.js
  packages/code-du-travail-data/indexing/agreement_pages.js
  packages/code-du-travail-data/indexing/breadcrumbs.js
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-frontend/pages/glossaire/index.js
  packages/code-du-travail-frontend/scripts/generate-sitemap.js
  packages/code-du-travail-frontend/src/contributions/Contribution.js
  packages/code-du-travail-frontend/src/conventions/Search/ConventionLink.js
  packages/code-du-travail-frontend/src/conventions/Search/api/entreprise.service.js
  packages/slugify/index.js
  packages/slugify/package.json
  packages/slugify/test.js
  packages/sources/package.json
  yarn.lock
Due: frontend

fix bug and simplify tracking logic
  packages/code-du-travail-frontend/src/conventions/Search/index.js
Due: frontend

fix: add @cdt/slugify dep
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/index.js
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/package.json
Due: frontend

add repository info
  packages/slugify/package.json
  packages/sources/package.json
Due: none

chore: autofix lint
  packages/code-du-travail-api/src/server/routes/conventions/getAgreementBySlug.elastic.js
  packages/code-du-travail-api/src/server/routes/search/searchRelatedThemes.elastic.js
Due: api

feedbacks
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/visite-medicale-synthese-1.png
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/visite-medicale-synthese-2.png
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-synthese-1.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-synthese-2.md
Due: none

feat(data): add infographies (#2884)
  packages/code-du-travail-api/src/server/routes/items/searchBySourceSlug.elastic.js
  packages/code-du-travail-data/dataset/editorial_content/contents.json
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/visite-medicale-synthese-1.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/visite-medicale-synthese-1.png
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/visite-medicale-synthese-2.pdf
  packages/code-du-travail-data/dataset/editorial_content/covid/graphics/visite-medicale-synthese-2.png
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-1.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-2.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-3.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-4.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-synthese-1.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale-synthese-2.md
  packages/code-du-travail-data/dataset/editorial_content/covid/visite-medicale.md
  packages/code-du-travail-data/dataset/editorial_content/index.js
  packages/code-du-travail-frontend/pages/information/[slug].js
Due: api, frontend

Update packages/sources/package.json
  packages/sources/package.json
Due: none

Update packages/slugify/package.json
  packages/slugify/package.json
Due: none

fix lint
  packages/code-du-travail-api/src/server/routes/items/relatedItems.elastic.js
  packages/code-du-travail-api/tests/create_indexes.js
  packages/code-du-travail-api/tests/fetch_mock_data.js
Due: api

ci(gitlab): add npm auth token
  .gitlab-ci/stages/manual.yml
Due: none

feat(front): change cc search tracking (#2880)
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/index.js
  packages/react-ui/src/Tile/index.js
  yarn.lock
Due: frontend, react-ui

doc: udpate NLP_URL default and document tf-serve
  .env.sample
  .gitlab-ci/env.sh
  .gitlab-ci/stages/register.yml
  .gitlab-ci/variables.yml
  .k8s/api.values.yml
  .travis.yml
  README-dev.md
  packages/code-du-travail-data/indexing/vectorizer.js
Due: none

doc: udpate NLP_URL default and document tf-serve (#2886)
  .env.sample
  .gitlab-ci/env.sh
  .gitlab-ci/stages/register.yml
  .gitlab-ci/variables.yml
  .k8s/api.values.yml
  .travis.yml
  README-dev.md
  packages/code-du-travail-data/indexing/vectorizer.js
Due: none

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(release): version 4.26.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/CHANGELOG.md
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/stop_words/CHANGELOG.md
  packages/code-du-travail-data/dataset/stop_words/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

refactor(chore): remove artifact
  .k8s/nlp.values.yml
Due: none

fix(front): transpile slugify
  packages/code-du-travail-frontend/next.config.js
Due: frontend

fix(front): transpile slugify (#2888)
  packages/code-du-travail-frontend/next.config.js
Due: frontend

chore(data): privatize some packages before publish
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/simulateurs/package.json
Due: none

build(k8s): remove unused nlp (#2887)
  .k8s/nlp.values.yml
Due: none

chore(data): privatize some packages before publish (#2889)
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/simulateurs/package.json
Due: none

ci(gitlab): add lerna publish
  .gitlab-ci/stages/manual.yml
Due: none

ci(gitlab): add lerna publish (#2892)
  .gitlab-ci/stages/manual.yml
Due: none

chore(release): version 4.26.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/dossiers/CHANGELOG.md
  packages/code-du-travail-data/dataset/dossiers/package.json
  packages/code-du-travail-data/dataset/editorial_content/CHANGELOG.md
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/dataset/simulateurs/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui, react-fiche-service-public

chore(deps): update all dependencies
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: api, frontend, react-ui, react-fiche-service-public

chore(deps): update @socialgouv data packages
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update all dependencies
  packages/code-du-travail-data/dataset/editorial_content/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

refactor
  packages/code-du-travail-data/indexing/breadcrumbs.js
Due: none
