Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

Fix error for At Internet
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/koaServer.js
Due: frontend

fix: form and code
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Informations.tsx
  packages/code-du-travail-frontend/src/outils/common/StepDynamicPublicodes.tsx
Due: frontend

fix snap
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
Due: frontend

fix: seach cc
  .gitignore
Due: none

fix: uppercase
  packages/react-ui/src/icons/components/bicolor/SearchCc.js
Due: react-ui

Hide button if not tracked
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/pages/politique-confidentialite.tsx
Due: frontend

Fix error
  packages/code-du-travail-frontend/src/outils/common/Wizard.js
Due: frontend

fix(simulators): Add more than 5 years to result page
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Origine.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/Situation.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/constants.ts
Due: frontend

fix: svg
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/code-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-service-public.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Header.test.js.snap
  packages/code-du-travail-frontend/src/layout/__tests__/__snapshots__/Layout.test.js.snap
Due: frontend

Update logo
  packages/react-ui/src/icons/components/bicolor/CalendarTime.js
  packages/react-ui/src/icons/src/bicolor/calendar-time.svg
Due: react-ui

feat(modeles): add cc 2264 retirement (#3826)
  .gitignore
  packages/code-du-travail-frontend/.stylelintrc
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/__tests__/decryptedDescription.test.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Informations.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Origine.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/Situation.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/constants.ts
  packages/code-du-travail-frontend/src/outils/common/StepDynamicPublicodes.tsx
  packages/code-du-travail-frontend/src/outils/common/YesNoQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/type/WizardType.ts
  packages/code-du-travail-frontend/src/outils/publicodes/Utils.ts
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-modeles/src/__test__/hospitalisation-privee/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/internal/ExtractSupportedCc.ts
  packages/code-du-travail-modeles/src/modeles/conventions/handicap.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/hospitalisation_privees.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/metallurgie_ingenieurs_cadres.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/restauration_collectivites.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/transports_routiers.yaml
  yarn.lock
Due: frontend

small refacto
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/References/index.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/FormulaDetails.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/react-ui/src/Collapse/__snapshots__/test.js.snap
  packages/react-ui/src/Collapse/index.js
Due: frontend, react-ui

fix(title): use Collapse instead of accordion on References element (#3934)
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/common/References/index.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/FormulaDetails.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/react-ui/src/Collapse/__snapshots__/test.js.snap
  packages/react-ui/src/Collapse/index.js
Due: frontend, react-ui

Updates
  iframe.html
  main.665c9194.iframe.bundle.js
  main.aa7d5414.iframe.bundle.js
Due: none

fix: uppercase
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

Updates
  iframe.html
  main.1d560853.iframe.bundle.js
  main.665c9194.iframe.bundle.js
Due: none

Fix snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
Due: frontend

Wording + logo color
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Anciennete.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Introduction.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/DecryptedResult.tsx
  packages/code-du-travail-frontend/src/outils/common/Wizard.js
Due: frontend

fix: uppercase
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Origine.tsx
  packages/code-du-travail-frontend/src/outils/common/YesNoPubliQuestion.js
  packages/code-du-travail-frontend/src/outils/common/YesNoQuestion.tsx
Due: frontend

fix: snapshot(
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/AncienneteETAMIC.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Salaire.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Primes.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
Due: frontend

fix: autodevops-build
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
  .github/workflows/quality.yml
  .github/workflows/review.yml
  .github/workflows/security.yml
Due: none

fix: rever
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Origine.tsx
  packages/code-du-travail-frontend/src/outils/common/YesNoPubliQuestion.js
  packages/code-du-travail-frontend/src/outils/common/YesNoQuestion.tsx
Due: frontend

fix: rever
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/AncienneteETAMIC.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Salaire.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Primes.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
Due: frontend

ci(register): autodevops-build (#3975)
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
  .github/workflows/quality.yml
  .github/workflows/review.yml
  .github/workflows/security.yml
Due: none

fix(checkbox): revert (#3976)
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/Origine.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/AncienneteETAMIC.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Salaire.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Primes.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/YesNoPubliQuestion.js
  packages/code-du-travail-frontend/src/outils/common/YesNoQuestion.tsx
Due: frontend

fix: e2e
  packages/code-du-travail-frontend-e2e/features/footer.feature
Due: frontend

fix: footer
  packages/code-du-travail-frontend-e2e/features/footer.feature
Due: frontend

feat: tarteaucitron added (#3920)
  packages/code-du-travail-frontend-e2e/features/footer.feature
  packages/code-du-travail-frontend/@types/gtag.d.ts
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.js.snap
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/contribution/[slug].js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/pages/index.js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/index.js
  packages/code-du-travail-frontend/pages/politique-confidentialite.tsx
  packages/code-du-travail-frontend/public/static/tarteaucitron/css/tarteaucitron.css
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/lang/tarteaucitron.fr.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.js
  packages/code-du-travail-frontend/public/static/tarteaucitron/tarteaucitron.services.js
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/src/lib/index.ts
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
  packages/code-du-travail-frontend/src/lib/tracking/constants.ts
  packages/code-du-travail-frontend/src/lib/tracking/index.ts
  packages/code-du-travail-frontend/tsconfig.json
Due: frontend

chore(release): version 4.56.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: canonical
  packages/code-du-travail-frontend/pages/a-propos.js
  packages/code-du-travail-frontend/pages/accessibilite.js
  packages/code-du-travail-frontend/src/common/Metas.tsx
Due: frontend

fix: canonical
  packages/code-du-travail-frontend/src/common/Metas.tsx
Due: frontend

fix: r
  packages/code-du-travail-frontend/src/common/Metas.tsx
Due: frontend

fix(ci): use the preprod environment to generate preprod image
  .github/workflows/pre-production.yml
Due: none

fix(ci): use the preprod environment to generate preprod image (#3980)
  .github/workflows/pre-production.yml
Due: none

chore(release): version 4.56.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(tarteaucitron): load pop-up on built url (e.g. /outils/[slug])
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
Due: frontend

fix collapse
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/react-ui/src/Collapse/__snapshots__/test.js.snap
  packages/react-ui/src/Collapse/index.js
Due: frontend, react-ui

Fix snap
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/FormulaDetails.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend
