Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix: snapshot
  .github/workflows/pre-production.yml
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/FormulaDetails.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
Due: frontend

fix(tarteaucitron): load pop-up on built url (e.g. /outils/[slug]) (#3981)
  .github/workflows/pre-production.yml
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/src/common/References/__tests__/__snapshots__/ReferencesJuridiques.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0016/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/0044/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/1486/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/2120/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/ccn/3043/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/FormulaDetails.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteConventionnelle.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/react-ui/src/Collapse/__snapshots__/test.js.snap
  packages/react-ui/src/Collapse/index.js
Due: frontend, react-ui

chore(release): version 4.56.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

Updates
  iframe.html
  main.1d560853.iframe.bundle.js
  main.f165fc1b.iframe.bundle.js
Due: none

fix: snapshot
  .github/workflows/pre-production.yml
Due: none

fix(ci): tag preprod (#3982)
  .github/workflows/pre-production.yml
Due: none

chore(release): version 4.56.3
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: derniere minute
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
  .github/workflows/quality.yml
  .github/workflows/security.yml
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/src/lib/tracking/constants.ts
Due: frontend

fix: file
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/src/lib/tracking/constants.ts
Due: frontend

fix: bug(
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
Due: frontend

fix: local cache"
  .github/workflows/quality.yml
Due: none

fix: url
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/code-du-travail-frontend/src/outils/common/type/url.ts
Due: frontend

fix: tracking
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/code-du-travail-frontend/src/outils/common/type/matomo.ts
  packages/code-du-travail-frontend/src/outils/common/type/url.ts
Due: frontend

fix(citron): ajout des derniers éléments (#3983)
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
  .github/workflows/security.yml
  packages/code-du-travail-frontend/pages/_document.js
  packages/code-du-travail-frontend/pages/themes/[slug].js
  packages/code-du-travail-frontend/public/static/tarteaucitron/initTarteaucitron.js
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
  packages/code-du-travail-frontend/src/lib/tracking/constants.ts
  packages/code-du-travail-frontend/src/outils/common/Wizard.tsx
  packages/code-du-travail-frontend/src/outils/common/type/matomo.ts
Due: frontend

chore(release): version 4.56.4
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix(ci): preprod
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
Due: none

fix(ci): preprod (#3984)
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
Due: none

chore(release): version 4.56.5
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: ci
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
  .github/workflows/quality.yml
  .github/workflows/review.yml
Due: none

fix: cc
  packages/code-du-travail-modeles/src/modeles/conventions/sedima.yaml
Due: none

fix(modeles): cc 1404 (#3987)
  packages/code-du-travail-modeles/src/modeles/conventions/sedima.yaml
Due: none

ci(tags): add tags for image + local-cache (#3985)
  .github/workflows/pre-production.yml
  .github/workflows/production.yml
  .github/workflows/quality.yml
  .github/workflows/review.yml
Due: none

fix(e2e): add more time to wait
  package.json
  packages/code-du-travail-frontend-e2e/features/modeles/download.feature
Due: frontend

fix: config
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
Due: frontend

remove env variable
  .github/workflows/production.yml
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
Due: frontend

only run tarteAuCitron if in production
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/src/config-service.ts
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
Due: frontend

Try to optimize ci
  .github/workflows/review.yml
  packages/code-du-travail-frontend-e2e/package.json
Due: frontend

revert (has no effect)
  .github/workflows/review.yml
Due: none

Add missing description
  packages/code-du-travail-modeles/src/modeles/conventions/hospitalisation_privees.yaml
Due: none

Rename IS_PRODUCTION_DEPLOYMENT in NEXT_PUBLIC_IS_PRODUCTION_DEPLOYMENT
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
  packages/code-du-travail-frontend-e2e/features/modeles/download.feature
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/index.test.ts
  packages/code-du-travail-frontend/pages/api/simulateurs/index.ts
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/__tests__/routes.test.js
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/server/server.js
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
Due: frontend

feat: add test
  packages/code-du-travail-frontend-e2e/features/not-found.feature
  packages/code-du-travail-frontend-e2e/step_definitions/global.js
  packages/code-du-travail-frontend/pages/a-propos.js
  packages/code-du-travail-frontend/pages/accessibilite.js
  packages/code-du-travail-frontend/src/common/Metas.tsx
Due: frontend

fix: url
  .env.sample
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
  packages/code-du-travail-frontend/next.config.js
  packages/code-du-travail-frontend/pages/outils/index.js
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/server/server.js
  packages/code-du-travail-frontend/test/jest.setup.js
Due: frontend

fix: url
  packages/code-du-travail-frontend/pages/outils/index.js
Due: frontend

fix: env
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
Due: frontend

clean-up
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/server/server.js
  packages/code-du-travail-frontend/src/config-service.ts
Due: frontend

feat(pop-up): disable cookie consent pop-up if not on production (#3988)
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/www.configmap.yaml
  .k8s/environments/preprod/www.configmap.yaml
  .k8s/environments/prod/www.configmap.yaml
  package.json
  packages/code-du-travail-frontend-e2e/features/modeles/download.feature
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/pages/api/simulateurs/__tests__/index.test.ts
  packages/code-du-travail-frontend/pages/api/simulateurs/index.ts
  packages/code-du-travail-frontend/server/__tests__/__snapshots__/routes.test.js.snap
  packages/code-du-travail-frontend/server/__tests__/routes.test.js
  packages/code-du-travail-frontend/server/koaServer.js
  packages/code-du-travail-frontend/server/server.js
  packages/code-du-travail-frontend/src/lib/tracking/EventTracker.tsx
Due: frontend

chore(release): version 4.57.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/package.json
  packages/code-du-travail-data/prime-precarite/CHANGELOG.md
  packages/code-du-travail-data/prime-precarite/package.json
  packages/code-du-travail-data/simulateurs/CHANGELOG.md
  packages/code-du-travail-data/simulateurs/package.json
  packages/code-du-travail-data/tools/CHANGELOG.md
  packages/code-du-travail-data/tools/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
  packages/slugify/CHANGELOG.md
  packages/slugify/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: api, frontend, react-ui, react-fiche-service-public

fix: packages/code-du-travail-frontend/package.json to reduce vulnerabilities
  packages/code-du-travail-frontend/package.json
Due: frontend

feat: canon
  packages/code-du-travail-frontend-e2e/codecept.conf.js
  packages/code-du-travail-frontend-e2e/features/home.feature
  packages/code-du-travail-frontend-e2e/features/not-found.feature
  packages/code-du-travail-frontend-e2e/helpers/status.js
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend-e2e/step_definitions/global.js
  packages/code-du-travail-frontend/src/common/Metas.tsx
Due: frontend

fix: status
  packages/code-du-travail-frontend-e2e/helpers/status.js
  packages/code-du-travail-frontend-e2e/step_definitions/global.js
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
