Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

bump kali and datafiller version
  yarn.lock
Due: none

include review comments
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/indexing/__tests__/cdtnIds.test.js
  packages/code-du-travail-data/indexing/cdtnIds.js
Due: none

update yarn lock
  yarn.lock
Due: none

feat(data): add unique cdtnId field to contents #2816
  packages/code-du-travail-api/src/server/routes/idcc/idcc.elastic.js
  packages/code-du-travail-api/src/server/routes/items/relatedItems.elastic.js
  packages/code-du-travail-api/src/server/routes/items/searchBySourceSlug.elastic.js
  packages/code-du-travail-api/src/server/routes/modeles/searchModele.elastic.js
  packages/code-du-travail-api/src/server/routes/search/getDocumentByUrlQuery.js
  packages/code-du-travail-api/src/server/routes/search/search.elastic.js
  packages/code-du-travail-api/src/server/routes/search/search.sem.js
  packages/code-du-travail-api/src/server/routes/search/searchRelatedArticles.elastic.js
  packages/code-du-travail-api/src/server/routes/search/searchRelatedThemes.elastic.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/search.elastic.js
  packages/code-du-travail-api/tests/create_indexes.js
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/index.js
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-data/dataset/editorial_content/contents.json
  packages/code-du-travail-data/dataset/editorial_content/index.js
  packages/code-du-travail-data/dataset/tools/externals.json
  packages/code-du-travail-data/dataset/tools/internals.json
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/generateIds.js
  packages/code-du-travail-data/indexing/__tests__/cdtnIds.test.js
  packages/code-du-travail-data/indexing/__tests__/esClientUtil.test.js
  packages/code-du-travail-data/indexing/__tests__/suggestion.test.js
  packages/code-du-travail-data/indexing/agreementPages.js
  packages/code-du-travail-data/indexing/breadcrumbs.js
  packages/code-du-travail-data/indexing/cdtnIds.js
  packages/code-du-travail-data/indexing/document.mapping.js
  packages/code-du-travail-data/indexing/esClientUtils.js
  packages/code-du-travail-data/indexing/fichesTravailSplitter.js
  packages/code-du-travail-data/indexing/index.js
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-data/indexing/slugChecker.js
  packages/code-du-travail-data/indexing/suggestion.js
  packages/code-du-travail-data/package.json
  yarn.lock
Due: api

ci: move build args to base image
  .gitlab-ci/stages/register.yml
Due: none

add ARG in dockerfile
  packages/code-du-travail-data/Dockerfile
Due: none

set ES Logs variables in Dockerfile
  packages/code-du-travail-data/Dockerfile
Due: none

update snapshot
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
Due: api

i'm gonna fix you
  .travis.yml
  packages/code-du-travail-data/indexing/monolog.js
Due: none

working version
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-api/src/server/routes/items/searchBySourceSlug.elastic.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/index.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/search.elastic.js
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/error.log
  packages/code-du-travail-data/ids.js
  packages/code-du-travail-data/ids.json
  packages/code-du-travail-data/indexing/document.mapping.js
  packages/code-du-travail-data/indexing/idList.js
  packages/code-du-travail-data/indexing/monolog.js
  packages/code-du-travail-data/package.json
Due: api

fix travis
  .travis.yml
Due: none

chore
  .gitlab-ci/stages/register.yml
  packages/code-du-travail-api/src/server/utils/fetchWithTimeout.js
  packages/code-du-travail-data/indexing/monolog.js
Due: api

log error
  packages/code-du-travail-data/indexing/monolog.js
Due: none

test variables
  packages/code-du-travail-data/indexing/monolog.js
Due: none

ci: pass monolog ENV to docker
  .gitlab-ci/stages/register.yml
Due: none

log if missing ES_LOG env variable
  packages/code-du-travail-data/indexing/monolog.js
Due: none

whoops
  .gitlab-ci/stages/register.yml
Due: none

move build arg to base image
  Dockerfile
  packages/code-du-travail-data/Dockerfile
Due: none

solve 400 / better error management / only show covisits as related
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-data/indexing/monolog.js
  packages/code-du-travail-data/indexing/vectorizer.js
Due: api

cosmetics
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
Due: api

update snapshot
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/sheets-mt.test.js.snap
Due: api

logs
  packages/code-du-travail-data/indexing/monolog.js
Due: none

cosmetics
  packages/code-du-travail-data/indexing/vectorizer.js
Due: none

show 6 linked content for example
  packages/code-du-travail-frontend/src/common/RelatedItems.js
Due: frontend

log
  packages/code-du-travail-data/indexing/monolog.js
Due: none

log recommandation type : covisits / search for A/B testing
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-frontend/src/common/RelatedItems.js
Due: api, frontend

merge
  packages/code-du-travail-frontend/src/common/RelatedItems.js
Due: frontend

whoops
  packages/code-du-travail-data/ids.js
  packages/code-du-travail-data/ids.json
  packages/code-du-travail-data/indexing/idList.js
Due: none

linter mon amour
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/RelatedItems.test.js
Due: frontend

update dependency
  packages/code-du-travail-data/indexing/monolog.js
Due: none

fix tests
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/search.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/RelatedItems.test.js
Due: api, frontend

fix problem, as usual
  packages/code-du-travail-data/indexing/document.mapping.js
  packages/code-du-travail-data/indexing/monolog.js
Due: none

add A/B testing
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
Due: api

add a/b 60%
  .travis.yml
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
Due: api

add test
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/index.js
  packages/code-du-travail-data/indexing/__tests__/__snapshots__/covisites.test.js.snap
  packages/code-du-travail-data/indexing/__tests__/covisites.test.js
  packages/code-du-travail-data/indexing/monolog.js
  packages/code-du-travail-data/indexing/vectorizer.js
Due: api

update snapshot
  packages/code-du-travail-data/indexing/__tests__/__snapshots__/covisites.test.js.snap
Due: none

Apply suggestions from code review
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/index.js
Due: api

refactoring
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-data/indexing/monolog.js
Due: api

wip
  packages/code-du-travail-data/dump.js
  packages/code-du-travail-data/indexing/monolog.js
Due: none
