Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

Updates
  project.json
Due: none

fix(e2e): correction des test e2e avec les données entreprises mise à jour
  packages/code-du-travail-frontend/cypress/integration/outils/preavis-retraite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/trouver-sa-cc-recherche-entreprise.spec.ts
Due: frontend

fix test
  packages/code-du-travail-frontend/cypress/integration/outils/trouver-sa-cc-recherche-entreprise.spec.ts
Due: frontend

Revert "feat: ajout de la 3248 au préavis de démission"
  packages/code-du-travail-modeles/src/simulators/preavis-demission/preavis-demission.data.json
Due: none

feat: 5412 cc 3248 méta intégrer les nouvelles règles dans le préavis de retraite (#5421)
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/preavis-retraite/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/common.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/preavis-retraite.yaml
Due: none

chore: snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

fix: remove bold from tooltips
  packages/react-ui/src/DisclosureIcon/index.js
Due: react-ui

feat: ajout de la 3248 au préavis de démission
  packages/code-du-travail-modeles/src/simulators/preavis-demission/preavis-demission.data.json
Due: none

feat: implementation indemnité précarité (#5423)
  packages/code-du-travail-modeles/src/simulators/prime-precarite/precarite.data.json
Due: none

refactor: common updates
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/getSituations.ts
  packages/code-du-travail-frontend/src/outils/common/__tests__/situations.utils.test.js
  packages/code-du-travail-frontend/src/outils/common/situations.utils.tsx
Due: frontend

chore: snap
  packages/react-ui/src/DisclosureIcon/__snapshots__/test.js.snap
Due: react-ui

feat: implementation 32428
  packages/code-du-travail-modeles/src/simulators/preavis-licenciement/preavis-licenciement.data.json
Due: none

feat: implementation 3248 pour recherche emploi (#5420)
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result/utils/types.ts
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.tsx
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/stepStyles.ts
  packages/code-du-travail-modeles/src/simulators/heure-recherche-emploi/heures-recherche-emploi.data.json
  packages/code-du-travail-modeles/src/simulators/types.ts
Due: frontend

chore: ajout du mock
  packages/code-du-travail-frontend/src/conventions/Search/api/agreements.service.ts
Due: frontend

feat: 5409 cc 3248 méta intégrer les nouvelles règles dans le préavis de licenciement (#5418)
  packages/code-du-travail-modeles/src/simulators/preavis-licenciement/preavis-licenciement.data.json
Due: none

feat: ajout de la 3248 au préavis de démission (#5415)
  packages/code-du-travail-modeles/src/simulators/preavis-demission/preavis-demission.data.json
Due: none

feat(indemnite-licenciement): correction des tests
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/indemnite-licenciement.yaml
Due: none

feat(indemnite-licenciement): cohabitation de la 650 et la 3248
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/650.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/index.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/__tests__/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/seniority.ts
  packages/code-du-travail-modeles/src/publicodes/PublicodesBase.ts
Due: frontend

feat(indemnite-licenciement): correction des questions
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/indemnite-licenciement.yaml
Due: none

feat(indemnite-licenciement): ajout de la notification si la date de notification est avant le 01/01/2024
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/seniority.ts
Due: none

feat(indemnite-licenciement): ajout d'infos complémentaires pour calculer l'ancienneté requise
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/eligibility.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1090_automobiles/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1486_bureaux_etudes_techniques/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1527_immobilier/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1606_bricolage/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1672_societes_assurances/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/16_transports_routiers/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/176_industrie_pharmaceutique/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1996_pharmacie/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2216_commerces_detail_alimentation/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2941_aide_accompagnement_soins_services_domicile/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3239_particuliers_employeurs_domicile/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/413_handicap/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/44_industries_chimiques/seniority.ts
Due: frontend

feat(indemnite-licenciement): ajout de la CC 3248
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc3248.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/3248.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/index.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/common/types/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
  packages/code-du-travail-modeles/src/publicodes/PublicodesBase.ts
Due: frontend

feat(indemnite-licenciement): afficher la 650 dans la recherche
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/AgreementSearch.tsx
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
Due: frontend

feat(indemnite-licenciement): correction suite au retour de Romain
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/seniority/650.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
Due: frontend

fix: mauvaise notification sur la 650
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/publicodes/PublicodesBase.ts
Due: none

fix: retours de romain
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc3248.test.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/missing-args.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/650_metallurgie_ingenieurs_cadres/seniority.ts
Due: frontend

fix: mauvais calcul de l'ancienneté pour la catégorie ABCDE
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3248_metallurgie/seniority.ts
Due: none

fix(e2e): correction des test e2e avec les données entreprises mise à jour (#5466)
  packages/code-du-travail-frontend/cypress/integration/outils/preavis-retraite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/trouver-sa-cc-recherche-entreprise.spec.ts
Due: frontend

feat: linked admin to frontend
  .kontinuous/env/dev/values.yaml
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

fix: use the short version of the branch name
  .kontinuous/env/dev/values.yaml
Due: none

feat: utilise l'index seulement si la branche démarre par linked
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

fix: merge
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

feat: remplacer CC meta dans recherche entreprise
  packages/code-du-travail-frontend/src/api/__tests__/enterprise.test.ts
  packages/code-du-travail-frontend/src/api/config.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/fetchAgreements.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/populateAgreements.ts
Due: frontend

chore(release): version 4.115.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: index
  packages/code-du-travail-frontend/src/api/utils/elasticsearch.ts
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
