Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

:recycle: extract disclaimer component
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/Disclaimer.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
Due: frontend

rename
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
Due: frontend

better export
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/Disclaimer.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
Due: frontend

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.204.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feat(simulators): implement the agreement boulangerie patisserie
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.boulangerie.patisserie.entreprise.artisanales.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/boulangerie_patisserie.yaml
Due: none

feat(modeles): add idcc0843
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.boulangerie.patisserie.entreprise.artisanales.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.boulangerie.patisserie.references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/boulangerie_patisserie.yaml
Due: none

feat: add new CC Automobiles with @maxgfr
  packages/code-du-travail-modeles/src/__test__/depart.retraite.automobile.references.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.retraite.automobile.spec.ts
  packages/code-du-travail-modeles/src/__test__/mise.retraite.automobile.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/automobiles.yaml
Due: none

fix: update articles titles for references
  packages/code-du-travail-modeles/src/__test__/depart.retraite.automobile.references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/automobiles.yaml
Due: none

Fix retour de Romain
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/Result.js
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/SansIndemniteLicenciement.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/IndemniteLegale.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/__tests__/__snapshots__/IndemniteLegale.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/Indemnite.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/math.js
Due: frontend

fix(config): pretest warning
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/server/conf/elasticsearch.js
  packages/code-du-travail-api/src/server/index.js
  packages/code-du-travail-api/src/server/routes/conventions/index.js
  packages/code-du-travail-api/src/server/routes/docs-count/index.js
  packages/code-du-travail-api/src/server/routes/dossiers/index.js
  packages/code-du-travail-api/src/server/routes/glossary/index.js
  packages/code-du-travail-api/src/server/routes/highlights/index.js
  packages/code-du-travail-api/src/server/routes/idcc/index.js
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/src/server/routes/items/index.js
  packages/code-du-travail-api/src/server/routes/modeles/index.js
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/src/server/routes/search/searchPrequalifiedResults.js
  packages/code-du-travail-api/src/server/routes/sheets-mt/index.js
  packages/code-du-travail-api/src/server/routes/stats/index.js
  packages/code-du-travail-api/src/server/routes/suggest/index.js
  packages/code-du-travail-api/src/server/routes/themes/index.js
  packages/code-du-travail-api/src/server/routes/version/index.js
  yarn.lock
Due: api

fix(ignore): gnore
  .gitignore
Due: none

fix: build
  packages/code-du-travail-api/.gitignore
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/tests/cdtn_document.data.json
  packages/code-du-travail-api/src/tests/create_indexes.js
  packages/code-du-travail-api/src/tests/fetch_mock_data.js
  packages/code-du-travail-api/src/tests/process.env.mock.js
  packages/code-du-travail-api/src/tests/suggestions_data.json
  packages/code-du-travail-api/src/tests/versions.json
  packages/code-du-travail-api/testsbuild/cdtn_document.data.json
  packages/code-du-travail-api/testsbuild/create_indexes.js
  packages/code-du-travail-api/testsbuild/fetch_mock_data.js
  packages/code-du-travail-api/testsbuild/process.env.mock.js
  packages/code-du-travail-api/testsbuild/suggestions_data.json
  packages/code-du-travail-api/testsbuild/versions.json
Due: api

fix: build
  packages/code-du-travail-api/package.json
Due: api

fix: pkg.json
  packages/code-du-travail-api/testsbuild/cdtn_document.data.json
  packages/code-du-travail-api/testsbuild/create_indexes.js
  packages/code-du-travail-api/testsbuild/fetch_mock_data.js
  packages/code-du-travail-api/testsbuild/process.env.mock.js
  packages/code-du-travail-api/testsbuild/suggestions_data.json
  packages/code-du-travail-api/testsbuild/versions.json
  packages/code-du-travail-api/tsconfig.json
Due: api

clean-up un-necessary conditions
  packages/code-du-travail-modeles/src/modeles/conventions/cabinets_medicaux.yaml
Due: none

remove 's' to jour unit (as it is now handle in front-end code)
  packages/code-du-travail-modeles/src/__test__/depart.retraite.restauration.collectivités.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/restauration_collectivités.yaml
Due: none

remove un-necessary notif
  packages/code-du-travail-modeles/src/__test__/depart.retraite.restauration.collectivités.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/restauration_collectivités.yaml
Due: none

fix: test
  packages/code-du-travail-api/package.json
Due: api

fix: vscode
  .gitignore
Due: none

fix: archi
  packages/code-du-travail-api/.babelrc
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/conf/elasticsearch.js
  packages/code-du-travail-api/src/routes/__tests__/v1.prefix.test.js
  packages/code-du-travail-api/src/routes/__tests__/version.test.js
  packages/code-du-travail-api/src/routes/conventions/index.js
  packages/code-du-travail-api/src/routes/docs-count/index.js
  packages/code-du-travail-api/src/routes/dossiers/index.js
  packages/code-du-travail-api/src/routes/glossary/index.js
  packages/code-du-travail-api/src/routes/highlights/index.js
  packages/code-du-travail-api/src/routes/idcc/index.js
  packages/code-du-travail-api/src/routes/items/index.js
  packages/code-du-travail-api/src/routes/modeles/index.js
  packages/code-du-travail-api/src/routes/search/index.js
  packages/code-du-travail-api/src/routes/sheets-mt/index.js
  packages/code-du-travail-api/src/routes/stats/index.js
  packages/code-du-travail-api/src/routes/suggest/index.js
  packages/code-du-travail-api/src/routes/themes/index.js
  packages/code-du-travail-api/src/routes/v1.prefix.js
  packages/code-du-travail-api/src/routes/version/index.js
  packages/code-du-travail-api/src/tests/cdtn_document.data.json
  packages/code-du-travail-api/src/tests/create_indexes.js
  packages/code-du-travail-api/src/tests/fetch_mock_data.js
  yarn.lock
Due: api

fix: v1
  packages/code-du-travail-api/.babelrc
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/index.js
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/suggest.spec.js.snap
  packages/code-du-travail-api/src/routes/v1.prefix.js
  packages/code-du-travail-api/src/routes/version/index.js
  packages/code-du-travail-api/tsconfig.json
  yarn.lock
Due: api

fix: glossary
  packages/code-du-travail-api/src/routes/glossary/index.js
Due: api

fix(deps): update dependency @socialgouv/fiches-travail-data to ^4.205.0
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

Rewrite namespaces in right way
  packages/code-du-travail-modeles/src/__test__/depart.retraite.restauration.collectivités.references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/restauration_collectivités.yaml
Due: none

Rewrite namespaces in right way + feedback from noemie
  packages/code-du-travail-modeles/src/__test__/depart.retraite.cabinets.medicaux.references.spec.ts
  packages/code-du-travail-modeles/src/__test__/depart.retraite.cabinets.medicaux.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/cabinets_medicaux.yaml
Due: none

Rewrite namespaces in right way + feedback from noemie
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.batiment.etam.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/batiment_etam.yaml
Due: none

Add test coverage
  packages/code-du-travail-modeles/src/__test__/depart.retraite.comptables.spec.ts
Due: none

More readable
  packages/code-du-travail-modeles/src/__test__/depart.retraite.comptables.spec.ts
Due: none

fix(api): ENFIIIIIIIIIIIIIIIIN
  packages/code-du-travail-api/.babelrc
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/docs-count.test.js.snap
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/suggest.spec.js.snap
  packages/code-du-travail-api/src/routes/__tests__/__snapshots__/version.test.js.snap
  packages/code-du-travail-api/tsconfig.json
  yarn.lock
Due: api

fix(build): api
  packages/code-du-travail-api/package.json
  yarn.lock
Due: api

fix(build): pkg.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/index.js
  yarn.lock
Due: api

Better namespace organisation on automobile CC model
  packages/code-du-travail-modeles/src/__test__/depart.retraite.automobile.spec.ts
  packages/code-du-travail-modeles/src/__test__/mise.retraite.automobile.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/automobiles.yaml
Due: none

Rewrite rules with right namespace convention
  packages/code-du-travail-modeles/src/__test__/depart.retraite.automobile.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/automobiles.yaml
Due: none

Add more cases
  packages/code-du-travail-modeles/src/__test__/depart.retraite.automobile.spec.ts
  packages/code-du-travail-modeles/src/__test__/mise.retraite.automobile.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/automobiles.yaml
Due: none

fix(api): ncc
  packages/code-du-travail-api/package.json
Due: api

Fix boulangerie
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.boulangerie.patisserie.entreprise.artisanales.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/boulangerie_patisserie.yaml
Due: none

Remove semaine everywhere (use jour instead)
  packages/code-du-travail-modeles/src/__test__/depart.mise.retraite.boulangerie.patisserie.entreprise.artisanales.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/boulangerie_patisserie.yaml
Due: none
