Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

poc(contribs): add new layout on contributions pages
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSelection.tsx
Due: frontend

ajout de la section "pour aller plus loin" sur la page généric
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
Due: frontend

fix error nextjs in prod mode
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/index.tsx
Due: frontend

do not show extra question if licenciement disciplinaire
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/store/validator.ts
Due: frontend

show glossary in alphabetic order
  packages/code-du-travail-frontend/pages/glossaire/index.tsx
Due: frontend

use localCompare
  packages/code-du-travail-frontend/pages/glossaire/index.tsx
Due: frontend

fix(sentry): lower events rate to reduce production logs
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/sentry.edge.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
Due: frontend

remove sentry replay
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

remove type
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
Due: frontend

fix(sentry): lower events rate to reduce production logs (#5374)
  packages/code-du-travail-frontend/sentry.client.config.js
  packages/code-du-travail-frontend/sentry.edge.config.js
  packages/code-du-travail-frontend/sentry.server.config.js
  packages/code-du-travail-frontend/src/data/services-de-renseignement.json
Due: frontend

fix(2120): prise ne compte de la part variable du salaire dans le calcul du SRef (#5371)
  packages/code-du-travail-frontend/pages/glossaire/index.tsx
  packages/code-du-travail-frontend/src/outils/Components/TextQuestion.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2120-banques/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/2120.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/validator.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/__tests__/indemnite-licenciement/notification.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/2120_banque/salary.ts
Due: frontend

Updates
  project.json
Due: none

chore(release): version 4.108.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

feat(2120): activation de la CC 2120 pour l'indemnité de licenciement
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
Due: none

feat(2120): activation de la CC 2120 pour l'indemnité de licenciement (#5376)
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
Due: none

retours Romain
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionGeneric.tsx
  packages/react-ui/src/Text/index.js
Due: frontend, react-ui

fix(accessibility): remove b and i tags
  packages/code-du-travail-frontend/src/contributions/Contribution.tsx
  packages/code-du-travail-frontend/src/contributions/ContributionCC.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/Components/PreavisRetraiteSimulator/steps.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/ResultStep/Components/DecryptedResult.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisRetraite/steps/component/IntroAnnotation.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/ForMoreInfo.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireItem.tsx
  packages/code-du-travail-frontend/src/outils/common/Feedback/QuestionnaireText.tsx
  packages/code-du-travail-frontend/src/outils/common/PubliSituation.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/react-ui/src/Text/index.js
Due: frontend, react-ui

fix ts
  packages/code-du-travail-frontend/src/contributions/__tests__/ContributionGeneric.test.tsx
Due: frontend

fix tests
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.tsx.snap
  packages/code-du-travail-frontend/src/common/Feedback/__tests__/__snapshots__/Feedback.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Article.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.tsx.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/HeuresRechercheEmploi/steps/__tests__/__snapshots__/Result.test.tsx.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeContrat.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/TypeRemuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CDD.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/CTT.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Indemnite.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/InfosGenerales.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/SelectQuestion.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/YesNoQuestion.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
  packages/react-ui/src/Tag/__snapshots__/test.js.snap
  packages/react-ui/src/Text/__snapshots__/test.js.snap
Due: frontend, react-ui

chore(release): version 4.109.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

revert
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
Due: frontend

feat: ajout des conventions collectives sans page legifrance
  packages/code-du-travail-frontend/src/api/modules/enterprises/queries.ts
  packages/code-du-travail-frontend/src/api/modules/idcc/queries.ts
  packages/code-du-travail-frontend/src/outils/ConventionCollective/index.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSelection.tsx
Due: frontend

feat: desactivation de la tuile
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSelection.tsx
  packages/react-ui/src/Badge/__snapshots__/test.js.snap
  packages/react-ui/src/Badge/index.tsx
  packages/react-ui/src/Badge/test.js
  packages/react-ui/src/Stripe/index.tsx
  packages/react-ui/src/Tile/__snapshots__/test.js.snap
  packages/react-ui/src/Tile/index.tsx
  packages/react-ui/src/Tile/story.js
  packages/react-ui/src/Tile/test.js
  packages/react-ui/src/Titles/Heading/story.js
  packages/react-ui/src/layout/Section/index.tsx
  packages/react-ui/src/layout/Section/test.js
Due: frontend, react-ui

fix: react-ui
  packages/react-ui/src/layout/Section/story.js
Due: react-ui

feat: update snapshots
  packages/code-du-travail-frontend/src/api/__tests__/__snapshots__/items.test.ts.snap
  packages/code-du-travail-frontend/src/api/__tests__/__snapshots__/search.test.ts.snap
  packages/code-du-travail-frontend/src/api/__tests__/stats.test.ts
  packages/code-du-travail-frontend/src/api/modules/idcc/__tests__/__snapshots__/service.test.ts.snap
  packages/code-du-travail-frontend/src/api/modules/search/__tests__/__snapshots__/service.test.ts.snap
Due: frontend

feat: desactivation de la tuile
  packages/code-du-travail-frontend/src/api/__tests__/enterprise.test.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/controller.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/queries.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/fetchEnterprises.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/index.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/populateAgreements.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/types.ts
  packages/code-du-travail-frontend/src/api/types.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/enterprises.service.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/AgreementTile.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/EnterpriseSearch.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/__tests__/pushAgreementEvents.test.tsx
Due: frontend

feat: add unit test for unpublished IDCC
  packages/code-du-travail-frontend/scripts/data/documents_data.json
  packages/code-du-travail-frontend/src/api/__tests__/__snapshots__/idcc.test.ts.snap
  packages/code-du-travail-frontend/src/api/__tests__/idcc.test.ts
Due: frontend

fix: react-ui
  packages/react-ui/src/Tile/story.js
Due: react-ui

fix: update snapshot
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.tsx.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/AccessibilityModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ContactModal.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/common/tiles/__tests__/__snapshots__/Custom.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.tsx.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/fiche-service-public/__tests__/__snapshots__/FicheServicePublic.test.js.snap
  packages/code-du-travail-frontend/src/fiche-service-public/components/__tests__/__snapshots__/ServiceEnLigne.test.js.snap
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: frontend

fix: react-ui
  packages/react-ui/src/ArrowLink/story.js
  packages/react-ui/src/Badge/story.js
  packages/react-ui/src/BurgerNav/story.js
  packages/react-ui/src/Button/story.js
  packages/react-ui/src/CodeSnippet/story.js
  packages/react-ui/src/Collapse/story.js
  packages/react-ui/src/Dropdown/story.js
  packages/react-ui/src/Grid/story.js
  packages/react-ui/src/IconStripe/story.js
  packages/react-ui/src/Modal/story.js
  packages/react-ui/src/MoreContent/story.js
  packages/react-ui/src/OverflowWrapper/story.js
  packages/react-ui/src/Progress/story.js
  packages/react-ui/src/Stripe/story.js
  packages/react-ui/src/Table/story.js
  packages/react-ui/src/TableOfContent/story.js
  packages/react-ui/src/Tag/story.js
  packages/react-ui/src/Text/story.js
  packages/react-ui/src/Tile/story.js
  packages/react-ui/src/Titles/InsertTitle/story.js
  packages/react-ui/src/Titles/PageTitle/story.js
  packages/react-ui/src/Titles/Subtitle/story.js
  packages/react-ui/src/Titles/Title/story.js
  packages/react-ui/src/Toast/story.js
  packages/react-ui/src/ViewMore/story.js
  packages/react-ui/src/field/story.js
  packages/react-ui/src/icons/story.js
Due: react-ui

fix: react-ui
  packages/react-ui/src/layout/Container/story.js
  packages/react-ui/src/layout/Wrapper/story.js
  packages/react-ui/src/layout/story.js
Due: react-ui

feat: remove useless console log
  packages/code-du-travail-frontend/pages/api/themes/index.ts
  packages/code-du-travail-frontend/scripts/data/documents_data.json
  packages/code-du-travail-frontend/src/api/__tests__/themes.test.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/populateAgreements.ts
  packages/code-du-travail-frontend/src/api/modules/themes/controller.ts
  packages/code-du-travail-frontend/src/api/modules/themes/service.ts
Due: frontend

fix: react-ui
  packages/react-ui/src/Accordion/story.js
  packages/react-ui/src/Alert/story.js
  packages/react-ui/src/Stripe/__snapshots__/test.js.snap
  packages/react-ui/src/Titles/PageTitle/__snapshots__/test.js.snap
Due: react-ui

feat: use contributions flag in place of answers
  packages/code-du-travail-frontend/pages/api/themes/index.ts
  packages/code-du-travail-frontend/scripts/data/documents_data.json
  packages/code-du-travail-frontend/src/api/__tests__/enterprise.test.ts
  packages/code-du-travail-frontend/src/api/__tests__/themes.test.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/queries.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service/populateAgreements.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/types.ts
  packages/code-du-travail-frontend/src/api/modules/themes/controller.ts
  packages/code-du-travail-frontend/src/api/modules/themes/service.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/AgreementTile.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/EnterpriseSearch.test.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/tracking/__tests__/pushAgreementEvents.test.tsx
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
