Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

update.json
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
Due: none

fix(frontend): ugly style
  packages/code-du-travail-frontend/pages/_app.js
Due: frontend

feat(data): udpate courrier
  packages/code-du-travail-data/dataset/courrier-type/docx/attestation_salarie_garde_d-enfant_a_domicile.pages
  packages/code-du-travail-data/dataset/courrier-type/docx/justificatif_employeur_de_deplacement_professionnel.docx
Due: none

fix(frontend): ugly style (#2495)
  packages/code-du-travail-frontend/pages/_app.js
Due: frontend

feat(data) : ajout doc coronavirus employeur (#2494)
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/docx/attestation_salarie_garde_d-enfant_a_domicile.pages
  packages/code-du-travail-data/dataset/courrier-type/docx/justificatif_employeur_de_deplacement_professionnel.docx
Due: none

fix(a11y): prevent accessing page without h1
  packages/code-du-travail-frontend/src/a11y.js
Due: frontend

fix(tile): fix related items width
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/RelatedItems.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

udpate doc format
  packages/code-du-travail-data/dataset/courrier-type/docx/justificatif_employeur_de_deplacement_professionnel.docx
Due: none

fix(a11y): prevent accessing page without h1 (#2497)
  packages/code-du-travail-frontend/src/a11y.js
Due: frontend

test: fix frontend snapshots
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
Due: frontend

chore(release): version 4.8.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-data/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/CHANGELOG.md
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/courrier-type/CHANGELOG.md
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/dataset/datafiller/CHANGELOG.md
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_ministere_travail/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/CHANGELOG.md
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/dataset/stats/CHANGELOG.md
  packages/code-du-travail-data/dataset/stats/package.json
  packages/code-du-travail-data/dataset/tools/CHANGELOG.md
  packages/code-du-travail-data/dataset/tools/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/CHANGELOG.md
  packages/react-fiche-service-public/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui, react-fiche-service-public

feat(frontend): add feather icon compatibility to IconStripe
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/react-ui/src/IconStripe/__snapshots__/test.js.snap
  packages/react-ui/src/IconStripe/index.js
  packages/react-ui/src/IconStripe/story.js
Due: frontend, react-ui

Update ministere-travail-liste-fiches.json
  packages/code-du-travail-data/dataset/fiches_ministere_travail/ministere-travail-liste-fiches.json
Due: none

fix(deps): update all non-major dependencies
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui

fix(fiche-mt): lower description lenght for section
  packages/code-du-travail-data/dataset/fiches_ministere_travail/index.js
Due: none

udpate test
  packages/code-du-travail-data/dataset/fiches_ministere_travail/__tests__/__snapshots__/parseDom.test.js.snap
Due: none

Lionelb/fix related item tile (#2498)
  packages/code-du-travail-data/dataset/courrier-type/docx/justificatif_employeur_de_deplacement_professionnel.docx
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/RelatedItems.test.js.snap
Due: frontend

feat(frontend): add feather icon compatibility to IconStripe (#2500)
  packages/code-du-travail-frontend/__tests__/__snapshots__/contribution.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/react-ui/src/IconStripe/__snapshots__/test.js.snap
  packages/react-ui/src/IconStripe/index.js
  packages/react-ui/src/IconStripe/story.js
Due: frontend, react-ui

feat:Change headband color and text
  packages/code-du-travail-frontend/pages/_app.js
Due: frontend

test:Updated snapshots
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/HeadBandAlert.test.js.snap
Due: frontend

feat:Added HeadBandAlert components
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/src/common/HeadBandAlert.js
  packages/code-du-travail-frontend/src/common/__tests__/HeadBandAlert.test.js
Due: frontend

Head band covid alert (#2505)
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/src/common/HeadBandAlert.js
  packages/code-du-travail-frontend/src/common/__tests__/HeadBandAlert.test.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/HeadBandAlert.test.js.snap
Due: frontend

fix(ccn): reset scroll position on select cc
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.js
Due: frontend

fix(tools): remove icon
  packages/code-du-travail-frontend/pages/outils/[slug].js
Due: frontend

fix import
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.js
Due: frontend

chore(deps): update all non-major dependencies to ^16.13.1
  packages/code-du-travail-frontend/package.json
  packages/react-fiche-service-public/package.json
  packages/react-ui/package.json
  yarn.lock
Due: frontend, react-ui, react-fiche-service-public

fix(ui): update ccn selection
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/InfosCCn.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.js
Due: frontend

fix: cancel click event
  packages/code-du-travail-frontend/src/outils/common/InfosCCn.js
Due: frontend

fix(deps): update all non-major dependencies
  packages/code-du-travail-data/dataset/contributions/package.json
  packages/code-du-travail-data/dataset/datafiller/package.json
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
  packages/code-du-travail-data/package.json
  packages/code-du-travail-frontend/package.json
  yarn.lock
Due: frontend

feat(data): mise à jour modèle
  packages/code-du-travail-data/dataset/courrier-type/docx/attestation_salarie_garde_d-enfant_a_domicile.docx
Due: none

feat(data): mise à jour modèle (#2510)
  packages/code-du-travail-data/dataset/courrier-type/docx/attestation_salarie_garde_d-enfant_a_domicile.docx
Due: none

wip
  packages/code-du-travail-api/src/server/routes/dossiers/index.js
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/layout/AnswerLayout.js
Due: api, frontend

wip
  packages/code-du-travail-data/dataset/dossiers/index.js
  packages/code-du-travail-frontend/pages/dossiers/[slug].js
Due: frontend

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
