Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

Updates
  main.32644962.iframe.bundle.js
  project.json
Due: none

tst
  packages/code-du-travail-modeles/src/modeles/conventions/1516_organismes_formation/__tests__/indemnite-licenciement/indemnite.spec.ts
Due: none

chore(release): version 4.93.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui

Updates
  project.json
Due: none

update test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2596.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2596-coiffure/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Salaires/components/SalaireTempsPlein.tsx
Due: frontend

fix: cypress
  packages/code-du-travail-frontend/.gitignore
  packages/code-du-travail-frontend/cypress/.eslintrc.js
  packages/code-du-travail-frontend/cypress/integration/canonical-urls.spec.ts
  packages/code-du-travail-frontend/cypress/integration/check-headers.spec.ts
  packages/code-du-travail-frontend/cypress/integration/contributions/contributions.spec.ts
  packages/code-du-travail-frontend/cypress/integration/contributions/search.spec.ts
  packages/code-du-travail-frontend/cypress/integration/conventions-collectives.spec.ts
  packages/code-du-travail-frontend/cypress/integration/dossier.spec.ts
  packages/code-du-travail-frontend/cypress/integration/home.spec.ts
  packages/code-du-travail-frontend/cypress/integration/landing-pages.spec.ts
  packages/code-du-travail-frontend/cypress/integration/not-found.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils-externe.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/brut-net.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/dossier-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/heures-recherche-emploi.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/indemnite-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/indemnite-precarite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/preavis-demission.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/preavis-licenciement.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/preavis-retraite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/trouver-sa-cc-je-la-saisis.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/trouver-sa-cc-recherche-entreprise.spec.ts
  packages/code-du-travail-frontend/cypress/integration/recherche.spec.ts
  packages/code-du-travail-frontend/cypress/integration/sitemap.spec.ts
  packages/code-du-travail-frontend/cypress/integration/themes.spec.ts
  packages/code-du-travail-frontend/cypress/integration/utils/commands.ts
  packages/code-du-travail-frontend/cypress/integration/utils/index.ts
  packages/code-du-travail-frontend/cypress/integration/widgets-pages.spec.ts
  packages/code-du-travail-frontend/cypress/tsconfig.json
  packages/code-du-travail-frontend/jest.config.js
  packages/code-du-travail-frontend/tsconfig.json
Due: frontend

fix: bug
  packages/code-du-travail-frontend/cypress.config.js
  packages/code-du-travail-frontend/cypress/support/commands.ts
  packages/code-du-travail-frontend/cypress/support/index.ts
Due: frontend

fix: correctif sur les tests unitaires de robots.txt
  packages/code-du-travail-frontend/scripts/__tests__/prebuild.test.ts
Due: frontend

fix: correctif sur les tests e2e du préavis de retraites
  packages/code-du-travail-frontend-e2e/e2e/outils/preavis-retraite.spec.ts
Due: frontend

Add all categories
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2596.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2596-coiffure/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/eligibility.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2596_coiffure/indemnite-licenciement.yaml
Due: frontend

fix: bug
  .github/workflows/verification-production.yml
Due: none

fix action
  .github/workflows/verification-production.yml
Due: none

fix action
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.tsx.snap
Due: frontend

feat: refonte du widget search (#5007)
  packages/code-du-travail-frontend/pages/widgets/[slug].tsx
  packages/code-du-travail-frontend/pages/widgets/search.tsx
  packages/code-du-travail-frontend/public/static/assets/img/logo-marianne.png
  packages/code-du-travail-frontend/public/widget.html
  packages/code-du-travail-frontend/redirects.json
  packages/code-du-travail-frontend/scripts/widget-template.js
  packages/code-du-travail-frontend/src/common/hooks/useIframeResize.ts
  packages/code-du-travail-frontend/src/integration/Components/Integration.tsx
  packages/code-du-travail-frontend/src/integration/data/integration.json
  packages/code-du-travail-frontend/src/search/SearchWidget/index.tsx
Due: frontend

fix: correctif sur les tests unitaires de robots.txt (#5038)
  packages/code-du-travail-frontend-e2e/e2e/outils/preavis-retraite.spec.ts
  packages/code-du-travail-frontend/scripts/__tests__/prebuild.test.ts
Due: frontend

feat(workflow): ajout d'un workflow pour vérifier que le site est bien live et que le `robots.txt` est carré (#5039
  .github/workflows/verification-production.yml
Due: none

fix footer action
  packages/code-du-travail-frontend/src/config.ts
  packages/code-du-travail-frontend/src/layout/Footer/GovernmentSection.tsx
Due: frontend

fix: bug
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/store/store.ts
  yarn.lock
Due: frontend

fix: bug
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/store/store.ts
Due: frontend

fix: test
  packages/code-du-travail-frontend/__tests__/__snapshots__/a-propos.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/droit-du-travail.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/fiche-ministere-travail.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/glossaire.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/mentions-legales.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers-[slug].test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/politique-confidentialite.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/recherche.test.js.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/stats.test.tsx.snap
  packages/code-du-travail-frontend/__tests__/__snapshots__/themes.test.tsx.snap
Due: frontend

fix: frontend
  package.json
  packages/code-du-travail-frontend/cypress/integration/footer.spec.ts
Due: frontend

fix: api migration
  Dockerfile.api
  packages/code-du-travail-frontend/src/api/modules/conventions/getAgreements.elastic.ts
  packages/code-du-travail-frontend/src/api/modules/conventions/index.ts
  packages/code-du-travail-frontend/src/api/modules/conventions/service.ts
  packages/code-du-travail-frontend/src/api/modules/docs-count/controller.ts
  packages/code-du-travail-frontend/src/api/modules/docs-count/index.js
  packages/code-du-travail-frontend/src/api/modules/docs-count/index.ts
  packages/code-du-travail-frontend/src/api/modules/docs-count/queries.ts
  packages/code-du-travail-frontend/src/api/modules/docs-count/service.ts
  packages/code-du-travail-frontend/src/api/modules/dossiers/controller.ts
  packages/code-du-travail-frontend/src/api/modules/dossiers/index.ts
  packages/code-du-travail-frontend/src/api/modules/dossiers/queries.ts
  packages/code-du-travail-frontend/src/api/modules/dossiers/service.ts
  packages/code-du-travail-frontend/src/api/modules/items/controller.ts
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/api/modules/items/relatedItems.es.ts
  packages/code-du-travail-frontend/src/api/modules/items/search.es.ts
  packages/code-du-travail-frontend/src/api/modules/items/searchByIds.es.ts
  packages/code-du-travail-frontend/src/api/modules/items/searchBySourceSlug.es.ts
  packages/code-du-travail-frontend/src/api/modules/items/service.ts
  packages/code-du-travail-frontend/src/api/utils/errors.ts
  packages/code-du-travail-frontend/src/api/utils/index.ts
  packages/code-du-travail-frontend/src/api/utils/types.ts
Due: frontend

fix(indemnite-licenciement): à la saisie, perte du focus sur le champ date dans les absences
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriod.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/AbsencePeriods.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriod.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/components/__tests__/AbscencePeriods.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/index.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/__tests__/validator.test.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Anciennete/store/types.ts
Due: frontend

fix: migrate api
  .github/workflows/dev.yml
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/quality.yml
  .github/workflows/review.yml
  .github/workflows/security.yml
  .k8s/components/api.ts
  README-dev.md
  packages/code-du-travail-frontend/src/api/modules/dossiers/controller.ts
  packages/code-du-travail-frontend/src/api/modules/dossiers/index.js
  packages/code-du-travail-frontend/src/api/modules/dossiers/queries.ts
  packages/code-du-travail-frontend/src/api/modules/dossiers/service.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/controller.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/queries.ts
  packages/code-du-travail-frontend/src/api/modules/enterprises/service.ts
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/api/modules/items/types.ts
  packages/code-du-travail-frontend/src/api/utils/errors.ts
Due: frontend

fix: bug
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/44-industries-chimiques/Informations.tsx
Due: frontend

fix(e2e): suppression du repo
  packages/code-du-travail-frontend-e2e/.eslintrc.js
  packages/code-du-travail-frontend-e2e/CHANGELOG.md
  packages/code-du-travail-frontend-e2e/package.json
Due: frontend

fix(e2e): remove from documentation
  .github/workflows/dev.yml
  .github/workflows/review.yml
  README-dev.md
  tech.yaml
Due: none

fix(e2e): add to .gitignore downloads folder
  packages/code-du-travail-frontend/.gitignore
Due: frontend

feat: implementation cc 275
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/275_transport_aerien_personnel_au_sol/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: none
