Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

feat(template): add date of day in filename when download file (#1996)
  packages/code-du-travail-api/src/server/routes/docs.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].js
Due: api, frontend

chore(dep): update yarn.lock
  yarn.lock
Due: none

refactor(front): tool layout and mobile
  packages/code-du-travail-frontend/pages/_error.js
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].js
  packages/code-du-travail-frontend/pages/glossaire/index.js
  packages/code-du-travail-frontend/pages/outils/[slug].js
  packages/code-du-travail-frontend/pages/stats.js
  packages/code-du-travail-frontend/src/common/Answer.js
  packages/code-du-travail-frontend/src/layout/css/Headings.js
  packages/code-du-travail-frontend/src/layout/css/Root.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/index.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/index.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/components/Montant.js
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/index.js
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/index.js
  packages/code-du-travail-frontend/src/outils/SimulateurEmbauche.js
  packages/code-du-travail-frontend/src/outils/common/PrevNextBar.js
  packages/code-du-travail-frontend/src/outils/common/Question.js
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.js
  packages/code-du-travail-frontend/src/outils/common/StepItems.js
  packages/code-du-travail-frontend/src/outils/common/StepList.js
  packages/code-du-travail-frontend/src/outils/common/Wizard.js
  packages/code-du-travail-frontend/src/outils/common/stepStyles.js
  packages/react-fiche-service-public/src/components/ServiceEnLigne.js
  packages/react-ui/.storybook/preview-head.html
  packages/react-ui/src/Button/index.js
  packages/react-ui/src/Tabs/index.js
  packages/react-ui/src/Tile/index.js
  packages/react-ui/src/Titles/index.js
  packages/react-ui/src/theme.js
Due: frontend, react-ui, react-fiche-service-public

fix(frontend): dumb mistake
  packages/code-du-travail-frontend/pages/stats.js
Due: frontend

refactor(chore): apply feedbacks
  packages/code-du-travail-frontend/pages/_app.js
  packages/code-du-travail-frontend/src/layout/css/index.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/PrevNextBar.js
  packages/code-du-travail-frontend/src/outils/common/StepList.js
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/PrevNextBar.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.js.snap
  packages/react-ui/.storybook/config.js
  packages/react-ui/.storybook/preview-head.html
  packages/react-ui/src/GlobalStyles/__snapshots__/test.js.snap
  packages/react-ui/src/GlobalStyles/components/Forms.js
  packages/react-ui/src/GlobalStyles/components/Headings.js
  packages/react-ui/src/GlobalStyles/components/Links.js
  packages/react-ui/src/GlobalStyles/components/Lists.js
  packages/react-ui/src/GlobalStyles/components/Reset.js
  packages/react-ui/src/GlobalStyles/components/Root.js
  packages/react-ui/src/GlobalStyles/index.js
  packages/react-ui/src/GlobalStyles/test.js
  packages/react-ui/src/index.js
Due: frontend, react-ui

fix(frontend): conflict
  packages/code-du-travail-frontend/__tests__/__snapshots__/modeles-de-courriers.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/__snapshots__/index.test.js.snap
Due: frontend

fix(glossary): fix matching word boundary start
  packages/code-du-travail-frontend/src/glossary/index.js
Due: frontend

feat(external): add external tools
  packages/code-du-travail-api/src/server/routes/search/index.js
  packages/code-du-travail-api/tests/fetch_mock_data.js
  packages/code-du-travail-data/dataset/tools/externals.json
  packages/code-du-travail-data/dataset/tools/index.js
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-frontend/__tests__/__snapshots__/outils.test.js.snap
  packages/code-du-travail-frontend/__tests__/outils.test.js
  packages/code-du-travail-frontend/pages/outils/index.js
  packages/sources/index.js
Due: api, frontend

test(glossary): update snapshots
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
Due: frontend

fix(simulator): udpate disclaimer messages
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

test(frontend): update snapshots
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

fix(api): remove current item from relatedItems
  packages/code-du-travail-api/src/server/routes/__tests__/__snapshots__/items.test.js.snap
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
Due: api

fix(external): fix external link
  packages/code-du-travail-api/src/server/routes/items/getRelatedItems.js
  packages/code-du-travail-api/tests/fetch_mock_data.js
  packages/code-du-travail-data/indexing/populate.js
  packages/code-du-travail-frontend/src/common/RelatedItems.js
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/Answer.test.js.snap
  packages/code-du-travail-frontend/src/search/SearchResults/Results.js
  packages/code-du-travail-frontend/src/search/__tests__/__snapshots__/SearchResults.test.js.snap
Due: api, frontend

fix(deps): update dependency @socialgouv/fiches-vdd to ^1.0.61
  packages/code-du-travail-data/dataset/fiches_service_public/package.json
Due: none

feat(ui):Added Fields ui
  packages/react-ui/src/Fields/Checkbox.js
  packages/react-ui/src/Fields/Input.js
  packages/react-ui/src/Fields/InputDate.js
  packages/react-ui/src/Fields/Label.js
  packages/react-ui/src/Fields/Radio.js
  packages/react-ui/src/Fields/Select.js
  packages/react-ui/src/Fields/Textarea.js
  packages/react-ui/src/Fields/__snapshots__/test.js.snap
  packages/react-ui/src/Fields/story.js
  packages/react-ui/src/Fields/test.js
  packages/react-ui/src/icons/src/monochrome/arrow-down.svg
  packages/react-ui/src/index.js
  packages/react-ui/src/theme.js
Due: react-ui

(ui):Fixed PR issues
  packages/react-ui/src/Fields/Checkbox.js
  packages/react-ui/src/Fields/Input.js
  packages/react-ui/src/Fields/InputDate.js
  packages/react-ui/src/Fields/Radio.js
  packages/react-ui/src/Fields/Select.js
  packages/react-ui/src/Fields/__snapshots__/test.js.snap
  packages/react-ui/src/icons/src/monochrome/arrow-down.svg
Due: react-ui

fix(ui):Renamed field directory
  packages/react-ui/src/field/Checkbox.js
  packages/react-ui/src/field/Input.js
  packages/react-ui/src/field/InputDate.js
  packages/react-ui/src/field/Label.js
  packages/react-ui/src/field/Radio.js
  packages/react-ui/src/field/Select.js
  packages/react-ui/src/field/Textarea.js
  packages/react-ui/src/field/__snapshots__/test.js.snap
  packages/react-ui/src/field/story.js
  packages/react-ui/src/field/test.js
  packages/react-ui/src/index.js
Due: react-ui

fix(ui):Fixed PR issues
  packages/react-ui/src/field/Checkbox.js
  packages/react-ui/src/field/Input.js
  packages/react-ui/src/field/InputDate.js
  packages/react-ui/src/field/Radio.js
  packages/react-ui/src/field/Select.js
  packages/react-ui/src/field/Textarea.js
  packages/react-ui/src/field/story.js
  packages/react-ui/src/theme.js
Due: react-ui

fix(test):Fixed UI tests
  packages/react-ui/src/field/__snapshots__/test.js.snap
  packages/react-ui/src/field/test.js
Due: react-ui

fix(ui):Fixed PR issues
  packages/react-ui/src/field/Checkbox.js
  packages/react-ui/src/field/Input.js
  packages/react-ui/src/field/InputDate.js
  packages/react-ui/src/field/Label.js
  packages/react-ui/src/field/Select.js
  packages/react-ui/src/field/Textarea.js
  packages/react-ui/src/field/__snapshots__/test.js.snap
  packages/react-ui/src/field/story.js
  packages/react-ui/src/field/test.js
Due: react-ui

Feat: UI Fields (#1950)
  packages/react-ui/src/field/Checkbox.js
  packages/react-ui/src/field/Input.js
  packages/react-ui/src/field/InputDate.js
  packages/react-ui/src/field/Label.js
  packages/react-ui/src/field/Radio.js
  packages/react-ui/src/field/Select.js
  packages/react-ui/src/field/Textarea.js
  packages/react-ui/src/field/__snapshots__/test.js.snap
  packages/react-ui/src/field/story.js
  packages/react-ui/src/field/test.js
  packages/react-ui/src/index.js
Due: react-ui

fix(simulator): udpate disclaimer messages (#1997)
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/Result.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

test(frontend): udpate snapshots
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/Result.test.js
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Informations.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisDemission/steps/__tests__/__snapshots__/Result.test.js.snap
Due: frontend

feat(data): update report format
  packages/code-du-travail-data/dataset/fiches_service_public/diff.js
  packages/code-du-travail-data/dataset/fiches_service_public/missingTheme.js
Due: none

TF2 : first attempt
  packages/code-du-travail-nlp/api/sem_search.py
  packages/code-du-travail-nlp/requirements.txt
Due: none

add compute single
  packages/code-du-travail-nlp/api/sem_search.py
Due: none

damned, bloody self
  packages/code-du-travail-nlp/api/sem_search.py
Due: none

return numpy arrays
  packages/code-du-travail-nlp/api/sem_search.py
Due: none

fake commit to relaunch CI
  packages/code-du-travail-nlp/api/sem_search.py
Due: none

NLP refactoring for TF2
  packages/code-du-travail-nlp/api/index.py
  packages/code-du-travail-nlp/api/loader.py
  packages/code-du-travail-nlp/api/search.py
  packages/code-du-travail-nlp/api/sem_search.py
  packages/code-du-travail-nlp/scripts/dump.py
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
