Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

fix: bug CC 1517 validation notif ne fonctionne pas (#6009)
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/agreements/1517-commerces-de-detail-non-alimentaires/index.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/agreements/1517-commerces-de-detail-non-alimentaires/validator/dateSortie.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/agreements/1517-commerces-de-detail-non-alimentaires/validator/index.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/agreements/seniority/index.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/agreements/seniority/validator.ts
  packages/code-du-travail-frontend/src/outils/CommonIndemniteDepart/steps/Anciennete/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc1517.test.tsx
  packages/code-du-travail-modeles/src/modeles/conventions/1517_commerces_de_detail_non_alimentaires/__tests__/indemnite-licenciement/calculate.spec.ts
Due: frontend

Updates
  project.json
Due: none

chore(release): version 4.146.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix(csp): add geo api gouv
  packages/code-du-travail-frontend/next.config.mjs
Due: frontend

chore(release): version 4.146.1
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

refactor
  package.json
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].tsx
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/pages/contribution/index.tsx
  packages/code-du-travail-frontend/pages/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/pages/convention-collective/index.tsx
  packages/code-du-travail-frontend/pages/dossiers/[slug].tsx
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].tsx
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].tsx
  packages/code-du-travail-frontend/pages/glossaire/[slug].tsx
  packages/code-du-travail-frontend/pages/glossaire/index.tsx
  packages/code-du-travail-frontend/pages/index.tsx
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].tsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.tsx
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/index.tsx
  packages/code-du-travail-frontend/pages/plan-du-site.tsx
  packages/code-du-travail-frontend/pages/recherche.tsx
  packages/code-du-travail-frontend/pages/stats.tsx
  packages/code-du-travail-frontend/pages/themes/[slug].tsx
  packages/code-du-travail-frontend/pages/themes/index.tsx
  packages/code-du-travail-frontend/pages/widgets/[slug].tsx
  packages/code-du-travail-frontend/pages/widgets/modeles-de-courriers/[id].tsx
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/api/modules/items/utils.ts
  packages/code-du-travail-frontend/src/api/utils/errors.ts
  packages/code-du-travail-frontend/src/outils/service.ts
  yarn.lock
Due: frontend

Revert "refactor"
  package.json
  packages/code-du-travail-frontend/pages/code-du-travail/[slug].tsx
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/pages/contribution/index.tsx
  packages/code-du-travail-frontend/pages/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/pages/convention-collective/index.tsx
  packages/code-du-travail-frontend/pages/dossiers/[slug].tsx
  packages/code-du-travail-frontend/pages/fiche-ministere-travail/[slug].tsx
  packages/code-du-travail-frontend/pages/fiche-service-public/[slug].tsx
  packages/code-du-travail-frontend/pages/glossaire/[slug].tsx
  packages/code-du-travail-frontend/pages/glossaire/index.tsx
  packages/code-du-travail-frontend/pages/index.tsx
  packages/code-du-travail-frontend/pages/information/[slug].tsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].tsx
  packages/code-du-travail-frontend/pages/modeles-de-courriers/index.tsx
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/index.tsx
  packages/code-du-travail-frontend/pages/plan-du-site.tsx
  packages/code-du-travail-frontend/pages/recherche.tsx
  packages/code-du-travail-frontend/pages/stats.tsx
  packages/code-du-travail-frontend/pages/themes/[slug].tsx
  packages/code-du-travail-frontend/pages/themes/index.tsx
  packages/code-du-travail-frontend/pages/widgets/[slug].tsx
  packages/code-du-travail-frontend/pages/widgets/modeles-de-courriers/[id].tsx
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/api/modules/items/utils.ts
  packages/code-du-travail-frontend/src/api/utils/errors.ts
  packages/code-du-travail-frontend/src/outils/service.ts
  yarn.lock
Due: frontend

fix(widget search): ne pas crasher si l'on ne peut pas accéder à la méthod ResizeObserver (#6005)
  packages/code-du-travail-frontend/scripts/widget-template.js
  packages/code-du-travail-frontend/src/common/hooks/useIframeResize.ts
  packages/code-du-travail-frontend/src/outils/common/utils/printResult.ts
  packages/code-du-travail-frontend/src/web-components/tooltip.js
Due: frontend

fix: hors ligne
  packages/code-du-travail-frontend/src/conventions/Search/api/agreement.service.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/agreements.service.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/enterprises.service.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchInput/SearchEnterpriseInput.tsx
Due: frontend

poc(dsfr): move accordion
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/config.ts
  packages/react-ui/src/Accordion/index.js
Due: frontend, react-ui

fix: csp config
  packages/code-du-travail-frontend/next.config.mjs
Due: frontend

fix(code): nettoyage de code inutilisé
  packages/react-ui/src/Accordion/components/variants/base.js
  packages/react-ui/src/Accordion/index.js
Due: react-ui

fix: csp config
  packages/code-du-travail-frontend/next.config.mjs
  packages/code-du-travail-frontend/public/static/fonts.css
Due: frontend

fix(agreement): mise à jour de l'URL pour la convention collective 7026
  packages/code-du-travail-frontend/redirects.json
Due: frontend

poc: move accordion to use react dsfr
  packages/code-du-travail-frontend/pages/contribution/[slug].tsx
  packages/code-du-travail-frontend/src/config.ts
  packages/react-ui/package.json
  packages/react-ui/src/Accordion/index.js
  packages/react-ui/src/index.ts
  yarn.lock
Due: frontend, react-ui

fix: csp config
  packages/code-du-travail-frontend/src/conventions/Search/api/agreements.service.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/enterprises.service.ts
Due: frontend

fix: csp config
  packages/code-du-travail-frontend/src/conventions/Search/api/enterprises.service.ts
Due: frontend

fix(agreement): mise à jour de l'URL pour la convention collective 7026 (#6012)
  packages/code-du-travail-frontend/redirects.json
Due: frontend

fix(csp): add matomo to connect-src
  packages/code-du-travail-frontend/next.config.mjs
Due: frontend

chore(release): version 4.146.2
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix(csp): add matomo to connect-src
  packages/code-du-travail-frontend/public/static/fonts.css
Due: frontend

fix(recherche): mettre en place des messages d'erreur en mode hors-ligne (#6021)
  packages/code-du-travail-frontend/src/conventions/Search/api/agreement.service.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/agreements.service.ts
  packages/code-du-travail-frontend/src/conventions/Search/api/enterprises.service.ts
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchInput/SearchEnterpriseInput.tsx
Due: frontend

fix(csp): optimisation des permissions (#6023)
  packages/code-du-travail-frontend/next.config.mjs
Due: frontend

chore(release): version 4.146.3
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: frontend, react-ui

fix: report to
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
  Dockerfile
  packages/code-du-travail-frontend/next.config.mjs
Due: frontend

fix: report to
  Dockerfile
Due: none

fix: test
  packages/code-du-travail-frontend/src/api/modules/items/queries.ts
  packages/code-du-travail-frontend/src/api/modules/items/service.ts
  packages/code-du-travail-frontend/src/api/modules/items/utils.ts
  packages/code-du-travail-frontend/src/api/modules/sheets-mt/queries.ts
  packages/code-du-travail-frontend/src/api/modules/sheets-mt/service.ts
Due: frontend
