Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 75%
        flags: frontend
      api:
        target: 75%
        flags: api
      react-ui:
        target: 80%
        flags: react-ui
      react-fiche-service-public:
        target: 80%
        flags: react-fiche-service-public

flags:
  api:
    paths:
      - packages/code-du-travail-api
  frontend:
    paths:
      - packages/code-du-travail-frontend
  react-ui:
    paths:
      - packages/react-ui
  react-fiche-service-public:
    paths:
      - packages/react-fiche-service-public

comment: off

feat(indemnite-licenciement): ajout d'une note en bas de page sur le résultat (#5172)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/ForMoreInfo.tsx
Due: frontend

Updates
  project.json
Due: none

fix: wording + seniority
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/Eligible.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/components/FilledElements.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/steps/Resultat/store/types.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1404_sedima/seniority.ts
Due: frontend

fix selection
  packages/code-du-travail-frontend/pages/outils/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/index.tsx
Due: frontend

fix snaps
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.tsx.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
Due: frontend

chore: review
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/react-ui/src/field/Input.js
  packages/react-ui/src/field/__snapshots__/test.js.snap
Due: frontend, react-ui

fix: ajout des sources maps pour dev
  .github/workflows/dev.yml
  .github/workflows/review.yml
Due: none

fix: utilisation des maps pour sentry
  .github/workflows/review.yml
  packages/code-du-travail-frontend/.sentryclirc
  packages/code-du-travail-frontend/next.config.js
Due: frontend

feat: ajout du auth token pour sentry
  .github/workflows/review.yml
  Dockerfile
Due: none

feat: utilisation de docker secret pour passer le token sentry
  .github/workflows/review.yml
  Dockerfile
Due: none

feat: ajout de la release pour sentry
  Dockerfile
Due: none

feat: add notif
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/__tests__/indemnite-licenciement/notifications.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/indemnite-licenciement.yaml
Due: none

fix: age
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/indemnite-licenciement.yaml
Due: none

fix snapshots
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
Due: frontend

feat: implement modele widget
  packages/code-du-travail-frontend/pages/modeles-de-courriers/[slug].tsx
  packages/code-du-travail-frontend/pages/widgets/modeles-de-courriers/[slug].tsx
  packages/code-du-travail-frontend/src/integration/data/integration.json
  packages/code-du-travail-frontend/src/modeles/index.ts
  packages/code-du-travail-frontend/src/modeles/modeles.tsx
Due: frontend

feat(accessibilité): rendre la recherche de CC par entreprise accessible (#5151)
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignement.test.js.snap
  packages/code-du-travail-frontend/src/common/__tests__/__snapshots__/ServiceRenseignementModal.test.js.snap
  packages/code-du-travail-frontend/src/contributions/__tests__/__snapshots__/Contribution.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Convention/__tests__/__snapshots__/index.test.js.snap
  packages/code-du-travail-frontend/src/conventions/Search/__tests__/__snapshots__/Search.test.js.snap
  packages/code-du-travail-frontend/src/conventions/__tests__/__snapshots__/SearchModal.test.js.snap
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/components/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/Components/SimulatorLayout.tsx
  packages/code-du-travail-frontend/src/outils/Components/SimulatorNavigation.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/DureePreavisLicenciement/steps/__tests__/__snapshots__/Status.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/indemnite-licenciement-cc-select.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/tracking.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/components/__tests__/__snapshots__/Salaires.test.js.snap
  packages/code-du-travail-frontend/src/outils/IndemnitePrecarite/steps/__tests__/__snapshots__/Remuneration.test.js.snap
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementInput/SearchAgreementInput.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/AgreementSearch/AgreementNoResult.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EnterpriseSearch.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchInput/SearchEnterpriseInput.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchResult.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/__tests__/EnterpriseSearch.test.tsx
  packages/code-du-travail-frontend/src/outils/common/SelectQuestion.tsx
  packages/code-du-travail-frontend/src/outils/common/__tests__/__snapshots__/Wizard.test.tsx.snap
  packages/react-ui/src/DisclosureIcon/__snapshots__/test.js.snap
  packages/react-ui/src/DisclosureIcon/index.js
  packages/react-ui/src/field/Input.js
  packages/react-ui/src/field/__snapshots__/test.js.snap
Due: frontend, react-ui

fix route
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSelection.tsx
Due: frontend

fix(e2e): fix tests
  packages/code-du-travail-frontend/cypress/integration/outils/preavis-retraite.spec.ts
  packages/code-du-travail-frontend/cypress/integration/outils/trouver-sa-cc-recherche-entreprise.spec.ts
Due: frontend

fix(trouver sa cc): ajout d'urls spécifiques aux 2 outils pour rechercher sa CC (et suppression du mechanisme de redirection avec un hash dans l'url) (#5173)
  packages/code-du-travail-frontend/pages/outils/[slug].tsx
  packages/code-du-travail-frontend/pages/outils/convention-collective/[slug].tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/index.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/AgreementSelection.tsx
  packages/code-du-travail-frontend/src/outils/ConventionCollective/steps/Introduction.tsx
Due: frontend

fix: retours
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1740.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/validator.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: frontend

feat: implementation du choix des modeles dans la page integration
  packages/code-du-travail-frontend/pages/integration/[slug].tsx
  packages/code-du-travail-frontend/pages/widgets/modeles-de-courriers/[id].tsx
  packages/code-du-travail-frontend/public/static/assets/img/modeles-de-courriers.png
  packages/code-du-travail-frontend/scripts/prebuild.ts
  packages/code-du-travail-frontend/scripts/widget-template.js
  packages/code-du-travail-frontend/src/integration/Components/Integration.tsx
  packages/code-du-travail-frontend/src/integration/data/integration.json
  packages/code-du-travail-frontend/src/integration/data/type.ts
Due: frontend

fix: ts
  packages/code-du-travail-frontend/src/integration/Components/Integration.tsx
Due: frontend

fix: janitor
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/components/_namespace.ts
Due: none

fix: storybook
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/.storybook/preview.tsx
Due: react-ui

fix: cc
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
Due: frontend

fix: code
  packages/code-du-travail-frontend/src/outils/CommonSteps/Agreement/index.tsx
  packages/code-du-travail-frontend/src/outils/common/Agreement/EnterpriseSearch/EntrepriseSearchInput/SearchEnterpriseInput.tsx
Due: frontend

fix: script
  packages/code-du-travail-frontend/scripts/widget-template.js
  packages/code-du-travail-frontend/src/integration/Components/Integration.tsx
Due: frontend

feat: ajout de la 2e description
  packages/code-du-travail-frontend/src/integration/Components/Integration.tsx
  packages/code-du-travail-frontend/src/integration/data/integration.json
  packages/code-du-travail-frontend/src/integration/data/type.ts
Due: frontend

chore: clean
  packages/code-du-travail-frontend/src/integration/Components/Integration.tsx
Due: frontend

fix: code
  packages/code-du-travail-modeles/src/modeles/conventions/1483_habillement_textiles_commerce_de_detail/indemnite-licenciement.yaml
Due: none

feat(indemnite-licenciement): ajout de la cc 1740 (#5155)
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/store/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/store/store.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/store/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/1740-batiment-region-parisienne/store/validator.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/AgreementsInjector.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/1740.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/salary/index.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/types.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/validator.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/factory/seniority.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/common/types/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/__tests__/preavis-retraite/depart-mise.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/salary.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/seniority.ts
  packages/code-du-travail-modeles/src/modeles/conventions/index.ts
Due: frontend

fix(indemnite-licenciement): tests unitaires pour la cc 1740
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1740_batiment_region_parisienne/__tests__/indemnite-licenciement/indemnite.spec.ts
Due: none
