Repository SocialGouv/code-du-travail-numerique: changes, and which Codecov flags are due for each by the changed paths.
All: api, frontend, react-ui, react-fiche-service-public

fix: renaming snapshot
  packages/code-du-travail-frontend/src/api/modules/search/service/search.ts
Due: frontend

fix: renaming snapshot
  packages/code-du-travail-frontend/src/api/__tests__/search.test.ts
Due: frontend

fix: snapshot
  packages/code-du-travail-frontend/src/api/__tests__/search.test.ts
  packages/code-du-travail-frontend/src/api/modules/search/controller.ts
Due: frontend

fix(indemnite-licenciement): calcul de l'indemnité pour une ancienneté supérieure à 10 ans (CC 3127)
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/__tests__/indemnite-licenciement/anciennete.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/3127_entreprises_services_a_la_personne/indemnite-licenciement.yaml
Due: none

chore(release): version 4.95.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui

fix: merge
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
Due: api

Updates
  project.json
Due: none

fix: widget scroll hidden
  packages/code-du-travail-frontend/src/common/hooks/useIframeResize.ts
Due: frontend

fix: correctif sur l'étape salaire + ajout de test
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2148.test.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/ui.ts
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/Component.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/Informations.tsx
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2148-telecommunications/store/store.ts
Due: frontend

feat(indemnite-licenciement): ajout de la CC 1266 (#5041)
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1266_restauration_collectivites/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1266_restauration_collectivites/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1266_restauration_collectivites/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/1266_restauration_collectivites/indemnite-licenciement.yaml
Due: none

Updates
  main.32644962.iframe.bundle.js
  project.json
Due: none

fix: widget scroll hidden (#5072)
  packages/code-du-travail-frontend/src/common/hooks/useIframeResize.ts
Due: frontend

chore(release): version 4.96.0
  CHANGELOG.md
  lerna.json
  packages/code-du-travail-api/CHANGELOG.md
  packages/code-du-travail-api/package.json
  packages/code-du-travail-frontend/CHANGELOG.md
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-modeles/CHANGELOG.md
  packages/code-du-travail-modeles/package.json
  packages/code-du-travail-utils/CHANGELOG.md
  packages/code-du-travail-utils/package.json
  packages/react-ui/CHANGELOG.md
  packages/react-ui/package.json
Due: api, frontend, react-ui

fix: cc
  packages/code-du-travail-modeles/src/modeles/common/factory/salary.ts
  packages/code-du-travail-modeles/src/modeles/common/supported-agreements.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/__tests__/indemnite-licenciement/references.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/__tests__/indemnite-licenciement/salaire-ref.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/indemnite-licenciement.yaml
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/index.ts
  packages/code-du-travail-modeles/src/modeles/conventions/86_publicite_francaise/salary.ts
Due: none

dummy commit
  packages/code-du-travail-frontend/pages/_app.tsx
Due: frontend

feat(indemnite-licenciement): ajout de test unitaire sur la CC 2148
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/__tests__/cc2148.test.tsx
Due: frontend

Add missing "s"
  packages/code-du-travail-frontend/src/outils/IndemniteLicenciement/agreements/2596-coiffure/Informations.tsx
Due: frontend

put back matomo
  packages/code-du-travail-frontend/pages/_app.tsx
Due: frontend

fix(null error): when input is undefined
  packages/code-du-travail-frontend/src/search/SearchBar/DocumentSuggester.js
Due: frontend

Cleanup
  packages/code-du-travail-frontend/pages/_app.tsx
Due: frontend

fix: retour
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/formule.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/__tests__/indemnite-licenciement/indemnite.spec.ts
  packages/code-du-travail-modeles/src/modeles/conventions/2614_travaux_publics/indemnite-licenciement.yaml
Due: none

Fix font-weight
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
Due: frontend

fix style
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Response.tsx
Due: frontend

add push(["setCookieSameSite", "None"]) to fix cookie
  packages/code-du-travail-frontend/pages/_app.tsx
Due: frontend

fix(info bulle): style on mobile (#5060)
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Question.tsx
  packages/code-du-travail-frontend/src/questionnaire/Components/Question/Response.tsx
Due: frontend

fix(widget): track widget click (#5075)
  packages/code-du-travail-frontend/pages/_app.tsx
Due: frontend

fix(lockfile): update dep
  yarn.lock
Due: none

fix(workflow): dev action set automatic url
  .github/workflows/dev.yml
Due: none

fix: merge
  Dockerfile.api
Due: none

fix: dist
  Dockerfile
Due: none

fix: dockerfile
  Dockerfile
Due: none

fix run
  Dockerfile
Due: none

fix: dockerignore
  .dockerignore
Due: none

Path conditions:
  api: any of: packages/code-du-travail-api
  frontend: any of: packages/code-du-travail-frontend
  react-ui: any of: packages/react-ui
  react-fiche-service-public: any of: packages/react-fiche-service-public
